<div class="panel panel-default">
	<div class="panel-heading">
		{{'ImportStaff' | translate}}
	</div>
	<div class="panel-body">
		<div class="alert block-info">
			{{'BrowseFileUploadWithCSVFile' | translate}}
			<a href="pub/sample_product_import.csv" download class="btn btn-primary">
				<i class="fa fa-download"></i>
				{{'Download' | translate}}
			</a>
		</div>
		<button class="upload-file btn btn-primary">
			<input type="file"
				   ng-model="vm.picFile"
				   accept=".csv"
				   ngf-model-invalid="errorFiles"
				   ngf-select="vm.uploadFile(vm.picFile)">
			<i class="fa fa-upload"></i>
			<span>{{'UploadCSV' | translate}}</span>
		</button>
		<span
			data-ng-if="!vm.loading"
			class="align_center"
		>
			<i class="fa fa-refresh fa-spin" style="font-size: 25px;"></i>
		</span>
		<div
			data-ng-if="vm.status == 'error'"
			class="alert alert-warning"
		>
			<i class="fa fa-warning"></i>
			{{'UploadErrorPleaseCheckYourFile' | translate}}
		</div>
		<div
			data-ng-if="vm.status == 'invalid_file'"
			class="alert alert-danger"
		>
			<i class="fa fa-close"></i>
			{{'UploadInvalidFile' | translate}}
		</div>
		<div
			data-ng-if="vm.status == 'success'"
			class="alert alert-success"
		>
			<i class="fa fa-check-circle"></i>
			{{'UploadSuccess' | translate}}
		</div>
	</div>
</div>
