<div class="panel panel-default">
	<div class="panel-heading">
		{{'ProductReport' | translate}}
	</div>
	<div class="panel-body">
		<div class="row">
			<div class="col-md-3">
				<input type="text" class="form-control" 
					data-ng-model="vm.filterText" 
					placeholder="{{'Search' | translate}}"
					data-ng-model-options='{ debounce: 1000 }'/>
			</div>
			<div class="col-md-6">
				<button class="btn btn-primary"
						data-ng-click="vm.filterText = ''"
						uib-tooltip="{{'ClearSelect' | translate}}">
					<i class="fa fa-refresh" aria-hidden="true"></i>
				</button>
				<button class="btn btn-success" data-ng-click="vm.init();">
					<i class="fa fa-hourglass-half"></i>
					{{'Filter' | translate}}
				</button>
				<button class="btn btn-default margin-top"
						onclick="PrintElem('#print')"
						data-ng-disabled="!vm.totalItems">
					<i class="fa fa-print"></i>
					{{'Print' | translate}}
				</button>
				<span role-permission 
					 ng-if="featureRole"
					 permission="'Product_Report_Export'" 
					 feature="featureRole">
					<button class="btn btn-info margin-top"
							ng-csv="vm.csv"
							data-ng-disabled="!vm.totalItems"
							csv-header="vm.headers"
							add-bom="true"
							filename="product_list.csv">
						<i class="fa fa-file-excel-o"></i>
						{{'ExportCSV' | translate}}
					</button>
				</span>
			</div>
		</div>
		<div data-ng-if="vm.products.count" id="print" class="table-responsive">
			<table width="100%">
				<tr>
					<td align="center">
						<h3 ng-bind="company.company_name"></h3>
						<h4>
							{{'ProductReport' | translate}}
						</h4>
						{{'TotalRecord' | translate}} {{vm.totalItems}}
					</td>
				</tr>
			</table>
			<table class="table-print">
				<tr>
					<th width="1%">
						#
					</th>
					<th width="14%">
						{{'Item' | translate}}
					</th>
					<th width="10%">
						{{'Code' | translate}}
					</th>
					<th width="8%">
						{{'Type' | translate}}
					</th>
					<th width="8%">
						{{'QtyOnHand' | translate}}
					</th>
					<th width="8%">
						{{'Cost' | translate}}
					</th>
					<th width="10%">
						{{'WholeSalePrice' | translate}}
					</th>
					<th width="8%">
						{{'RetailPrice' | translate}}
					</th>
					<th width="8%">
						{{'OrderAlert' | translate}}
					</th>
					<th width="10%">
						{{'Description' | translate}}
					</th>
					<th width="8%">
						{{'Total' | translate}}
					</th>
				</tr>
				<tr data-ng-repeat="s in vm.products.elements | filter: vm.filterText track by s.id">
					<td>
						{{$index +1}}
					</td>
					<td>
						{{s.products_name}}
					</td>
					<td>
						{{s.barcode}}
					</td>
					<td>
						{{s.products_type_fields[0].name}}
					</td>
					<td>
						{{s.products_quantity}}
					</td>
					<td>
						{{s.products_price_in | currency}}
					</td>
					<td>
						{{s.products_price_out_whole_sale | currency}}
						{{s.um_detail[0].name}}
					</td>
					<td>
						{{s.products_price_out_retail | currency}}
						{{s.um_sale_detail[0].name}}
					</td>
					<td>
						{{s.order_alert}}
					</td>
					<td>
						{{s.products_description}}
					</td>
					<td>
						{{s.products_quantity * s.products_price_in | currency}}
					</td>
				</tr>
				<tr>
					<td colspan="10" align="right">
						<strong>{{"SubTotal" | translate}}</strong>
					</td>
					<td>
						<strong>{{vm.total | currency}}</strong>
					</td>
				</tr>
			</table>
		</div>
		<div
			data-ng-if="vm.products.count == 0"
		>
			<empty-data></empty-data>
		</div>
		<div
			data-ng-if="!vm.loading"
			class="align_center"
		>
			<i class="fa fa-refresh fa-spin" style="font-size: 100px;"></i>
		</div>
	</div>
</div>
