.hover{
    cursor: pointer;
}
.table-print {
    width: 100%;
    border-collapse: collapse;
    border-spacing: 0px;
    border: 1px solid #a7aaaf;
}
.table-print tr{
    border: 1px solid #a7aaaf;
}
.table-print tr th{
    background: #ddd !important;
    -webkit-print-color-adjust: exact; 
}
.table-print th{
    /* text-align: center; */
    border-right: 1px solid #a7aaaf;
    padding: 5px;
}
.table-print tr > td{
    border: 1px solid #a7aaaf;
    padding: 5px;
    vertical-align: top;
}
.table > thead{
    background: whitesmoke;
}
.btn-table{
    margin-top: -10px;
}
.align_center{
    text-align: center;
}
.table-full{
    width: 100%;
    border: 1px solid #a7aaaf;
    border-spacing: 0;
    border-collapse: collapse;
}
.table-full > th{
    height: 20pt;
    color: #a7aaaf;
    font-weight: bold;
    vertical-align: middle;
    background-color: #F7F7F7;
}
.date{
    width: 220px;
}
.thumb {
    width: 230px;
    margin-top: 10px;
}
form .progress {
    line-height: 15px;
}
.progress div {
    /* font-size: smaller;
    background: #3C64FF;
    width: 0;
    color: #ffffff;
    margin-top: 10px; */
}
.color-header-report-table{
    background-color: #ddd;
    padding: 10px;
}
table th{
    padding: 5px;
}
table tr > td{
    padding: 2px;
}

.input-class{
    padding: 4px 0px 0px 5px;
}
legend{
    font-size: 17px;
    font-weight: 600;
}
.link{
    text-decoration: underline;
    font-weight: 500;
}
.link:hover{
    text-decoration: underline;
    color: #095077;
    font-weight: 500;
}
.select-option{
    padding: 3px;
}
/* Style frezz table */
.table-fixed thead {
width: 97%;
}
.table-fixed tbody {
height: 230px;
overflow-y: auto;
width: 100%;
}
.table-fixed thead, .table-fixed tbody, .table-fixed tr, .table-fixed td, .table-fixed th {
display: block;
}
.table-fixed tbody td, .table-fixed thead > tr> th {
float: left;
border-bottom-width: 0;
}
/*End style*/
.float-right{
    float: right;
}
.border-bootom{
    border-bottom: 1px solid #000;
    margin-top: -10px;
    padding-bottom: 10px;
}
.create-by{
    border-bottom: 1px solid #ddd;
    width: 145px;
    margin: auto;
    height: 90px;
}