<div class="panel panel-default">
	<div class="panel-heading">
		Report Purchase Detail
	</div>
	<div class="panel-body">
		<form class="row" name="report" novalidate>
			<div class="col-md-3">
				<div class="form-group"
					 data-ng-class="{ 'has-error': report.from_date.$error.required && report.$submitted }">
					<div class="">
						<div cambodia-date-picker date-format="y-MM-dd" class="input-group">
							<input type="text" class="form-control" required name="from_date"
								   data-ng-model="vm.from_date"  placeholder="{{'FromDate' | translate}}"/>
							<span class="input-group-btn">
								<button class="btn btn-default" type="button">
									<i class="fa fa-calendar"></i>
								</button>
							</span>
						</div>
					</div>
					<div translate="ThisFieldRequire" class="has-error msg-error msg-drop-down"
						 data-ng-if="report.from_date.$error.required && report.$submitted"></div>
				</div>
			</div>
			<div class="col-md-3">
				<div class="form-group"
					 data-ng-class="{ 'has-error': report.toDate.$error.required && report.$submitted }">
					<div class="">
						<div cambodia-date-picker date-format="y-MM-dd" class="input-group">
							<input type="text" class="form-control" data-ng-model="vm.to_date"
								   name="toDate" required placeholder="{{'ToDate' | translate}}"/>
								<span class="input-group-btn">
									<button class="btn btn-default" type="button">
										<i class="fa fa-calendar"></i>
									</button>
								</span>
						</div>
						<div translate="ThisFieldRequire" class="has-error msg-error msg-drop-down"
							 data-ng-if="report.toDate.$error.required && report.$submitted"></div>
					</div>
				</div>
			</div>
			<div class="col-md-3">
				<div class="form-group">
					<vendor-list-drop-down vendor-model="vm.vendor"></vendor-list-drop-down>
				</div>
			</div>
			<div class="col-md-3">
				<div class="form-group">
					<div class="">
						<button class="btn btn-primary"
								data-ng-click="vm.from_date = ''; vm.to_date = '';vm.vendor = '';"
								uib-tooltip="{{'ClearSelect' | translate}}">
							<i class="fa fa-refresh" aria-hidden="true"></i>
						</button>
						<button class="btn btn-success" data-ng-click="vm.init();">
							<i class="fa fa-hourglass-half"></i>
							{{'Filter' | translate}}
						</button>
						<button class="btn btn-default margin-top"
								onclick="PrintElem('#print')"
								data-ng-disabled="!vm.totalItems">
							<i class="fa fa-print"></i>
							{{'Print' | translate}}
						</button>
						<!--<button class="btn btn-info margin-top"-->
								<!--ng-csv="vm.csv"-->
								<!--data-ng-disabled="!vm.totalItems"-->
								<!--csv-header="vm.headers"-->
								<!--filename="stock_report.csv">-->
							<!--<i class="fa fa-file-excel-o"></i>-->
							<!--{{'ExportCSV' | translate}}-->
						<!--</button>-->
					</div>
				</div>
			</div>
		</form>
		<div data-ng-if="vm.purchase.count" id="print">
			<table width="100%">
				<tr>
					<td align="center">
						<h3 ng-bind="company.company_name"></h3>
						<h4>
							{{'PurchaseDetailReport' | translate}}
						</h4>
						{{'FromDate' | translate}}: {{vm.from_date}}
						{{'ToDate' | translate}}: {{vm.to_date}}
					</td>
				</tr>
			</table>
			<table width="100%">
				<tr data-ng-repeat="p in vm.purchase.elements">
					<td>
						<table class="table-print">
							<tr rowspan="2">
								<td class="color-header-report-table">
									{{$index + 1}}.
									<b>
										{{'PurchaseNo' | translate}}:
									</b>
									<span data-ng-bind="p.purchase_no"></span>,
									<b>
										{{'ReferenceNo' | translate}}:
									</b>
									<span data-ng-bind="p.reff_no"></span>,
									<b>
										{{'Date' | translate}}:
									</b>
									<span data-ng-bind="vm.service.dateFormat(p.purchase_date)"></span>,
									<b>
										{{'Vendor' | translate}}:
									</b>
									<span data-ng-bind="p.supplier_name"></span>

								</td>
							</tr>
							<tr>
								<td colspan="2" style="padding: 0px;">
									<table width="100%">
										<tr style="background-color: #26a69a;">
											<th width="5%">
												#
											</th>
											<th width="35%">
												{{'Item' | translate}}
											</th>
											<th width="20%">
												{{'Code' | translate}}
											</th>
											<th width="15%">
												{{'Qty' | translate}}
											</th>
											<th width="15%">
												{{'Price' | translate}}
											</th>
											<th width="15%">
												{{'Dis' | translate}}(%)
											</th>
											<th width="15%">
												{{'Dis' | translate}}($)
											</th>
											<th width="15%">
												{{'Total' | translate}}
											</th>
										</tr>
										<tr data-ng-repeat="item in p.detail">
											<td>
												{{$index +1}}
											</td>
											<td>
												{{item.product_name}}
											</td>
											<td>
												{{item.barcode}}
											</td>
											<td>
												{{item.qty}}
												<span data-ng-if="item.free_qty > 0">
													+ {{item.free_qty}}
												</span>
											</td>
											<td>
												{{item.total / item.qty | currency}}
											</td>
											<td>
												{{item.discount_percent | currency}}
											</td>
											<td>
												{{item.discount_dollar | currency}}
											</td>
											<td>
												{{item.total | currency}}
											</td>
										</tr>
										<tr>
											<td colspan="7" align="right">
												<b>{{'SubTotal' | translate}}</b>
											</td>
											<td>
												<b>{{p.total | currency}}</b>
											</td>
										</tr>
										<tr>
											<td colspan="7" align="right">
												<b>{{'Payment' | translate}}</b>
											</td>
											<td>
												<b>{{p.payment | currency}}</b>
											</td>
										</tr>
										<tr>
											<td colspan="7" align="right">
												<b>{{'Balance' | translate}}</b>
											</td>
											<td>
												<b>{{p.remain | currency}}</b>
											</td>
										</tr>
									</table>
								</td>
							</tr>
						</table>
					</td>
				</tr>
			</table>
		</div>
		<div
			data-ng-if="vm.purchase.count == 0"
		>
			<empty-data></empty-data>
		</div>
		<div
			data-ng-if="!vm.loading"
			class="align_center"
		>
			<i class="fa fa-refresh fa-spin" style="font-size: 100px;"></i>
		</div>
	</div>
</div>
