<div class="panel panel-default">
	<div class="panel-heading">
		{{'VendorPaymentReport' | translate}}
	</div>
	<div class="panel-body">
		<form class="row" name="report" novalidate>
			<div class="col-md-2 col-sm-6"
				 data-ng-class="{ 'has-error': report.from_date.$error.required && report.$submitted }">
				<div cambodia-date-picker date-format="y-MM-dd" class="input-group">
					<input type="text"
						   class="form-control"
						   data-ng-model="vm.from_date"
						   required
						   name="from_date"
						   placeholder="{{'FromDate' | translate}}"/>
					<span class="input-group-btn">
						<button class="btn btn-default" type="button">
							<i class="fa fa-calendar"></i>
						</button>
					</span>
				</div>
				<div translate="ThisFieldRequire" class="has-error msg-error msg-drop-down"
					 data-ng-if="report.from_date.$error.required && report.$submitted"></div>
			</div>
			<div class="col-md-2 col-sm-6"
				 data-ng-class="{ 'has-error': report.to_date.$error.required && report.$submitted }">
				<div cambodia-date-picker date-format="y-MM-dd" class="input-group">
					<input type="text"
						   required
						   name="to_date"
						   class="form-control"
						   data-ng-model="vm.to_date"
						   placeholder="{{'ToDate' | translate}}"/>
					<span class="input-group-btn">
						<button class="btn btn-default" type="button">
							<i class="fa fa-calendar"></i>
						</button>
					</span>
				</div>
				<div translate="ThisFieldRequire"
					 class="has-error msg-error msg-drop-down"
					 data-ng-if="report.to_date.$error.required && report.$submitted"></div>
			</div>
			<div class="col-md-3 col-sm-6">
				<div class="input-group">
					<vendor-list-drop-down vendor-model="vm.vendor"></vendor-list-drop-down>
					<span class="input-group-btn">
						<a class="btn btn-default" data-ng-click="vm.vendor = null">
							<i class="fa fa-trash ng-scope"></i>
						</a>
					</span>
				</div>
			</div>
			<div class="col-md-5">
				<button class="btn btn-primary"
						data-ng-click="vm.from_date = ''; vm.to_date = '';vm.vendor = null;"
						uib-tooltip="{{'ClearSelect' | translate}}">
					<i class="fa fa-refresh" aria-hidden="true"></i>
				</button>
				<button class="btn btn-success" data-ng-click="vm.init();">
					<i class="fa fa-hourglass-half"></i>
					{{'Filter' | translate}}
				</button>
				<button class="btn btn-default margin-top"
						onclick="PrintElem('#print')"
						data-ng-disabled="!vm.payment.count">
					<i class="fa fa-print"></i>
					{{'Print' | translate}}
				</button>
				 <span role-permission 
					 ng-if="featureRole"
					 permission="'Vendor_Payment_Report_Export'" 
					 feature="featureRole">
					<button class="btn btn-info margin-top"
							ng-csv="vm.csv"
							data-ng-disabled="!vm.payment.count"
							add-bom="true"
							csv-header="vm.headers"
							filename="vendor_payment_report.csv">
						<i class="fa fa-file-excel-o"></i>
						{{'ExportCSV' | translate}}
					</button>
				 </span>
			</div>
		</form>
		<div data-ng-if="vm.payment.count" id="print">
			<table width="100%">
				<tr>
					<td align="center">
						<h3 ng-bind="company.company_name"></h3>
						<h4>
							{{'VendorPaymentReport' | translate}}
						</h4>
						{{'FromDate' | translate}}: {{vm.from_date}}
						{{'ToDate' | translate}}: {{vm.to_date}}
					</td>
				</tr>
			</table>
			<br/><br/>
			<table class="table-print">
				<tr>
					<th>
						#
					</th>
					<th>
						{{'PaymentNo' | translate}}
					</th>
					<th>
						{{'PaymentDate' | translate}}
					</th>
					<th>
						{{'VendorName' | translate}}
					</th>
					<th>
						{{'DiscountAmount' | translate}}
					</th>
					<th>
						{{'DiscountType' | translate}}
					</th>
					<th>
						{{'DiscountTotal' | translate}}
					</th>
					<th>
						{{'PaymentMethod' | translate}}
					</th>
					<th>
						{{'TotalPayment' | translate}}
					</th>
				</tr>
				<tr data-ng-repeat="rp in vm.payment.elements">
					<td>
						{{$index +1}}
					</td>
					<td>
						{{rp.payment_no}}
					</td>
					<td>
						{{vm.service.dateFormat(rp.payment_date)}}
					</td>
					<td>
						{{rp.vendor_name}}
					</td>
					<td>
						{{rp.discount_amount}}
					</td>
					<td>
						{{rp.discount_type}}
					</td>
					<td>
						{{rp.discount_total_amount | currency}}
					</td>
					<td>
						{{rp.payment_method}}
					</td>
					<td>
						{{rp.payment | currency}}
					</td>
				</tr>
				<tr>
					<td colspan="8" align="right">
						<b>{{'TotalCashAmount' | translate}}</b>
					</td>
					<td>
						<b>{{vm.total_cash_amount | currency}}</b>
					</td>
				</tr>
				<tr>
					<td colspan="8" align="right">
						<b>{{'TotalBankAmount' | translate}}</b>
					</td>
					<td>
						<b>{{vm.total_bank_amount | currency}}</b>
					</td>
				</tr>
				<tr>
					<td colspan="8" align="right">
						<b>{{'TotalDiscountAmount' | translate}}</b>
					</td>
					<td>
						<b>{{vm.total_discount_amount | currency}}</b>
					</td>
				</tr>
				<tr>
					<td colspan="8" align="right">
						<b>{{'TotalPaymentAmount' | translate}}</b>
					</td>
					<td>
						<b>{{vm.total_payment_amount | currency}}</b>
					</td>
				</tr>
				<tr>
					<td colspan="8" align="right">
						<b>{{'GrandTotal' | translate}}</b>
					</td>
					<td>
						<b>{{vm.grandTotal | currency}}</b>
					</td>
				</tr>
			</table>
		</div>
		<div
			data-ng-if="vm.payment.count == 0"
		>
			<empty-data></empty-data>
		</div>
		<div
			data-ng-if="!vm.loading"
			class="align_center"
		>
			<i class="fa fa-refresh fa-spin" style="font-size: 100px;"></i>
		</div>
	</div>
</div>
