<div class="panel panel-default">
    <div class="panel-heading">
        <b>{{'ServiceType' | translate}}</b>
    </div>
    <div class="panel-body">
        <span role-permission 
            ng-if="featureRole"
            permission="'Service_Type_Create'" 
            feature="featureRole">
            <button
                class="btn btn-default"
                data-toggle="modal"
                data-target="#products-type-popup"
            >
                <span class="fa fa-plus-circle"></span>
                {{'AddNew' | translate}}
            </button>
        </span>

        {{'TotalRecord' | translate}}: {{vm.totalItems}}
        <br/>
        <form class="row">
            <div class="form-body">
                <div class="col-md-3">
                    <div class="input-group input-large">
                        <input type="text"
                               class="form-control"
                               data-ng-model="vm.search_name"
                               auto-focus
                               placeholder="{{'Search' | translate}}">

                        <span class="input-group-btn">
                            <button type="submit" class="btn blue" data-ng-click="vm.search()">
                                <i class="fa fa-search"></i>
                            </button>
                        </span>
                    </div>
                </div>
            </div>
        </form>
        <table class="table table-bordered table-striped">
            <thead>
            <th width="5%">
                #
            </th>
            <th width="40%">
                {{'Name' | translate}}
            </th>
            <th width="45%">
                {{'Description' | translate}}
            </th>
            <th width="12%">
                {{'Action' | translate}}
            </th>
            </thead>
            <tr data-ng-repeat="product_type in vm.serviceType.elements">
                <td>
                    <span data-ng-bind="$index + 1"></span>
                </td>
                <td>
                    <span data-ng-bind="product_type.name"></span>
                </td>
                <td>
                    <span data-ng-bind="product_type.description"></span>
                </td>
                <td>
                    <span role-permission 
                        ng-if="featureRole"
                        permission="'Service_Type_Edit'" 
                        feature="featureRole">
                        <button class="btn btn-default btn-xs" data-ng-click="vm.edit(product_type);">
                            <span class="fa fa-edit"></span>
                        </button>
                    </span>
                    <span role-permission 
                        ng-if="featureRole"
                        permission="'Service_Type_Disable'" 
                        feature="featureRole">
                        <button
                            class="btn btn-success btn-xs"
                            data-ng-click="vm.updateStatus(product_type);"
                            data-ng-if="product_type.status == 1"
                        >
                            <span class="fa fa-check-circle-o"></span>
                        </button>
                    </span>
                    <span role-permission 
                        ng-if="featureRole"
                        permission="'Service_Type_Disable'" 
                        feature="featureRole">
                        <button
                            class="btn btn-warning btn-xs"
                            data-ng-if="product_type.status == 0"
                            data-ng-click="vm.updateStatus(product_type);"
                        >
                            <span class="fa fa-times-circle"></span>
                        </button>
                    </span>
                </td>
            </tr>
        </table>
        <div
            data-ng-if="vm.serviceType.elements == 0"
        >
            <empty-data></empty-data>
        </div>
        <div
            data-ng-if="!vm.serviceType"
            class="align_center"
        >
            <i class="fa fa-refresh fa-spin" style="font-size: 100px;"></i>
        </div>
    </div>
</div>
<div class="panel-footer">
    <ul uib-pagination
        total-items="vm.totalItems"
        ng-model="vm.currentPage"
        ng-change="vm.pageChanged()"
        max-size="5"
        items-per-page="10"
        boundary-links="true"
    ></ul>
</div>
<service:type:popup></service:type:popup>