<form data-ng-submit="vm.save();" name="form" class="form-horizontal row" novalidate>
	<div class="col-md-12">
		<div class="panel panel-default">
			<div class="panel-heading">
				<b>{{'StockAdjustmentDetail' | translate}}</b>
				<a class="btn no-padding pull-right ng-binding" onclick="history.go(-1)">
                    <i class="fa fa-step-backward"></i>
                    {{'Back' | translate}}
                </a>
			</div>
			<div class="panel-body">
				<div class="col-md-12 row">
					<div class="form-group">
						<div class="col-md-3 col-sm-4">
							<div class="input-group input-large">
								<input type="text" class="form-control"
									placeholder="{{'Search' | translate}}"
									data-ng-model="vm.product_barcode"
									data-ng-change="vm.filterProduct();"
									data-ng-model-options="{ debounce: 550 }" />
								<span class="input-group-btn">
									<button type="submit" class="btn blue" data-ng-click="vm.search()">
										<i class="fa fa-search ng-scope" data-ng-if="!vm.loading"></i>
									</button>
								</span>
							</div>
							
						</div>
						<div class="col-md-3 col-sm-8">
							<product-list-drop-down product-model="vm.product_filter"
													filter-by-item="'item'"
													on-change="vm.getDefaultItem();"></product-list-drop-down>
						</div>
					</div>
				</div>
				<div class="scroll table-responsive">
					<table class="table table-bordered table-striped">
						<tr>
							<th width="5%">
								#
							</th>
							<th width="25%">
								{{'ItemName' | translate}}
							</th>
							<th width="13%">
								{{'Cost' | translate}}
							</th>
							<th width="12%">
								{{'QtyOnHand' | translate}}
							</th>							
							<th width="10%">
								{{'AdjustQty' | translate}}
							</th>
							<th width="13%">
								{{'UMType' | translate}}
							</th>
							<th width="12%">
								{{'BalanceQty' | translate}}
							</th>
							<th width="15%">
								{{'SubTotal' | translate}}
							</th>
							<th width="5%">
							</th>
						</tr>
						<tr data-ng-if="!vm.listData || vm.listData.length == 0">
							<td colspan="8">
								<empty-data></empty-data>
							</td>
						</tr>
						<tr data-ng-repeat="list in vm.listData">
							<td>
								{{$index + 1}}
							</td>
							<td>
								{{list.product_name}}
								<small class="label label-primary">
									{{list.barcode}}
								</small>
							</td>
							<td>
								{{list.product_price_in | currency}}
							</td>
							<td>
								{{list.product_quantity | number}}
								{{list.product_um_type_name}}
							</td>
							<td>
								<input type="number"
									   data-ng-model="list.adjust_qty"
									   step="any"
									   class="form-control box-sell"
									   data-ng-change="vm.getTotal();"
								/>
							</td>
							<td>
								<select class="form-control"
									style="padding: 1px;"
									ng-model="list.um_type_collection"
									data-ng-change="vm.updateModel(list)"
									data-ng-options="x as (x.name + ' (' + x.amount+')')  for x in vm.um_types track by x.id">
								</select>     
							</td>
							<td>
								{{(list.balance_qty = list.product_quantity + (list.adjust_qty * list.um_type_amount / list.product_um_type_amount)) | number}}
								{{list.product_um_type_name}}
							</td>
							<td>
								{{ list.total_amount = (list.product_price_in ? list.product_price_in : 0) * list.balance_qty | currency}}
							</td>
							<td>
								<i class="fa fa-trash hover"
								   data-ng-click="vm.remove($index);"
								   style="font-size: 20px;"></i>
							</td>
						</tr>
					</table>
				</div>
				<hr/>
				<fieldset>
					<legend>{{"Information" | translate}}</legend>
					<div class="form-group"
						data-ng-class="{ 'has-error': form.title.$error.required && form.$submitted }">
						<div class="col-md-2 col-sm-4">
							<span class="">
								{{'Title' | translate}}
								<span class="required">*</span>
							</span>
						</div>
						<div class="col-md-3 col-sm-8">
							<input type="text"
									class="form-control"
									placeholder="{{'Title' | translate}}"
									name="title"
									required
									data-ng-model="vm.model.title"/>
							<div translate="ThisFieldRequire"
								class="has-error msg-error"
								data-ng-if="form.title.$error.required && form.$submitted"></div>
						</div>
					</div>
					<div class="form-group"
						data-ng-class="{ 'has-error': form.AdjustmentDate.$error.required && form.$submitted }">
						<div class="col-md-2 col-sm-4">
							<span class="control-label">
								{{'AdjustmentDate' | translate}}
								<span class="required">*</span>
							</span>
						</div>
						<div class="col-md-3 col-sm-8">
							<div cambodia-date-picker date-format="y-MM-dd" class="input-group">
								<input type="text"
									class="form-control"
									placeholder="{{'AdjustmentDate' | translate}}"
									name="AdjustmentDate"
									required
									data-ng-model="vm.model.adjustment_date"/>
								<span class="input-group-btn">
									<button class="btn btn-default" type="button">
										<i class="fa fa-calendar"></i>
									</button>
								</span>
							</div>
							<div translate="ThisFieldRequire"
								class="has-error msg-error"
								data-ng-if="form.AdjustmentDate.$error.required && form.$submitted"></div>
						</div>
					</div>
					<div class="form-group"
						data-ng-class="{ 'has-error': form.reason.$error.required && form.$submitted }">
						<div class="col-md-2 col-sm-4">
							<span class="control-label">
								{{'Reason' | translate}}
								<span class="required">*</span>
							</span>
						</div>
						<div class="col-md-3 col-sm-8">
							<textarea class="form-control"
									name="reason"
									required
								data-ng-model="vm.model.reason"
								placeholder="{{'Reason' | translate}}"/>
							<div translate="ThisFieldRequire"
								class="has-error msg-error"
								data-ng-if="form.reason.$error.required && form.$submitted"></div>
						</div>
					</div>
					<div class="form-group">
						<div class="col-md-2 col-sm-4">
							<span class="control-label">
								{{'Remark' | translate}}
							</span>
						</div>
						<div class="col-md-3 col-sm-8">
							<textarea class="form-control"
								data-ng-model="vm.model.remark"
								placeholder="{{'Remark' | translate}}"/>
						</div>
					</div>
					<div class="form-group">
						<div class="col-md-2 col-sm-4">
							<span class="control-label">
								{{'TotalAdjustAmount' | translate}}
							</span>
						</div>
						<div class="col-md-3 col-sm-8">
							<b data-ng-bind="vm.model.total_adjustment | number"></b>
						</div>
					</div>
				</fieldset>
				<hr/>
				<div class="form-group">
					<div class="col-md-12">
						<a class="btn btn-default" ui-sref="stock_adjustment.list" href="javascript:;">
							<i class="fa fa-close"></i>
							{{'Close' | translate}}
						</a>
						<button class="btn btn-primary" type="submit" data-ng-disabled="vm.loading">
							<i class="fa fa-save" data-ng-if="!vm.loading"></i>
							<i class="fa fa-spin fa-spinner" data-ng-if="vm.loading"></i>
							{{'Save' | translate}}
						</button>
					</div>
				</div>
			</div>
		</div>
	</div>
</form>