<form data-ng-submit="vm.save();" name="form" class="form-horizontal row" novalidate>
	<div class="col-md-12">
		<div class="panel panel-default">
			<div class="panel-heading">
				<b>{{'StockAdjustmentDetail' | translate}}</b>
				<a class="btn no-padding pull-right ng-binding" onclick="history.go(-1)">
                    <i class="fa fa-step-backward"></i>
                    {{'Back' | translate}}
                </a>
			</div>
			<div class="panel-body">
				<div class="table-responsive scroll">
					<table class="table table-bordered table-striped">
						<tr>
							<th width="5%">
								#
							</th>
							<th width="25%">
								{{'ItemName' | translate}}
							</th>
							<th width="10%">
								{{'Cost' | translate}}
							</th>
							<th width="12%">
								{{'QtyOnHand' | translate}}
							</th>							
							<th width="10%">
								{{'AdjustQty' | translate}}
							</th>
							<th width="13%">
								{{'UMType' | translate}}
							</th>
							<th width="12%">
								{{'BalanceQty' | translate}}
							</th>
							<th width="15%">
								{{'SubTotal' | translate}}
							</th>
						</tr>
						<tr data-ng-repeat="list in vm.model.detail">
							<td>
								{{$index + 1}}
							</td>
							<td>
								{{list.product_name}}
								<small class="label label-primary">
									{{list.barcode}}
								</small>
							</td>
							<td>
								{{list.product_price_in | currency}}
							</td>
							<td>
								{{list.product_quantity | number}}
								{{list.product_um_type_name}}
							</td>
							<td>
								{{list.adjust_qty}}
							</td>
							<td>
								{{list.um_type_name}}
								({{list.um_type_amount}})
							</td>
							<td>
								{{list.balance_qty | number}}
								{{list.product_um_type_name}}
							</td>
							<td>
								{{ list.total_amount | currency}}
							</td>
						</tr>
					</table>
				</div>
				<hr/>
				<fieldset>
					<legend>{{'Information' | translate}}</legend>
				
					<div class="form-group"
						data-ng-class="{ 'has-error': form.title.$error.required && form.$submitted }">
						<div class="col-md-2">
							<span class="">
								{{'AdjustmentNo' | translate}}
							</span>
						</div>
						<div class="col-md-4">
							{{vm.model.adjustment_no}}
						</div>
					</div>
					<div class="form-group"
						data-ng-class="{ 'has-error': form.title.$error.required && form.$submitted }">
						<div class="col-md-2">
							<span class="">
								{{'Title' | translate}}
							</span>
						</div>
						<div class="col-md-4">
							{{vm.model.title}}
						</div>
					</div>
					<div class="form-group"
						data-ng-class="{ 'has-error': form.AdjustmentDate.$error.required && form.$submitted }">
						<div class="col-md-2">
							<span class="control-label">
								{{'AdjustmentDate' | translate}}
							</span>
						</div>
						<div class="col-md-4">
							{{vm.service.dateFormat(vm.model.adjustment_date)}}
						</div>
					</div>
					<div class="form-group"
						data-ng-class="{ 'has-error': form.reason.$error.required && form.$submitted }">
						<div class="col-md-2">
							<span class="control-label">
								{{'Reason' | translate}}
							</span>
						</div>
						<div class="col-md-4">
							{{vm.model.reason}}
						</div>
					</div>
					<div class="form-group">
						<div class="col-md-2">
							<span class="control-label">
								{{'Remark' | translate}}
							</span>
						</div>
						<div class="col-md-4">
							{{vm.model.remark}}
						</div>
					</div>
					<div class="form-group">
						<div class="col-md-2">
							<span class="control-label">
								{{'TotalAdjustAmount' | translate}}
							</span>
						</div>
						<div class="col-md-4">
							<span data-ng-bind="vm.model.total_adjustment | number"></span>
						</div>
					</div>
				</fieldset>
				<hr/>
				<div class="form-group">
					<div class="col-md-12">
						<a class="btn btn-default" ui-sref="stock_adjustment.list" href="javascript:;">
							<i class="fa fa-close"></i>
							{{'Close' | translate}}
						</a>
					</div>
				</div>
			</div>
		</div>
	</div>
</form>