<div class="panel panel-default">
    <div class="panel-heading">
        <b>{{'TermCondition' | translate}}</b>
        <a class="btn no-padding pull-right ng-binding" onclick="history.go(-1)">
            <i class="fa fa-step-backward"></i>
            {{'Back' | translate}}
        </a>
    </div>
    <div class="panel-body">
        <span role-permission 
            ng-if="featureRole"
            permission="'Receive_Payment_Term_Create'" 
            feature="featureRole">
            <a class="btn btn-default" 
                data-toggle="modal"
                data-target="#modal-popup"
            >
                <span class="fa fa-plus-circle"></span>
                {{'AddNew' | translate}}
            </a>
        </span>
        {{'TotalRecord' | translate}}: {{vm.totalItems}}
        <br/><br/>
        <table class="table table-bordered table-striped">
            <thead>
                <th width="5%">
                    #
                </th>
                <th width="25%">
                    {{'Title' | translate}}
                </th>

                <th width="55%">
                    {{'Description' | translate}}
                </th>
                <th width="10%">
                    {{'Action' | translate}}
                </th>
            </thead>
            <tr data-ng-repeat="row in vm.collections.elements">
                <td>
                    <span data-ng-bind="row.id"></span>
                </td>
                <td>
                    <span data-ng-bind="row.title"></span>
                </td>
                <td>
                    <span data-ng-bind-html="row.description"></span>
                </td>
                <td>
                    <span role-permission 
                        ng-if="featureRole"
                        permission="'Receive_Payment_Term_Create'" 
                        feature="featureRole">
                        <button class="btn btn-default btn-xs" data-ng-click="vm.edit(row);" uib-tooltip="{{'Edit' | translate}}">
                            <span class="fa fa-edit"></span>
                        </button>
                    </span>
                    <span role-permission 
                        ng-if="featureRole"
                        permission="'Receive_Payment_Term_Create'" 
                        feature="featureRole">
                        <button class="btn btn-danger btn-xs" data-ng-click="vm.delete(row);" uib-tooltip="{{'Delete' | translate}}">
                            <span class="fa fa-trash"></span>
                        </button>
                    </span>
                </td>
            </tr>
        </table>
        <div
            data-ng-if="vm.collections.elements == 0"
        >
            <empty-data></empty-data>
        </div>
        <div
            data-ng-if="!vm.collections"
            class="align_center"
        >
            <i class="fa fa-refresh fa-spin" style="font-size: 100px;"></i>
        </div>
    </div>
</div>
<div class="panel-footer">
    <ul uib-pagination
        total-items="vm.totalItems"
        ng-model="vm.currentPage"
        ng-change="vm.pageChanged()"
        max-size="5"
        items-per-page="10"
        boundary-links="true"
    ></ul>
</div>

<form data-ng-submit="vm.save();" name="modalForm" novalidate class="form form-horizontal">
    <div
        class="modal fade"
        id="modal-popup"
        data-keyboard="false"
        data-backdrop="static"
    >
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <a
                        type="button"
                        class="close"
                        data-dismiss="modal"
                        data-ng-click="vm.clear();"
                    >
                        <span>&times;</span>
                    </a>
                    <h4>
                        <label>
                            {{'ReceivePaymentTerm' | translate}}
                        </label>
                    </h4>
                </div>
                <div class="modal-body">
                    <div class="form-group"
                        data-ng-class="{ 'has-error': modalForm.title.$error.required && modalForm.$submitted }">
                        <div class="col-md-2">
                            <span class="control-label">
                                {{'Title' | translate}}
                                <span class="required">*</span>
                            </span>
                        </div>
                        <div class="col-md-10">
                            <input type="text"
                                class="form-control"
                                data-ng-model="vm.model.title"
                                name="title"
                                placeholder="{{'Title' | translate}}"
                                required="required" />
                            <div translate="ThisFieldRequire" class="has-error msg-error"
                                data-ng-if="modalForm.title.$error.required && modalForm.$submitted"></div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-2">
                            <span class="control-label">
                                {{'Description' | translate}}
                            </span>
                        </div>
                        <div class="col-md-10">
                            <trix-editor data-ng-model="vm.model.description"
								angular-trix trix-initialize="trixInitialize(e, editor);"
								style="height: 100px;overflow: auto;">
							</trix-editor>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <a
                        class="btn btn-default"
                        data-dismiss="modal"
                        data-ng-click="vm.clear();"
                    >
                        <i class="fa fa-close"></i>
                        {{'Close' | translate}}
                    </a>
                    <button
                        class="btn btn-primary"
                        data-ng-disabled="!vm.disable"
                    >
                        <i class="fa fa-save"></i>
                        {{'Save' | translate}}
                    </button>
                </div>
            </div>
        </div>
    </div>
</form>


