<form data-ng-submit="vm.save();" name="purchase" class="form-horizontal row" novalidate>
	<div class="col-md-12">
		<div class="panel panel-default">
			<div class="panel-heading">
				<b>{{'PurchaseDetail' | translate}}</b>
				<a class="btn no-padding pull-right ng-binding" onclick="history.go(-1)">
                    <i class="fa fa-step-backward"></i>
                    {{'Back' | translate}}
                </a>
			</div>
			<div class="panel-body">
				<div class="col-md-12 row">
					<div class="form-group">
						<div class="col-md-3">
							<div class="input-group">
								<input type="text" class="form-control"
									placeholder="{{'Search' | translate}}"
									data-ng-model="vm.product_barcode"
									data-ng-change="vm.filterProduct();"
									data-ng-model-options="{ debounce: 550 }" />
								<span class="input-group-addon">
									<i class="fa fa-search"></i>
								</span>
							</div>
							
						</div>
						<div class="col-md-4">
							<product-list-drop-down product-model="vm.product_filter"
													filter-by-item="'item'"
													on-change="vm.getDefaultItem();"></product-list-drop-down>
						</div>
					</div>
				</div>
				<div class="scroll table-responsive">
					<table class="table table-bordered table-striped">
						<thead>
							<tr>
								<th width="5%">
									#
								</th>
								<th width="15%">
									{{'ItemName' | translate}}
								</th>
								<th width="10%">
									{{'QtyOnHand' | translate}}
								</th>
								<th width="8%">
									{{'Qty' | translate}}
								</th>
								<th width="8%">
									{{'Free' | translate}}
								</th>
								<th width="10%">
									{{'UMType' | translate}}
								</th>
								<th width="10%">
									{{'BalanceQty' | translate}}
								</th>
								<th width="8%">
									{{'Cost' | translate}}
								</th>
								<th width="8%">
									{{'UnitPrice' | translate}}
								</th>
								<th width="10%">
									{{'Dis'}}(%)
								</th>
								<th width="10%">
									{{'Dis'}}($)
								</th>
								<th width="13%">
									{{'Total' | translate}}
								</th>
								<th width="5%">
								</th>
							</tr>
						</thead>
						<tbody>
							<tr data-ng-if="!vm.listData || vm.listData.length == 0">
								<td colspan="13">
									<empty-data></empty-data>
								</td>
							</tr>
							<tr data-ng-repeat="list in vm.listData">
								<td>
									{{$index + 1}}
								</td>
								<td>
									{{list.product_name}}
									<div class="label label-primary">
										<small>
											{{list.barcode}}
										</small>
									</div>
								</td>
								<td>
									{{list.qty_on_hand}}
									{{list.product_um_type_name}}
									({{list.product_um_type_amount}})
								</td>
								<td>
									<input type="number"
										min="1"
										data-ng-model="list.qty"
										step="any"
										class="form-control box-sell"
										data-ng-change="vm.getTotal();"
									/>
								</td>
								<td>
									<input type="number"
										min="0"
										data-ng-model="list.free_qty"
										step="any"
										class="form-control box-sell"/>
								</td>
								<td>
									<select class="form-control"
										style="padding: 0px;"
										ng-model="list.um_type_collection"
										data-ng-change="vm.updateModel(list)"
										data-ng-options="x as (x.name + ' (' + x.amount+')')  for x in vm.um_types track by x.id">
									</select>     
								</td>
								<td>
									{{list.qty_on_hand + (list.qty * list.um_type_collection.amount / list.product_um_type_amount) | number}}
									{{list.product_um_type_name}}
									({{list.product_um_type_amount}})
								</td>
								<td>
									<input type="number"
										min="0"
										data-ng-model="list.unit_price"
										step="any"
										class="form-control box-sell"
										data-ng-change="vm.getTotal();"
									/>
								</td>
								<td>
									{{list.total/list.qty | currency: ''}}
									<!-- {{list.unit_price/list.um_type_collection.amount | currency: ''}} -->
								</td>
								<td>
									<input type="number"
										min="0"
										data-ng-model="list.discount_percent"
										step="any"
										class="form-control box-sell"
										data-ng-change="vm.getTotal();"/>
								</td>
								<td>
									<input type="number"
										min="0"
										data-ng-model="list.discount_dollar"
										step="any"
										class="form-control box-sell"
										data-ng-change="vm.getTotal();"
									/>
								</td>
								<td>
									{{ list.total = ( 
										(list.unit_price ? list.unit_price : 0) 
											* 
										(list.qty * list.um_type_collection.amount / list.product_um_type_amount)) 
											- 
										list.discount_dollar 
											- 
										(
											( (list.unit_price) * list.qty) * list.discount_percent / 100
										) 
											| 
										currency
									}}
								</td>
								<td>
									<i class="fa fa-trash hover"
									data-ng-click="vm.remove($index);"
									style="font-size: 20px;"></i>
								</td>
							</tr>
						</tbody>
					</table>
				</div>
				<br/>
				<fieldset class="col-md-6 col-sm-6 col-xs-12">
					<legend>{{'Information' | translate}}</legend>
					<div class="form-group"
						data-ng-class="{ 'has-error': purchase.referenceNo.$error.required && purchase.$submitted }">
						<div class="col-md-4">
							<span class="">
								{{'ReferenceNo' | translate}}
								<span class="required">*</span>
							</span>
						</div>
						<div class="col-md-8">
							<input type="text"
								class="form-control"
								data-ng-model="vm.model.reff_no"
								name="referenceNo"
								placeholder="{{'ReferenceNo' | translate}}"
								required="required" />
							<div translate="ThisFieldRequire"
								class="has-error msg-error"
								data-ng-if="purchase.referenceNo.$error.required && purchase.$submitted"></div>
						</div>
					</div>
					<div class="form-group"
						data-ng-class="{ 'has-error': purchase.date.$error.required && purchase.$submitted }">
						<div class="col-md-4">
							<span>
								{{'PurchaseDate' | translate}}
								<span class="required">*</span>
							</span>
						</div>
						<div class="col-md-8">
							<div cambodia-date-picker date-format="y-MM-dd" class="input-group">
								<input type="text"
									class="form-control"
									placeholder="{{'PurchaseDate' | translate}}"
									name="date"
									required
									data-ng-model="vm.model.purchase_date"/>
								<span class="input-group-btn">
									<button class="btn btn-default" type="button">
										<i class="fa fa-calendar"></i>
									</button>
								</span>
							</div>
							<div translate="ThisFieldRequire"
								class="has-error msg-error"
								data-ng-if="purchase.date.$error.required && purchase.$submitted"></div>
						</div>
					</div>
					<div class="form-group"
						data-ng-class="{ 'has-error': purchase.vendor.$error.required && purchase.$submitted }">
						<div class="col-md-4">
							<span class="">
								{{'Vendor' | translate}}
								<span class="required">*</span>
							</span>
						</div>
						<div class="col-md-8">
							<vendor-list-drop-down vendor-model="vm.vendor.selected"
												name="vendor"
												required="required"></vendor-list-drop-down>
							<div translate="ThisFieldRequire"
								class="has-error msg-error"
								data-ng-if="purchase.vendor.$error.required && purchase.$submitted"></div>
						</div>
					</div>
					<div class="form-group">
						<div class="col-md-4">
							<span class="control-label">
								{{'Note' | translate}}
							</span>
						</div>
						<div class="col-md-8">
							<textarea class="form-control"
								data-ng-model="vm.model.note"
								placeholder="{{'Note' | translate}}"/>
						</div>
					</div>
				</fieldset>
				<fieldset class="col-md-6 col-sm-6 col-xs-12">
					<legend>{{'PaymentInfo' | translate}}</legend>
					<div class="form-group">
						<div class="col-md-4 col-sm-4">
							<span class="control-label">
								{{'GrandTotal' | translate}}
							</span>
						</div>
						<div class="col-md-8 col-sm-8">
							<b data-ng-bind="vm.model.total | currency"></b>
						</div>
					</div>
					<div class="form-group">
						<div class="col-md-4 col-sm-4">
							<span class="control-label">
								{{'PaymentMethod' | translate}}
							</span>
						</div>
						<div class="col-md-8 col-sm-8">
							<select class="form-control"
									data-ng-options="payment_method for payment_method in vm.banks"
									data-ng-init="payment_method == payment_method"
									data-ng-model="vm.model.payment_method"
							>
							</select>
						</div>
					</div>
					<div class="form-group"
						data-ng-class="{ 'has-error': purchase.payment.$error.required && purchase.$submitted }">
						<div class="col-md-4 col-sm-4">
							<span class="">
								{{'Payment' | translate}}
							</span>
						</div>
						<div class="col-md-8 col-sm-8">
							<input type="number" step="any" min="0" class="form-control"
								data-ng-model="vm.model.payment"
								name="payment"
								data-ng-change="vm.input();"
								required
								placeholder="{{'Payment' | translate}}"/>
							<div translate="ThisFieldRequire" class="has-error msg-error"
								data-ng-if="purchase.payment.$error.required && purchase.$submitted"></div>
						</div>
					</div>
					<div class="form-group">
						<div class="col-md-4 col-sm-4">
							<span class="control-label">
								{{'Remaining' | translate}}
							</span>
						</div>
						<div class="col-md-8 col-sm-8">
							<b data-ng-bind="vm.model.remain | currency"></b>
						</div>
					</div>
				</fieldset>
				<div class="clearfix"></div>
				<div class="form-group">
					<div class="col-md-12">
						<a class="btn btn-default" ui-sref="purchase.list" href="javascript:;">
							<i class="fa fa-close"></i>
							{{'Close' | translate}}
						</a>
						<button class="btn btn-primary" type="submit" data-ng-disabled="vm.loading">
							<i class="fa fa-save" data-ng-if="!vm.loading"></i>
							<i class="fa fa-spin fa-spinner" data-ng-if="vm.loading"></i>
							{{'Save' | translate}}
						</button>
					</div>
				</div>
			</div>
		</div>
	</div>
</form>