<form data-ng-submit="vm.save();" name="purchase" class="form-horizontal row" novalidate>
    <div class="col-md-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                <b>{{'PurchaseDetail' | translate}}</b>
                <a class="btn no-padding pull-right ng-binding" onclick="history.go(-1)">
                    <i class="fa fa-step-backward"></i>
                    {{'Back' | translate}}
                </a>
            </div>
            <div class="panel-body">
                <div class="scroll table-responsive">
                    <table class="table table-bordered table-striped">
                        <tr>
                            <th width="5%">
                                #
                            </th>
                            <th width="25%">
                                {{'ItemName' | translate}}
                            </th>
                            <th width="13%">
                                {{'QtyOnHand' | translate}}
                            </th>
                            <th width="13%">
                                {{'QtyPurchase' | translate}}
                            </th>
                            <th width="10%">
                                {{'FreeQty' | translate}}
                            </th>
                            <th width="10%">
                                {{'BalanceQty' | translate}}
                            </th>
                            <th width="8%">
                                {{'Cost' | translate}}
                            </th>
                            <th width="8%">
                                {{'UnitPrice' | translate}}
                            </th>
                            <th width="8%">
                                {{'Dis' | translate}}(%)
                            </th>
                            <th width="8%">
                                {{'Dis' | translate}}($)
                            </th>
                            <th width="13%">
                                {{'Total' | translate}}
                            </th>
                        </tr>
                        <tr data-ng-repeat="list in vm.model.detail">
                            <td>
                                {{$index + 1}}
                            </td>
                            <td>
                                {{list.product_name}}
                                <div class="label label-primary">
                                    <small>
                                        {{list.barcode}}
                                    </small>
                                </div>
                            </td>
                            <td>
                                {{list.qty_on_hand}}
                                {{list.product_um_type_name}}
								({{list.product_um_type_amount}})
                            </td>
                            <td>
                                {{list.qty}}
                                {{list.um_type_name}} ({{list.um_type_amount}})
                            </td>
                            <td>
                                {{list.free_qty}}
                            </td>
                            <td>
                                {{list.qty_on_hand + (list.qty * list.um_type_amount / list.product_um_type_amount) | number}}
								{{list.product_um_type_name}}
								({{list.product_um_type_amount}})
                            </td>
                            <td>
                                {{list.price_in | currency}}
                            </td>
                            <td>
                                {{ list.total / list.qty | currency}}
                            </td>
                            <td>
                                {{list.discount_percent | number}}
                            </td>
                            <td>
                                {{list.discount_dollar | currency}}
                            </td>
                            <td>
                                {{ list.total | currency}}
                            </td>
                        </tr>
                    </table>
                </div>
                <br/>
                <fieldset class="col-md-6 col-sm-6 col-xs-12">
                    <legend>{{'Information' | translate}}</legend>
                    <div class="form-group"
                        data-ng-class="{ 'has-error': purchase.referenceNo.$error.required && purchase.$submitted }">
                        <div class="col-md-4 col-sm-4 col-xs-6">
                            <span class="">
                                {{'ReferenceNo' | translate}}
                            </span>
                        </div>
                        <div class="col-md-8 col-sm-8 col-xs-6">
                            <b>{{vm.model.reff_no}}</b>
                        </div>
                    </div>
                    <div class="form-group"
                        data-ng-class="{ 'has-error': purchase.date.$error.required && purchase.$submitted }">
                        <div class="col-md-4 col-sm-4 col-xs-6">
                            <span class="control-label">
                                {{'PurchaseDate' | translate}}
                            </span>
                        </div>
                        <div class="col-md-8 col-sm-8 col-xs-6">
                            <b>{{vm.service.dateFormat(vm.model.purchase_date)}}</b>
                        </div>
                    </div>
                    <div class="form-group"
                        data-ng-class="{ 'has-error': purchase.vendor.$error.required && purchase.$submitted }">
                        <div class="col-md-4 col-sm-4 col-xs-6">
                            <span class="">
                                {{'Vendor' | translate}}
                            </span>
                        </div>
                        <div class="col-md-8 col-sm-8 col-xs-6">
                            <b>{{vm.model.supplier_name}}</b>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-4 col-sm-4 col-xs-6">
                            <span class="control-label">
                                {{'Note' | translate}}
                            </span>
                        </div>
                        <div class="col-md-8 col-sm-8 col-xs-6">
                            <b>{{vm.model.note}}</b>
                        </div>
                    </div>
                </fieldset>
                <fieldset class="col-md-6 col-sm-12 col-xs-12">
                    <legend>{{'PaymentInfo' | translate}}</legend>
                    <div class="form-group">
                        <div class="col-md-4 col-sm-4 col-xs-6">
                            <span class="control-label">
                                {{'GrandTotal' | translate}}
                            </span>
                        </div>
                        <div class="col-md-8 col-sm-8col-xs-6">
                            <b data-ng-bind="vm.model.total | currency"></b>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-4 col-sm-4 col-xs-6">
                            <span class="control-label">
                                {{'PaymentMethod' | translate}}
                            </span>
                        </div>
                        <div class="col-md-8 col-sm-8 col-xs-6">
                            <b>{{vm.model.payment_method}}</b>
                        </div>
                    </div>
                    <div class="form-group"
                        data-ng-class="{ 'has-error': purchase.payment.$error.required && purchase.$submitted }">
                        <div class="col-md-4 col-sm-4 col-xs-6">
                            <span class="">
                                {{'Payment' | translate}}
                            </span>
                        </div>
                        <div class="col-md-8 col-sm-8 col-xs-6">
                            <b>{{vm.model.payment | currency}}</b>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-4 col-sm-4 col-xs-6">
                            <span class="control-label">
                                {{'Remaining' | translate}}
                            </span>
                        </div>
                        <div class="col-md-8 col-sm-8 col-xs-6">
                            <b data-ng-bind="vm.model.remain | currency"></b>
                        </div>
                    </div>
                </fieldsetdiv>
            </div>
        </div>
    </div>
</form>