
<form data-ng-submit="vm.save();" name="form" class="form-horizontal" novalidate>
	<div class="col-md-12">
		<div class="panel panel-default">
			<div class="panel-heading">
				<b>{{'Information' | translate}}</b>
				<a
					class="btn no-padding pull-right"
					onclick="history.go(-1)"
				>
					<i class="fa fa-step-backward"></i>
					{{'Back' | translate}}
				</a>
			</div>
			<div class="panel-body">
				<div class="col-md-6">
					<div class="row">
						<div class="form-group"
							data-ng-class="{ 'has-error': form.title.$error.required && form.$submitted }">
							<div class="col-md-3">
								<span class="control-label">
									{{'Title' | translate}}
									<span class="required">*</span>
								</span>
							</div>
							<div class="col-md-9">
								<input type="text" class="form-control" 
									data-ng-model="vm.model.title"
									name="title"
									placeholder="{{'Title' | translate}}"
									required/>
								<div translate="ThisFieldRequire"
									class="has-error msg-error"
									data-ng-if="form.title.$error.required && form.$submitted"></div>
							</div>
						</div>
					</div>
					<div class="row">
						<div class="form-group"
							data-ng-class="{ 'has-error': form.from_date.$error.required && form.$submitted }">
							<div class="col-md-3">
								<span class="control-label">
									{{'FromDate' | translate}}
									<span class="required">*</span>
								</span>
							</div>
							<div class="col-md-9">
								<div class="input-group input-large" cambodia-date-picker date-format="{{dateFormat}}">
									<input type="text"
										class="form-control"
										name="from_date"
										required
										data-ng-model="vm.model.from_date"
										data-ng-change="vm.getDoctorPayment()"
										placeholder="{{'FromDate' | translate}}">
									<span class="input-group-btn">
										<a class="btn btn-default" href="javascript:;">
											<i class="fa fa-calendar"></i>
										</a>
									</span>
								</div>
								<div translate="ThisFieldRequire"
									class="has-error msg-error"
									data-ng-if="form.from_date.$error.required && form.$submitted"></div>
							</div>
						</div>
					</div>
					<div class="row">
						<div class="form-group"
							data-ng-class="{ 'has-error': form.to_date.$error.required && form.$submitted }">
							<div class="col-md-3">
								<span class="control-label">
									{{'ToDate' | translate}}
									<span class="required">*</span>
								</span>
							</div>
							<div class="col-md-9">
								<div class="input-group input-large" cambodia-date-picker date-format="{{dateFormat}}">
									<input type="text"
										class="form-control"
										name="to_date"
										required
										data-ng-model="vm.model.to_date"
										data-ng-change="vm.getDoctorPayment()"
										placeholder="{{'ToDate' | translate}}">
									<span class="input-group-btn">
										<a class="btn btn-default" href="javascript:;">
											<i class="fa fa-calendar"></i>
										</a>
									</span>
								</div>
								<div translate="ThisFieldRequire"
									class="has-error msg-error"
									data-ng-if="form.to_date.$error.required && form.$submitted"></div>
							</div>
						</div>
					</div>
				</div>
				<div class="col-md-6 row">
					<div class="col-md-12">
						<div class="form-group">
							<div class="col-md-3">
								<span class="control-label">
									{{'Note' | translate}}
								</span>
							</div>
							<div class="col-md-9">
								<textarea class="form-control"
										rows="4"
										placeholder="{{'Note' | translate}}"
										data-ng-model="vm.model.note"></textarea>
							</div>
						</div>
					</div>	
					<div class="col-md-12">
						<div class="form-group">
							<div class="col-md-3">
								<span class="control-label">
									{{'TotalNetPay' | translate}}
								</span>
							</div>
							<div class="col-md-9">
								<input type="text" class="form-control" readonly ng-value="vm.model.total_net_pay | currency"/>
							</div>
						</div>
					</div>	
				</div>
			</div>
		</div>
	</div>

	<div class="col-md-12">
		<div class="panel panel-default">
			<div class="panel-heading">
				<b>{{'StaffPayslipDetail' | translate}}</b>
				<a
					class="btn no-padding pull-right"
					onclick="history.go(-1)"
				>
					<i class="fa fa-step-backward"></i>
					{{'Back' | translate}}
				</a>
			</div>
			<div class="panel-body">
				<div class="table-responsive">
					<table class="table table-bordered table-striped">
						<thead>
							<tr>
								<th width="2%">
									#
								</th>
								<th width="10%">
									{{'StaffName' | translate}}
								</th>
								<th width="15%">
									{{'Income' | translate}}
								</th>
								<th width="14%">
									{{'SalaryPercentage' | translate}}(%)
								</th>
								<th width="10%">
									{{'Total' | translate}}
								</th>
								<th width="14%">
									{{'Keep' | translate}}
								</th>
								<th width="9%">
									{{'Other' | translate}}
								</th>
								<th width="12%">
									{{'TotalNetPay' | translate}}
								</th>
								<th width="8%">

								</th>
							</tr>
						</thead>
						<tbody>
							<tr data-ng-if="vm.loadingList">
								<td colspan="9" class="text-center">
									<i class="fa fa-refresh fa-spin" style="font-size: 70px;"></i>
								</td>
							</tr>
							<tr data-ng-if="!vm.loadingList && (!vm.doctorPayments || vm.doctorPayments.length ==0)">
								<td colspan="9">
									<empty-data></empty-data>
								</td>
							</tr>
							<tr data-ng-repeat="row in vm.doctorPayments" data-ng-if="!vm.loadingList">
								<td>{{$index +1}}</td>
								<td>
									{{row.doctor_name}}<br/>
									<div class="label label-info">
										{{row.basic_salary | currency}}
									</div>
								</td>
								<td>{{row.total_payment | currency}}</td>
								<td>
									<input type="number" 
										class="input-class" 
										min="0"
										max="100"
										placeholder="{{'TaxPercentage' | translate}}"
										data-ng-model="row.tax_percentage"
										data-ng-blur="vm.calculateTotal();"/>
									={{(row.total_payment * row.tax_percentage / 100) | currency}}
								</td>								
								<td>
									<!--<input type="number" 
										class="input-class" 
										min="0"
										max="100"
										placeholder="{{'Deduct' | translate}}"
										data-ng-model="row.deduct_total_get"
										data-ng-blur="vm.calculateTotal();"/>
									={{ ((row.total_payment * row.tax_percentage / 100) * row.deduct_total_get / 100) | currency}}
									-->
									{{ (row.total_payment * row.tax_percentage / 100) + row.basic_salary | currency}}
								</td>
								<td>
									<input type="number" 
										class="input-class" 
										min="0"
										max="100"
										placeholder="{{'Deduct' | translate}}"
										data-ng-model="row.deduct_basic_salary"
										data-ng-blur="vm.calculateTotal();"/>
									={{ ((row.basic_salary + (row.total_payment * row.tax_percentage / 100) ) * row.deduct_basic_salary / 100) | currency}}
								</td>
								<td>
									{{(row.other = vm.getTotalOther(row.detail)) | currency}}
								</td>
								<td>{{(row.net_pay = row.basic_salary + 
										(row.total_payment * row.tax_percentage / 100) 
										- ( ( row.basic_salary + (row.total_payment * row.tax_percentage / 100) ) * row.deduct_basic_salary  / 100)
										- (row.total_payment * row.deduct_total_get / 100) + row.other) | currency}}</td>
								<td>
									<a href="javascript:;" data-ng-click="vm.remove($index)" 
										class="btn btn-sm btn-danger"
										uib-tooltip="{{'Delete' | translate}}">
										<i class="fa fa-trash" ></i>
									</a>
									<a href="javascript:;" class="btn btn-sm btn-primary"
										data-ng-click="vm.addAllowance($index)"
										uib-tooltip="{{'AddNewAllowance' | translate}}">
										<i class="fa fa-usd"></i>
									</a>
								</td>
							</tr>
						</tbody>
					</table>
				</div>
				<div class="pull-right" style="padding: 20px 20px 15px 0px;">
					<b>
						{{'TotalNetPay' | translate}}:
						{{vm.model.total_net_pay | currency}}
					</b>
				</div>
			</div>			
			<div class="modal-footer">
				<a
					class="btn btn-default"
					data-dismiss="modal"
					ui-sref="doctor_payslip.list"
					href="javascript:;"
				>
					<i class="fa fa-close"></i>
					{{'Close' | translate}}
				</a>
				<button
					class="btn btn-primary"
					data-ng-disabled="vm.loading"
				>
					<i class="fa fa-spinner fa-spin" data-ng-if="vm.loading"></i>
					<i class="fa fa-save" data-ng-if="!vm.loading"></i>
					{{'Save' | translate}}
				</button>
			</div>
		</div>
	</div>
</form>

<form data-ng-submit="vm.saveAllowance();" name="formAllowance" novalidate class="form form-horizontal">
	<div
		class="modal fade"
		id="allowance-popup"
		data-keyboard="false"
		data-backdrop="static"
	>
		<div class="modal-dialog modal-lg">
			<div class="modal-content">
				<div class="modal-header">
					<a
						type="button"
						class="close"
						data-dismiss="modal"
						data-ng-click="vm.getTotalOther(vm.doctorPayments[vm.index].detail)"
					>
						<span>&times;</span>
					</a>
					<h4>
						<label>{{'AllowanceDeduction' | translate}}</label>
					</h4>
				</div>
				<div class="modal-body">
					<div class="table-responsive">
						<table class="table table-striped">
							<thead>
								<tr>
									<th width="3%">#</th>
									<th width="25%">{{"Name"|translate}}</th>
									<th width="15%">{{"Amount"|translate}}</th>
									<th width="30%">{{"Description"|translate}}</th>
									<th width="10%"></th>
								</tr>
							</thead>
							<tbody>
								<tr data-ng-repeat="row in vm.doctorPayments[vm.index].detail">
									<td>{{$index+1}}</td>
									<td>
										<select class="form-control" 
											data-ng-model="row.allowance_id"
											name="name" required
											data-ng-options="x.id as x.name for x in vm.allowanceDeductions.elements">
											<option value="">{{"Select" | translate}}</option>	
										</select>
									</td>
									<td>
										<input type="number" class="form-control" 
											name="value" required
											placeholder="{{'Amount' | translate}}"
											data-ng-model="row.amount"/>
									</td>
									<td>
										<input type="text" class="form-control" 										
											placeholder="{{'Description' | translate}}"
											data-ng-model="row.description"/>
									</td>
									<td>
										<a href="javascript:;" class="btn btn-sm btn-danger" 
											data-ng-click="vm.removeAllowance($index)">
											<i class="fa fa-trash-o"></i>
										</a>
										<a href="javascript:;" class="btn btn-sm btn-primary"
											data-ng-if="vm.doctorPayments[vm.index].detail.length == $index + 1"
											data-ng-click="vm.addMoreAllowance($index)">
											<i  class="fa fa-plus-circle" ></i>
										</a>
									</td>
								</tr>
								<tr data-ng-if="!vm.doctorPayments[vm.index].detail || vm.doctorPayments[vm.index].detail.length == 0">
									<td colspan="4">
										<empty-data></empty-data>
									</td>
									<td>
										<a href="javascript:;" class="btn btn-sm btn-primary" 
											data-ng-click="vm.addMoreAllowance($index)">
											<i class="fa fa-plus-circle" ></i>
										</a>
									</td>
								</tr>
							</tbody>
						</table>
					</div>
					<!--<div class="form-group"
						data-ng-class="{ 'has-error': formAllowance.name.$error.required && formAllowance.$submitted }">
						<div class="col-md-3">
							<span class="control-label">
								{{'Name' | translate}}
								<span class="required">*</span>
							</span>
						</div>
						<div class="col-md-9">
							<select class="form-control" data-ng-model="vm.selectAllowance"
								name="name" required
								data-ng-options="x as x.name for x in vm.allowanceDeductions.elements">
								<option value="">{{"Select" | translate}}</option>	
							</select>
							<div translate="ThisFieldRequire" class="has-error msg-error"
								data-ng-if="formAllowance.name.$error.required && formAllowance.$submitted"></div>
						</div>
					</div>
					<div class="form-group"
						data-ng-class="{ 'has-error': formAllowance.value.$error.required && formAllowance.$submitted }">
						<div class="col-md-3">
							<span class="control-label">
								{{'Value' | translate}}
								<span class="required">*</span>
							</span>
						</div>
						<div class="col-md-9">
							<input type="number" class="form-control" name="value" required
								data-ng-model="vm.allowance.value"/>
							<div translate="ThisFieldRequire" class="has-error msg-error"
								data-ng-if="formAllowance.value.$error.required && formAllowance.$submitted"></div>
						</div>
					</div>
					<div class="form-group">
						<div class="col-md-3">
							<span class="control-label">
								{{'Description' | translate}}
							</span>
						</div>
						<div class="col-md-9">
							<textarea class="form-control" data-ng-model="vm.allowance.description" rows="5"/>
						</div>
					</div>-->
				</div>
				<div class="modal-footer">
					<a
						class="btn btn-default"
						data-dismiss="modal"
						data-ng-click="vm.getTotalOther(vm.doctorPayments[vm.index].detail)"
					>
						<i class="fa fa-close"></i>
						{{'Close' | translate}}
					</a>
				</div>
			</div>
		</div>
	</div>
</form>