<div class="panel panel-default">
	<div class="panel-heading">
		<b>{{'Information' | translate}}</b>
		<a
			class="btn no-padding pull-right"
			onclick="history.go(-1)"
		>
			<i class="fa fa-step-backward"></i>
			{{'Back' | translate}}
		</a>
	</div>
	<form data-ng-submit="vm.save();" name="form" class="form-horizontal" novalidate>
		<div class="panel-body">
			<div class="col-md-12">
				<div class="form-group"
					data-ng-class="{ 'has-error': form.title.$error.required && form.$submitted }">
					<div class="col-md-3">
						<span class="control-label">
							{{'Title' | translate}}
						</span>
					</div>
					<div class="col-md-9">
						{{vm.model.title}}
					</div>
				</div>
			</div>
			<div class="col-md-12">
				<div class="form-group"
					data-ng-class="{ 'has-error': form.from_date.$error.required && form.$submitted }">
					<div class="col-md-3">
						<span class="control-label">
							{{'FromDate' | translate}}
						</span>
					</div>
					<div class="col-md-9">
						{{vm.service.dateFormat(vm.model.from_date)}}
					</div>
				</div>
			</div>
			<div class="col-md-12">
				<div class="form-group"
					data-ng-class="{ 'has-error': form.to_date.$error.required && form.$submitted }">
					<div class="col-md-3">
						<span class="control-label">
							{{'ToDate' | translate}}
						</span>
					</div>
					<div class="col-md-9">
						{{vm.service.dateFormat(vm.model.to_date)}}
					</div>
				</div>
			</div>
			<div class="col-md-12">
				<div class="form-group">
					<div class="col-md-3">
						<span class="control-label">
							{{'Note' | translate}}
						</span>
					</div>
					<div class="col-md-9">
						{{vm.model.note}}
					</div>
				</div>
			</div>
			<div class="col-md-12">
				<div class="form-group"
					data-ng-class="{ 'has-error': form.total_net_pay.$invalid && form.$submitted }">
					<div class="col-md-3">
						<span class="control-label">
							{{'TotalNetPay' | translate}}
						</span>
					</div>
					<div class="col-md-9">
						{{vm.model.total_net_pay | currency}}
					</div>
				</div>
			</div>
		</div>
	</form>
</div>
<div class="panel panel-default">
	<div class="panel-heading">
		<b>{{'StaffPayslipDetail' | translate}}</b>	
	</div>
	<form data-ng-submit="vm.save();" name="form" class="form-horizontal" novalidate>
		<div class="panel-body">
			<div class="scroll" style="height: 450px">
				<table class="table table-bordered table-striped">
					<tbody>
						<tr>
							<th width="5%">
								#
							</th>
							<th width="15%">
								{{'StaffName' | translate}}
							</th>
							<th width="15%">
								{{'Income' | translate}}
							</th>
							<th width="13%">
								{{'SalaryPercentage' | translate}}(%)
							</th>
							<th width="10%">
								{{'Total' | translate}}
							</th>
							<th width="15%">
								{{'Keep' | translate}}
							</th>
							<th width="15%">
								{{'Other' | translate}}
							</th>
							<th width="15%">
								{{'TotalNetPay' | translate}}
							</th>
							<th width="1%"></th>
						</tr>
						<tr data-ng-if="vm.loading">
							<td colspan="6" class="text-center">
								<i class="fa fa-refresh fa-spin" style="font-size: 70px;"></i>
							</td>
						</tr>
						<tr data-ng-if="!vm.loading && (!vm.model || vm.model.detail.length ==0)">
							<td colspan="8">
								<empty-data></empty-data>
							</td>
						</tr>
						<tr data-ng-repeat="row in vm.model.detail">
							<td>{{$index +1}}</td>
							<td>
								{{row.doctor_name}}
								<br/>
								<div class="label label-info">
									{{row.basic_salary | currency}}
								</div>
							</td>
							<td>{{row.total_payment | currency}}</td>
							<td>
								{{row.tax_percentage}}% = {{(row.total_payment * row.tax_percentage / 100) | currency}}
							</td>
							<td>
								{{ (row.total_payment * row.tax_percentage / 100) + row.basic_salary | currency}}
							</td>
							<td>
								{{row.deduct_basic_salary}}% = 
								{{ ((row.basic_salary + (row.total_payment * row.tax_percentage / 100) ) * row.deduct_basic_salary / 100) | currency}}
							</td>
							<td>
								{{row.other | currency}}
							</td>
							<td>
								{{row.net_pay | currency}}
							</td>
							<td>
								<a href="javascript:;" data-ng-click="vm.viewDetail(row.detail)" 
									class="btn btn-sm btn-primary"
									uib-tooltip="{{'Detail' | translate}}">
									<i class="fa fa-eye" ></i>
								</a>
							</td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
	</form>
</div>
<div
		class="modal fade"
		id="allowance-popup"
		data-keyboard="false"
		data-backdrop="static"
	>
		<div class="modal-dialog modal-lg">
			<div class="modal-content">
				<div class="modal-header">
					<a
						type="button"
						class="close"
						data-dismiss="modal"
						data-ng-click="vm.getTotalOther(vm.doctorPayments[vm.index].detail)"
					>
						<span>&times;</span>
					</a>
					<h4>
						<label>{{'AllowanceDeduction' | translate}}</label>
					</h4>
				</div>
				<div class="modal-body">
					<div class="table-responsive">
						<table class="table table-striped">
							<thead>
								<tr>
									<th width="3%">#</th>
									<th width="25%">{{"Name"|translate}}</th>
									<th width="15%">{{"Amount"|translate}}</th>
									<th width="30%">{{"Description"|translate}}</th>
								</tr>
							</thead>
							<tbody>
								<tr data-ng-repeat="row in vm.detail">
									<td>{{$index+1}}</td>
									<td>
										{{row.allowance_name}}
									</td>
									<td>
										{{row.amount}}
									</td>
									<td>
										{{row.description}}
									</td>
								</tr>
								<tr data-ng-if="!vm.detail || vm.detail.length == 0">
									<td colspan="4">
										<empty-data></empty-data>
									</td>
								</tr>
							</tbody>
						</table>
					</div>
				</div>
				<div class="modal-footer">
					<a
						class="btn btn-default"
						data-dismiss="modal"
					>
						<i class="fa fa-close"></i>
						{{'Close' | translate}}
					</a>
				</div>
			</div>
		</div>
	</div>