<div class="panel panel-default">
    <div class="panel-heading">
        <b>{{'StaffPayslipList' | translate}}</b>
    </div>
    <div class="panel-body">
        <span role-permission 
            ng-if="featureRole"
            permission="'Doctor_Payslip_Create'" 
            feature="featureRole">
            <a class="btn btn-default" ui-sref="doctor_payslip.create">
                <span class="fa fa-plus-circle"></span>
                {{'AddNew' | translate}}
            </a>
        </span>
        {{'TotalRecord' | translate}} {{vm.totalItems}}
        <form class="row">
            <div class="form-body">
                <div class="col-md-3">
                    <div class="input-group input-large">
                        <input type="text"
                               class="form-control"
                               data-ng-model="vm.search_name"
                               auto-focus
                               placeholder="{{'Search' | translate}}">

                        <span class="input-group-btn">
                            <button type="submit" class="btn blue" data-ng-click="vm.search()">
                                <i class="fa fa-search" data-ng-if="!vm.loading"></i>
                                <i class="fa fa-spinner fa-spin" data-ng-if="vm.loading"></i>
                            </button>
                        </span>
                    </div>
                </div>
            </div>
        </form>
        <div class="table-responsive">
            <table class="table table-bordered table-striped">
                <thead>
                    <th width="5%">
                        #
                    </th>
                    <th width="20%">
                        {{'Title' | translate}}
                    </th>
                    <th width="10%">
                        {{'FromDate' | translate}}
                    </th>
                    <th width="10%">
                        {{'ToDate' | translate}}
                    </th>
                    <th width="10%">
                        {{'TotalNetPay' | translate}}
                    </th>
                    <th width="23%">
                        {{'Note' | translate}}
                    </th>
                    <th width="10%">
                        {{'Status' | translate}}
                    </th>
                    <th width="15%">
                        {{'Action' | translate}}
                    </th>
                </thead>
                <tr data-ng-repeat="row in vm.doctorPayslipList.elements">
                    <td>
                        <span data-ng-bind="vm.pageSize + $index + 1"></span>
                    </td>
                    <td>
                        <span data-ng-bind="row.title"></span>
                    </td>
                    <td>
                        <span data-ng-bind="vm.service.dateFormat(row.from_date)"></span>
                    </td>
                    <td>
                        <span data-ng-bind="vm.service.dateFormat(row.to_date)"></span>
                    </td>
                    <td>
                        <span data-ng-bind="row.total_net_pay | currency"></span>
                    </td>
                    <td>
                        <span data-ng-bind="row.note"></span>
                    </td>
                    <td>
                        <label class="label " data-ng-class="{'label-success': row.status == 1, 'label-warning': row.status == 0}">
                            {{row.status == 1 ? ('Enable' | translate) : ('Disable' | translate)}}
                        </label>
                    </td>
                    <td>
                        <span role-permission 
                            ng-if="featureRole"
                            permission="'Doctor_Payslip_Edit'" 
                            feature="featureRole">
                            <button class="btn btn-default btn-xs"
                                data-ng-if="row.status != 0"
                                ui-sref="doctor_payslip.edit({id: row.id})"
                                uib-tooltip="{{'Edit' | translate}}">
                                <span class="fa fa-edit"></span>
                            </button>
                        </span>
                        <span role-permission 
                            ng-if="featureRole"
                            permission="'Doctor_Payslip_Disable'" 
                            feature="featureRole">
                            <button
                                class="btn btn-success btn-xs"
                                uib-tooltip="{{'Disable' | translate}}"
                                data-ng-click="vm.updateStatus(row);"
                                data-ng-if="row.status == 1"
                            >
                                <span class="fa fa-check-circle-o"></span>
                            </button>
                            <button
                                class="btn btn-warning btn-xs"
                                uib-tooltip="{{'Enable' | translate}}"
                                data-ng-if="row.status == 0"
                                data-ng-click="vm.updateStatus(row);"
                            >
                                <span class="fa fa-times-circle-o"></span>
                            </button>
                        </span>
                        <span role-permission 
                            ng-if="featureRole"
                            permission="'Doctor_Payslip_View'" 
                            feature="featureRole">
                            <a class="btn btn-primary btn-xs"
                            ui-sref="doctor_payslip.detail({id: row.id})"
                            uib-tooltip="{{'Detail' | translate}}">
                                <span class="fa fa-eye"></span>
                            </a>
                        </span>
                        <span role-permission 
                            ng-if="featureRole"
                            permission="'Doctor_Payslip_Delete'" 
                            feature="featureRole">
                            <a class="btn btn-danger btn-xs"
                                data-ng-click="vm.deletePayslip(row.id);"
                                uib-tooltip="{{'Delete' | translate}}">
                                <span class="fa fa-trash"></span>
                            </a>
                        </span>
                    </td>
                </tr>
            </table>
        </div>
        <div
            data-ng-if="vm.doctorPayslipList.elements == 0"
        >
            <empty-data></empty-data>
        </div>
        <div
            data-ng-if="!vm.doctorPayslipList"
            class="align_center"
        >
            <i class="fa fa-refresh fa-spin" style="font-size: 100px;"></i>
        </div>
    </div>
    <div class="panel-footer">
        <ul uib-pagination
            total-items="vm.totalItems"
            ng-model="vm.currentPage"
            ng-change="vm.pageChanged()"
            max-size="5"
            items-per-page="10"
            boundary-links="true"
        ></ul>
    </div>
</div>
