<div class="panel panel-default">
	<div class="panel-heading">
		<b>{{'SaleReturn' | translate}}</b>
	</div>
	<div class="panel-body">
		<a class="btn btn-default" 
			role-permission 
			data-ng-if="featureRole"
			permission="'Return_Invoice_Create'" 
			feature="featureRole"
			ui-sref="sale_return.create">
			<i class="fa fa-plus"></i>
			{{'AddNew' | translate}}
		</a>
		{{'TotalRecord' | translate}}: {{vm.totalItems}}
        <br/>
		<form class="row">
			<div class="form-body">
				<div class="col-md-3">
					<div class="input-group input-large">
						<input type="text"
							   class="form-control"
							   data-ng-model="vm.filterText"
							   auto-focus
							   placeholder="{{'Search' | translate}}">
                        <span class="input-group-btn">
                            <button type="submit" class="btn blue" data-ng-click="vm.search()">
								<i class="fa fa-search" data-ng-if="!vm.loading"></i>
								<i class="fa fa-spin fa-spinner" data-ng-if="vm.loading"></i>
							</button>
                        </span>
					</div>
				</div>
			</div>
		</form>
		<div class="table-responsive">
			<table class="table table-bordered">
				<thead>
					<tr>
						<th width="2%">
							#
						</th>
						<th width="12%">
							{{'InvoiceNo' | translate}}
						</th>
						<th width="10%">
							{{'InvoiceDate' | translate}}
						</th>
						<th width="12%">
							{{'Title' | translate}}
						</th>
						<th width="12%">
							{{'CustomerName' | translate}}
						</th>
						<th width="10%">
							{{'CreateBy' | translate}}
						</th>
						<th width="12%">
							{{'CreateDate' | translate}}
						</th>
						<th width="10%">
							{{'TotalAmount' | translate}}
						</th>
						<th width="5%">
							{{'Status' | translate}}
						</th>
						<th width="10%">
							{{'Action' | translate}}
						</th>
					</tr>
				</thead>
				<tr data-ng-repeat="p in vm.invoiceList.elements">
					<td>{{ vm.pageSize + $index + 1}}</td>
					<td>{{p.stock_out_no}}</td>
					<td>{{vm.service.dateFormat(p.stock_out_date)}}</td>
					<td>{{p.title}}</td>
					<td>
						{{p.customer_name}}
						<span class="label label-primary">
							{{p.customer_code}}
						</span>
					</td>
					<td>{{p.creator}}</td>
					<td>{{vm.convertDate(p.create_date) | date: 'dd-mm-yyyy h:mm a'}}</td>
					<td>{{p.grand_total | currency}}</td>
					<td>
						<label class="label " data-ng-class="{'label-success': p.status == 1, 'label-warning': p.status == 0}">
							{{p.status == 1 ? ('Record' | translate) : ('Void' | translate) }}
						</label>
					</td>
					<td>
						<span ng-if="featureRole">
							<button
								role-permission 
								permission="'Return_Invoice_Disable'" 
								feature="featureRole"
								class="btn btn-success btn-xs"
								data-ng-click="vm.updateStatus(p);"
								uib-tooltip="{{'Void' | translate}}"
								data-ng-if="p.status == 1"
							>
								<span class="fa fa-check-circle-o"></span>
							</button>
							<button
								role-permission 
								permission="'Return_Invoice_Disable'" 
								feature="featureRole"
								class="btn btn-warning btn-xs"
								uib-tooltip="{{'Enable' | translate}}"
								data-ng-if="p.status == 0"
								data-ng-disabled="true"
								data-ng-click="vm.updateStatus(p);"
							>
								<span class="fa fa-times-circle"></span>
							</button>
						</span>
						<a ui-sref="sale_return.detail({id: p.id})"
							uib-tooltip="{{'Detail' | translate}}"
							class="btn btn-primary btn-xs">
							<span class="fa fa-eye"></span>
						</a>
					</td>
				</tr>
			</table>
		</div>
		<div data-ng-if="vm.invoiceList.count == 0">
			<empty-data></empty-data>
		</div>
		<div data-ng-if="!vm.invoiceList" class="align_center">
			<i class="fa fa-refresh fa-spin" style="font-size: 100px;"></i>
		</div>
		<div class="panel-footer">
			<ul uib-pagination
				total-items="vm.totalItems"
				ng-model="vm.currentPage"
				ng-change="vm.pageChanged()"
				max-size="10"
				items-per-page="10"
				boundary-links="true"></ul>
		</div>
	</div>
</div>
