<div
    class="modal fade"
    id="invoice-popup"
    data-keyboard="false"
    data-backdrop="static"
>
    <div class="modal-dialog modal-md">
        <div class="modal-content">
            <div class="modal-body">
                <div class="tab-content" id="print">
                    <table width="100%">
                        <tr>
                            <td>
                                <img src="{{company.logo}}" style="width: 90px; position: absolute;"/>
                                <div style="text-align: center;font-weight: bold">
                                    <h4 data-ng-bind-html="company.company_name" style="font-weight: bold"></h4>
                                    <p data-ng-bind-html="company.address"></p>
                                </div>
                            </td>
                        </tr>
                    </table>
                    <table width="100%">
                        <tr>
                            <td colspan="4" align="center">
                                <b>
                                    វិក័យប័ត្រនៃការព្យាបាលធ្មេញ
                                    <br/>
                                    Invoice of Dental Treatment
                                </b>
                            </td>
                        </tr>
                        <tr> 
                            <td colspan="4" style="height: 10px;"></td>
                        </tr>
                        <tr>
                            <td>
                                <b>ឈ្មោះ/Name:</b>
								<span style="text-transform: capitalize;">
									{{vm.copyCustomer.customers_name}}
								</span>
                            </td>
                            <td>
                                <b>ភេទ/Sex:</b>
                                {{vm.copyCustomer.customers_gender}}
                            </td>
                            <td>
                                <b>អាយុ/Age:</b>
								<span data-ng-if="vm.service.getAgeWithNoString(vm.copyCustomer.customers_dob) > 0">
									{{vm.service.getAgeWithNoString(vm.copyCustomer.customers_dob)}}
								</span>
                            </td>
                            <td>
                                <b>Inv:</b>
                                {{vm.invoiceNo}}
                            </td>
                        </tr>
                        <!--<tr>
                            <td width="35%">
                                <b>Date: </b> {{vm.today | date: "dd/MMM/yyyy"}}
                            </td>
                            <td width="35%">
                                <b>Time: </b> {{vm.today | date: "h:mm:ss a"}}
                            </td>
                        </tr>-->
                    </table>
                    <br/>
                    <table class="table-print">
                        <tr>
                            <th width="5%">
                                ល.រ<br/>
                                N<sup>o</sup>
                            </th>
                            <th width="50%">
                                ប្រភេទនៃការព្យាបាល<br/>
                                Dental Treatment Procedures
                            </th>
                            <th width="17%">
                                តំលៃព្យាបាល<br/>
                                Price of Each
                            </th>
                            <th width="12%">
                                បញ្ចុះតំលៃ<br/>
                                Discount
                            </th>
                            <th width="17%">
                                សរុប
                                <br/>Total
                            </th>
                        </tr>
                        <tr data-ng-repeat="item in vm.printData.stock_detail" style="vertical-align: top;">
                            <td>
                                {{$index + 1}}
                            </td>
                            <td>
                                {{item.product_name}}
                            </td>
                            <td>
                                {{item.unit_price + item.add_more_price | currency}}
                            </td>
                            <td>
                                {{item.discount_cash > 0 ? (item.discount_cash | currency) : item.discount_percent+"%" }}
                            </td>
                            <td>
                                {{item.total | currency}}
                            </td>
                        </tr>
                        <tr style="vertical-align: top;">
                            <td rowspan="5" colspan="2">
                                <span data-ng-bind-html="company.description"></span>
                            </td>
                            <td align="right" colspan="3">
                                <b>សរុប/Sub Total: {{vm.printData.stock.sub_total | currency}}</b>
                            </td>
                        </tr>
                        <!--<tr valign="right">
                            <td align="right" colspan="3" valign="top">
                                <b>
                                    ប្រភេទបញ្ចុះតំលៃ/Dis. Type:                                    
                                    {{vm.printData.stock.discount_type}}
                                    <span ng-if="!vm.printData.stock.discount_type">0</span>
                                </b>
                            </td>
                        </tr>-->
                        <!--<tr valign="right">
                            <td align="right" colspan="3">
                                <b>
                                    បញ្ចុះតំលៃចំនួន/Dis. Amount:
                                    <span ng-if="!vm.printData.stock.discount_amount">0</span>
                                    <span data-ng-bind="vm.printData.stock.discount_amount"></span>
                                </b>
                            </td>
                        </tr>-->
                        <tr valign="right">
                            <td align="right" colspan="3">
                                <b>
                                    សរុបបញ្ចុះតំលៃចំនួន/Total Dis Amount:
                                    <span data-ng-bind="vm.printData.stock.discount_total_amount | currency"></span>
                                </b>
                            </td>
                        </tr>
                        <tr valign="right">
                            <td align="right" colspan="3">
                                <b>
                                    ទឹឹកប្រាក់សរុប/Grand Total:
                                    <span data-ng-bind="vm.printData.stock.grand_total | currency"></span>
                                </b>
                            </td>
                        </tr>
                        <tr>
                            <td align="right" colspan="3">
                                <b>
                                    ទឹកប្រាក់កក់មុន/Deposit: 
                                    {{vm.printData.stock.payment | currency}}
                                </b>
                            </td>
                        </tr>
                        <tr>
                            <td align="right" colspan="3">
                                <b>
                                    ទឹកប្រាក់នៅសល់/Balance:
                                    <span data-ng-bind="vm.printData.stock.remain | currency"></span>
                                </b>
                            </td>
                        </tr>
                    </table>
                    <br/>
                    <table style="width: 100%;text-align: center;">
                        <tr>
                            <td>
                                ទន្តបណ្ឌិត
                            </td>
                            <td>
                                អ្នកទទួល
                            </td>
                            <td>
                                អ្នកប្រគល់
                            </td>
                        </tr>
                    </table>
                    <div style="
							text-align: center;
							vertical-align: middle;
							text-transform: capitalize;
							font-size: 10px;
                            margin-top: 70px;
						"
                    >
                        Thank you for your confidence.
                        See you again.
                        <br/>
                        Power by SKWEB Solution. Tel: 070 955 102
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button class="btn btn-default"
                        data-dismiss="modal"
                        data-ng-click="vm.invoiceNo = ''"
                >
                    <i class="fa fa-close"></i>
                    {{'Close' | translate}}
                </button>
                <button class="btn btn-primary"
                        onclick="PrintElem('#print')"
                >
                    <i class="fa fa-print"></i>
                    {{'Print' | translate}}
                </button>
            </div>
        </div>
    </div>
</div>