<div class="panel panel-default">
    <div class="panel-heading">
        <b>{{'UserManagement' | translate}}</b>
    </div>
    <div class="panel-body">
        <button
                class="btn btn-default"
                data-ng-click="add();vm.isCreate=true;vm.isEdit=false;"
                data-toggle="modal"
                data-target="#user-popup"
                >
            <span class="fa fa-plus-circle"></span>
            {{'AddNew' | translate}}
        </button>
        {{'TotalRecord' | translate}}: {{vm.totalItems}}
        <br/>
        <form class="row">
			<div class="form-body">
				<div class="col-md-3">
					<div class="input-group input-large">
						<input type="text"
							   class="form-control"
							   data-ng-model="vm.fitler_text"
							   auto-focus
							   placeholder="{{'Search' | translate}}">

                        <span class="input-group-btn">
                            <button type="submit" class="btn blue" data-ng-click="vm.init()">
								<i class="fa fa-search" data-ng-if="!vm.loading"></i>
								<i class="fa fa-spinner fa-spin" data-ng-if="vm.loading"></i>
							</button>
                        </span>
					</div>
				</div>
			</div>
        </form>
        <div class="table-responsive">
            <table class="table table-bordered table-striped">
                <thead>
                <th width="50px">
                    #
                </th>
                <th>
                    {{'UserName' | translate}}
                </th>
                <th>
                    {{'FullName' | translate}}
                </th>
                <th>
                    {{'Email' | translate}}
                </th>
                <th>
                    {{'Role' | translate}}
                </th>
                <th>
                    {{'LinkTo' | translate}}
                </th>
                <th>
                    {{'BlockIp' | translate}}
                </th>
                <th width="200px">
                    {{'Action' | translate}}
                </th>
                </thead>
                <tr data-ng-repeat="user in vm.users.elements">
                    <td>
                        <span data-ng-bind="$index + 1"></span>
                    </td>
                    <td>
                        <span data-ng-bind="user.user_name"></span>
                    </td>
                    <td>
                        <span data-ng-bind="user.full_name"></span>
                    </td>
                    <td>
                        <span data-ng-bind="user.email"></span>
                    </td>
                    <td>
                        <span data-ng-bind="user.role_detail[0].role_name"></span>
                    </td>
                    <td>
                        <span data-ng-bind="user.link_to_detail[0].name"></span>
                    </td>
                    <td>
                        <span data-ng-bind="user.block_ip"></span>
                    </td>
                    <td>
                        <button class="btn btn-default btn-xs" 
                            uib-tooltip="{{'Edit' | translate}}"
                            data-ng-click="vm.edit(user);vm.isCreate=true;vm.isEdit=true;">
                            <span class="fa fa-edit"></span>
                        </button>
                        <button class="btn btn-success btn-xs"
                            data-ng-click="vm.updateStatus(user);"
                            data-ng-if="user.status == 1 && userName != user.user_name"
                            uib-tooltip="{{'Enable' | translate}}">
                            <span class="fa fa-check-square-o"></span>
                        </button>
                        <button class="btn btn-warning btn-xs"
                            uib-tooltip="{{'Disable' | translate}}"
                            data-ng-if="user.status == 0 && userName != user.user_name"
                            data-ng-click="vm.updateStatus(user);">
                            <span class="fa fa-minus-square-o"></span>
                        </button>
                        <button class="btn btn-primary btn-xs" 
                            uib-tooltip="{{'ChangePassword' | translate}}"
                            data-ng-click="vm.edit(user);vm.isUpdatePaas=true;">
                            <span class="fa fa-key"></span>
                        </button>
                        <button class="btn btn-danger btn-xs" 
                            data-ng-if="userName != user.user_name"
                            uib-tooltip="{{'Delete' | translate}}"
                            data-ng-click="vm.delete(user);">
                            <span class="fa fa-trash"></span>
                        </button>
                    </td>
                </tr>
            </table>
        </div>
        <div data-ng-if="vm.users.elements == 0">
            <empty-data></empty-data>
        </div>
        <div data-ng-if="!vm.users" class="align_center">
            <i class="fa fa-refresh fa-spin" style="font-size: 100px;"></i>
        </div>
    </div>
    <div class="panel-footer">
        <ul uib-pagination
            total-items="vm.totalItems"
            ng-model="vm.currentPage"
            ng-change="vm.pageChanged()"
            max-size="5"
            items-per-page="10"
            boundary-links="true"
        ></ul>
    </div>
</div>
<user:popup></user:popup>