<form data-ng-submit="vm.save();" name="userForm" novalidate class="form form-horizontal">
	<div
		class="modal fade"
		id="user-popup"
		data-keyboard="false"
		data-backdrop="static"
	>
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<a
						type="button"
						class="close"
						data-dismiss="modal"
						data-ng-click="vm.closeForm();vm.isCreate=false;vm.isUpdatePaas=false;"
					>
						<span>&times;</span>
					</a>
					<h4>
						<label>{{'UserManagement' | translate}}</label>
					</h4>
				</div>
				<div class="modal-body" data-ng-if="vm.isCreate">
                    <div data-ng-if="vm.error" class="alert alert-warning ">
                        {{'DuplicateUserName' | translate}}
                    </div>
					<div class="">
						<div class="form-group"
							 data-ng-class="{ 'has-error': userForm.userName.$error.required && userForm.$submitted }">
							<div class="col-md-3">
                                    <span class="control-label">
                                        {{'UserName' | translate}}
                                        <span class="required">*</span>
                                    </span>
							</div>
							<div class="col-md-9">
								<input class="form-control"
									   type="text"
									   name="userName"
									   autocomplete="off"
									   data-ng-model="vm.user.user_name"
										placeholder="{{'UserName' | translate}}"
									   required="required" />
								<div translate="ThisFieldRequire" class="has-error msg-error"
									 data-ng-if="userForm.userName.$error.required && userForm.$submitted"></div>
							</div>
						</div>
					</div>
					<div class="">
						<div class="form-group"
							 data-ng-class="{ 'has-error': userForm.full_name.$error.required && userForm.$submitted }">
							<div class="col-md-3">
								<span class="control-label">
									{{'FullName' | translate}}
									<span class="required">*</span>
								</span>
							</div>
							<div class="col-md-9">
								<input class="form-control"
									   type="text"
									   name="full_name"
									   data-ng-model="vm.user.full_name"
									   placeholder="{{'FullName' | translate}}"
									   required="required" />
								<div translate="ThisFieldRequire" class="has-error msg-error"
									 data-ng-if="userForm.full_name.$error.required && userForm.$submitted"></div>
							</div>
						</div>
					</div>
					<div class="">
						<div class="form-group"
							 data-ng-class="{ 'has-error': userForm.email.$invalid && userForm.$submitted }">
							<div class="col-md-3">
								<span class="control-label">
									{{'Email' | translate}}
									<span class="required">*</span>
								</span>
							</div>
							<div class="col-md-9">
								<input class="form-control"
									   type="email"
									   autocomplete="off"
										placeholder="{{'Email' | translate}}"
									   name="email"
									   data-ng-model="vm.user.email"
									   required="required" />
								<div translate="InvalidInput" class="has-error msg-error"
									 data-ng-if="userForm.email.$invalid && userForm.$submitted"></div>
							</div>
						</div>
					</div>
					<div class="" data-ng-if="!vm.isEdit">
						<div class="form-group"
							 data-ng-class="{ 'has-error': userForm.password.$error.required && userForm.$submitted }">
							<div class="col-md-3">
								<span class="control-label">
									{{'Password' | translate}}
									<span class="required">*</span>
								</span>
							</div>
							<div class="col-md-9">
								<input class="form-control"
									   type="password"
										placeholder="{{'Password' | translate}}"
									   autocomplete="off"
									   name="password"
									   data-ng-model="vm.user.user_password"
									   required="required" />
								<div translate="ThisFieldRequire" class="has-error msg-error"
									 data-ng-if="userForm.password.$error.required && userForm.$submitted"></div>
							</div>
						</div>
					</div>
					<div class="">
						<div class="form-group"
							 data-ng-class="{ 'has-error': userForm.role.$error.required && userForm.$submitted }">
							<div class="col-md-3">
								<span class="control-label">
									{{'Role' | translate}}
									<span class="required">*</span>
								</span>
							</div>
							<div class="col-md-9">
								<select
										class="form-control"
										data-ng-model="vm.user.role_id"
										data-ng-options="role.id as role.role_name for role in vm.roles.elements"
										name="role"
										required>
									<option value="">{{"Select" | translate}}</option>
								</select>
								<div translate="ThisFieldRequire" class="has-error msg-error"
									 data-ng-if="userForm.role.$error.required && userForm.$submitted"></div>
							</div>
						</div>
					</div>
					<div class="">
						<div class="form-group">
							<div class="col-md-3">
								<span class="control-label">
									{{'LinkTo' | translate}}
								</span>
							</div>
							<div class="col-md-9">
								<select class="form-control"
										data-ng-model="vm.user.link_to"
										data-ng-options="x.id as x.name for x in vm.staff.elements"
										name="linkTo">
									<option value="">{{"Select" | translate}}</option>
								</select>
							</div>
						</div>
					</div>
					<div class="">
						<div class="form-group">
							<div class="col-md-3">
								<span class="control-label">
									{{'BlockIp' | translate}}
								</span>
							</div>
							<div class="col-md-9">
								<input type="text" class="form-control"
										placeholder="{{'BlockIp' | translate}}"
										data-ng-model="vm.user.block_ip"
										name="block_ip"/>
							</div>
						</div>
						<div class="clearfix"></div>
					</div>
				</div>
				<div class="modal-body" data-ng-if="vm.isUpdatePaas">
					<div class="">
						<div class="form-group"
							 data-ng-class="{ 'has-error': userForm.password.$error.required && userForm.$submitted }">
							<div class="col-md-3">
								<span class="control-label">
									{{'Password' | translate}}
									<span class="required">*</span>
								</span>
							</div>
							<div class="col-md-9">
								<input class="form-control"
									   type="password"
									   placeholder="{{'Password' | translate}}"
									   autocomplete="off"
									   name="password"
									   data-ng-model="vm.user.user_password"
									   required="required" />
								<div translate="ThisFieldRequire" class="has-error msg-error"
									 data-ng-if="userForm.password.$error.required && userForm.$submitted"></div>
							</div>
						</div>
					</div>
				</div>
				<div class="modal-footer">
					<a
						class="btn btn-default"
						data-ng-click="vm.close();vm.isCreate=false;vm.isUpdatePaas=false;"
						data-dismiss="modal"
					>
						<i class="fa fa-close"></i>
						{{'Close' | translate}}
					</a>
					<button
						class="btn btn-primary"
						data-ng-disabled="!vm.disable"
					>
						<i class="fa fa-save" data-ng-if="vm.disable"></i>
						<i class="fa fa-refresh fa-spin" data-ng-if="!vm.disable"></i>
						{{'Save' | translate}}
					</button>
				</div>
			</div>
		</div>
	</div>
</form>


