<div class="panel panel-default">
	<div class="panel-heading">
		{{'CustomerTreatmentReport' | translate}}
	</div>
	<div class="panel-body">
		<form novalidate name="form" class="form-horizontal">
			<div class="row">
				<div class="col-md-3">
					<customer-list-drop-down ng-model="vm.customer_list" 
						required="required"
						name="customer"></customer-list-drop-down>
					<div translate="ThisFieldRequire" class="has-error msg-error"
							data-ng-if="form.customer.$error.required && form.$submitted"></div>
				</div>
				<div class="col-md-9">
					<button class="btn btn-primary"
							data-ng-click="vm.customer_list=null"
							uib-tooltip="{{'ClearSelect' | translate}}">
						<i class="fa fa-refresh" aria-hidden="true"></i>
					</button>
					<button class="btn btn-success" data-ng-click="vm.init();">
						<i class="fa fa-hourglass-half"></i>
						{{'Filter' | translate}}
					</button>
					<button class="btn btn-default margin-top"
							onclick="PrintElem('#print')"
							data-ng-disabled="!vm.model">
						<i class="fa fa-print"></i>
						{{'Print' | translate}}
					</button>
				</div>
			</div>
		</form>
		<hr />
		<div data-ng-if="vm.model.count" id="print">
			<table width="100%">
				<tr>
					<td align="center">
						<h3 ng-bind="company.company_name"></h3>
						<h4 ng-bind="'CustomerTreatmentReport' | translate"></h4>
					</td>
				</tr>
			</table>
			<table width="100%">
				<tr>
					<td>
						{{"Name" | translate}}: {{vm.customer_list_copy.customers_name}}
					</td>
					<td>
						{{"Gender" | translate}}: {{vm.customer_list_copy.customers_gender}}
					</td>
					<td>
						{{"Age" | translate}}: {{vm.service.getAge(vm.customer_list_copy.customers_dob)}}
					</td>
				</tr>
				<tr>
					<td>
						{{"Occupation" | translate}}: {{vm.customer_list_copy.customers_occupation}}
					</td>
					<td>
						{{"MaterialStatus" | translate}}: {{vm.customer_list_copy.customers_material_status}}
					</td>
					<td>
						{{"Telephone" | translate}}: {{vm.customer_list_copy.customers_telephone | tel}}
					</td>
				</tr>
				<tr>
					<td colspan="3">
						{{"Email" | translate}}: {{vm.customer_list_copy.customers_email_address}}
					</td>
				</tr>
				<tr>
					<td colspan="3">
						{{"Address" | translate}}: {{vm.customer_list_copy.customers_address}}
					</td>
				</tr>
			</table>
			<br/>
			<table class="table-print">
				<tr>
					<th width="5%">
						#
					</th>
					<th width="15%">
						{{'Date' | translate}}
					</th>
					<th width="30%">
						{{'Description' | translate}}
					</th>
					<th width="30%">
						{{'Remark' | translate}}
					</th>
					<th width="15%">
						{{'CheckBy' | translate}}
					</th>
				</tr>
				<tr data-ng-repeat="c in vm.model.elements track by c.id">
					<td>
						{{vm.pageSize + $index +1}}
					</td>
					<td>
						{{vm.service.dateFormat(c.date)}}
					</td>
					<td>
						{{c.description}}
					</td>
					<td>
						{{c.remark}}
					</td>
					<td>
						{{c.check_by_staff_name}}
					</td>
				</tr>
			</table>
		</div>
		<div
			class="panel-footer"
			data-ng-show="vm.totalItems > 100"
		>
			<pagination
				total-items="vm.totalItems"
				ng-model="vm.currentPage"
				ng-change="vm.pageChanged()"
				max-size="10"
				items-per-page="100"
				boundary-links="true"
			></pagination>
		</div>
		<div
			data-ng-if="vm.model.count == 0"
		>
			<empty-data></empty-data>
		</div>
		<div
			data-ng-if="vm.loading"
			class="align_center"
		>
			<i class="fa fa-refresh fa-spin" style="font-size: 100px;"></i>
		</div>
	</div>
</div>
