<div class="panel panel-default">
	<div class="panel-heading">
		{{'CustomerBalanceReport' | translate}}
	</div>
	<div class="panel-body">
		<form class="row" name="report" novalidate>
			<div class="col-md-2">
				<div class="form-group"
					 data-ng-class="{ 'has-error': report.from_date.$error.required && report.$submitted }">
					<div class="">
						<div cambodia-date-picker date-format="y-MM-dd" class="input-group">
							<input type="text" class="form-control" name="from_date"
								   data-ng-model="vm.from_date"  placeholder="{{'FromDate' | translate}}"/>
							<span class="input-group-btn">
								<button class="btn btn-default" type="button">
									<i class="fa fa-calendar"></i>
								</button>
							</span>
						</div>
					</div>
					<div translate="ThisFieldRequire" class="has-error msg-error msg-drop-down"
						 data-ng-if="report.from_date.$error.required && report.$submitted"></div>
				</div>
			</div>
			<div class="col-md-2">
				<div class="form-group"
					 data-ng-class="{ 'has-error': report.toDate.$error.required && report.$submitted }">
					<div class="">
						<div cambodia-date-picker date-format="y-MM-dd" class="input-group">
							<input type="text" class="form-control" data-ng-model="vm.to_date"
								   name="toDate" placeholder="{{'ToDate' | translate}}"/>
								<span class="input-group-btn">
									<button class="btn btn-default" type="button">
										<i class="fa fa-calendar"></i>
									</button>
								</span>
						</div>
						<div translate="ThisFieldRequire" class="has-error msg-error msg-drop-down"
							 data-ng-if="report.toDate.$error.required && report.$submitted"></div>
					</div>
				</div>
			</div>
			<div class="col-md-3">
				<customer-list-drop-down ng-model="vm.customerObj"></customer-list-drop-down>
			</div>
			<div class="col-md-5">
				<button class="btn btn-primary"
						data-ng-click="vm.customerObj=null;"
						uib-tooltip="{{'ClearSelect' | translate}}">
					<i class="fa fa-refresh" aria-hidden="true"></i>
				</button>
				<button class="btn btn-success" data-ng-click="vm.init();">
					<i class="fa fa-hourglass-half"></i>
					{{'Filter' | translate}}
				</button>
				<button class="btn btn-default margin-top"
						onclick="PrintElem('#print')"
						data-ng-disabled="!vm.totalItems">
					<i class="fa fa-print"></i>
					{{'Print' | translate}}
				</button>
				<span role-permission 
					 ng-if="featureRole"
					 permission="'Customer_Balance_Report_Export'" 
					 feature="featureRole">
					<button class="btn btn-info margin-top"
							ng-csv="vm.csv"
							data-ng-disabled="!vm.totalItems"
							add-bom="true"
							csv-header="vm.headers"
							filename="customer_balance.csv">
						<i class="fa fa-file-excel-o"></i>
						{{'ExportCSV' | translate}}
					</button>
				</span>
			</div>
		</form>
		<div data-ng-if="vm.invoice.count" id="print">
			<table width="100%">
				<tr>
					<td align="center">
						<h3 ng-bind="company.company_name"></h3>
						<h4>
							{{'CustomerBalanceReport' | translate}}
						</h4>
						{{'FromDate' | translate}} {{vm.from_date}} 
						{{'ToDate' | translate}} {{vm.to_date}}
					</td>
				</tr>
			</table>
			<br/><br/>
			<table class="table-print">
				<tr>
					<th>
						#
					</th>
					<th>
						{{'InvoiceNo' | translate}}
					</th>
					<th>
						{{'InvoiceDate' | translate}}
					</th>
					<th>
						{{'CustomerName' | translate}}
					</th>
					<th>
						{{'Telephone' | translate}}
					</th>
					<th>
						{{'Balance' | translate}}
					</th>
				</tr>
				<tr data-ng-repeat="i in vm.invoice.elements">
					<td>
						{{$index +1}}
					</td>
					<td>
						<a ui-sref="report_invoice({data: i})" class="link">
							{{i.invoice_no}}
						</a>
					</td>
					<td>
						{{vm.service.dateFormat(i.invoice_date)}}
					</td>
					<td>
						{{i.customer_name}}
						<span class="label label-primary">
							{{i.customer_code}}
						</span>
					</td>
					<td>
						{{i.customer_tel | tel}}
					</td>
					<td>
						{{i.balance | currency}}
					</td>
				</tr>
				<tr>
					<td colspan="5" align="right">
						<b>Total Balance:</b>
					</td>
					<td>
						<b>{{vm.total_balance | currency}}</b>
					</td>
				</tr>
			</table>
		</div>
		<div data-ng-if="vm.invoice.count == 0">
			<empty-data></empty-data>
		</div>
		<div data-ng-if="vm.loading" class="align_center">
			<i class="fa fa-refresh fa-spin" style="font-size: 100px;"></i>
		</div>
	</div>
</div>
