<div class="panel panel-default">
	<div class="panel-heading">
		{{'InvoiceSummaryReport' | translate}}
	</div>
	<div class="panel-body">
		<form class="row" name="report" novalidate>
			<div class="col-md-2 col-sm-6"
				 data-ng-class="{ 'has-error': report.from_date.$error.required && report.$submitted }">
				<div cambodia-date-picker date-format="y-MM-dd" class="input-group">
					<input type="text"
						   class="form-control"
						   data-ng-model="vm.from_date"						   
						   name="from_date"
						   placeholder="{{'FromDate' | translate}}"/>
					<span class="input-group-btn">
						<button class="btn btn-default" type="button">
							<i class="fa fa-calendar"></i>
						</button>
					</span>
				</div>
				<div translate="ThisFieldRequire" class="has-error msg-error msg-drop-down"
					 data-ng-if="report.from_date.$error.required && report.$submitted"></div>
			</div>
			<div class="col-md-2 col-sm-6"
				 data-ng-class="{ 'has-error': report.to_date.$error.required && report.$submitted }">
				<div cambodia-date-picker date-format="y-MM-dd" class="input-group">
					<input type="text"
						   name="to_date"
						   class="form-control"
						   data-ng-model="vm.to_date"
						   placeholder="{{'ToDate' | translate}}"/>
					<span class="input-group-btn">
						<button class="btn btn-default" type="button">
							<i class="fa fa-calendar"></i>
						</button>
					</span>
				</div>
				<div translate="ThisFieldRequire"
					 class="has-error msg-error msg-drop-down"
					 data-ng-if="report.to_date.$error.required && report.$submitted"></div>
			</div>
			<div class="col-md-2">
				<customer-list-drop-down ng-model="vm.customer"></customer-list-drop-down>
			</div>
			<div class="col-md-2">
				<staff-list-drop-down ng-model="vm.staff"></staff-list-drop-down>
			</div>
			<div class="col-md-3">
				<button class="btn btn-primary"
						data-ng-click="vm.from_date = ''; vm.to_date = '';vm.customer=null;"
						uib-tooltip="{{'ClearSelect' | translate}}">
					<i class="fa fa-refresh" aria-hidden="true"></i>
				</button>
				<button class="btn btn-success" data-ng-click="vm.init();">
					<i class="fa fa-hourglass-half"></i>
					{{'Filter' | translate}}
				</button>
				<button class="btn btn-default margin-top"
						onclick="PrintElem('#print')"
						data-ng-disabled="!vm.invoices.count">
					<i class="fa fa-print"></i>
					{{'Print' | translate}}
				</button>
				<!-- <span role-permission 
					 ng-if="featureRole"
					 permission="'Sell_Detail_Report_Export'" 
					 feature="featureRole">
					<button class="btn btn-info margin-top"
							ng-csv="vm.csv"
							data-ng-disabled="!vm.stockOut.count"
							csv-header="vm.headers"
							add-bom="true"
							filename="sale_summary_report.csv">
						<i class="fa fa-file-excel-o"></i>
						{{'ExportCSV' | translate}}
					</button>
				</span> -->
			</div>
		</form>

		<div data-ng-if="vm.invoices.elements.length > 0" id="print" class="table-responsive">
			<table width="100%">
				<tr>
					<td align="center">
						<h3 ng-bind="company.company_name"></h3>
						<h4>
							{{'InvoiceSummaryReport' | translate}}
						</h4>
						{{'FromDate' | translate}} {{vm.from_date}}
						{{'ToDate' | translate}} {{vm.to_date}}
					</td>
				</tr>
			</table>
			<table class="table-print">
				<tr>
					<th width="5%">
						#
					</th>
					<th width="15%">
						{{'InvoiceNo' | translate}}
					</th>
					<th width="10%">
						{{'InvoiceDate' | translate}}
					</th>
					<th width="15%">
						{{'CustomerName' | translate}}
					</th>
					<th width="10%">
						{{'SubTotal' | translate}}
					</th>
					<th width="9%">
						{{'TotalDiscount' | translate}}
					</th>
					<th width="10%">
						{{'GrandTotal' | translate}}
					</th>
					<th width="10%">
						{{'Deposit' | translate}}
					</th>
					<th width="10%">
						{{'Balance' | translate}}
					</th>
				</tr>
				<tr data-ng-repeat="item in vm.invoices.elements">
					<td>
						{{$index +1}}
					</td>
					<td>
						{{item.invoice_no}}
					</td>
					<td>
						{{vm.service.dateFormat(item.invoice_date) | date: 'dd/MM/yyyy'}}
					</td>
					<td>
						{{item.customer_name}}
						<span class="label label-default">{{item.customer_code}}</span>
					</td>
					<td>
						{{item.sub_total | currency}}
					</td>
					<td>
						{{item.total_discount | currency}}
					</td>
					<td>
						{{item.grand_total | currency}}
					</td>
					<td>
						{{item.deposit | currency}}
					</td>
					<td>
						{{item.balance | currency}}
					</td>
				</tr>
				<tr>
					<td colspan="8" align="right">
						<b>{{'SubTotal' | translate}}</b>
					</td>
					<td>
						<b>{{vm.total_sub_total | currency}}</b>
					</td>
				</tr>
				<tr>
					<td colspan="8" align="right">
						<b>{{'TotalDiscount' | translate}}</b>
					</td>
					<td>
						<b>{{vm.total_discount | currency}}</b>
					</td>
				</tr>
				<tr>
					<td colspan="8" align="right">
						<b>{{'GrandTotal' | translate}}</b>
					</td>
					<td>
						<b>{{vm.grand_total | currency}}</b>
					</td>
				</tr>
				<tr>
					<td colspan="8" align="right">
						<b>{{'TotalDeposit' | translate}}</b>
					</td>
					<td>
						<b>{{vm.total_deposit | currency}}</b>
					</td>
				</tr>
				<tr>
					<td colspan="8" align="right">
						<b>{{'TotalBalance' | translate}}</b>
					</td>
					<td>
						<b>{{vm.total_balance | currency}}</b>
					</td>
				</tr>
			</table>
		</div>
		<div data-ng-if="vm.invoices.count == 0">
			<empty-data></empty-data>
		</div>
		<div data-ng-if="vm.loading" class="align_center">
			<i class="fa fa-refresh fa-spin" style="font-size: 100px;"></i>
		</div>
	</div>
</div>
