<div class="panel panel-default">
    <div class="panel-heading">
        <b>Account Type</b>
    </div>
    <div class="panel-body">
        <button
            class="btn btn-default"
            data-toggle="modal"
            data-target="#account-type-popup"
            data-ng-hide="true"
        >
            <span class="fa fa-plus-circle"></span>
            Add New
        </button>
        <br/><br/>
        <table class="table table-bordered table-striped">
            <thead>
            <th>
                Id
            </th>
            <th>
                Name
            </th>

            <th>
                Min Values
            </th>
            <th>
                Max Values
            </th>
            <th>
                Debit/Credit
            </th>
            <th width="150px">
                Action
            </th>
            </thead>
            <tr data-ng-repeat="account in accountType.elements">
                <td>
                    <span data-ng-bind="account.id"></span>
                </td>
                <td>
                    <span data-ng-bind="account.name"></span>
                </td>
                <td>
                    <span data-ng-bind="account.min_values"></span>
                </td>
                <th>
                    <span data-ng-bind="account.max_values"></span>
                </th>
                <td>
                    <span data-ng-bind="account.drcr"></span>
                </td>
                <td>
                    <button class="btn btn-default" data-ng-click="edit(account);">
                        <span class="fa fa-edit"></span>
                    </button>
                    <button
                        class="btn btn-success"
                        data-ng-click="updateStatus(account);"
                        data-ng-if="account.status == 1"
                    >
                        <span class="fa fa-check-square-o"></span>
                    </button>
                    <button
                        class="btn btn-warning"
                        data-ng-if="account.status == 0"
                        data-ng-click="updateStatus(account);"
                    >
                        <span class="fa fa-minus-square-o"></span>
                    </button>
                </td>
            </tr>
        </table>
        <div
            data-ng-if="accountType.elements == 0"
        >
            <div class="alert alert-warning alert-dismissible">
                <strong>Warning!</strong> No product post.
            </div>
        </div>
        <div
            data-ng-if="!accountType"
            class="align_center"
            <i class="fa fa-refresh fa-spin" style="font-size: 100px;"></i>
        </div>
    </div>
</div>
<div
    class="panel-footer"
    data-ng-show="totalItems > 10"
>
    <pagination
        total-items="totalItems"
        ng-model="currentPage"
        ng-change="pageChanged()"
        max-size="5"
        items-per-page="10"
        boundary-links="true"
    ></pagination>
</div>
<account:type:popup></account:type:popup>