<div class="panel panel-default">
    <div class="panel-heading">
        <b>{{'CustomerType' | translate}}</b>
    </div>
    <div class="panel-body">
        <span role-permission 
            ng-if="featureRole"
            permission="'Customer_Type_Create'" 
            feature="featureRole">
            <button
                class="btn btn-default"
                data-toggle="modal"
                data-target="#customer-type-popup"
            >
                <span class="fa fa-plus-circle"></span>
                {{'AddNew' | translate}}
            </button>
        </span>
        {{'TotalRecord' | translate}}: {{vm.totalItems | number}}
        <br/><br/>
        <table class="table table-bordered table-striped">
            <thead>
                <th width="5%">
                    #
                </th>
                <th width="25%">
                    {{'Name' | translate}}
                </th>

                <th width="55%">
                    {{'Description' | translate}}
                </th>
                <th width="10%">
                    {{'Action' | translate}}
                </th>
            </thead>
            <tr data-ng-repeat="customer in vm.customerType.elements">
                <td>
                    <span data-ng-bind="customer.id"></span>
                </td>
                <td>
                    <span data-ng-bind="customer.name"></span>
                </td>
                <td>
                    <span data-ng-bind="customer.description"></span>
                </td>
                <td>
                    <span role-permission 
                        ng-if="featureRole"
                        permission="'Customer_Type_Edit'" 
                        uib-tooltip="{{'Edit' | translate}}"
                        feature="featureRole">
                        <button class="btn btn-default btn-xs" data-ng-click="vm.edit(customer);">
                            <span class="fa fa-edit"></span>
                        </button>
                    </span>
                    <span role-permission 
                        ng-if="featureRole"
                        permission="'Customer_Type_Disable'" 
                        feature="featureRole">
                        <button
                            class="btn btn-success btn-xs"
                            data-ng-click="vm.updateStatus(customer);"
                            uib-tooltip="{{'Enable' | translate}}"
                            data-ng-if="customer.status == 1"
                        >
                            <span class="fa fa-check-square-o"></span>
                        </button>
                        <button
                            class="btn btn-warning btn-xs"
                            uib-tooltip="{{'Disable' | translate}}"
                            data-ng-if="customer.status == 0"
                            data-ng-click="vm.updateStatus(customer);"
                        >
                            <span class="fa fa-minus-square-o"></span>
                        </button>
                    </span>
                    <span role-permission 
                        ng-if="featureRole"
                        permission="'Customer_Type_Delete'" 
                        uib-tooltip="{{'Delete' | translate}}"
                        feature="featureRole">
                        <button class="btn btn-danger btn-xs" data-ng-click="vm.delete(customer);">
                            <span class="fa fa-trash"></span>
                        </button>
                    </span>
                </td>
            </tr>
        </table>
        <div
            data-ng-if="vm.customerType.elements == 0"
        >
            <empty-data></empty-data>
        </div>
        <div
            data-ng-if="!vm.customerType"
            class="align_center"
        >
            <i class="fa fa-refresh fa-spin" style="font-size: 100px;"></i>
        </div>
    </div>
</div>
<div class="panel-footer">
    <ul uib-pagination
        total-items="vm.totalItems"
        ng-model="vm.currentPage"
        ng-change="vm.pageChanged()"
        max-size="5"
        items-per-page="10"
        boundary-links="true"
    ></ul>
</div>
<customer:type:popup></customer:type:popup>