<div class="panel panel-default">
    <div class="panel-heading">
        <span translate="Role"></span>
    </div>
    <div class="panel-body">
        <button
            class="btn btn-default"
            data-toggle="modal"
            data-target="#role-popup"
            data-ng-click="vm.permissionView = vm.permission">
            <span class="fa fa-plus-circle"></span>
            <span translate="AddNew"></span>
        </button>
        <br/><br/>
        <table class="table table-bordered table-striped">
            <thead>
            <th width="5%">
                #
            </th>
            <th width="30%">
                <span translate="RoleName"></span>
            </th>
            <th width="50%">
                <span translate="Description"></span>
            </th>
            <th width="10%">
                <span translate="Action"></span>
            </th>
            </thead>
            <tr data-ng-repeat="role in vm.roles">
                <td>
                    <span data-ng-bind="$index + 1"></span>
                </td>
                <td>
                    <span data-ng-bind="role.role_name"></span>
                </td>
                <td>
                    <span data-ng-bind="role.description"></span>
                </td>
                <td>
                    <button class="btn btn-default btn-xs" 
                        data-ng-click="vm.edit(role);"
                        uib-tooltip="{{'Edit' | translate}}">
                        <span class="fa fa-edit"></span>
                    </button>
                    <button class="btn btn-success btn-xs" 
                        data-ng-click="vm.updateStatus(role);" 
                        uib-tooltip="{{'Enable' | translate}}"
                        data-ng-if="role.status == 1">
                        <span class="fa fa-check-square-o"></span>
                    </button>
                    <button class="btn btn-warning btn-xs" 
                        data-ng-if="role.status == 0" 
                        uib-tooltip="{{'Disable' | translate}}"
                        data-ng-click="vm.updateStatus(role);">
                        <span class="fa fa-minus-square-o"></span>
                    </button>
                    <button class="btn btn-danger btn-xs" 
                        uib-tooltip="{{'Delete' | translate}}"
                        data-ng-click="vm.delete(role);">
                        <span class="fa fa-trash"></span>
                    </button>
                </td>
            </tr>
        </table>
        <div
            data-ng-if="vm.roles.length == 0"
        >
            <empty-data></empty-data>
        </div>
        <div
            data-ng-if="!vm.roles"
            class="align_center"
        >
            <i class="fa fa-refresh fa-spin" style="font-size: 100px;"></i>
        </div>
    </div>
</div>
<div class="panel-footer">
    <!-- <ul uib-pagination
        total-items="vm.totalItems"
        ng-model="vm.currentPage"
        ng-change="vm.pageChanged()"
        max-size="5"
        items-per-page="10"
        boundary-links="true"
    ></ul> -->
</div>

<form novalidate name="role" data-ng-submit="vm.save()" class="form form-horizontal">
    <div
        class="modal fade"
        id="role-popup"
        data-keyboard="false"
        data-backdrop="static"
    >
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="card card-tab card-mini">
                    <div class="card-header">
                        <ul class="nav nav-tabs">
                            <li role="tab1" class="active">
                                <a href="#tab1" onclick="return false;" aria-controls="tab1" role="tab" data-toggle="tab">
                                    <span translate="Role"></span>
                                </a>
                            </li>
                            <li role="tab2">
                                <a href="#tab2" onclick="return false;" aria-controls="tab2" role="tab" data-toggle="tab">
                                    <span translate="Permission"></span>
                                </a>
                            </li>
                        </ul>
                    </div>
                    <div class="card-body tab-content no-padding">
                        <div role="tabpanel" class="tab-pane active" id="tab1">
                            <div class="col-md-12">
                                <div class="form-group"
                                     data-ng-class="{ 'has-error': role.roleName.$error.required && role.$submitted }">
                                    <div class="col-md-3">
                                    <span class="control-label">
                                        {{'RoleName' | translate}}
                                        <span class="required">*</span>
                                    </span>
                                    </div>
                                    <div class="col-md-9">
                                        <input class="form-control"
                                               type="text"
                                               placeholder="{{'RoleName' | translate}}"
                                               name="roleName"
                                               data-ng-model="vm.role.role_name"
                                               required="required" />
                                        <div translate="ThisFieldRequire" class="has-error msg-error"
                                             data-ng-if="role.roleName.$error.required && role.$submitted"></div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="form-group">
                                    <div class="col-md-3">
                                        <span class="control-label">
                                            {{'Description' | translate}}
                                        </span>
                                    </div>
                                    <div class="col-md-9">
                                        <textarea class="form-control"
                                                  placeholder="{{'Description' | translate}}"
                                                  data-ng-model="vm.role.description">
                                        </textarea>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div role="tabpanel" class="tab-pane" id="tab2">
                            <div ivh-treeview="vm.permissionView"
                                 ivh-treeview-expand-to-depth="1">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <a class="btn btn-default"
                        data-dismiss="modal"
                        data-ng-click="vm.close();">
                        <i class="fa fa-close"></i>
                        {{'Close' | translate}}
                    </a>
                    <button class="btn btn-primary"
                        type="submit"
                        data-ng-disabled="!vm.disable">
                        <i class="fa fa-save" data-ng-if="vm.disable"></i>
                        <i class="fa fa-refresh fa-spin" data-ng-if="!vm.disable"></i>
                        {{'Save' | translate}}
                    </button>
                </div>
            </div>
        </div>
    </div>
</form>