<div class="panel panel-default">
    <div class="panel-heading">
        <b>{{'ProductList' | translate}}</b>
        <a
            class="btn no-padding pull-right"
            onclick="history.go(-1)"
        >
            <i class="fa fa-step-backward"></i>
            {{'Back' | translate}}
        </a>
    </div>
    <form data-ng-submit="vm.save();" name="productListCreate" class="form-horizontal" novalidate>
        <div class="panel-body">
            <div class="col-lg-6">
                <div class="col-md-12">
                    <div class="form-group"
                        data-ng-class="{ 'has-error': productListCreate.product_type.$error.required && productListCreate.$submitted }">
                        <div class="col-md-4">
                            <span class="control-label">
                                {{'Type' | translate}}
                            </span>
                        </div>
                        <div class="col-md-8">
                            {{vm.model.products_type_fields[0].name}}
                        </div>
                    </div>
                </div>
                <div class="col-md-12">
                    <div class="form-group"
                        data-ng-class="{ 'has-error': productListCreate.products_name.$error.required && productListCreate.$submitted }">
                        <div class="col-md-4">
                            <span class="control-label">
                                {{'Name' | translate}}
                            </span>
                        </div>
                        <div class="col-md-8">
                            {{vm.model.products_name}}
                        </div>
                    </div>
                </div>
                <div class="col-md-12">
                    <div class="form-group"
                        data-ng-class="{ 'has-error': productListCreate.barcode.$error.required && productListCreate.$submitted }">
                        <div class="col-md-4">
                            <span class="control-label">
                                {{'Code' | translate}}
                            </span>
                        </div>
                        <div class="col-md-8">
                            {{vm.model.barcode}}
                        </div>
                    </div>
                </div>
                <div class="col-md-12" data-ng-if="vm.model.products_kind_of == 'item'"
                    data-ng-class="{ 'has-error': productListCreate.cost.$error.required && productListCreate.$submitted }">
                    <div class="form-group">
                        <div class="col-md-4">
                            <span class="control-label">
                                {{'Cost' | translate}}
                            </span>
                        </div>
                        <div class="col-md-8">
                            {{vm.model.products_price_in | currency}}
                        </div>
                    </div>
                </div>
                <div class="col-md-12" data-ng-class="{ 'has-error': productListCreate.price.$error.required && productListCreate.$submitted }">
                    <div class="form-group">
                        <div class="col-md-4">
                            <span class="control-label">
                                {{'WholeSalePrice' | translate}}
                            </span>
                        </div>
                        <div class="col-md-8">
                            {{vm.model.products_price_out_whole_sale | currency}}
                        </div>
                    </div>
                </div>
                <div class="col-md-12" data-ng-class="{ 'has-error': productListCreate.price.$error.required && productListCreate.$submitted }">
                    <div class="form-group">
                        <div class="col-md-4">
                            <span class="control-label">
                                {{'RetailPrice' | translate}}
                            </span>
                        </div>
                        <div class="col-md-8">
                            {{vm.model.products_price_out_retail | currency}}
                        </div>
                    </div>
                </div>
                <div class="col-md-12" data-ng-if="vm.model.products_kind_of == 'item'">
                    <div class="form-group">
                        <div class="col-md-4">
                            <span class="control-label">
                                {{'QtyOnHand' | translate}}
                            </span>
                        </div>
                        <div class="col-md-8">
                            {{vm.model.products_quantity | number}}
                        </div>
                    </div>
                </div>
                <div class="col-md-12" data-ng-if="vm.model.products_kind_of == 'item'">
                    <div class="form-group">
                        <div class="col-md-4">
                            <span class="control-label">
                                {{'UMType' | translate}}
                            </span>
                        </div>
                        <div class="col-md-8">
                            {{vm.model.um_detail[0].name}}
                        </div>
                    </div>
                </div>
                 <div class="col-md-12" data-ng-if="vm.model.products_kind_of == 'item'">
                    <div class="form-group">
                        <div class="col-md-4">
                            <span class="control-label">
                                {{'UMSaleOut' | translate}}
                            </span>
                        </div>
                        <div class="col-md-8">
                            {{vm.model.um_sale_detail[0].name}}
                        </div>
                    </div>
                </div>
                <div class="col-md-12" data-ng-if="vm.model.products_kind_of == 'item'">
                    <div class="form-group">
                        <div class="col-md-4">
                            <span class="control-label">
                                {{'OrderAlert' | translate}}
                            </span>
                        </div>
                        <div class="col-md-8">
                            {{vm.model.order_alert | number}}
                        </div>
                    </div>
                </div>
                <div class="col-md-12">
                    <div class="form-group">
                        <div class="col-md-4">
                            <span class="control-label">
                                {{'Description' | translate}}
                            </span>
                        </div>
                        <div class="col-md-8">
                            {{vm.model.products_description}}
                        </div>
                    </div>
                </div>
                <div class="col-md-12">
                    <div class="form-group">
                        <div class="col-md-4">
                            <span class="control-label">
                                {{'IsSale' | translate}}
                            </span>
                        </div>
                        <div class="col-md-8">
                            <switch id="enabled" 
                                disabled="true" 
                                name="enabled"  
                                size="small"
                                ng-model="vm.model.is_sale" 
                                class="blue"></switch>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
				<div class="row text-center">
					<img src="images/item-icon.png"
							class="img-thumbnail"
							width="250px"
							data-ng-if="!vm.model.products_image" />
					<img ng-src="{{vm.model.products_image}}"
							class="img-thumbnail"
							width="250px"
							data-ng-if="vm.model.products_image" />
				</div>
			</div>
        </div>
        <div class="modal-footer">
            <a
                class="btn btn-default"
                data-dismiss="modal"
                ui-sref="product_list.list"
                href="javascript:;"
            >
                <i class="fa fa-close"></i>
                {{'Close' | translate}}
            </a>
        </div>
    </form>
</div>