<div class="panel panel-default">
    <div class="panel-heading">
        <b>{{'ProductList' | translate}}</b>
    </div>
    <div class="panel-body">
        <span role-permission 
            ng-if="featureRole"
            permission="'Product_List_Create'" 
            feature="featureRole">
            <a class="btn btn-default"
            ui-sref="product_list.create"
            >
                <span class="fa fa-plus-circle"></span>
                {{'AddNew' | translate}}
            </a>
        </span>
        {{'TotalRecord' | translate}}: {{vm.totalItems}}
        <br/>
        <form class="row">
            <div class="form-body">
                <div class="col-md-3 col-sm-4">
                    <div class="input-group input-large">
                        <input type="text"
                               class="form-control"
                               data-ng-model="vm.filterText"
                               auto-focus
                               placeholder="{{'Search' | translate}}">

                        <span class="input-group-btn">
                            <button type="submit" class="btn blue" data-ng-click="vm.search()">
                                <i class="fa fa-search" data-ng-if="!vm.loading"></i>
                                <i class="fa fa-spin fa-spinner" data-ng-if="vm.loading"></i>
                            </button>
                        </span>
                    </div>
                </div>
            </div>
        </form>
        <div class="table-responsive">
            <table class="table table-bordered table-striped">
                <thead>
                <th width="2%">
                    #
                </th>
                <th width="15%">
                    {{'Name' | translate}}
                </th>
                <th width="10%">
                    {{'Type' | translate}}
                </th>
                <th width="10%">
                    {{'Code' | translate}}
                </th>
                <th width="7%">
                    {{'Cost' | translate}}
                </th>
                <th width="13%">
                    {{'Price' | translate}}
                </th>
                <th width="13%">
                    {{'QtyOnHand' | translate}}
                </th>
                <th width="1%">
                    {{'IsSale' | translate}}
                </th>
                <th width="10%">
                    {{'Action' | translate}}
                </th>
                </thead>
                <tr data-ng-repeat="product_list in vm.productsList.elements">
                    <td>
                        <span data-ng-bind="vm.pageSize + $index + 1"></span>
                    </td>
                    <td>
                        <span data-ng-bind="product_list.products_name"></span>
                    </td>
                    <td>
                        <span data-ng-bind="product_list.products_type_fields[0].name"></span>
                    </td>
                    <td>
                        <span data-ng-bind="product_list.barcode"></span>
                    </td>
                    <td>
                        <span data-ng-bind="product_list.cost "></span>
                    </td>
                    <td>
                        <span data-ng-bind="product_list.price"></span>
                    </td>
                    <td>
                        <span data-ng-bind="product_list.products_quantity"></span>
                        <span data-ng-bind="product_list.um_detail[0].name"></span>
                    </td>                    
                    <td>
                        <label class="label label-success" 
                            data-ng-if="product_list.is_sale == 1">
                            {{'ForSale' | translate}}
                        </label>
                        <label class="label label-warning"
                        data-ng-if="product_list.is_sale == 0">
                            {{'NotSale' | translate}}
                        </label>
                    </td>
                    <td>
                        <span role-permission 
                             ng-if="featureRole"
                             permission="'Product_List_Edit'" 
                             feature="featureRole">
                            <a class="btn btn-default btn-xs"
                            uib-tooltip="{{'Edit' | translate}}"
                            ui-sref="product_list.edit({id: product_list.id})">
                                <span class="fa fa-edit"></span>
                            </a>
                        </span>
                        <span role-permission 
                             ng-if="featureRole"
                             permission="'Product_List_Disable'" 
                             feature="featureRole">
                            <button
                                class="btn btn-success btn-xs"
                                uib-tooltip="{{'Disable' | translate}}"
                                data-ng-click="vm.updateStatus(product_list);"
                                data-ng-if="product_list.status == 1"
                            >
                                <span class="fa fa-check-square-o"></span>
                            </button>
                            <button
                                class="btn btn-warning btn-xs"
                                uib-tooltip="{{'Enable' | translate}}"
                                data-ng-if="product_list.status == 0"
                                data-ng-click="vm.updateStatus(product_list);"
                            >
                                <span class="fa fa-minus-square-o"></span>
                            </button>
                        </span>
                        <span role-permission 
							ng-if="featureRole"
							permission="'Product_List_View'" 
							feature="featureRole">
							<a ui-sref="product_list.detail({id: product_list.id})"
							class="btn btn-primary btn-xs"
							uib-tooltip="{{'Detail' | translate}}"
							>
								<span class="fa fa-eye"></span>
							</a>
						</span>
                    </td>
                </tr>
            </table>
        </div>
        <div
            data-ng-if="vm.productsList.elements == 0"
        >
            <empty-data></empty-data>
        </div>
        <div
            data-ng-if="!vm.productsList"
            class="align_center"
        >
            <i class="fa fa-refresh fa-spin" style="font-size: 100px;"></i>
        </div>
    </div>
    <div class="panel-footer">
        <ul uib-pagination
            total-items="vm.totalItems"
            ng-model="vm.currentPage"
            ng-change="vm.pageChanged()"
            max-size="5"
            items-per-page="10"
            boundary-links="true"
        ></ul>
    </div>
</div>
