<form data-ng-submit="save();" name="myForm">
	<div
		class="modal fade"
		id="products-list-popup"
		data-keyboard="false"
		data-backdrop="static"
	>
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<a class="close" data-dismiss="modal" data-ng-click="close();">&times;</a>
					<h4>
						<label>Product List</label>
					</h4>
				</div>
				<div class="modal-body">
					<div data-ng-if="duplicate" class="alert alert-warning">
						<span data-ng-bind="duplicate"></span>
					</div>
					<div class="tab-content">
						<table class="table table-bordered">
							<tr>
								<td>
									Product Type:
								</td>
								<td>
									<select
										data-ng-options="product_type.id as product_type.name for product_type in ProductType.elements"
										data-ng-init="product_type_id == product_type.id"
										data-ng-model="products_type"
										required
										class="form-control"
									>
										<option value="">--Select--</option>
									</select>
								</td>
							</tr>
							<tr>
								<td>
									Name:
								</td>
								<td>
									<input
										type="text"
										class="form-control"
										data-ng-model="products_name"
										required="required"
									/>
								</td>
							</tr>
							<tr>
								<td>
									Barcode:
								</td>
								<td>
									<input
										type="text"
										class="form-control"
										data-ng-model="barcode"
									/>
								</td>
							</tr>
							<tr>
								<td>
									Cost:
								</td>
								<td>
									<input
										type="number"
										step="any"
										class="form-control"
										only-numbers
										data-ng-model="products_price_in"
										data-ng-disabled="cost"
										required
									/>
								</td>
							</tr>
							<tr>
								<td>
									Price:
								</td>
								<td>
									<input
										type="number"
										step="any"
										class="form-control"
										only-numbers
										required
										data-ng-model="products_price_out"
									/>
								</td>
							</tr>
							<tr>
								<td>
									Qty On Hand:
								</td>
								<td>
									<input
										type="number"
										step="any"
										class="form-control"
										data-ng-disabled="qty"
										only-numbers
										data-ng-model="products_quantity"
									/>
								</td>
							</tr>
							<tr>
								<td>
									Description:
								</td>
								<td>
									<textarea
										class="form-control"
										data-ng-model="products_description"
									></textarea>
								</td>
							</tr>
						</table>
					</div>
				</div>
				<div class="modal-footer">
					<a
						class="btn btn-default"
						data-ng-click="close();"
						data-dismiss="modal"
					>
						Close
					</a>
					<button
						class="btn btn-primary"
						data-ng-disabled="!disable"
						type="submit"
					>
						<i class="fa fa-save"></i>
						Save
					</button>
				</div>
			</div>
		</div>
	</div>
</form>


