<div class="panel panel-default">
    <div class="panel-body">
        <div class="row">
            <div class="col-sm-12">
                <button class="btn btn-success margin-top" data-ng-click="vm.init();">
                    <i class="fa fa-hourglass-half"></i>
                    <span translate="Filter"></span>
                </button>
                <button class="btn btn-default margin-top" onclick="PrintElem('#print')">
                    <i class="fa fa-print"></i>
                    <span translate="Print"></span>
                </button>
                <span role-permission 
					 ng-if="featureRole"
					 permission="'Customer_Birth_Day_Report_Export'" 
					 feature="featureRole">
                    <button class="btn btn-info margin-top"
                            ng-csv="vm.csv"
                            data-ng-disabled="!vm.totalItems"
                            csv-header="vm.headers"
                            add-bom="true"
                            filename="customer_birth_day.csv">
                        <i class="fa fa-file-excel-o"></i>
                        {{'ExportCSV' | translate}}
                    </button>
                </span>
            </div>
        </div>
        <div data-ng-if="vm.customerList.count" id="print">
            <table width="100%">
                <tr>
                    <td align="center">
                        <h2 ng-bind-html="company.company_name"></h2>
                        <h4>
                            <span translate="CustomerBirthDayList"></span>
                        </h4>
                        <span translate="TotalRecord"></span> {{vm.totalItems}}
                    </td>
                </tr>
            </table>
            <table class="table-print">
                <tr>
                    <th width="2%">
                        #
                    </th>
                    <th width="13%">
                        {{'Name' | translate}}
                    </th>
                    <th width="10%">
                        {{'CustomerType' | translate}}
                    </th>
                    <th width="5%">
                        {{'Gender' | translate}}
                    </th>
                    <th width="8%">
                        {{'DOB' | translate}}
                    </th>
                    <th width="8%">
                        {{'Code' | translate}}
                    </th>
                    <th width="10%">
                        {{'Country' | translate}}
                    </th>
                    <th width="10%">
                        {{'Email' | translate}}
                    </th>
                    <th width="10%">
                        {{'Telephone' | translate}}
                    </th>
                    <th width="10%">
                        {{'RelativeTelephone' | translate}}
                    </th>
                    <th width="10%">
                        {{'Address' | translate}}
                    </th>
                </tr>
                <tr data-ng-repeat="c in vm.customerList.elements track by c.id">
                    <td>
                        {{$index +1}}
                    </td>
                    <td>
                        {{c.customers_first_name}}
                        {{c.customers_last_name}}
                    </td>
                    <td>
                        {{c.customers_type_detail[0].name}}
                    </td>
                    <td>
                        {{c.customers_gender}}
                    </td>
                    <td>
                        {{vm.service.dateFormat(c.customers_dob)}}
                    </td>
                    <td>
                        {{c.customers_code}}
                    </td>
                    <td>
                        {{c.customers_country}}
                    </td>
                    <td>
                        {{c.customers_email_address}}
                    </td>
                    <td>
                        {{c.customers_telephone}}
                    </td>
                    <td>
                        {{c.customers_relative_contact}}
                    </td>
                    <td>
                        {{c.customers_address}}
                    </td>
                </tr>
            </table>
        </div>
        <div
            data-ng-if="vm.customerList.elements == 0"
        >
            <empty-data></empty-data>
        </div>
        <div
            data-ng-if="!vm.customerList || vm.customerList.length == 0"
            class="align_center"
        >
            <i class="fa fa-refresh fa-spin" style="font-size: 100px;"></i>
        </div>
    </div>
</div>