<div class="panel panel-default">
	<div class="panel-heading">
		<b>{{'VendorList' | translate}}</b>
		<a
			class="btn no-padding pull-right"
			onclick="history.go(-1)"
		>
			<i class="fa fa-step-backward"></i>
			{{'Back' | translate}}
		</a>
	</div>
	<form data-ng-submit="vm.save();" name="vendorForm" class="form-horizontal" novalidate>
		<div class="panel-body">
			<div class="col-md-12">
				<div class="form-group"
					 data-ng-class="{ 'has-error': vendorForm.type.$error.required && vendorForm.$submitted }">
					<div class="col-md-2">
							<span class="control-label">
								{{'Type' | translate}}
								<span class="required">*</span>
							</span>
					</div>
					<div class="col-md-4">
						<select class="form-control"
							data-ng-model="vm.model.supplier_type_id"
							data-ng-options="u.id as u.name for u in vm.supplierType"
							name="type"
							required>
							<option value="">{{'Select' | translate}}</option>
						</select>
						<div translate="ThisFieldRequire"
							 class="has-error msg-error"
							 data-ng-if="vendorForm.type.$error.required && vendorForm.$submitted"></div>
					</div>
				</div>
			</div>
			<div class="col-md-12">
				<div class="form-group"
					 data-ng-class="{ 'has-error': vendorForm.customers_name.$error.required && vendorForm.$submitted }">
					<div class="col-md-2">
							<span class="control-label">
								{{'Name' | translate}}
								<span class="required">*</span>
							</span>
					</div>
					<div class="col-md-4">
						<input type="text"
							   class="form-control"
							   data-ng-model="vm.model.name"
							   name="customers_name"
							   placeholder="{{'Name' | translate}}"
							   required="required" />
						<div translate="ThisFieldRequire"
							 class="has-error msg-error"
							 data-ng-if="vendorForm.customers_name.$error.required && vendorForm.$submitted"></div>
					</div>
				</div>
			</div>
			<div class="col-md-12">
				<div class="form-group">
					<div class="col-md-2">
						<span class="control-label">
							{{'CompanyName' | translate}}
						</span>
					</div>
					<div class="col-md-4">
						<input type="text"
							   class="form-control"
							   data-ng-model="vm.model.company_name"
							   placeholder="{{'CompanyName' | translate}}"/>
					</div>
				</div>
			</div>
			<div class="col-md-12">
				<div class="form-group">
					<div class="col-md-2">
						<span class="control-label">
							{{'Telephone' | translate}}
						</span>
					</div>
					<div class="col-md-4">
						<input type="text"
							   phone-input
							   class="form-control"
							   data-ng-model="vm.model.tel"
							   placeholder="{{'Telephone' | translate}}"/>
					</div>
				</div>
			</div>
			<div class="col-md-12">
				<div class="form-group">
					<div class="col-md-2">
						<span class="control-label">
							{{'Email' | translate}}
						</span>
					</div>
					<div class="col-md-4">
						<input type="text"
							   class="form-control"
							   data-ng-model="vm.model.email"
							   placeholder="{{'Email' | translate}}"/>
					</div>
				</div>
			</div>
			<div class="col-md-12">
				<div class="form-group">
					<div class="col-md-2">
						<span class="control-label">
							{{'Address' | translate}}
						</span>
					</div>
					<div class="col-md-4">
						<textarea class="form-control"
								  data-ng-model="vm.model.address"
								  rows="5"
								  placeholder="{{'Address' | translate}}"></textarea>
					</div>
				</div>
			</div>
			<div class="col-md-12">
				<div class="form-group">
					<div class="col-md-2">
						<span class="control-label">
							{{'Country' | translate}}
						</span>
					</div>
					<div class="col-md-4">
						<select class="form-control"
							data-ng-model="vm.model.country"
							data-ng-options="u.countries_name as u.countries_name for u in countries.elements"></select>
					</div>
				</div>
			</div>
			<div class="col-md-12">
				<div class="form-group">
					<div class="col-md-2">
						<span class="control-label">
							{{'Description' | translate}}
						</span>
					</div>
					<div class="col-md-4">
						<textarea class="form-control"
								  data-ng-model="vm.model.note"
								  rows="5"
								  placeholder="{{'Description' | translate}}"></textarea>
					</div>
				</div>
			</div>
		</div>
		<div class="modal-footer">
			<a class="btn btn-default"
			   ui-sref="vendor_list.list"
			   href="javascript:;"
			>
				<i class="fa fa-close"></i>
				{{'Close' | translate}}
			</a>
			<button
				class="btn btn-primary"
				data-ng-disabled="!vm.disable"
			>
				<i class="fa fa-spinner fa-spin" data-ng-if="!vm.disable"></i>
				<i class="fa fa-save" data-ng-if="vm.disable"></i>
				{{'Save' | translate}}
			</button>
		</div>
	</form>
</div>


