<form data-ng-submit="vm.save();" name="form" class="form-horizontal row" novalidate>
	<div class="col-md-12">
		<div class="panel panel-default">
			<div class="panel-heading">
				<b>{{'ProductSale' | translate}}</b>
			</div>
			<div class="panel-body">
				<div class="col-md-6 row">
					<div class="form-group"
						data-ng-class="{ 'has-error': form.name.$error.required && form.$submitted }">
						<div class="col-md-5">
							<span class="">
								{{'Name' | translate}}
								<span class="required">*</span>
							</span>
						</div>
						<div class="col-md-7">
							<input type="text"
								class="form-control"
								data-ng-model="vm.model.name"
								name="name"
								placeholder="{{'Name' | translate}}"
								required="required" />
							<div translate="ThisFieldRequire"
								class="has-error msg-error"
								data-ng-if="form.name.$error.required && form.$submitted"></div>
						</div>
					</div>
					<div class="form-group"
						data-ng-class="{ 'has-error': form.price.$error.required && form.$submitted }">
						<div class="col-md-5">
							<span class="control-label">
								{{'Price' | translate}}
								<span class="required">*</span>
							</span>
						</div>
						<div class="col-md-7">
							<input type="number"
									class="form-control"
									placeholder="{{'Price' | translate}}"
									name="price"
									required
									data-ng-model="vm.model.price"/>
							<div translate="ThisFieldRequire"
								class="has-error msg-error"
								data-ng-if="form.price.$error.required && form.$submitted"></div>
						</div>
					</div>
					<div class="form-group"
						data-ng-class="{ 'has-error': form.cost.$error.required && form.$submitted }">
						<div class="col-md-5">
							<span class="control-label">
								{{'Cost' | translate}}
								<span class="required">*</span>
							</span>
						</div>
						<div class="col-md-7">
							<input type="number" disabled
									class="form-control"
									placeholder="{{'Cost' | translate}}"
									name="cost"
									required
									data-ng-model="vm.model.cost"/>
							<div translate="ThisFieldRequire"
								class="has-error msg-error"
								data-ng-if="form.cost.$error.required && form.$submitted"></div>
						</div>
					</div>
					<div class="form-group"
						data-ng-class="{ 'has-error': form.barcode.$error.required && form.$submitted }">
						<div class="col-md-5">
							<span class="">
								{{'Code' | translate}}
								<span class="required">*</span>
							</span>
						</div>
						<div class="col-md-7">
							<input type="text"
								class="form-control"
								data-ng-model="vm.model.barcode"
								name="barcode"
								placeholder="{{'Code' | translate}}"
								required="required" />
							<div translate="ThisFieldRequire"
								class="has-error msg-error"
								data-ng-if="form.barcode.$error.required && form.$submitted"></div>
						</div>
					</div>
					<div class="form-group">
						<div class="col-md-5">
							<span class="">
								{{'Description' | translate}}
							</span>
						</div>
						<div class="col-md-7">
							<textarea class="form-control" placeholder="{{'Description' | translate}}" data-ng-model="vm.model.description"/>
						</div>
					</div>
				</div>
				<div class="col-md-6">
					<div class="row text-center">
						<img src="images/item-icon.png"
								class="img-thumbnail img-circle"
								width="210px"
								data-ng-if="!vm.model.image" />
						<img ng-src="{{vm.model.image}}"
								class="img-thumbnail img-circle"
								width="210px"
								data-ng-if="vm.model.image" />
						<br /><br />
						<div>
							<a class="btn btn-success" href="javascript:;" ng-click="vm.showSnapPhoto();">
								<i class="fa fa-camera"></i>
								{{'SnapAPhoto' | translate}}
							</a>
							<span> {{'Or' | translate}} </span>
							<a class="btn btn-primary" ng-click="vm.showUploadPhoto();" href="javascript:;">
								<i class="fa fa-cloud-upload"></i> 
								{{'UploadAnImage' | translate}}
							</a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="col-md-12">
		<div class="panel panel-default">
			<div class="panel-heading">
				<b>{{'Assembly' | translate}}</b>
			</div>
			<div class="panel-body">
				<div class="col-md-12 row">
					<div class="form-group">
						<div class="col-md-5">
							<input type="text" class="form-control"
								   placeholder="{{'Search' | translate}}"
								   data-ng-model="vm.product_barcode"
								   data-ng-change="vm.filterProduct();"
								   data-ng-model-options="{ debounce: 550 }" />
						</div>
						<div class="col-md-7">
							<product-list-drop-down product-model="vm.product_filter"
													filter-by-item="'item'"
													on-change="vm.getDefaultItem();"></product-list-drop-down>
						</div>
					</div>
				</div>
				<div class="scroll" style="height: 250px;">
					<table class="table table-bordered table-striped">
						<tr>
							<th width="5%">
								#
							</th>
							<th width="30%">
								{{'ItemName' | translate}}
							</th>
							<th width="13%">
								{{'Cost' | translate}}
							</th>
							<th width="13%">
								{{'UMType' | translate}}
							</th>
							<th width="15%">
								{{'UnitUse' | translate}}
							</th>
							<th width="13%">
								{{'ResultDeduct' | translate}}
							</th>
							<th width="13%">
								{{'Total' | translate}}
							</th>
							<th width="5%">
							</th>
						</tr>
						<tr data-ng-repeat="list in vm.listData">
							<td>
								{{$index + 1}}
							</td>
							<td>
								{{list.product_name}}
								<div class="label label-primary">
									<small>
										{{list.product_code}}
									</small>
								</div>
							</td>
							<td>
								{{list.product_cost | currency}}
							</td>
							<td>
								{{list.qty}}
								{{list.um_type}}
							</td>
							<td>
								<input type="number"
									   min="0"
									   data-ng-model="list.unit_use"
									   step="any"
									   class="form-control box-sell"
									   data-ng-blur="vm.getTotal();"
								/>
							</td>
							<td>
								{{ (list.unit_deduct_stock = list.qty / (list.unit_use?list.unit_use:0)) | number}}
							</td>
							<td>
								{{ (list.service_cost = list.product_cost / (list.unit_use?list.unit_use:0)) | currency}}
							</td>
							<td>
								<i class="fa fa-trash hover"
								   data-ng-click="vm.remove($index);"
								   style="font-size: 20px;"></i>
							</td>
						</tr>
					</table>
				</div>
				<div class="pull-right" style="margin-right: 50px;">
					<b>
						{{"Total" | translate}}:
					</b>
					{{vm.model.cost|currency}}
				</div>
				<br/>
				<hr/>				
				<div class="form-group">
					<div class="col-md-12">
						<a class="btn btn-default" ui-sref="product_sale_list.list" href="javascript:;">
							<i class="fa fa-close"></i>
							{{'Close' | translate}}
						</a>
						<button class="btn btn-primary" type="submit" data-ng-disabled="vm.loading">
							<i class="fa fa-save" data-ng-if="!vm.loading"></i>
							<i class="fa fa-spin fa-spinner" data-ng-if="vm.loading"></i>
							{{'Save' | translate}}
						</button>
					</div>
				</div>
			</div>
		</div>
	</div>
</form>
<crop-image-modal result-image="vm.resultImage" image-path="vm.model.image"></crop-image-modal>
<snap-photo-modal result-image="vm.resultImage" is-hide="vm.hide" image-path="vm.model.image"></snap-photo-modal>
