<form data-ng-submit="vm.save();" name="form" class="form-horizontal row" novalidate>
	<div class="col-md-12">
		<div class="panel panel-default">
			<div class="panel-heading">
				<b>{{'ProductSale' | translate}}</b>
			</div>
			<div class="panel-body">
				<div class="col-md-6 row">
					<div class="form-group">
						<div class="col-md-5">
							<span class="">
								{{'Name' | translate}}
							</span>
						</div>
						<div class="col-md-7">
							{{vm.model.name}}
						</div>
					</div>
					<div class="form-group">
						<div class="col-md-5">
							<span class="control-label">
								{{'Price' | translate}}
							</span>
						</div>
						<div class="col-md-7">
							{{vm.model.price | currency}}
						</div>
					</div>
					<div class="form-group">
						<div class="col-md-5">
							<span class="control-label">
								{{'Cost' | translate}}
							</span>
						</div>
						<div class="col-md-7">
							{{vm.model.cost | currency}}
						</div>
					</div>
					<div class="form-group">
						<div class="col-md-5">
							<span class="">
								{{'Code' | translate}}
							</span>
						</div>
						<div class="col-md-7">
							{{vm.model.barcode}}
						</div>
					</div>
					<div class="form-group">
						<div class="col-md-5">
							<span class="">
								{{'Description' | translate}}
							</span>
						</div>
						<div class="col-md-7">
							{{vm.model.description}}
						</div>
					</div>
				</div>
				<div class="col-md-6">
					<div class="row text-center">
						<img src="images/item-icon.png"
								class="img-thumbnail img-circle"
								width="210px"
								data-ng-if="!vm.model.image" />
						<img ng-src="{{vm.model.image}}"
								class="img-thumbnail img-circle"
								width="210px"
								data-ng-if="vm.model.image" />
						<br /><br />
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="col-md-12">
		<div class="panel panel-default">
			<div class="panel-heading">
				<b>{{'Assembly' | translate}}</b>
			</div>
			<div class="panel-body">
				<div class="scroll" style="height: 250px;">
					<table class="table table-bordered table-striped">
						<tr>
							<th width="5%">
								#
							</th>
							<th width="30%">
								{{'ItemName' | translate}}
							</th>
							<th width="13%">
								{{'Cost' | translate}}
							</th>
							<th width="13%">
								{{'UMType' | translate}}
							</th>
							<th width="15%">
								{{'UnitUse' | translate}}
							</th>
							<th width="13%">
								{{'ResultDeduct' | translate}}
							</th>
							<th width="13%">
								{{'Total' | translate}}
							</th>
						</tr>
						<tr data-ng-repeat="list in vm.model.detail">
							<td>
								{{$index + 1}}
							</td>
							<td>
								{{list.product_name}}
								<div class="label label-primary">
									<small>
										{{list.product_code}}
									</small>
								</div>
							</td>
							<td>
								{{list.product_cost | currency}}
							</td>
							<td>
								{{list.qty}}
								{{list.um_type}}
							</td>
							<td>
								{{list.unit_use}}
							</td>
							<td>
								{{ list.unit_deduct_stock | number}}
							</td>
							<td>
								{{ list.service_cost | currency}}
							</td>
						</tr>
					</table>
				</div>
				<div class="pull-right" style="margin-right: 50px;">
					<b>
						{{"Total" | translate}}:
					</b>
					{{vm.model.cost|currency}}
				</div>
				<br/>
				<hr/>				
				<div class="form-group">
					<div class="col-md-12">
						<a class="btn btn-default" ui-sref="product_sale_list.list" href="javascript:;">
							<i class="fa fa-close"></i>
							{{'Close' | translate}}
						</a>
					</div>
				</div>
			</div>
		</div>
	</div>
</form>
