<div class="panel panel-default">
    <div class="panel-heading">
        <b>{{'ProductSale' | translate}}</b>
    </div>
    <div class="panel-body">
        <span role-permission 
            ng-if="featureRole"
            permission="'Product_Sale_Create'" 
            feature="featureRole">
            <a ui-sref="product_sale_list.create"
                class="btn btn-default"
            >
                <span class="fa fa-plus-circle"></span>
                {{'AddNew' | translate}}
            </a>
        </span>
        {{'TotalRecord' | translate}}: {{vm.totalItems}}
        <form class="row">
            <div class="form-body">
                <div class="col-md-3">
                    <div class="input-group input-large">
                        <input type="text"
                               class="form-control"
                               data-ng-model="vm.filters"
                               auto-focus
                               placeholder="{{'Search' | translate}}">

                        <span class="input-group-btn">
                            <button type="submit" class="btn blue" data-ng-click="vm.search()">
                                <i class="fa fa-search" data-ng-if="!vm.loading"></i>
                                <i class="fa fa-spinner fa-spin" data-ng-if="vm.loading"></i>
                            </button>
                        </span>
                    </div>
                </div>
            </div>
        </form>
        <table class="table table-bordered table-striped">
            <thead>
            <th>
                #
            </th>
            <th>
                {{'Name' | translate}}
            </th>
            <th>
                {{'Cost' | translate}}
            </th>
            <th>
                {{'Price' | translate}}
            </th>
            <th>
                {{'Code' | translate}}
            </th>
            <th>
                {{'Description' | translate}}
            </th>
            <th width="150px">
                {{'Action' | translate}}
            </th>
            </thead>
            <tr data-ng-repeat="row in vm.saleServiceList.elements">
                <td>
                    <span data-ng-bind="$index + 1"></span>
                </td>
                <td>
                    <span data-ng-bind="row.name"></span>
                </td>
                <td>
                    <span data-ng-bind="row.cost | currency"></span>
                </td>
                <td>
                    <span data-ng-bind="row.price | currency"></span>
                </td>
                <td>
                    <span data-ng-bind="row.barcode"></span>
                </td>
                <td>
                    <span data-ng-bind="row.description"></span>
                </td>
                <td>
                    <span role-permission 
                        ng-if="featureRole"
                        permission="'Product_Sale_Edit'" 
                        feature="featureRole">
                        <button class="btn btn-default" ui-sref="product_sale_list.edit({id: row.id})"
                            data-ng-disabled="row.status == 0">
                            <span class="fa fa-edit"></span>
                        </button>
                    </span>
                    <span role-permission 
                        ng-if="featureRole"
                        permission="'Product_Sale_Disable'" 
                        feature="featureRole">
                        <button uib-tooltip="{{'Disable' | translate}}"
                            class="btn btn-success"
                            data-ng-click="vm.updateStatus(row);"
                            data-ng-if="row.status == 1"
                        >
                            <span class="fa fa-check-circle-o"></span>
                        </button>
                        <button uib-tooltip="{{'Enable' | translate}}"
                            class="btn btn-warning"
                            data-ng-if="row.status == 0"
                            data-ng-click="vm.updateStatus(row);"
                        >
                            <span class="fa fa-times-circle"></span>
                        </button>
                    </span>
                    <span role-permission 
                        ng-if="featureRole"
                        permission="'Product_Sale_View'" 
                        feature="featureRole">
                        <button class="btn btn-primary" ui-sref="product_sale_list.detail({id: row.id})">
                            <span class="fa fa-eye"></span>
                        </button>
                    </span>
                </td>
            </tr>
        </table>
        <div
            data-ng-if="vm.saleServiceList.elements == 0"
        >
            <empty-data></empty-data>
        </div>
        <div
            data-ng-if="!vm.saleServiceList"
            class="align_center"
        >
            <i class="fa fa-refresh fa-spin" style="font-size: 100px;"></i>
        </div>
    </div>
    <div
        class="panel-footer"
        data-ng-show="vm.totalItems > 10"
    >
        <ul uib-pagination
            total-items="vm.totalItems"
            ng-model="vm.currentPage"
            ng-change="vm.pageChanged()"
            max-size="5"
            items-per-page="10"
            boundary-links="true"
        ></ul>
    </div>
</div>