<div class="panel panel-default">
	<div class="panel-heading">
		{{'ServiceTransactionReport' | translate}}
	</div>
	<div class="panel-body">
		<div class="row">
			<div class="col-md-2">
				<div class="form-group">
					<div class="">
						<div cambodia-date-picker date-format="y-MM-dd" class="input-group">
							<input type="text" class="form-control" data-ng-model="vm.from_date"  placeholder="{{'FromDate' | translate}}"/>
						<span class="input-group-btn">
				        	<button class="btn btn-default" type="button">
								<i class="fa fa-calendar"></i>
							</button>
						</span>
						</div>
					</div>
				</div>
			</div>
			<div class="col-md-2">
				<div class="form-group">
					<div class="">
						<div cambodia-date-picker date-format="y-MM-dd" class="input-group">
							<input type="text" class="form-control" data-ng-model="vm.to_date" placeholder="{{'ToDate' | translate}}"/>
							<span class="input-group-btn">
								<button class="btn btn-default" type="button">
									<i class="fa fa-calendar"></i>
								</button>
							</span>
						</div>
					</div>
				</div>
			</div>
			<div class="col-md-2">
				<div class="form-group">
					<form data-ng-submit="vm.init()">
						<div class="input-group">
							<input type="text" class="form-control" data-ng-model="vm.filters" placeholder="{{'Search' | translate}}"/>
							<span class="input-group-btn">
								<button class="btn btn-default" type="submit">
									<i class="fa fa-search"></i>
								</button>
							</span>
						</div>
					</form>
				</div>
			</div>
			<div class="col-md-6">
				<div class="form-group">
					<div class="">
						<button class="btn btn-primary"
								data-ng-click="vm.from_date = ''; vm.to_date = ''; vm.filters = '';"
								uib-tooltip="{{'ClearSelect' | translate}}">
							<i class="fa fa-refresh" aria-hidden="true"></i>
						</button>
						<button class="btn btn-success" data-ng-click="vm.init();">
							<i class="fa fa-hourglass-half"></i>
							{{'Filter' | translate}}
						</button>
						<button class="btn btn-default margin-top"
								onclick="PrintElem('#print')"
								data-ng-disabled="!vm.totalItems">
							<i class="fa fa-print"></i>
							{{'Print' | translate}}
						</button>
						<span role-permission 
							ng-if="featureRole"
							permission="'Stock_Report_Export'" 
							feature="featureRole">
							<button class="btn btn-info margin-top"
									ng-csv="vm.csv"
									data-ng-disabled="!vm.totalItems"
									add-bom="true"
									csv-header="vm.headers"
									filename="stock_report.csv">
								<i class="fa fa-file-excel-o"></i>
								{{'ExportCSV' | translate}}
							</button>
						</span>
					</div>
				</div>
			</div>
		</div>
		<div data-ng-if="vm.products" id="print">
			<table width="100%">
				<tr>
					<td align="center">
						<h3 ng-bind="company.company_name"></h3>
						<h4>
							{{'ServiceTransactionReport' | translate}}
						</h4>
						{{'TotalRecord' | translate}} {{vm.totalItems}}
					</td>
				</tr>
			</table>
			<table class="table-print" data-ng-if="vm.totalItems">
				<tr style="background-color: #F7F7F7;">
					<th width="2%">
						#
					</th>
					<th width="15%">
						{{'Item' | translate}}
					</th>
					<th width="8%">
						{{'Type' | translate}}
					</th>
					<th width="7%">
						{{'Code' | translate}}
					</th>
					<th width="10%">
						{{'Description' | translate}}
					</th>
					<th width="7%">
						{{'StockOut' | translate}}
					</th>
					<th width="7%">
						{{'Price' | translate}}
					</th>
					<th width="7%">
						{{'Total' | translate}}
					</th>
				</tr>
				<tr data-ng-repeat="item in vm.products.elements">
					<td>
						{{$index +1}}
					</td>
					<td>
						{{item.product_name}}
					</td>
					<td>
						{{item.product_type}}
					</td>
					<td>
						{{item.barcode}}
					</td>
					<td>
						{{item.product_description}}
					</td>
					<td>
						{{item.stock_out}}
					</td>
					<td>
						{{item.price | currency}}
					</td>
					<td>
						{{item.price * item.stock_out | currency}}
					</td>
				</tr>
				<tr>
					<td colspan="7" align="right">
						<b>{{'SubTotal' | translate}}</b>
					</td>
					<td>
						<strong>{{vm.total_amount | currency}}</strong>
					</td>
				</tr>
			</table>
		</div>
		<div
			data-ng-if="vm.totalItems == 0"
		>
			<empty-data></empty-data>
		</div>
		<div
			data-ng-if="!vm.loading"
			class="align_center"
		>
			<i class="fa fa-refresh fa-spin" style="font-size: 100px;"></i>
		</div>
	</div>
</div>