<!-- <div class="panel panel-default">
	<div class="panel-heading">
		<b>{{'CustomerList' | translate}}</b>
		<a
			class="btn no-padding pull-right"
			onclick="history.go(-1)"
		>
			<i class="fa fa-step-backward"></i>
			{{'Back' | translate}}
		</a>
	</div> -->
	<form data-ng-submit="vm.save();" name="customerListCreate" class="form-horizontal" novalidate>
		<div class="panel panel-default">
			<uib-tabset active="active">
				<!-- Customer Info Tab-->
				<uib-tab>
					<uib-tab-heading>
						{{'CustomerInfo' | translate}}
					</uib-tab-heading>
					<div class="col-lg-6">
						<div class="col-md-12">
							<div class="form-group"
								data-ng-class="{ 'has-error': customerListCreate.customer_type.$error.required && customerListCreate.$submitted }">
								<div class="col-md-4">
										<span class="control-label">
											{{'CustomerType' | translate}}
											<span class="required">*</span>
										</span>
								</div>
								<div class="col-md-8">
									<select class="form-control"
											data-ng-model="vm.model.customers_type_id"
											data-ng-options="cu.id as cu.name for cu in vm.customerType.elements"
											name="customer_type"
											required="required">
										<option value="">{{'Select' | translate}}</option>
									</select>
									<div translate="ThisFieldRequire" class="has-error msg-error"
										data-ng-if="customerTypeForm.customer_type.$error.required && customerTypeForm.$submitted"></div>
								</div>
							</div>
						</div>
						<div class="col-md-12">
							<div class="form-group">
								<div class="col-md-4">
									<span class="control-label">
										{{'MemberShip' | translate}}
									</span>
								</div>
								<div class="col-md-8">
									<select class="form-control"
											data-ng-model="vm.model.member_ship_id"
											data-ng-options="cu.id as cu.name for cu in vm.memberShipList.elements"
											name="memberShip">
										<option value="">{{'Select' | translate}}</option>
									</select>
								</div>
							</div>
						</div>
						<div class="col-md-12">
							<div class="form-group"
								data-ng-class="{ 'has-error': customerListCreate.gender.$error.required && customerListCreate.$submitted }">
								<div class="col-md-4">
									<span class="control-label">
										{{'Title' | translate}}
										<span class="required">*</span>
									</span>
								</div>
								<div class="col-md-8">
									<span class="radio3 radio-check radio-inline">
										<input type="radio"
											id="Mr1"
											name="radio1"
											data-ng-model="vm.model.title"
											data-ng-value="'Mr'" />
										<label for="Mr1">
											<b>{{'Mr' | translate}}</b>
										</label>
									</span>
									<span class="radio3 radio-check radio-inline">
										<input type="radio"
											id="Miss1"
											name="radio1"
											data-ng-model="vm.model.title"
											data-ng-value="'Miss'" />
										<label for="Miss1">
											<b>{{'Miss' | translate}}</b>
										</label>
									</span>
								</div>
							</div>
						</div>
						<div class="col-md-12">
							<div class="form-group"
								data-ng-class="{ 'has-error': customerListCreate.customers_first_name.$error.required && customerListCreate.$submitted }">
								<div class="col-md-4">
									<span class="control-label">
										{{'Name' | translate}}
										<span class="required">*</span>
									</span>
								</div>
								<div class="col-md-8">
									<input type="text"
										class="form-control"
										data-ng-model="vm.model.customers_first_name"
										name="customers_first_name"
										placeholder="{{'Name' | translate}}"
										required="required" />
									<div translate="ThisFieldRequire" class="has-error msg-error"
										data-ng-if="customerTypeForm.customers_first_name.$error.required && customerTypeForm.$submitted"></div>
								</div>
							</div>
						</div>						
						<div class="col-md-12">
							<div class="form-group">
								<div class="col-md-4">
									<span class="control-label">
										{{'DOB' | translate}}
									</span>
								</div>
								<div class="col-md-8">
									<div class="input-group input-large" cambodia-date-picker date-format="{{dateFormat}}">
										<input type="text"
											class="form-control"
											name="dob"
											data-ng-model="vm.model.customers_dob"
											auto-focus
											placeholder="{{'DOB' | translate}}">
										<span class="input-group-btn">
											<a class="btn btn-default" href="javascript:;">
												<i class="fa fa-calendar"></i>
											</a>
										</span>
									</div>
								</div>
							</div>
						</div>
						<div class="col-md-12">
							<div class="form-group"
								data-ng-class="{ 'has-error': customerListCreate.gender.$error.required && customerListCreate.$submitted }">
								<div class="col-md-4">
									<span class="control-label">
										{{'Title' | translate}}
									</span>
								</div>
								<div class="col-md-8">
									<div>
										<span class="radio3 radio-check radio-inline">
											<input type="radio"
												id="Mr2"
												data-ng-model="vm.model.title1"
												data-ng-value="'Mr'" />
											<label for="Mr2">
												<b>{{'Mr' | translate}}</b>
											</label>
										</span>
										<span class="radio3 radio-check radio-inline">
											<input type="radio"
												id="Miss2"
												data-ng-model="vm.model.title1"
												data-ng-value="'Miss'" />
											<label for="Miss2">
												<b>{{'Miss' | translate}}</b>
											</label>
										</span>
									</div>
								</div>
							</div>
						</div>
						<div class="col-md-12">
							<div class="form-group"
								data-ng-class="{ 'has-error': customerListCreate.customers_last_name.$error.required && customerListCreate.$submitted }">
								<div class="col-md-4">
									<span class="control-label">
										{{'Name' | translate}}
									</span>
								</div>
								<div class="col-md-8">
									<input type="text"
										class="form-control"
										data-ng-model="vm.model.customers_last_name"
										name="customers_last_name"
										placeholder="{{'Name' | translate}}" />
									<div translate="ThisFieldRequire" class="has-error msg-error"
										data-ng-if="customerTypeForm.customers_last_name.$error.required && customerTypeForm.$submitted"></div>
								</div>
							</div>
						</div>
						<div class="col-md-12">
							<div class="form-group">
								<div class="col-md-4">
									<span class="control-label">
										{{'DOB' | translate}}
									</span>
								</div>
								<div class="col-md-8">
									<div class="input-group input-large" cambodia-date-picker date-format="{{dateFormat}}">
										<input type="text"
											class="form-control"
											name="dob"
											data-ng-model="vm.model.customers_dob1"
											auto-focus
											placeholder="{{'DOB' | translate}}">
										<span class="input-group-btn">
											<a class="btn btn-default" href="javascript:;">
												<i class="fa fa-calendar"></i>
											</a>
										</span>
									</div>
								</div>
							</div>
						</div>
						<div class="col-md-12">
							<div class="form-group">
								<div class="col-md-4">
									<span class="control-label">
										{{'Occupation' | translate}}
									</span>
								</div>
								<div class="col-md-8">
									<input type="text"
										class="form-control"
										data-ng-model="vm.model.customers_occupation"
										name="Occupation"
										placeholder="{{'Occupation' | translate}}" />
								</div>
							</div>
						</div>
						<div class="col-md-12">
							<div class="form-group"
								data-ng-class="{ 'has-error': customerListCreate.code.$error.required && customerListCreate.$submitted }">
								<div class="col-md-4">
									<span class="control-label">
										{{'CustomerID' | translate}}
									</span>
								</div>
								<div class="col-md-8">
									<div class="input-group">
										<input type="text"
											class="form-control"
											data-ng-disabled="vm.disabled"
											data-ng-model="vm.model.customers_code"
											name="code"
											placeholder="{{'CustomerID' | translate}}" />
										<span class="input-group-addon pointer" 
											data-ng-disabled="vm.disabled"
											uib-tooltip="{{'AutoGenerate' | translate}}"
											data-ng-click="vm.generateCode()">
											<i class="fa fa-refresh" data-ng-if="!vm.disabled"></i>
											<i class="fa fa-spinner fa-spin" data-ng-if="vm.disabled"></i>
										</button>
									</div>
								</div>
							</div>
						</div>
						<div class="col-md-12">
							<div class="form-group"
								data-ng-class="{ 'has-error': customerListCreate.email.$invalid && customerListCreate.$submitted }">
								<div class="col-md-4">
									<span class="control-label">
										{{'Email' | translate}}
									</span>
								</div>
								<div class="col-md-8">
									<input type="email"
										class="form-control"
										data-ng-model="vm.model.customers_email_address"
										name="email"
										placeholder="{{'Email' | translate}}" />
									<div translate="InvalidInput" class="has-error msg-error"
										data-ng-if="customerListCreate.email.$error.email && customerListCreate.$submitted"></div>
								</div>
							</div>
						</div>
						<div class="col-md-12">
							<div class="form-group">
								<div class="col-md-4">
									<span class="control-label">
										{{'FacebookAccount' | translate}}
									</span>
								</div>
								<div class="col-md-8">
									<input type="text"
										class="form-control"
										data-ng-model="vm.model.facebook_account"
										name="facebook"
										placeholder="{{'FacebookAccount' | translate}}" />
								</div>
							</div>
						</div>
						<div class="col-md-12">
							<div class="form-group"
								data-ng-class="{ 'has-error': customerListCreate.telephone.$error.required && customerListCreate.$submitted }">
								<div class="col-md-4">
										<span class="control-label">
											{{'Telephone' | translate}}
										</span>
										<span class="required">*</span>
								</div>
								<div class="col-md-8">
									<input type="text"
										class="form-control"
										data-ng-model="vm.model.customers_telephone"
										phone-input
										required
										name="telephone"
										placeholder="{{'Telephone' | translate}}"/>
								</div>
							</div>
						</div>
						<div class="col-md-12">
							<div class="form-group">
								<div class="col-md-4">
									<span class="control-label">
										{{'RelativeTelephone' | translate}}
									</span>
								</div>
								<div class="col-md-8">
									<input type="text"
										phone-input
										class="form-control"
										data-ng-model="vm.model.customers_relative_contact"
										name="relative_telephone"
										placeholder="{{'RelativeTelephone' | translate}}"/>
								</div>
							</div>
						</div>
						<div class="col-md-12">
							<div class="form-group">
								<div class="col-md-4">
									<span class="control-label">
										{{'CheckFrom' | translate}}
									</span>
								</div>
								<div class="col-md-8">
									<span class="radio3 radio-check radio-inline">
                                        <input type="radio"
                                            id="Walk"
                                            name="radio2"
                                            data-ng-model="vm.model.check_from"
                                            value="Walk" />
                                        <label for="Walk">
                                            <b>{{'Walk' | translate}}</b>
                                        </label>
                                    </span>
                                    <span class="radio3 radio-check radio-inline">
                                        <input type="radio"
                                            id="Facebook"
                                            name="radio2"
                                            data-ng-model="vm.model.check_from"
                                            value="Facebook" />
                                        <label for="Facebook">
                                            <b>{{'Facebook' | translate}}</b>
                                        </label>
                                    </span>
                                    <span class="radio3 radio-check radio-inline">
                                        <input type="radio"
                                            id="call"
                                            name="radio2"
                                            data-ng-model="vm.model.check_from"
                                            value="Call" />
                                        <label for="call">
                                            <b>{{'Call' | translate}}</b>
                                        </label>
                                    </span>
                                    <span class="radio3 radio-check radio-inline">
                                        <input type="radio"
                                            id="Email"
                                            name="radio2"
                                            data-ng-model="vm.model.check_from"
                                            value="Email" />
                                        <label for="Email">
                                            <b>{{'Email' | translate}}</b>
                                        </label>
                                    </span>
								</div>
							</div>
						</div>
						<div class="col-md-12">
							<div class="form-group">
								<div class="col-md-4">
									<span class="control-label">
										{{'InterestPackage' | translate}}
									</span>
								</div>
								<div class="col-md-8">
									<select class="form-control" name="packageType"
										data-ng-model="vm.model.interest_package_type_id"
										data-ng-options="x.id as x.name for x in vm.packageList">
										<option value="">{{'Select' | translate}}</option>
									</select>
								</div>
							</div>
						</div>
						<div class="col-md-12">
							<div class="form-group">
								<div class="col-md-4">
									<span class="control-label">
										{{'LocationType' | translate}}
									</span>
								</div>
								<div class="col-md-8">
									<location-type-drop-down 
										data-ng-model="vm.locationType"
										ng-change="vm.getLocation()"></location-ty-drop-down>
								</div>
							</div>
						</div>
						<div class="col-md-12">
							<div class="form-group">
								<div class="col-md-4">
									<span class="control-label">
										{{'Location' | translate}}
									</span>
								</div>
								<div class="col-md-8">
									<!-- <location-list-drop-down data-ng-model="vm.location"></location-list-drop-down> -->
									<select data-ng-model="vm.location"
										class="form-control" data-ng-options="x as x.name for x in vm.locationList.elements track by x.id">
										<option value="">{{'Select' | translate}}</option>
									</select>
								</div>
							</div>
						</div>
						<div class="col-md-12">
							<div class="form-group">
								<div class="col-md-4">
									<span class="control-label">
										{{'ShootDate' | translate}}
									</span>
								</div>
								<div class="col-md-8">
									<div class="input-group input-large" cambodia-date-picker date-format="{{dateFormat}}">
										<input type="text"
											class="form-control"
											name="shootDate"
											data-ng-model="vm.model.shoot_date"
											auto-focus
											placeholder="{{'ShootDate' | translate}}">
										<span class="input-group-btn">
											<a class="btn btn-default" href="javascript:;">
												<i class="fa fa-calendar"></i>
											</a>
										</span>
									</div>
								</div>
							</div>
						</div>
						<div class="col-md-12">
							<div class="form-group"
								data-ng-class="{ 'has-error': customerListCreate.eventDate.$error.required && customerListCreate.$submitted }">
								<div class="col-md-4">
									<span class="control-label">
										{{'EventDate' | translate}}
									</span>
								</div>
								<div class="col-md-8">
									<div class="input-group input-large" cambodia-date-picker date-format="{{dateFormat}}">
										<input type="text"
											class="form-control"
											name="eventDate"
											data-ng-model="vm.model.event_date"
											placeholder="{{'EventDate' | translate}}">
										<span class="input-group-btn">
											<a class="btn btn-default" href="javascript:;">
												<i class="fa fa-calendar"></i>
											</a>
										</span>
									</div>
								</div>
							</div>
						</div>
						<div class="col-md-12">
							<div class="form-group">
								<div class="col-md-4">
									<span class="control-label">
										{{'Responsible' | translate}}
									</span>
								</div>
								<div class="col-md-8">
									<staff-list-drop-down data-ng-model="vm.model.staff_responsible"
										is-active="true"
									>
									</staff-list-drop-down>
								</div>
							</div>
						</div>
						<div class="col-md-12">
							<div class="form-group">
								<div class="col-md-4">
									<span class="control-label">
										{{'Address' | translate}}
									</span>
								</div>
								<div class="col-md-8">
									<textarea class="form-control"
											data-ng-model="vm.model.customers_address"
											name="address"
											rows="5"
											placeholder="{{'Address' | translate}}"></textarea>
								</div>
							</div>
						</div>
						<div class="col-md-12">
							<div class="form-group">
								<div class="col-md-4">
									<span class="control-label">
										{{'Description' | translate}}
									</span>
								</div>
								<div class="col-md-8">
									<textarea class="form-control"
											data-ng-model="vm.model.customers_description"
											name="description"
											rows="5"
											placeholder="{{'Description' | translate}}"></textarea>
								</div>
							</div>
						</div>
						<div class="col-md-12">
							<div class="form-group">
								<div class="col-md-4">
									<span class="control-label">
										{{'Nationality' | translate}}
										<span class="required">*</span>
									</span>
								</div>
								<div class="col-md-8">
									<select class="form-control"
											data-ng-model="vm.model.customers_country"
											data-ng-options="country.countries_name as country.countries_name for country in countries.elements"
									>
										<option>{{'Select' | translate}}</option>
									</select>
								</div>
							</div>
						</div>
					</div>
					<div class="col-lg-6">	
						<div class="row">
							<div class="col-md-12 text-center">
								<img ng-src="{{vm.model.customers_photo}}"
										class="img-thumbnail"
										width="250px"/>
								<br /><br />
								<div>
									<a class="btn btn-success" href="javascript:;" ng-click="vm.showSnapPhoto();">
										<i class="fa fa-camera"></i>
										{{'SnapAPhoto' | translate}}
									</a>
									<span> {{'Or' | translate}} </span>
									<a class="btn btn-primary" ng-click="vm.showUploadPhoto();" href="javascript:;">
										<i class="fa fa-cloud-upload"></i> 
										{{'UploadAnImage' | translate}}
									</a>
								</div>
							</div>
						</div>
					</div>
				</uib-tab>
				<!-- Customer Document Tab-->
				<uib-tab ng-if="vm.isEdit" ng-hide="true">
					<uib-tab-heading>
						{{'CustomerDocuments' | translate}}
					</uib-tab-heading>
					<div class="table-responsive">
						<table class="table table-striped table-bordered">
							<thead>
								<tr>
									<th width="1%">#</th>
									<th width="15%">{{'Date' | translate}}</th>
									<th width="30%">{{'Description' | translate}}</th>
									<th width="20%">{{'Remark' | translate}}</th>
									<th width="20%">{{'CheckBy' | translate}}</th>
									<th width="20%"></th>
								</tr>
							</thead>
							<tbody>
								<tr ng-repeat="row in vm.model.customers_documents track by $index">
									<td>{{$index + 1}}</td>
									<td>
										{{vm.service.dateFormat(row.date)}}
									</td>
									<td>
										<span data-ng-bind="row.description"/>
									</td>
									<td>
										<span data-ng-bind="row.remark"/>
									</td>
									<td>
										<span data-ng-bind="row.check_by_staff_name"/>
									</td>
									<td>
										<div class="btn-group"> 
											<button type="button" class="btn btn-danger btn-sm"
												data-ng-click="vm.removeFile($index);" 
												uib-tooltip="{{'Delete' | translate}}">
												<i class="fa fa-trash"></i>
											</button> 
											<button type="button" class="btn btn-default btn-sm"
												data-ng-click="vm.editCustomerDocument(row, $index);" 
												uib-tooltip="{{'Edit' | translate}}">
												<i class="fa fa-edit"></i>
											</button> 
											<a type="button" class="btn btn-sm btn-default" 
												uib-tooltip="{{'Download' | translate}}"
												data-ng-if="row.image"
												href="{{row.image}}" 
												download
												ng-click="vm.download();">
												<i class="fa fa-download"></i>
											</a> 
											<a class="btn btn-default btn-sm" 
												href="javascript:;"
												data-ng-click="vm.addDoc()"
												uib-tooltip="{{'AddNew' | translate}}"
												data-toggle="modal" 
												data-target="#document-popup"
												ng-if="vm.model.customers_documents.length == $index +1">
												<i class="fa fa-plus-circle"></i>
											</a>
										</div>
										<!--<a href="javascript:;" 
											data-ng-click="vm.removeFile($index);" 
											uib-tooltip="{{'Delete' | translate}}"
											class="btn btn-danger">
											<i class="fa fa-trash"></i>
										</a>
										<a class="btn btn-default" 
											uib-tooltip="{{'Download' | translate}}"
											href="{{row.name}}" 
											download
											ng-click="vm.download();">
											<i class="fa fa-download"></i>
										</a>
										<a class="btn btn-success" href="{{row.name}}" 
											download
											ng-click="vm.showDocumentSnapPhoto();"
											uib-tooltip="{{'SnapAPhoto' | translate}}"
											ng-if="vm.model.customers_documents.length == $index +1">
											<i class="fa fa-camera"></i>
										</a>
										<a class="btn btn-primary" 
											ng-if="vm.model.customers_documents.length == $index +1"
											ngf-select="vm.upload($file)"
											download
											uib-tooltip="{{'UploadAnImage' | translate}}"
											ngf-pattern="'image/*'"
											ngf-accept="'image/*'" 
											ngf-max-size="2MB"
											href="{{row.name}}">
											<i class="fa fa-cloud-upload"></i> 
										</a>-->
									</td>
								</tr>
								<tr ng-if="!vm.model.customers_documents || vm.model.customers_documents.length == 0">
									<td colspan="5">
										<empty-data></empty-data>
									</td>
									<td>
										<button type="button" class="btn btn-default btn-sm" 
											uib-tooltip="{{'AddNew' | translate}}"
											data-ng-click="vm.addDoc()"
											data-toggle="modal" 
											data-target="#document-popup">
											<i class="fa fa-plus-circle"></i>
										</button> 
										<!--<a class="btn btn-success" href="javascript:;" 
											uib-tooltip="{{'SnapAPhoto' | translate}}"
											ng-click="vm.showDocumentSnapPhoto();">
											<i class="fa fa-camera"></i>
										</a>
										<a class="btn btn-primary" 
											ngf-select="vm.upload($file)"
											uib-tooltip="{{'UploadAnImage' | translate}}"
											ngf-pattern="'image/*'"
											ngf-accept="'image/*'" 
											ngf-max-size="2MB"
											href="javascript:;">
											<i class="fa fa-cloud-upload"></i> 
										</a>-->
									</td>
								</tr>
							</tbody>
						</table>
						<div data-ng-if="vm.loadingDocument" class="align_center">
							<i class="fa fa-refresh fa-spin" style="font-size: 100px;"></i>
						</div>
					</div>
				</uib-tab>
			</uib-tabset>
			<div class="clearfix"></div>
			<div class="modal-footer">
				<a
					class="btn btn-default"
					data-dismiss="modal"
					ui-sref="customer_list"
					href="javascript:;"
				>
					<i class="fa fa-close"></i>
					{{'Close' | translate}}
				</a>
				<button
					class="btn btn-primary"
					data-ng-disabled="!vm.disable"
				>
					<i class="fa fa-save"></i>
					{{'Save' | translate}}
				</button>
			</div>
		</div>
	</form>
</div>
<crop-image-modal result-image="vm.resultImage" image-path="vm.model.customers_photo"></crop-image-modal>
<snap-photo-modal result-image="vm.resultImage" is-hide="vm.hide" image-path="vm.model.customers_photo"></snap-photo-modal>

<upload-document docs="vm.customer_document.image" is-hide="vm.hideDocument"></upload-document>

<!-- Modal popup for customer document -->
<div class="modal fade"
	id="document-popup"
	data-keyboard="false"
	data-backdrop="static">    
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<h4 class="modal-title">
					{{"CustomerDocuments" | translate}}
				</h4>
			</div>
			<form name="customerDocument" class="form-horizontal" novalidate data-ng-submit="vm.saveCustomerDocument();"> 
				<div class="modal-body">
					<div class="col-md-12">
						<div class="form-group"
							data-ng-class="{ 'has-error': customerDocument.date.$error.required && customerDocument.$submitted }">
							<div class="col-md-4">
								<span class="control-label">
									{{'Date' | translate}}
								</span>
								<span class="required">*</span>
							</div>
							<div class="col-md-8">
								<div class="input-group input-large" 
									cambodia-date-picker 
									date-format="{{dateFormat}}">
									<input type="text"
										class="form-control"
										name="date"
										required
										data-ng-model="vm.customer_document.date"
										auto-focus
										placeholder="{{'Date' | translate}}">
									<span class="input-group-btn">
										<a class="btn btn-default" href="javascript:;">
											<i class="fa fa-calendar"></i>
										</a>
									</span>
								</div>
							</div>
						</div>
					</div>
					<div class="col-md-12">
						<div class="form-group" data-ng-class="{ 'has-error': customerDocument.description.$error.required && customerDocument.$submitted }">
							<div class="col-md-4">
								<span class="control-label">
									{{'Description' | translate}}
									<span class="required">*</span>
								</span>
							</div>
							<div class="col-md-8">
								<textarea class="form-control" rows="5" name="description" required
										data-ng-model="vm.customer_document.description"
										placeholder="{{'Description' | translate}}"/>
							</div>
						</div>
					</div>
					<div class="col-md-12">
						<div class="form-group">
							<div class="col-md-4">
								<span class="control-label">
									{{'Remark' | translate}}
								</span>
							</div>
							<div class="col-md-8">
								<textarea class="form-control" rows="5"
									data-ng-model="vm.customer_document.remark"
									placeholder="{{'Remark' | translate}}"/>
							</div>
						</div>
					</div>
					<div class="col-md-12">
						<div class="form-group"
							data-ng-class="{ 'has-error': customerDocument.doctor.$error.required && customerDocument.$submitted }">
							<div class="col-md-4">
								<span class="control-label">
									{{'CheckBy' | translate}}
								</span>
								<span class="required">*</span>
							</div>
							<div class="col-md-8">
								<doctor-list-drop-down doctor-model="vm.staff" name="doctor" 
									is-active="true"
									use-filter="1"
									required="required"></doctor-list-drop-down>
								<!-- <select class="form-control" 
									data-ng-model="vm.staff"
									name="checkBy"
									required
									data-ng-options="x as x.name for x in vm.doctors track by x.id">
									<option value="">{{"Select" | translate}}</option>	
								</select> -->
							</div>
						</div>
					</div>
					<div class="col-md-12">
						<div class="form-group">
							<div class="col-md-4">
								{{"Image"|translate}}
							</div>
							<div class="col-md-8">
								<a class="btn btn-success" 
									ng-click="vm.showDocumentSnapPhoto();"
									uib-tooltip="{{'SnapAPhoto' | translate}}">
									<i class="fa fa-camera"></i>
								</a>
								{{"Or" | translate}}
								<a class="btn btn-primary" 
									ngf-select="vm.upload($file)"
									uib-tooltip="{{'UploadAnImage' | translate}}"
									ngf-pattern="'image/*'"
									ngf-accept="'image/*'" 
									ngf-max-size="2MB">
									<i class="fa fa-cloud-upload"></i> 
								</a>
								<div class="progress" ng-if="vm.loadingUpload" style="overflow: visible;">
									<div class="progress-bar progress-bar-striped active" 
										role="progressbar" 
										aria-valuenow="40" 
										aria-valuemin="0" 
										aria-valuemax="100" 
										ng-style="{'width': vm.progressPercentage + '%'}">
										{{vm.progressPercentage}}%
									</div>
								</div>
							</div>
						</div>						
					</div>
					<div class="clearfix"></div>
				</div>
				<div class="modal-footer">
					<button class="btn btn-default"
						data-dismiss="modal">
						<i class="fa fa-close"></i>
						{{'Close' | translate}}
					</button>
					<button class="btn btn-success" 
						ng-click="vm.saveCustomerDocument();">
						<i class="fa fa-save"></i>
						{{'Save' | translate}}
					</button>
				</div>			
			</form>
		</div>
	</div>
</div>