
<form data-ng-submit="vm.save();" name="customerListCreate" class="form-horizontal" novalidate>
	<div class="panel panel-default">
		<uib-tabset active="active">
				<!-- Customer Info Tab-->
			<uib-tab>
				<uib-tab-heading>
					{{'CustomerInfo' | translate}}
				</uib-tab-heading>
				<div class="col-lg-6">
					<!-- <div class="col-md-12">
						<div class="form-group">
							<div class="col-md-4">
								<span class="control-label">
									{{'Branch' | translate}}
								</span>
							</div>
							<div class="col-md-8">
								{{vm.model.branch_detail[0].name}}
							</div>
						</div>
					</div> -->
					<div class="col-md-12">
						<div class="form-group">
							<div class="col-md-4">
								<span class="control-label">
									{{'CustomerType' | translate}}
								</span>
							</div>
							<div class="col-md-8">
								{{vm.model.customers_type_detail[0].name}}
							</div>
						</div>
					</div>
					<div class="col-md-12">
						<div class="form-group">
							<div class="col-md-4">
								<span class="control-label">
									{{'MemberCard' | translate}}
								</span>
							</div>
							<div class="col-md-8">
								{{vm.model.member_card}}
							</div>
						</div>
					</div>
					<div class="col-md-12">
						<div class="form-group">
							<div class="col-md-4">
								<span class="control-label">
									{{'Title' | translate}}
								</span>
							</div>
							<div class="col-md-8">
								{{vm.model.title}}
							</div>
						</div>
					</div>
					<div class="col-md-12">
						<div class="form-group">
							<div class="col-md-4">
								<span class="control-label">
									{{'Name' | translate}}
								</span>
							</div>
							<div class="col-md-8">
								{{vm.model.customers_first_name}}
							</div>
						</div>
					</div>
					
					<div class="col-md-12">
						<div class="form-group">
							<div class="col-md-4">
								<span class="control-label">
									{{'DOB' | translate}}
								</span>
							</div>
							<div class="col-md-8">
								{{vm.service.dateFormat(vm.model.customers_dob)}}
							</div>
						</div>
					</div>
					<div class="col-md-12">
						<div class="form-group">
							<div class="col-md-4">
								<span class="control-label">
									{{'Title' | translate}}
								</span>
							</div>
							<div class="col-md-8">
								{{vm.model.title1}}
							</div>
						</div>
					</div>
					<div class="col-md-12">
						<div class="form-group">
							<div class="col-md-4">
								<span class="control-label">
									{{'Name' | translate}}
								</span>
							</div>
							<div class="col-md-8">
								{{vm.model.customers_last_name}}
							</div>
						</div>
					</div>
					<div class="col-md-12">
						<div class="form-group">
							<div class="col-md-4">
								<span class="control-label">
									{{'DOB' | translate}}
								</span>
							</div>
							<div class="col-md-8">
								{{vm.service.dateFormat(vm.model.customers_dob1)}}
							</div>
						</div>
					</div>
					<div class="col-md-12">
						<div class="form-group">
							<div class="col-md-4">
								<span class="control-label">
									{{'Age' | translate}}
								</span>
							</div>
							<div class="col-md-8">
								{{vm.service.getAge(vm.model.customers_dob)}}
							</div>
						</div>
					</div>
					<div class="col-md-12">
						<div class="form-group">
							<div class="col-md-4">
								<span class="control-label">
									{{'Occupation' | translate}}
								</span>
							</div>
							<div class="col-md-8">
								{{vm.model.customers_occupation}}
							</div>
						</div>
					</div>
					<div class="col-md-12">
						<div class="form-group">
							<div class="col-md-4">
								<span class="control-label">
									{{'CustomerID' | translate}}
								</span>
							</div>
							<div class="col-md-8">
								{{vm.model.customers_code}}
							</div>
						</div>
					</div>
					<div class="col-md-12">
						<div class="form-group">
							<div class="col-md-4">
								<span class="control-label">
									{{'Email' | translate}}
								</span>
							</div>
							<div class="col-md-8">
								{{vm.model.customers_email_address}}
							</div>
						</div>
					</div>
					<div class="col-md-12">
						<div class="form-group">
							<div class="col-md-4">
									<span class="control-label">
										{{'Telephone' | translate}}
									</span>
							</div>
							<div class="col-md-8">
								{{vm.model.customers_telephone | tel}}
							</div>
						</div>
					</div>
					<div class="col-md-12">
						<div class="form-group">
							<div class="col-md-4">
									<span class="control-label">
										{{'RelativeTelephone' | translate}}
									</span>
							</div>
							<div class="col-md-8">
								{{vm.model.customers_relative_contact | tel}}
							</div>
						</div>
					</div>
					<div class="col-md-12">
						<div class="form-group">
							<div class="col-md-4">
								<span class="control-label">
									{{'CheckFrom' | translate}}
								</span>
							</div>
							<div class="col-md-8">
								{{vm.model.check_from}}
							</div>
						</div>
					</div>
					<div class="col-md-12">
						<div class="form-group">
							<div class="col-md-4">
								<span class="control-label">
									{{'InterestPackage' | translate}}
								</span>
							</div>
							<div class="col-md-8">
								{{vm.model.interest_package_type}}
							</div>
						</div>
					</div>
					<div class="col-md-12">
						<div class="form-group">
							<div class="col-md-4">
								<span class="control-label">
									{{'LocationType' | translate}}
								</span>
							</div>
							<div class="col-md-8">
								{{vm.model.location_type_name}}
							</div>
						</div>
					</div>
					<div class="col-md-12">
						<div class="form-group">
							<div class="col-md-4">
								<span class="control-label">
									{{'Location' | translate}}
								</span>
							</div>
							<div class="col-md-8">
								{{vm.model.location_name}}
							</div>
						</div>
					</div>
					<div class="col-md-12">
						<div class="form-group">
							<div class="col-md-4">
									<span class="control-label">
										{{'ShootDate' | translate}}
									</span>
							</div>
							<div class="col-md-8">
								{{vm.service.dateConvert(vm.model.shoot_date) | date: 'dd-MM-yyyy'}}
							</div>
						</div>
					</div>
					<div class="col-md-12">
						<div class="form-group">
							<div class="col-md-4">
									<span class="control-label">
										{{'EventDate' | translate}}
									</span>
							</div>
							<div class="col-md-8">
								{{vm.service.dateConvert(vm.model.event_date) | date: 'dd-MM-yyyy'}}
							</div>
						</div>
					</div>
					<div class="col-md-12">
						<div class="form-group">
							<div class="col-md-4">
									<span class="control-label">
										{{'Responsible' | translate}}
									</span>
							</div>
							<div class="col-md-8">
								{{vm.model.staff_responsible_detail[0].name}}
							</div>
						</div>
					</div>
					<div class="col-md-12">
						<div class="form-group">
							<div class="col-md-4">
									<span class="control-label">
										{{'Address' | translate}}
									</span>
							</div>
							<div class="col-md-8">
								{{vm.model.customers_address}}
							</div>
						</div>
					</div>
					<div class="col-md-12">
						<div class="form-group">
							<div class="col-md-4">
								<span class="control-label">
									{{'Description' | translate}}
								</span>
							</div>
							<div class="col-md-8">
								{{vm.model.customers_description}}
							</div>
						</div>
					</div>
					<div class="col-md-12">
						<div class="form-group">
							<div class="col-md-4">
								<span class="control-label">
									{{'Nationality' | translate}}
								</span>
							</div>
							<div class="col-md-8">
								{{vm.model.customers_country}}
							</div>
						</div>
					</div>
					<div class="col-md-12">
						<div class="form-group">
							<div class="col-md-4">
								<span class="control-label">
									{{'CreateBy' | translate}}
								</span>
							</div>
							<div class="col-md-8">
								{{vm.model.creator}}
								<div class="fa fa-calendar">
									{{vm.service.dateConvert(vm.model.create_date) | date: 'dd-MM-yyyy HH:mm:ss a'}}
								</div>
							</div>
						</div>
					</div>
					<div class="col-md-12">
						<div class="form-group">
							<div class="col-md-4">
								<span class="control-label">
									{{'UpdateBy' | translate}}
								</span>
							</div>
							<div class="col-md-8">
								{{vm.model.update_name}}
								<div class="fa fa-calendar" data-ng-if="vm.model.update_date">
									{{vm.service.dateConvert(vm.model.update_date) | date: 'dd-MM-yyyy HH:mm:ss a'}}
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="col-lg-6">
					<div class="row">
						<div class="col-md-12 text-center">
							<img ng-src="{{vm.model.customers_photo}}"
									class="img-thumbnail"
									width="250px"/>
						</div>
						<div>
							{{'FollowUp' | translate}}
						</div>
						<table class="table table-bordered table-striped">
							<thead>
								<tr>
									<th>
										#
									</th>
									<th>
										{{'Description'|translate}}
									</th>
									<th>
										{{'CreateBy'|translate}}
									</th>
									<th>
										{{'CreateDate'|translate}}
									</th>
									<th></th>
								</tr>
							</thead>
							<tbody>
								<tr data-ng-repeat="x in vm.model.customer_follow_up track by $index">
									<td>
										{{$index + 1 }}
									</td>
									<td>
										{{x.description}}
									</td>
									<td>
										{{x.creator}}
									</td>
									<td>
										{{vm.service.dateConvert(x.create_date) | date: 'dd-MM-yyyy HH:mm:ss a'}}
									</td>
									<td>
										<div role-permission 
											ng-if="featureRole"
											permission="'Delete_Follow_Up_Customer'" 
											feature="featureRole">
											<button class="btn btn-danger btn-xs" 
												data-ng-click="vm.delete(x, $index)">
												<i class="fa fa-trash"></i>
											</button>
										</div>
									</td>
								</tr>
								<tr data-ng-if="vm.model.customer_follow_up.length == 0">
									<td colspan="5">
										<empty-data></empty-data>
									</td>
								</tr>
							</tbody>
						</table>
					</div>
				</div>
			</uib-tab>
			<!-- Customer Document Tab-->
			<!-- <uib-tab>
				<uib-tab-heading>
					{{'CustomerDocuments' | translate}}
				</uib-tab-heading>
				
				<div class="table-responsive">
					<table class="table table-striped table-bordered">
						<thead>
							<tr>
								<th width="1%">#</th>
								<th width="15%">{{'Date' | translate}}</th>
								<th width="20%">{{'Description' | translate}}</th>
								<th width="20%">{{'Remark' | translate}}</th>
								<th width="15%">{{'CheckBy' | translate}}</th>
								<th width="1%"></th>
							</tr>
						</thead>
						<tbody>
							<tr ng-repeat="row in vm.model.customers_documents">
								<td>{{$index + 1}}</td>
								<td>
									{{vm.service.dateFormat(row.date)}}
								</td>
								<td>
									<span ng-bind="row.description">
								</td>
								<td>
									<span ng-bind="row.remark">
								</td>
								<td>
									<span ng-bind="row.check_by_staff_name"/>
								</td>
								<td>
									<a class="btn btn-default btn-sm" data-ng-if="row.image"
										uib-tooltip="{{'Download' | translate}}"
										href="{{row.image}}" 
										download>
										<i class="fa fa-download"></i>
								</td>
							</tr>
							<tr ng-if="!vm.model.customers_documents || vm.model.customers_documents.length == 0">
								<td colspan="6">
									<empty-data></empty-data>
								</td>
							</tr>
						</tbody>
					</table>
				</div>
				<div ng-repeat="row in vm.model.documents" ng-if="vm.model.documents">
					<img ng-src="{{row.file}}"/>
				</div>		
			</uib-tab> -->
		</uib-tabset>
		<div class="clearfix"></div>
		<div class="modal-footer">
			<a class="btn btn-default"
				data-dismiss="modal"
				ui-sref="customer_list"
				href="javascript:;">
				<i class="fa fa-close"></i>
				Close
			</a>
		</div>
	</div>
</form>


