<div class="panel panel-default">
    <div class="panel-heading">
        <b>{{'CustomerList' | translate}}</b>
    </div>
    <div class="panel-body">
        <span role-permission 
            ng-if="featureRole"
            permission="'Customer_List_Create'" 
            feature="featureRole">
            <a class="btn btn-default" ui-sref="customer_list_create">
                <span class="fa fa-plus-circle"></span>
                {{'Register' | translate}}
            </a>
        </span>
        {{'TotalRecord' | translate}}: {{vm.totalItems | number}}
        <br/>
        <div class="row">
        <form>
            <div class="form-body">
                <div class="col-md-3">
                    <div class="input-group input-large">
                        <input type="text"
                               class="form-control"
                               data-ng-model="vm.name"
                               auto-focus
                               placeholder="{{'SearchMulti' | translate}}">
                        <span class="input-group-btn">
                            <button type="submit" class="btn blue" data-ng-click="vm.search()">
                                <i class="fa fa-search" data-ng-if="!vm.loading"></i>
                                <i class="fa fa-spinner fa-spin" data-ng-if="vm.loading"></i>
                            </button>
                        </span>
                    </div>
                </div>
                <div class="col-md-3">
                    <select class="form-control" data-ng-model="vm.typeCode">
                        <option value="">{{"Select" | translate}}</option>
                        <option value="no code">{{"ClientLog" | translate}}</option>
                        <option value="has code">{{"ClientRegister" | translate}}</option>
                    </select>
                </div>
            </div>
        </form>
        </div>
        <div class="table-responsive">
            <table class="table table-bordered table-striped">
                <thead>
                    <th width="1%">
                        #
                    </th>
                    <th width="15%">
                        {{'Name' | translate}}
                    </th>
                    <th width="10%">
                        {{'Type' | translate}}
                    </th>
                    <th width="12%">
                        {{'DOB' | translate}}
                    </th>
                    <th width="5%">
                        {{'Gender' | translate}}
                    </th>
                    <th width="10%">
                        {{'Telephone' | translate}}
                    </th>
                    <th width="10%">
                        {{'ShootDate' | translate}}
                    </th>
                    <th width="10%">
                        {{'EventDate' | translate}}
                    </th>
                    <th width="13%">
                        {{'Action' | translate}}
                    </th>
                </thead>
                <tr data-ng-repeat="customer in vm.customerList.elements">
                    <td>
                        <span data-ng-bind="vm.pageSize + $index + 1"></span>
                    </td>
                    <td>
                        <a ui-sref="customer_detail({id: customer.id})">
                            <span uib-popover-html="vm.displayImage(customer)" 
                                popover-trigger="'mouseenter'"
                                popover-placement="right"
                                class="pointer">
                                {{customer.customers_first_name + (customer.customers_last_name ? ' & ' + customer.customers_last_name : '')}}
                            </span>
                            <span class="label label-default" data-ng-bind="customer.customers_code"></span>
                        </a>
                    </td>
                    <td>
                        <span data-ng-bind="customer.customers_type_detail[0].name"></span>
                    </td>
                    <td>
                        <span data-ng-bind="vm.service.dateFormat(customer.customers_dob)"></span>
                        <label class="label  label-primary">
                            {{vm.service.getAge(customer.customers_dob)}}
                        </label>
                    </td>
                    <td>
                        <span data-ng-bind="customer.customers_gender"></span>
                    </td>
                    <td>
                        <span data-ng-bind="customer.customers_telephone | tel"></span>
                    </td>
                    <td>
                        {{vm.service.dateFormat(customer.shoot_date)}}
                    </td>
                    <td>
                        {{vm.service.dateFormat(customer.event_date)}}
                    </td>
                    <td>
                        <span role-permission 
                            ng-if="featureRole"
                            permission="'Customer_List_Edit'" 
                            feature="featureRole">
                            <a class="btn btn-default btn-xs"
                                uib-tooltip="{{'Edit' | translate}}" 
                                ui-sref="customer_list_edit({id: customer.id})">
                                <span class="fa fa-edit"></span>
                            </a>
                        </span>
                        <span role-permission 
                            ng-if="featureRole"
                            permission="'Customer_List_Disable'" 
                            feature="featureRole">
                            <button
                                class="btn btn-success btn-xs"
                                uib-tooltip="{{'Enable' | translate}}"
                                data-ng-click="vm.updateStatus(customer);"
                                data-ng-if="customer.status == 1"
                            >
                                <span class="fa fa-check-circle-o"></span>
                            </button>
                            <button
                                class="btn btn-warning btn-xs"
                                data-ng-if="customer.status == 0"
                                uib-tooltip="{{'Disable' | translate}}"
                                data-ng-click="vm.updateStatus(customer);"
                            >
                                <span class="fa fa-times-circle"></span>
                            </button>
                        </span>
                        <span role-permission 
                            ng-if="featureRole"
                            permission="'Customer_List_View'" 
                            feature="featureRole">
                            <a class="btn btn-primary btn-xs" 
                                uib-tooltip="{{'Detail' | translate}}"
                                ui-sref="customer_detail({id: customer.id})">
                                <span class="fa fa-eye"></span>
                            </a>
                        </span>
                        <span role-permission 
                            ng-if="featureRole"
                            permission="'Customer_List_Delete'" 
                            feature="featureRole">
                            <a class="btn btn-danger btn-xs" 
                                uib-tooltip="{{'Delete' | translate}}"
                                data-ng-click="vm.delete(customer);">
                                <span class="fa fa-trash"></span>
                            </a>
                        </span>
                        <span role-permission 
                            ng-if="featureRole"
                            permission="'Create_Follow_Up_Customer'" 
                            feature="featureRole">
                            <button uib-popover-template="vm.html" 
                                uib-tooltip="{{'FollowUp' | translate}}"
                                popover-placement="auto"
                                popover-is-open="customer.isOpen"
                                data-ng-click="vm.getIdFollowUp(customer);"
                                popover-title="{{'FollowUp' | translate}}"
                                class="btn btn-default btn-xs">
                                <i class="fa fa-commenting"></i>
                            </button>
                        </span>
                    </td>
                </tr>
            </table>
        </div>
        <div data-ng-if="vm.customerList.elements == 0">
            <empty-data></empty-data>
        </div>
        <div
            data-ng-if="!vm.customerList"
            class="align_center"
        >
            <i class="fa fa-refresh fa-spin" style="font-size: 100px;"></i>
        </div>
    </div>
    <div class="panel-footer">
        <ul uib-pagination
            total-items="vm.totalItems"
            ng-model="vm.currentPage"
            ng-change="vm.pageChanged()"
            max-size="5"
            items-per-page="10"
            boundary-links="true"
        ></ul>
    </div>
</div>
<script type="text/ng-template" id="myPopoverTemplate.html">
    <textarea data-ng-model="vm.description" class="form-control" placeholder="{{'Description' | translate}}"></textarea>
    <button class="btn btn-primary" 
        data-ng-disabled="vm.disable"
        data-ng-click="vm.saveFollowUp();">{{"Save" | translate}}</button>
</script>
