﻿<div class="modal fade"
    id="upload-document-popup"
    data-keyboard="false"
    data-backdrop="static">    
	<div class="modal-dialog">
		<div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">
                    {{"UploadDocuments" | translate}}
                </h4>
            </div>
            <div class="modal-body">
                <div class="text-center" data-ng-if="isHide">
                    <webcam channel="channel"
                            on-streaming="onSuccess()"
                            on-error="onError(err)"
                            on-stream="onStream(stream)"></webcam>
                    <canvas id="snapshot" width="800" height="800" ng-hide="true"></canvas>
                </div>
                <div class="clearfix"></div>
            </div>
            <div class="modal-footer">
                <button class="btn btn-default" 
                    ng-click="vm.cancel()" 
                    data-ng-disabled="vm.loading"
                    data-dismiss="modal">
                    {{'Close' | translate}}
                </button>
                <button class="btn btn-success" 
                    ng-click="makeSnapshot();"
                    data-ng-disabled="loading">
                        <i class="fa fa-spinner fa-spin" data-ng-if="vm.loading"></i>
                        {{'Save' | translate}}
                    </button>
            </div>
		</div>
	</div>
</div>