<div class="panel panel-default">
    <div class="panel-body">
        <div class="row">
            <div class="col-sm-12">
                <button class="btn btn-success margin-top" data-ng-click="vm.init();">
                    <i class="fa fa-hourglass-half"></i>
                    <span translate="Filter"></span>
                </button>
                <button class="btn btn-default margin-top" onclick="PrintElem('#print')">
                    <i class="fa fa-print"></i>
                    <span translate="Print"></span>
                </button>
                <span role-permission 
					 ng-if="featureRole"
					 permission="'Customer_Birth_Day_Report_Export'" 
					 feature="featureRole">
                    <button class="btn btn-info margin-top"
                            ng-csv="vm.csv"
                            data-ng-disabled="!vm.totalItems"
							csv-header="vm.headers"
							add-bom="true"
                            filename="staff_birth_day.csv">
                        <i class="fa fa-file-excel-o"></i>
                        {{'ExportCSV' | translate}}
                    </button>
                </span>
            </div>
        </div>
        <div data-ng-if="vm.staff.count" id="print">
            <table width="100%">
                <tr>
                    <td align="center">
                        <h2 ng-bind-html="company.company_name"></h2>
                        <h4>
                            <span translate="StaffBirthDayList"></span>
                        </h4>
                        <span translate="TotalRecord"></span> {{vm.totalItems}}
                    </td>
                </tr>
            </table>
            <table class="table-print">
				<tr>
					<th>
						#
					</th>
					<th>
						{{'Name' | translate}}
					</th>
					<th>
						{{'Type' | translate}}
					</th>
					<th>
						{{'Gender' | translate}}
					</th>
					<th>
						{{'DOB' | translate}}
					</th>
					<th>
						{{'Email' | translate}}
					</th>
					<th>
						{{'Telephone' | translate}}
					</th>
					<th>
						{{'Address' | translate}}
					</th>
				</tr>
				<tr data-ng-repeat="s in vm.staff.elements">
					<td>
						{{$index +1}}
					</td>
					<td>
						{{s.name}}
					</td>
					<td>
						{{s.doctor_type[0].name}}
					</td>
					<td>
						{{s.sex}}
					</td>
					<td>
						{{vm.service.dateFormat(s.dob)}}
					</td>
					<td>
						{{s.email}}
					</td>
					<td>
						{{s.phone | tel}}
					</td>
					<td>
						{{s.address}}
					</td>
				</tr>
			</table>
        </div>
        <div
            data-ng-if="vm.staff.elements == 0"
        >
            <empty-data></empty-data>
        </div>
        <div data-ng-if="!vm.staff || vm.staff.length == 0" class="align_center">
            <i class="fa fa-refresh fa-spin" style="font-size: 100px;"></i>
        </div>
    </div>
</div>