<div class="panel panel-default">
	<div class="panel-heading">
		{{'StaffReport' | translate}}
	</div>
	<div class="panel-body">
		<div class="row">
			<div class="col-md-3">
				<input type="text" placeholder="{{'Search' | translate}}" 
					class="form-control"
					data-ng-model="vm.search"/>
			</div>
			<div class="col-md-6">
				<button class="btn btn-primary"
						data-ng-click="vm.doctor = {}"
						uib-tooltip="{{'ClearSelect' | translate}}">
					<i class="fa fa-refresh" aria-hidden="true"></i>
				</button>
				<button class="btn btn-success" data-ng-click="vm.init();">
					<i class="fa fa-hourglass-half"></i>
					{{'Filter' | translate}}
				</button>
				<button class="btn btn-default margin-top"
						onclick="PrintElem('#print')"
						data-ng-disabled="!vm.totalItems">
					<i class="fa fa-print"></i>
					{{'Print' | translate}}
				</button>
				<span role-permission 
					 ng-if="featureRole"
					 permission="'Staff_Report_Export'" 
					 feature="featureRole">
					<button class="btn btn-info margin-top"
							ng-csv="vm.csv"
							data-ng-disabled="!vm.totalItems"
							csv-header="vm.headers"
							add-bom="true"
							filename="staff_list.csv">
						<i class="fa fa-file-excel-o"></i>
						{{'ExportCSV' | translate}}
					</button>
				</span>
			</div>
		</div>
		<div data-ng-if="vm.doctors.count" id="print">
			<table width="100%">
				<tr>
					<td align="center">
						<h3 ng-bind="company.company_name"></h3>
						<h4>
							{{'StaffReport' | translate}}
						</h4>
						{{'TotalRecord' | translate}} {{vm.totalItems}}
					</td>
				</tr>
			</table>
			<table class="table-print">
				<tr>
					<th>
						#
					</th>
					<th>
						{{'Name' | translate}}
					</th>
					<th>
						{{'Type' | translate}}
					</th>
					<th>
						{{'Gender' | translate}}
					</th>
					<th>
						{{'DOB' | translate}}
					</th>
					<th>
						{{'BasicSalary' | translate}}
					</th>
					<th>
						{{'Email' | translate}}
					</th>
					<th>
						{{'Telephone' | translate}}
					</th>
					<th>
						{{'Address' | translate}}
					</th>
				</tr>
				<tr data-ng-repeat="s in vm.doctors.elements | filter: vm.search">
					<td>
						{{$index +1}}
					</td>
					<td>
						{{s.name}}
					</td>
					<td>
						{{s.doctor_type[0].name}}
					</td>
					<td>
						{{s.sex}}
					</td>
					<td>
						{{vm.service.dateFormat(s.dob)}}
					</td>
					<td>
						{{s.basic_salary | currency}}
					</td>
					<td>
						{{s.email}}
					</td>
					<td>
						{{s.phone|tel}}
					</td>
					<td>
						{{s.address}}
					</td>
				</tr>
			</table>
		</div>
		<div
			data-ng-if="vm.doctors.count == 0"
		>
			<empty-data></empty-data>
		</div>
		<div
			data-ng-if="!vm.loading"
			class="align_center"
		>
			<i class="fa fa-refresh fa-spin" style="font-size: 100px;"></i>
		</div>
	</div>
</div>
