<div class="panel panel-default">
	<div class="panel-heading">
		{{'ServiceReport' | translate}}
	</div>
	<div class="panel-body">
		<div class="row">
			<div class="col-md-3">
				<div class="input-group">
					<input type="text" class="form-control" 
						data-ng-model="vm.filterText" 
						placeholder="{{'Search' | translate}}"
						data-ng-model-options='{ debounce: 1000 }'/>
					<span class="input-group-btn">
						<button class="btn btn-default" type="submit">
							<i class="fa fa-search"></i>
						</button>
					</span>
				</div>
			</div>
			<div class="col-md-6">
				<button class="btn btn-primary"
						data-ng-click="vm.filterText = ''"
						uib-tooltip="{{'ClearSelect' | translate}}">
					<i class="fa fa-refresh" aria-hidden="true"></i>
				</button>
				<button class="btn btn-success" data-ng-click="vm.init();">
					<i class="fa fa-hourglass-half"></i>
					{{'Filter' | translate}}
				</button>
				<button class="btn btn-default margin-top"
						onclick="PrintElem('#print')"
						data-ng-disabled="!vm.totalItems">
					<i class="fa fa-print"></i>
					{{'Print' | translate}}
				</button>
				<span role-permission 
					 ng-if="featureRole"
					 permission="'Product_Report_Export'" 
					 feature="featureRole">
					<button class="btn btn-info margin-top"
							ng-csv="vm.csv"
							data-ng-disabled="!vm.totalItems"
							csv-header="vm.headers"
							filename="service_list.csv"
							add-bom="true">
						<i class="fa fa-file-excel-o"></i>
						{{'ExportCSV' | translate}}
					</button>
				</span>
			</div>
		</div>
		<div data-ng-if="vm.products.count" id="print" class="table-responsive">
			<table width="100%">
				<tr>
					<td align="center">
						<h3 ng-bind="company.company_name"></h3>
						<h4>
							{{'ServiceReport' | translate}}
						</h4>
						{{'TotalRecord' | translate}} {{vm.totalItems}}
					</td>
				</tr>
			</table>
			<table class="table-print">
				<tr>
					<th width="1%">
						#
					</th>
					<th width="17%">
						{{'Item' | translate}}
					</th>
					<th width="10%">
						{{'Type' | translate}}
					</th>
					<th width="10%">
						{{'Code' | translate}}
					</th>
					<th width="10%">
						{{'Price' | translate}}
					</th>
					<th width="40%">
						{{'Description' | translate}}
					</th>
				</tr>
				<tr data-ng-repeat="s in vm.products.elements | filter: vm.filterText track by s.id">
					<td>
						{{$index +1}}
					</td>
					<td>
						{{s.name}}
					</td>
					<td>
						{{s.type_detail[0].name}}
					</td>
					<td>
						{{s.code}}
					</td>
					<td>
						{{s.price | currency}}
					</td>
					<td>
						{{s.detail}}
					</td>
				</tr>
			</table>
		</div>
		<div
			data-ng-if="vm.products.count == 0 || (vm.products.elements |filter:vm.filterText).length == 0"
		>
			<empty-data></empty-data>
		</div>
		<div
			data-ng-if="!vm.loading"
			class="align_center"
		>
			<i class="fa fa-refresh fa-spin" style="font-size: 100px;"></i>
		</div>
	</div>
</div>
