<div class="panel panel-default">
	<div class="panel-heading">
		<b data-ng-if="!vm.isEdit">{{'CreateSaleForm' | translate}}</b>
		<b data-ng-if="vm.isEdit">{{'EditSaleForm' | translate}}</b>
		<a
			class="btn no-padding pull-right"
			onclick="history.go(-1)"
		>
			<i class="fa fa-step-backward"></i>
			{{'Back' | translate}}
		</a>
	</div>
	<form data-ng-submit="vm.save();" autocomplete="off" name="form" class="form-horizontal" novalidate>
		<div class="panel-body">
			<div class="col-md-12">
				<div class="form-group"
					 data-ng-class="{ 'has-error': form.invoice.$error.required && form.$submitted }">
					<div class="col-md-2">
						<span class="control-label">
							{{'InvoiceNo' | translate}}
							<span class="required">*</span>
						</span>
					</div>
					<div class="col-md-4">
						<invoice-list-drop-down invoice-model="vm.invoice"
							required="required"
							on-change="vm.getInvoiceObj()"
							name="invoice"></invoice-list-drop-down>
						<div translate="ThisFieldRequire"
							 class="has-error msg-error"
							 data-ng-if="form.invoice.$error.required && form.$submitted"></div>
					</div>
				</div>
			</div>
			<!-- Client Information -->
			<div data-ng-if="vm.invoice">
				<div class="modal-header head-margin-bottom">
					<h4 class="modal-title">
						{{'ClientInfo' | translate}}
					</h4>
				</div>
				<div class="col-md-6">
					<div class="form-group">
						<div class="col-md-4">
							<span class="control-label">
								{{'Name' | translate}}
							</span>
						</div>
						<div class="col-md-8">
							{{vm.invoice.customer_name ? vm.invoice.customer_name : 'N/A'}}
							<span class="label label-default" data-ng-if="vm.invoice.customer_code">
								{{vm.invoice.customer_code}}
							</span>
						</div>
					</div>
				</div>
				<div class="col-md-6">
					<div class="form-group">
						<div class="col-md-4">
							<span class="control-label">
								{{'Telephone' | translate}}
							</span>
						</div>
						<div class="col-md-8">
							{{vm.invoice.customer_tel ? vm.invoice.customer_tel : 'N/A' | tel}}
						</div>
					</div>
				</div>
				<div class="col-md-6">
					<div class="form-group">
						<div class="col-md-4">
							<span class="control-label">
								{{'Package' | translate}}
							</span>
						</div>
						<div class="col-md-8">
							<span data-ng-if="!vm.invoice.detail || vm.invoice.detail.length ===0">N/A</span>
							<span data-ng-repeat="x in vm.invoice.detail">
								{{x.product_name}}
								<i data-ng-if="!$last">,</i>
							</span>
						</div>
					</div>
				</div>
				<div class="col-md-6">
					<div class="form-group">
						<div class="col-md-4">
							<span class="control-label">
								{{'ShootDate' | translate}}
							</span>
						</div>
						<div class="col-md-8">
							{{vm.invoice.customer_shoot_date ? vm.service.dateFormat(vm.invoice.customer_shoot_date) : "N/A"}}
						</div>
					</div>
				</div>
				<div class="col-md-6">
					<div class="form-group">
						<div class="col-md-4">
							<span class="control-label">
								{{'EventDate' | translate}}
							</span>
						</div>
						<div class="col-md-8">
							{{vm.invoice.customer_event_date ? vm.service.dateFormat(vm.invoice.customer_event_date) : 'N\A'}}
						</div>
					</div>
				</div>
				<div class="col-md-6">
					<div class="form-group">
						<div class="col-md-4">
							<span class="control-label">
								{{'LocationType' | translate}}
							</span>
						</div>
						<div class="col-md-8">
							{{vm.invoice.location_type_name ? vm.invoice.location_type_name: 'N/A'}}
						</div>
					</div>
				</div>
				<div class="col-md-6">
					<div class="form-group">
						<div class="col-md-4">
							<span class="control-label">
								{{'Location' | translate}}
							</span>
						</div>
						<div class="col-md-8">
							{{vm.invoice.location_name ? vm.invoice.location_name: 'N/A'}}
						</div>
					</div>
				</div>
				<div class="col-md-6">
					<div class="form-group">
						<div class="col-md-4">
							<span class="control-label">
								{{'SubTotal' | translate}}
							</span>
						</div>
						<div class="col-md-8">
							{{vm.invoice.sub_total ? (vm.invoice.sub_total | currency) : 'N/A'}}
						</div>
					</div>
				</div>
				<div class="col-md-6">
					<div class="form-group">
						<div class="col-md-4">
							<span class="control-label">
								{{'Discount' | translate}}
							</span>
						</div>
						<div class="col-md-8">
							{{vm.invoice.discount_percent > 0 ? vm.invoice.discount_percent : (vm.invoice.discount_cash ? ( vm.invoice.discount_cash  | currency ): 'N/A' )  }}
						</div>
					</div>
				</div>
				<div class="col-md-6">
					<div class="form-group">
						<div class="col-md-4">
							<span class="control-label">
								{{'GrandTotal' | translate}}
							</span>
						</div>
						<div class="col-md-8">
							{{vm.invoice.grand_total ? (vm.invoice.grand_total | currency ): 'N/A'}}
						</div>
					</div>
				</div>
				<div class="col-md-6">
					<div class="form-group">
						<div class="col-md-4">
							<span class="control-label">
								{{'Deposit' | translate}}
							</span>
						</div>
						<div class="col-md-8">
							{{vm.invoice.deposit > -1? (vm.invoice.deposit | currency) : "N/A"}}
						</div>
					</div>
				</div>
				<div class="col-md-6">
					<div class="form-group">
						<div class="col-md-4">
							<span class="control-label">
								{{'Remain' | translate}}
							</span>
						</div>
						<div class="col-md-8">
							{{vm.invoice.balance > -1 ? (vm.invoice.balance | currency) : 'N/A'}}
						</div>
					</div>
				</div>
			</div>
			<div class="clearfix"></div>
			<!-- Real Process -->
			<div class="modal-header head-margin-bottom">
				<h4 class="modal-title">
					{{'SaleFormInfo' | translate}}
				</h4>
			</div>
			<div class="col-md-6 row">
				<div class="col-md-12">
					<div class="form-group">
						<div class="col-md-4">
							<span class="control-label">
								{{'ConfirmationDate' | translate}}
							</span>
						</div>
						<div class="col-md-8">
							<div cambodia-date-picker date-format="y-MM-dd" class="input-group">
								<input type="text" class="form-control"
										data-ng-model="vm.model.confirm_date"
										name="date" required />
									<span class="input-group-btn">
										<button class="btn btn-default" type="button">
											<i class="fa fa-calendar"></i>
										</button>
									</span>
							</div>
						</div>
					</div>
				</div>
				<div class="col-md-12">
					<div class="form-group">
						<div class="col-md-4">
							<span class="control-label">
								{{'ConfirmLocationType' | translate}}
							</span>
						</div>
						<div class="col-md-8">
							<location-type-drop-down data-ng-model="vm.locationType"></location-type-drop-down>
						</div>
					</div>
				</div>
				<div class="col-md-12">
					<div class="form-group">
						<div class="col-md-4">
							<span class="control-label">
								{{'ConfirmLocation' | translate}}
							</span>
						</div>
						<div class="col-md-8">
							<location-list-drop-down data-ng-model="vm.location"></location-list-drop-down>
						</div>
					</div>
				</div>
				<div class="col-md-12">
					<div class="form-group">
						<div class="col-md-4">
							<span class="control-label">
								{{'DressSelectDate' | translate}}
							</span>
						</div>
						<div class="col-md-8">
							<div cambodia-date-picker date-format="y-MM-dd" class="input-group">
								<input type="text" class="form-control"
										data-ng-model="vm.model.dress_select_date"
										placeholder="{{'ShootDate' | translate}}"
										name="date" required />
								<span class="input-group-btn">
									<button class="btn btn-default" type="button">
										<i class="fa fa-calendar"></i>
									</button>
								</span>
							</div>
						</div>
					</div>
				</div>
				<div class="col-md-12">
					<div class="form-group">
						<div class="col-md-4">
							<span class="control-label">
								{{'SessionDate' | translate}}
							</span>
						</div>
						<div class="col-md-8">
							<div cambodia-date-picker date-format="y-MM-dd" class="input-group">
								<input type="text" class="form-control"
										data-ng-model="vm.invoice.customer_shoot_date"
										placeholder="{{'ShootDate' | translate}}"
										name="date" required />
								<span class="input-group-btn">
									<button class="btn btn-default" type="button">
										<i class="fa fa-calendar"></i>
									</button>
								</span>
							</div>
						</div>
					</div>
				</div>
				<div class="col-md-12">
					<div class="form-group">
						<div class="col-md-4">
							<span class="control-label">
								{{'StartTime' | translate}}
							</span>
							<span class="required">*</span>
						</div>
						<div class="col-md-8">
							<div uib-timepicker 
								ng-model="vm.model.shoot_time" 
								hour-step="vm.hstep" 
								minute-step="vm.mstep" 
								show-meridian="vm.ismeridian"></div>
						</div>
					</div>
				</div>
				<div class="col-md-12">
					<div class="form-group">
						<div class="col-md-4">
							<span class="control-label">
								{{'Note' | translate}}
							</span>
						</div>
						<div class="col-md-8">
							<textarea class="form-control" data-ng-model="vm.model.description"
								placeholder="{{'Note' | translate}}"></textarea>
						</div>
					</div>
				</div>
			</div>
			<div class="col-md-6 row">
				<div class="col-md-3">
					{{'DressCode' | translate}}
				</div>
				<div class="col-md-9">
					<div class="margin-bottom-15">
						<option-list-drop-down ng-model="vm.optionFilter"
							is-multi-obj="true"
							ng-change="vm.selectOption()"></option-list-drop-down>
					</div>
				</div>
				<div class="col-md-12">
					<table class="table table-bordered table-responsive table-striped">
						<thead>
							<tr>
								<th width="10%">#</th>
								<th width="80%">{{'Name' | translate}}</th>
								<th width="10%"></th>
							</tr>
						</thead>
						<tbody>
							<tr data-ng-repeat="x in vm.optionList track by $index">
								<td>
									{{$index + 1}}
								</td>
								<td>
									{{x.option_name}}
									<span class="label label-primary">
										{{x.option_code ? x.option_code : 'N/A'}}
									</span>
								</td>
								<td>
									<a href="javascript:;" data-ng-click="vm.removeOption($index)">
										<i class="fa fa-trash-o"></i>
									</a>
								</td>
							</tr>
							<tr data-ng-if="!vm.optionList || vm.optionList.length ===0">
								<td colspan="3">
									<empty-data></empty-data>
								</td> 							
							</tr>
						</tbody>
					</table>
				</div>
			</div>
			
		</div>
		<div class="clearfix"></div>
		<div class="modal-footer">
			<a
				class="btn btn-default"
				data-dismiss="modal"
				ui-sref="sale_form.list"
				href="javascript:;"
			>
				<i class="fa fa-close"></i>
				{{'Close' | translate}}
			</a>
			<button
				class="btn btn-primary"
				data-ng-disabled="!vm.disable"
			>
				<i class="fa fa-spinner fa-spin" data-ng-if="!vm.disable"></i>
				<i class="fa fa-save" data-ng-if="vm.disable"></i>
				{{'Save' | translate}}
			</button>
		</div>
	</form>
</div>


