<div class="panel panel-default">
	<div class="panel-heading">
		{{'SaleFormDetail' | translate}}
		<a
			class="btn no-padding pull-right"
			onclick="history.go(-1)"
		>
			<i class="fa fa-step-backward"></i>
			{{'Back' | translate}}
		</a>
	</div>
	<form data-ng-submit="vm.save();" autocomplete="off" name="form" class="form-horizontal" novalidate>
		<div class="panel-body">
			<div class="col-md-12">
				<div class="form-group"
					 data-ng-class="{ 'has-error': form.invoice.$error.required && form.$submitted }">
					<div class="col-md-2">
						<span class="control-label">
							{{'InvoiceNo' | translate}}
							<span class="required">*</span>
						</span>
					</div>
					<div class="col-md-4">
						{{vm.model.invoice_no}}
					</div>
				</div>
			</div>
			<!-- Client Information -->
			<div class="modal-header head-margin-bottom">
				<h4 class="modal-title">
					{{'ClientInfo' | translate}}
				</h4>
			</div>
			<div class="col-md-6">
				<div class="form-group">
					<div class="col-md-4">
						<span class="control-label">
							{{'Name' | translate}}
						</span>
					</div>
					<div class="col-md-8">
						{{vm.model.invoice_detail[0].customer_name ? vm.model.invoice_detail[0].customer_name : 'N/A'}}
						<span class="label label-default" data-ng-if="vm.model.invoice_detail[0].customer_code">
							{{vm.model.invoice_detail[0].customer_code}}
						</span>
					</div>
				</div>
			</div>
			<div class="col-md-6">
				<div class="form-group">
					<div class="col-md-4">
						<span class="control-label">
							{{'Telephone' | translate}}
						</span>
					</div>
					<div class="col-md-8">
						{{vm.model.invoice_detail[0].customer_tel ? vm.model.invoice_detail[0].customer_tel : 'N/A' | tel}}
					</div>
				</div>
			</div>
			<div class="col-md-6">
				<div class="form-group">
					<div class="col-md-4">
						<span class="control-label">
							{{'Package' | translate}}
						</span>
					</div>
					<div class="col-md-8">
						<span data-ng-if="!vm.model.invoice_detail[0].detail || vm.model.invoice_detail[0].detail.length ===0">N/A</span>
						<span data-ng-repeat="x in vm.model.invoice_detail[0].detail">
							{{x.product_name}}
							<i data-ng-if="!$last">,</i>
						</span>
					</div>
				</div>
			</div>
			<div class="col-md-6">
				<div class="form-group">
					<div class="col-md-4">
						<span class="control-label">
							{{'ShootDate' | translate}}
						</span>
					</div>
					<div class="col-md-8">
						{{vm.model.invoice_detail[0].customer_shoot_date ? vm.service.dateFormat(vm.model.invoice_detail[0].customer_shoot_date) : "N/A"}}
					</div>
				</div>
			</div>
			<div class="col-md-6">
				<div class="form-group">
					<div class="col-md-4">
						<span class="control-label">
							{{'EventDate' | translate}}
						</span>
					</div>
					<div class="col-md-8">
						{{vm.model.invoice_detail[0].customer_event_date ? vm.service.dateFormat(vm.model.invoice_detail[0].customer_event_date) : 'N\A'}}
					</div>
				</div>
			</div>
			<div class="col-md-6">
				<div class="form-group">
					<div class="col-md-4">
						<span class="control-label">
							{{'LocationShoot' | translate}}
						</span>
					</div>
					<div class="col-md-8">
						{{vm.model.invoice_detail[0].customer_location_shoot ? vm.model.invoice_detail[0].customer_location_shoot: 'N/A'}}
					</div>
				</div>
			</div>
			<div class="col-md-6">
				<div class="form-group">
					<div class="col-md-4">
						<span class="control-label">
							{{'SubTotal' | translate}}
						</span>
					</div>
					<div class="col-md-8">
						{{vm.model.invoice_detail[0].sub_total ? (vm.model.invoice_detail[0].sub_total | currency) : 'N/A'}}
					</div>
				</div>
			</div>
			<div class="col-md-6">
				<div class="form-group">
					<div class="col-md-4">
						<span class="control-label">
							{{'Discount' | translate}}
						</span>
					</div>
					<div class="col-md-8">
						{{vm.model.invoice_detail[0].discount_percent > 0 ? vm.model.invoice_detail[0].discount_percent : (vm.invoice.discount_cash ? ( vm.invoice.discount_cash  | currency ): 'N/A' )  }}
					</div>
				</div>
			</div>
			<div class="col-md-6">
				<div class="form-group">
					<div class="col-md-4">
						<span class="control-label">
							{{'GrandTotal' | translate}}
						</span>
					</div>
					<div class="col-md-8">
						{{vm.model.invoice_detail[0].grand_total ? (vm.model.invoice_detail[0].grand_total | currency ): 'N/A'}}
					</div>
				</div>
			</div>
			<div class="col-md-6">
				<div class="form-group">
					<div class="col-md-4">
						<span class="control-label">
							{{'Deposit' | translate}}
						</span>
					</div>
					<div class="col-md-8">
						{{vm.model.invoice_detail[0].deposit > -1? (vm.model.invoice_detail[0].deposit | currency) : "N/A"}}
					</div>
				</div>
			</div>
			<div class="col-md-6">
				<div class="form-group">
					<div class="col-md-4">
						<span class="control-label">
							{{'Remain' | translate}}
						</span>
					</div>
					<div class="col-md-8">
						{{vm.model.invoice_detail[0].balance > -1 ? (vm.model.invoice_detail[0].balance | currency) : 'N/A'}}
					</div>
				</div>
			</div>
			<div class="clearfix"></div>
			<!-- Real Process -->
			<div class="modal-header head-margin-bottom">
				<h4 class="modal-title">
					{{'SaleFormInfo' | translate}}
				</h4>
			</div>
			<div class="col-md-6">
				<div class="col-md-12">
					<div class="form-group">
						<div class="col-md-4">
							<span class="control-label">
								{{'ConfirmationDate' | translate}}
							</span>
						</div>
						<div class="col-md-8">
							{{vm.service.dateFormat(vm.model.confirm_date)}}
						</div>
					</div>
				</div>
				<div class="col-md-12">
					<div class="form-group">
						<div class="col-md-4">
							<span class="control-label">
								{{'ConfirmLocationType' | translate}}
							</span>
						</div>
						<div class="col-md-8">
							{{vm.model.location_type_name}}
						</div>
					</div>
				</div>
				<div class="col-md-12">
					<div class="form-group">
						<div class="col-md-4">
							<span class="control-label">
								{{'ConfirmLocation' | translate}}
							</span>
						</div>
						<div class="col-md-8">
							{{vm.model.location_name}}
						</div>
					</div>
				</div>
				<div class="col-md-12">
					<div class="form-group">
						<div class="col-md-4">
							<span class="control-label">
								{{'SessionDate' | translate}}
							</span>
						</div>
						<div class="col-md-8">
							{{vm.service.dateFormat(vm.model.shoot_date)}}
						</div>
					</div>
				</div>
				<div class="col-md-12">
					<div class="form-group">
						<div class="col-md-4">
							<span class="control-label">
								{{'StartTime' | translate}}
							</span>
						</div>
						<div class="col-md-8">
							{{vm.service.dateConvert(vm.model.shoot_time) | date: 'h:mm: a'}}
						</div>
					</div>
				</div>
				<div class="col-md-12">
					<div class="form-group">
						<div class="col-md-4">
							<span class="control-label">
								{{'DressSelectDate' | translate}}
							</span>
						</div>
						<div class="col-md-8">
							{{vm.service.dateFormat(vm.model.dress_select_date)}}
						</div>
					</div>
				</div>
				<div class="col-md-12">
					<div class="form-group">
						<div class="col-md-4">
							<span class="control-label">
								{{'Description' | translate}}
							</span>
						</div>
						<div class="col-md-8">
							<span data-ng-bind-html="vm.model.description"></span>
						</div>
					</div>
				</div>
			</div>
			<div class="col-md-6">
				{{'DressCode' | translate}}
				<table class="table table-bordered table-responsive table-striped">
					<thead>
						<tr>
							<th width="10%">#</th>
							<th width="80%">{{'Name' | translate}}</th>
						</tr>
					</thead>
					<tbody>
						<tr data-ng-repeat="x in vm.model.detail track by $index">
							<td>
								{{$index + 1}}
							</td>
							<td>
								{{x.option_name}}
								<span class="label label-primary">
									{{x.option_code ? x.option_code : 'N/A'}}
								</span>
							</td>
						</tr>
						<tr data-ng-if="!vm.model.detail || vm.model.detail.length ===0">
							<td colspan="3">
								<empty-data></empty-data>
							</td> 							
						</tr>
					</tbody>
				</table>
			</div>
			<!-- Service Team Info -->
			<div class="clearfix"></div>
			<div class="modal-header head-margin-bottom">
				<h4 class="modal-title">
					{{'ServiceTeamInfo' | translate}}
				</h4>
			</div>
			<div class="col-md-12">
				<table class="table table-bordered table-responsive table-striped">
					<thead>
						<tr>
							<th width="5%">#</th>
							<th width="20%">{{'Name' | translate}}</th>
							<th width="30%">{{'Role' | translate}}</th>
							<th width="50%">{{'Description' | translate}}</th>
						</tr>
					</thead>
					<tbody>
						<tr data-ng-repeat="x in vm.model.mission track by $index">
							<td>
								{{$index + 1}}
							</td>
							<td>
								{{x.staff_name}}
							</td>
							<td>
								<!-- {{vm.service.dateFormat(x.date)}} -->
								{{x.role}}
							</td>
							<td>
								{{x.description}}
							</td>
						</tr>
						<tr data-ng-if="!vm.model.mission || vm.model.mission.length ===0">
							<td colspan="4">
								<empty-data></empty-data>
							</td> 							
						</tr>
					</tbody>
				</table>
				<div class="form-group">
					<div class="col-md-2">
						<span class="control-label">
							{{'Description' | translate}}
						</span>
					</div>
					<div class="col-md-10">
						{{vm.model.mission[0].note}}
					</div>
				</div>
			</div>
			<!-- Photo selection Process -->
			<div class="modal-header head-margin-bottom col-md-12">
				<h4 class="modal-title">
					{{'PhotoSelectInfo' | translate}}
				</h4>
			</div>
			<div class="col-md-6">
				<div class="form-group">
					<div class="col-md-4">
						<span class="control-label">
							{{'Date' | translate}}
						</span>
					</div>
					<div class="col-md-8">
						{{vm.service.dateFormat(vm.model.photo_select[0].date)}}
					</div>
				</div>
				<div class="form-group">
					<div class="col-md-4">
						<span class="control-label">
							{{'BookCover' | translate}}
						</span>
					</div>
					<div class="col-md-8">
						{{vm.model.photo_select[0].title}}
					</div>
				</div>
				<div class="form-group">
					<div class="col-md-4">
						<span class="control-label">
							{{'SlideShow' | translate}}
						</span>
					</div>
					<div class="col-md-8">
						{{vm.model.photo_select[0].slide_show}}
					</div>
				</div>
				<div class="form-group">
					<div class="col-md-4">
						<span class="control-label">
							{{'PublishPermission' | translate}}
						</span>
					</div>
					<div class="col-md-8">
						<switch id="enabled"
							disabled="true"
							name="enabled" 
							size="small"
							ng-model="vm.model.photo_select[0].publish_permission" 
							class="blue "></switch>
					</div>
				</div>
				<div class="form-group">
					<div class="col-md-4">
						<span class="control-label">
							{{'Description' | translate}}
						</span>
					</div>
					<div class="col-md-8">
						{{vm.model.photo_select[0].description}}
					</div>
				</div>
				<table class="table table-striped table-bordered">
					<thead>
						<tr>
							<th>
								{{'PrintCode' | translate}}
							</th>
						</tr>
					</thead>
					<tbody>
						<tr data-ng-repeat="x in vm.model.photo_select[0].book_cover track by $index">
							<td>
								{{x.description}}
							</td>
						</tr>
						<tr data-ng-if="!vm.model.photo_select[0].book_cover || vm.model.photo_select[0].book_cover.length === 0">
							<td>
								<empty-data></empty-data>
							</td> 				
						</tr>
					</tbody>
				</table>
			</div>
			<div class="col-md-6">
				<div class="form-group">
					<div class="col-md-4">
						<span class="control-label">
							{{'Deadline' | translate}}
						</span>
					</div>
					<div class="col-md-8">
						{{vm.model.photo_select[0].deadline}}
					</div>
				</div>
				<table class="table table-striped table-bordered">
					<thead>
						<tr>
							<th colspan="2">
								{{'NoOfPhoto' | translate}}
							</th>
						</tr>
					</thead>
					<tbody>
						<tr>
							<td width="30%">
								{{'Retouch' | translate}}
							</td>
							<td>
								{{vm.model.photo_select[0].retouch}}
							</td>
						</tr>
						<tr>
							<td>
								{{'Basic' | translate}}
							</td>
							<td>
								{{vm.model.photo_select[0].basic}}
							</td>
						</tr>
						<tr>
							<td>
								{{'Additional' | translate}}
							</td>
							<td>
								{{vm.model.photo_select[0].additional}}
							</td>
						</tr>
						<tr>
							<td>
								<b>{{'Total' | translate}}</b>
							</td>
							<td>
								<b>{{vm.model.photo_select[0].retouch + vm.model.photo_select[0].basic + vm.model.photo_select[0].additional}}</b>
							</td>
						</tr>
					</tbody>
				</table>
				<table class="table table-striped table-bordered">
					<thead>
						<tr>
							<th colspan="3">
								{{'AddOnUpgrade' | translate}}
							</th>
						</tr>
					</thead>
					<tbody>
						<tr data-ng-repeat="x in vm.model.photo_select[0].add_on track by $index">
							<td>
								{{x.add_on_name}}
							</td> 
							<td>
								{{x.add_on_qty}}
							</td> 
							<td>
								{{x.add_on_price | currency : ''}}
							</td> 
						</tr>
						<tr data-ng-if="!vm.model.photo_select[0].add_on || vm.model.photo_select[0].add_on.length === 0">
							<td colspan="3">
								<empty-data></empty-data>
							</td> 				
						</tr>
					</tbody>
				</table>
			</div>
			<!-- Photo Process -->
			<div class="modal-header head-margin-bottom col-md-12">
				<h4 class="modal-title">
					{{'PhotoProcessInfo' | translate}}
				</h4>
			</div>
			<div class="col-md-4">
				<fieldset class="scheduler-border">
					<legend class="scheduler-border">{{'Photo' | translate}}</legend>
					<div class="padding-15">
						<div class="form-group">
							<label>
								{{'Start' | translate}}:
							</label>
							{{vm.service.dateFormat(vm.model.photo_process[0].photo_start_date)}}
						</div>
						<div class="form-group">
							<label class="control-label">
								{{'Complete' | translate}}:
							</label>
							{{vm.service.dateFormat(vm.model.photo_process[0].photo_complete_date)}}
							{{vm.service.dateConvert(vm.model.photo_process[0].photo_complete_time) | date: 'h:mm: a'}}
						</div>
						<div class="form-group">
							<label class="control-label">
								{{'Retouch' | translate}}:
							</label>
							{{vm.model.photo_process[0].photo_retouch}}
						</div>
						<div class="form-group">
							<label class="control-label">
								{{'Editor' | translate}}:
							</label>
							{{vm.model.photo_process[0].photo_editor}}
						</div>
					</div>
				</fieldset>
			</div>
			<div class="col-md-4">
				<fieldset class="scheduler-border">
					<legend class="scheduler-border">{{'Video' | translate}}</legend>
					<div class="padding-15 padding-bootom-53">
						<div class="form-group">
							<label class="control-label">
								{{'Start' | translate}}:
							</label>
							{{vm.service.dateFormat(vm.model.photo_process[0].video_start_date)}}
						</div>
						<div class="form-group">
							<label class="control-label">
								{{'Complete' | translate}}:
							</label>
							{{vm.service.dateFormat(vm.model.photo_process[0].video_complete_date)}}
							{{vm.service.dateConvert(vm.model.photo_process[0].video_complete_time) | date: 'h:mm: a'}}
						</div>
						<div class="form-group">
							<label class="control-label">
								{{'Editor' | translate}}:
							</label>
							{{vm.model.photo_process[0].video_editor}}
						</div>
					</div>
				</fieldset>
			</div>
			<div class="col-md-4">
				<fieldset class="scheduler-border">
					<legend class="scheduler-border">{{'AlbumOrder' | translate}}</legend>
					<div class="padding-15 padding-bootom-53">
						<div class="form-group">
							<label class="control-label">
								{{'Receive' | translate}}:
							</label>
							{{vm.service.dateFormat(vm.model.photo_process[0].album_date)}}
						</div>
						<div class="form-group">
							<label class="control-label">
								{{'Designer' | translate}}:
							</label>
							{{vm.model.photo_process[0].album_editor}}
						</div>
						<div class="form-group">
							<label class="control-label">
								{{'PrintOrder' | translate}}:
							</label>
							{{vm.model.photo_process[0].album_print_order}}
						</div>
					</div>
				</fieldset>
			</div>
			<div class="col-md-12">
				<div class="form-group">
					<div class="col-md-2">
						<span class="control-label">
							{{'Note' | translate}}
						</span>
					</div>
					<div class="col-md-10">
						{{vm.model.photo_process[0].description}}
					</div>
				</div>
			</div>
			<!-- Delevery Process -->
			<div class="modal-header head-margin-bottom col-md-12">
				<h4 class="modal-title">
					{{'DeleveryInfo' | translate}}
				</h4>
			</div>
			<div class="col-md-12"> 
				<div class="form-group">
					<div class="col-md-2">
						<span class="control-label">
							{{'DeleveryDate' | translate}}
						</span>
					</div>
					<div class="col-md-4">
						{{vm.service.dateFormat(vm.model.delevery[0].delevery_date)}}
						{{vm.service.dateConvert(vm.model.delevery[0].delevery_time) | date: 'h:mm a'}}
					</div>
				</div>
			</div>
			<div class="col-md-12"> 
				<div class="form-group">
					<div class="col-md-2">
						<span class="control-label">
							{{'DeleveryBy' | translate}}
						</span>
					</div>
					<div class="col-md-4">
						{{vm.model.delevery[0].delevery_by}}
					</div>
				</div>
			</div>
			<div class="col-md-12"> 
				<div class="form-group">
					<div class="col-md-2">
						<span class="control-label">
							{{'Description' | translate}}
						</span>
					</div>
					<div class="col-md-4">
						{{vm.model.delevery[0].description}}
					</div>
				</div>
			</div>
		</div>
		<div class="clearfix"></div>
		<div class="modal-footer">
			<a class="btn btn-default"
				data-dismiss="modal"
				ui-sref="sale_form.list"
				href="javascript:;" >
				<i class="fa fa-close"></i>
				{{'Close' | translate}}
			</a>
			<button class="btn btn-primary"
					onclick="PrintElem('#print')">
				<i class="fa fa-print"></i>
				{{'Print' | translate}}
			</button>
		</div>
	</form>
</div>

<!-- Print Section -->
<div class="modal fade">
	<div id="print">
		<table class="table-print">
			<tr>
				<td>
					កញ្ចប់ថត
				</td>
				<td>
					<span data-ng-repeat="x in vm.model.invoice_detail[0].detail">
						{{x.product_name}}
						<i data-ng-if="!$last">,</i>
					</span>
				</td>
			</tr>
			<tr>
				<td>
					ទីតាំងថត
				</td>
				<td>
					{{vm.model.location_name}}
				</td>
			</tr>
			<tr>
				<td>
					ថតថ្ងៃទី
				</td>
				<td>
					{{vm.service.dateFormat(vm.model.shoot_date)}}
				</td>
			</tr>
			<tr>
				<td>
					ម៉ោង
				</td>
				<td>
					{{vm.service.dateConvert(vm.model.shoot_time) | date: 'h:mm a'}} 
				</td>
			</tr>
			<tr>
				<td>
					អតិថិជន
				</td>
				<td>
					{{vm.model.invoice_detail[0].customer_name}}
				</td>
			</tr>
			<tr>
				<td>
					លេខទូរសព្ទ័
				</td>
				<td>
					{{vm.model.invoice_detail[0].customer_tel | tel}}
				</td>
			</tr>
			<tr>
				<td>
					អាស័យដ្ឋាន
				</td>
				<td>
					{{vm.model.invoice_detail[0].customer_address}}
				</td>
			</tr>
			<tr>
				<td>
					ក្រុមថត
				</td>
				<td>
					<span data-ng-repeat="x in vm.model.mission">
						{{x.staff_name}}
						<i data-ng-if="!$last">,</i>
					</span>
				</td>
			</tr>
			<tr>
				<td>
					ចំណាំ
				</td>
				<td>
					<div data-ng-bind-html="vm.model.mission[0].note"></div>					
				</td>
			</tr>
		</table>
	</div>
</div>


