<div class="panel panel-default">
    <div class="panel-heading">
        <b>{{'SaleForm' | translate}}</b>
    </div>
    <div class="panel-body">
        <span role-permission 
            ng-if="featureRole"
            permission="'Sale_Form_Create'" 
            feature="featureRole">
            <a class="btn btn-default"
                ui-sref="sale_form.create">
                <span class="fa fa-plus-circle"></span>
                {{'AddNew' | translate}}
            </a>
        </span>
        
        {{'TotalRecord' | translate}} {{vm.totalItems}}
        <form class="row">
            <div class="form-body">
                <div class="col-md-3">
                    <div class="input-group input-large">
                        <input type="text"
                               class="form-control"
                               data-ng-model="vm.search_name"
                               auto-focus
                               placeholder="{{'Search' | translate}}">

                        <span class="input-group-btn">
                            <button type="submit" class="btn blue" data-ng-click="vm.search()">
                                <i class="fa fa-search" data-ng-if="!vm.loading"></i>
                                <i class="fa fa-spinner fa-spin" data-ng-if="vm.loading"></i>
                            </button>
                        </span>
                    </div>
                </div>
            </div>
        </form>
        <div class="table-responsive">
            <table class="table table-bordered table-striped" style="margin-bottom: 162px;">
                <thead>
                    <th width="5%">
                        #
                    </th>
                    <th width="10%">
                        {{'InvoiceNo' | translate}}
                    </th>
                    <th width="15%">
                        {{'CustomerName' | translate}}
                    </th>
                    <th width="10%">
                        {{'ConfirmDate' | translate}}
                    </th>
                    <th width="15%">
                        {{'LocationShoot' | translate}}
                    </th>
                    <th width="12%">
                        {{'ShootDate' | translate}}
                    </th>
                    <th width="10%">
                        {{'Completion' | translate}}
                    </th>
                    <th width="10%">
                        {{'CreateBy' | translate}}
                    </th>
                    <th width="5%">
                        {{'Action' | translate}}
                    </th>
                </thead>
                <tr data-ng-repeat="row in vm.collection">
                    <td>
                        <span data-ng-bind="vm.pageSize + $index + 1"></span>
                    </td>
                    <td>
                        <span data-ng-bind="row.invoice_no"></span>
                    </td>
                    <td>
                        <span data-ng-bind="row.invoice_detail[0].customer_name"></span>
                        <span class="label label-default" data-ng-bind="row.invoice_detail[0].customer_code"></span>
                    </td>
                    <td>
                        <span data-ng-bind="vm.service.dateConvert(row.confirm_date) | date: 'dd-MM-yyyy'"></span>
                    </td>
                    <td>
                        <span data-ng-bind="row.location"></span>
                    </td>
                    <td>
                        <span data-ng-bind="vm.service.dateConvert(row.shoot_date) | date: 'dd-MM-yyyy'"></span>
                        <span data-ng-bind="vm.service.dateConvert(row.shoot_time) | date: 'h:mm a'"></span>
                    </td>
                    <td>
                        <uib-progressbar class="progress-striped" max="100" value="row.progress" type="info">
                            <i>{{row.progress}}%</i>
                        </uib-progressbar>
                        
                        <!-- <div class="label label-primary" data-ng-bind="row.mission.length"></div> -->
                    </td>
                    <td>
                        <span data-ng-bind="row.creator"></span>
                    </td>
                    <td>
                        <div class="btn-group" role="group">
                            <button type="button" 
                                class="btn btn-default dropdown-toggle btn-xs" 
                                data-toggle="dropdown" 
                                aria-haspopup="true" 
                                aria-expanded="false">
                                <i class="fa fa-cog"></i>
                                <span class="caret"></span>
                            </button>
                            <ul class="dropdown-menu pull-right" data-ng-if="featureRole">
                                <li role-permission 
                                    permission="'Sale_Form_View'" 
                                    feature="featureRole">
                                    <a ui-sref="sale_form.detail({id: row.id, params: row})">
                                        <i class="fa fa-eye"></i> {{'Detail' | translate}}
                                    </a>
                                </li>
                                <li role-permission 
                                    permission="'Sale_Form_Delete'" 
                                    feature="featureRole">
                                    <a href="javascript:;" data-ng-click="vm.delete(row);">
                                        <i class="fa fa-trash"></i> {{'Delete' | translate}}
                                    </a>
                                </li>
                                <li role-permission 
                                    permission="'Sale_Form_Edit'" 
                                    feature="featureRole">
                                    <a ui-sref="sale_form.edit({id: row.id, params: row})">
                                        <i class="fa fa-edit"></i> {{'Edit' | translate}}
                                    </a>
                                </li>
                                <li>
                                    <div class="border-bottom"></div>
                                </li>
                                <li role-permission 
                                    permission="'Sale_Form_Mission'" 
                                    feature="featureRole">
                                    <a href="javascript:;"
                                       ui-sref="sale_form.mission({id: row.id, params: row})">
                                        1. {{'ServiceTeam' | translate}}
                                    </a>
                                </li>
                                <li role-permission 
                                    permission="'Sale_Form_Photo_Selection'" 
                                    feature="featureRole">
                                    <a ui-sref="sale_form.photo_selection({id: row.id, params: row})">
                                        2. {{'PhotoSelection' | translate}}
                                    </a>
                                </li>
                                <li role-permission 
                                    permission="'Sale_Form_Photo_Selection'" 
                                    feature="featureRole">
                                    <a ui-sref="sale_form.photo_process({id: row.id, params: row})">
                                        3. {{'PhotoProcess' | translate}}
                                    </a>
                                </li>
                                <li role-permission 
                                    permission="'Sale_Form_Delevery'" 
                                    feature="featureRole">
                                    <a ui-sref="sale_form.delevery({id: row.id, params: row})">
                                        4. {{'Delevery' | translate}}
                                    </a>
                                </li>
                            </ul>
                        </div>                        
                    </td>
                </tr>                
                <tr data-ng-if="vm.collection.length == 0">
                    <td colspan=9"">
                        <empty-data></empty-data>
                    </td>
                </tr>
            </table>
        </div>
        <div data-ng-if="!vm.collection" class="align_center">
            <i class="fa fa-refresh fa-spin" style="font-size: 100px;"></i>
        </div>
    </div>
    <div class="panel-footer">
        <ul uib-pagination
            total-items="vm.totalItems"
            ng-model="vm.currentPage"
            ng-change="vm.pageChanged()"
            max-size="5"
            items-per-page="10"
            boundary-links="true"></ul>
    </div>
</div>
