<div class="panel panel-default">
	<div class="panel-heading">
		{{'SaleFormMission' | translate}}
		<a
			class="btn no-padding pull-right"
			onclick="history.go(-1)"
		>
			<i class="fa fa-step-backward"></i>
			{{'Back' | translate}}
		</a>
	</div>
	<form data-ng-submit="vm.save();" autocomplete="off" name="form" class="form-horizontal" novalidate>
		<div class="panel-body" id="scroll-container">
			<div class="col-md-12">
				<div class="form-group"
					 data-ng-class="{ 'has-error': form.invoice.$error.required && form.$submitted }">
					<div class="col-md-2">
						<span class="control-label">
							{{'InvoiceNo' | translate}}
							<span class="required">*</span>
						</span>
					</div>
					<div class="col-md-4">
						{{vm.model.invoice_no}}
					</div>
				</div>
			</div>
			<!-- Client Information -->
			<div class="modal-header head-margin-bottom">
				<h4 class="modal-title">
					{{'ClientInfo' | translate}}
				</h4>
			</div>
			<div class="col-md-6">
				<div class="form-group">
					<div class="col-md-4">
						<span class="control-label">
							{{'Name' | translate}}
						</span>
					</div>
					<div class="col-md-8">
						{{vm.model.invoice_detail[0].customer_name ? vm.model.invoice_detail[0].customer_name : 'N/A'}}
						<span class="label label-default" data-ng-if="vm.model.invoice_detail[0].customer_code">
							{{vm.model.invoice_detail[0].customer_code}}
						</span>
					</div>
				</div>
			</div>
			<div class="col-md-6">
				<div class="form-group">
					<div class="col-md-4">
						<span class="control-label">
							{{'Telephone' | translate}}
						</span>
					</div>
					<div class="col-md-8">
						{{vm.model.invoice_detail[0].customer_tel ? vm.model.invoice_detail[0].customer_tel : 'N/A' | tel}}
					</div>
				</div>
			</div>
			<div class="col-md-6">
				<div class="form-group">
					<div class="col-md-4">
						<span class="control-label">
							{{'Package' | translate}}
						</span>
					</div>
					<div class="col-md-8">
						<span data-ng-if="!vm.model.invoice_detail[0].detail || vm.model.invoice_detail[0].detail.length ===0">N/A</span>
						<span data-ng-repeat="x in vm.model.invoice_detail[0].detail">
							{{x.product_name}}
							<i data-ng-if="!$last">,</i>
						</span>
					</div>
				</div>
			</div>
			<div class="col-md-6">
				<div class="form-group">
					<div class="col-md-4">
						<span class="control-label">
							{{'ShootDate' | translate}}
						</span>
					</div>
					<div class="col-md-8">
						{{vm.model.invoice_detail[0].customer_shoot_date ? vm.service.dateFormat(vm.model.invoice_detail[0].customer_shoot_date) : "N/A"}}
					</div>
				</div>
			</div>
			<div class="col-md-6">
				<div class="form-group">
					<div class="col-md-4">
						<span class="control-label">
							{{'EventDate' | translate}}
						</span>
					</div>
					<div class="col-md-8">
						{{vm.model.invoice_detail[0].customer_event_date ? vm.service.dateFormat(vm.model.invoice_detail[0].customer_event_date) : 'N\A'}}
					</div>
				</div>
			</div>
			<div class="col-md-6">
				<div class="form-group">
					<div class="col-md-4">
						<span class="control-label">
							{{'LocationShoot' | translate}}
						</span>
					</div>
					<div class="col-md-8">
						{{vm.model.invoice_detail[0].customer_location_shoot ? vm.model.invoice_detail[0].customer_location_shoot: 'N/A'}}
					</div>
				</div>
			</div>
			<div class="col-md-6">
				<div class="form-group">
					<div class="col-md-4">
						<span class="control-label">
							{{'SubTotal' | translate}}
						</span>
					</div>
					<div class="col-md-8">
						{{vm.model.invoice_detail[0].sub_total ? (vm.model.invoice_detail[0].sub_total | currency) : 'N/A'}}
					</div>
				</div>
			</div>
			<div class="col-md-6">
				<div class="form-group">
					<div class="col-md-4">
						<span class="control-label">
							{{'Discount' | translate}}
						</span>
					</div>
					<div class="col-md-8">
						{{vm.model.invoice_detail[0].discount_percent > 0 ? vm.model.invoice_detail[0].discount_percent : (vm.invoice.discount_cash ? ( vm.invoice.discount_cash  | currency ): 'N/A' )  }}
					</div>
				</div>
			</div>
			<div class="col-md-6">
				<div class="form-group">
					<div class="col-md-4">
						<span class="control-label">
							{{'GrandTotal' | translate}}
						</span>
					</div>
					<div class="col-md-8">
						{{vm.model.invoice_detail[0].grand_total ? (vm.model.invoice_detail[0].grand_total | currency ): 'N/A'}}
					</div>
				</div>
			</div>
			<div class="col-md-6">
				<div class="form-group">
					<div class="col-md-4">
						<span class="control-label">
							{{'Deposit' | translate}}
						</span>
					</div>
					<div class="col-md-8">
						{{vm.model.invoice_detail[0].deposit > -1? (vm.model.invoice_detail[0].deposit | currency) : "N/A"}}
					</div>
				</div>
			</div>
			<div class="col-md-6">
				<div class="form-group">
					<div class="col-md-4">
						<span class="control-label">
							{{'Remain' | translate}}
						</span>
					</div>
					<div class="col-md-8">
						{{vm.model.invoice_detail[0].balance > -1 ? (vm.model.invoice_detail[0].balance | currency) : 'N/A'}}
					</div>
				</div>
			</div>
			<div class="clearfix"></div>
			<!-- Real Process -->
			<div class="modal-header head-margin-bottom">
				<h4 class="modal-title">
					{{'SaleFormInfo' | translate}}
				</h4>
			</div>
			<div class="col-md-6">
				<div class="col-md-12">
					<div class="form-group">
						<div class="col-md-4">
							<span class="control-label">
								{{'ConfirmDate' | translate}}
							</span>
						</div>
						<div class="col-md-8">
							{{vm.service.dateFormat(vm.model.confirm_date)}}
						</div>
					</div>
				</div>
				<div class="col-md-12">
					<div class="form-group">
						<div class="col-md-4">
							<span class="control-label">
								{{'ConfirmLocationType' | translate}}
							</span>
						</div>
						<div class="col-md-8">
							{{vm.model.location_type_name}}
						</div>
					</div>
				</div>
				<div class="col-md-12">
					<div class="form-group">
						<div class="col-md-4">
							<span class="control-label">
								{{'ConfirmLocation' | translate}}
							</span>
						</div>
						<div class="col-md-8">
							{{vm.model.location_name}}
						</div>
					</div>
				</div>
				<div class="col-md-12">
					<div class="form-group">
						<div class="col-md-4">
							<span class="control-label">
								{{'ShootDate' | translate}}
							</span>
						</div>
						<div class="col-md-8">
							{{vm.service.dateFormat(vm.model.shoot_date)}}
						</div>
					</div>
				</div>
				<div class="col-md-12">
					<div class="form-group">
						<div class="col-md-4">
							<span class="control-label">
								{{'Time' | translate}}
							</span>
						</div>
						<div class="col-md-8">
							{{vm.service.dateConvert(vm.model.shoot_time) | date: 'h:mm: a'}}
						</div>
					</div>
				</div>
				<div class="col-md-12">
					<div class="form-group">
						<div class="col-md-4">
							<span class="control-label">
								{{'DressSelectDate' | translate}}
							</span>
						</div>
						<div class="col-md-8">
							{{vm.service.dateFormat(vm.model.dress_select_date)}}
						</div>
					</div>
				</div>
				<div class="col-md-12">
					<div class="form-group">
						<div class="col-md-4">
							<span class="control-label">
								{{'Description' | translate}}
							</span>
						</div>
						<div class="col-md-8">
							<span data-ng-bind-html="vm.model.description"></span>
						</div>
					</div>
				</div>
			</div>
			<div class="col-md-6">
				<table class="table table-bordered table-responsive table-striped">
					<thead>
						<tr>
							<th width="10%">#</th>
							<th width="80%">{{'Name' | translate}}</th>
						</tr>
					</thead>
					<tbody>
						<tr data-ng-repeat="x in vm.model.detail track by $index">
							<td>
								{{$index + 1}}
							</td>
							<td>
								{{x.option_name}}
								<span class="label label-primary">
									{{x.option_code ? x.option_code : 'N/A'}}
								</span>
							</td>
						</tr>
						<tr data-ng-if="!vm.model.detail || vm.model.detail.length ===0">
							<td colspan="3">
								<empty-data></empty-data>
							</td> 							
						</tr>
					</tbody>
				</table>
			</div>
			<!-- Service Team Process -->
			<div class="modal-header head-margin-bottom col-md-12"  id="mission-scroll">
				<h4 class="modal-title">
					{{'ServiceTeamInfo' | translate}}
				</h4>
			</div>
			<div class="col-md-12">
				<table class="table table-bordered table-responsive table-striped">
					<thead>
						<tr>
							<th width="5%">#</th>
							<th width="20%">{{'Name' | translate}}</th>
							<th width="30%">{{'Role' | translate}}</th>
							<th width="35%">{{'Description' | translate}}</th>
							<th width="1%"></th>
						</tr>
					</thead>
					<tbody>
						<tr data-ng-repeat="x in vm.staffList track by $index">
							<td>
								{{$index + 1}}
							</td>
							<td>
								<staff-list-drop-down ng-model="x.staff"
									is-active="true"></staff-list-drop-down>
							</td>
							<td>
								<!-- <div cambodia-date-picker date-format="y-MM-dd" class="input-group">
									<input type="text" class="form-control"
											data-ng-model="x.date"
											placeholder="{{'Date' | translate}}"
											name="date" required />
									<span class="input-group-btn">
										<button class="btn btn-default" type="button">
											<i class="fa fa-calendar"></i>
										</button>
									</span>
								</div> -->
								<input type="text" 
									class="form-control" 
									placeholder="{{'Role' | translate}}" 
									data-ng-model="x.role"/>
							</td>
							<td>
								<input type="text" 
									class="form-control" 
									placeholder="{{'Description' | translate}}" 
									data-ng-model="x.description"/>
							</td>
							<td>
								<a data-ng-if="$last" href="javascript:;" 
									data-ng-click="vm.addMoreStaff()">
									<i class="fa fa-plus-circle"></i>
								</a>
								<a href="javascript:;" 
									data-ng-click="vm.removeStaff($index)">
									<i class="fa fa-trash-o"></i>
								</a>
							</td>
						</tr>
						<tr data-ng-if="!vm.staffList || vm.staffList.length ===0">
							<td colspan="4">
								<empty-data></empty-data>
							</td> 		
							<td>
								<a href="javascript:;" data-ng-click="vm.addMoreStaff()">
									<i class="fa fa-plus-circle"></i>
								</a>
							</td>					
						</tr>
					</tbody>
				</table>
				<div class="form-group">
					<div class="col-md-2">
						<span class="control-label">
							{{'Description' | translate}}
						</span>
					</div>
					<div class="col-md-10">
						<textarea class="form-control" placeholder="{{'Description' | translate}}" data-ng-model="vm.description"></textarea>
					</div>
				</div>
			</div>
			
		</div>
		<div class="clearfix"></div>
		<div class="modal-footer">
			<a
				class="btn btn-default"
				data-dismiss="modal"
				ui-sref="sale_form.list"
				href="javascript:;"
			>
				<i class="fa fa-close"></i>
				{{'Close' | translate}}
			</a>
			<button
				class="btn btn-primary"
				data-ng-disabled="vm.disable"
			>
				<i class="fa fa-spinner fa-spin" data-ng-if="vm.disable"></i>
				<i class="fa fa-save" data-ng-if="!vm.disable"></i>
				{{'Save' | translate}}
			</button>
		</div>
	</form>
</div>


