<div class="panel panel-default">
	<div class="panel-heading">
		{{'SaleFormPhotoSelection' | translate}}
		<a
			class="btn no-padding pull-right"
			onclick="history.go(-1)"
		>
			<i class="fa fa-step-backward"></i>
			{{'Back' | translate}}
		</a>
	</div>
	<form data-ng-submit="vm.save();" autocomplete="off" name="form" class="form-horizontal" novalidate>
		<div class="panel-body">
			<div class="col-md-12">
				<div class="form-group"
					 data-ng-class="{ 'has-error': form.invoice.$error.required && form.$submitted }">
					<div class="col-md-2">
						<span class="control-label">
							{{'InvoiceNo' | translate}}
							<span class="required">*</span>
						</span>
					</div>
					<div class="col-md-4">
						{{vm.model.invoice_no}}
					</div>
				</div>
			</div>
			<!-- Client Information -->
			<div class="modal-header head-margin-bottom">
				<h4 class="modal-title">
					{{'ClientInfo' | translate}}
				</h4>
			</div>
			<div class="col-md-6">
				<div class="form-group">
					<div class="col-md-4">
						<span class="control-label">
							{{'Name' | translate}}
						</span>
					</div>
					<div class="col-md-8">
						{{vm.model.invoice_detail[0].customer_name ? vm.model.invoice_detail[0].customer_name : 'N/A'}}
						<span class="label label-default" data-ng-if="vm.model.invoice_detail[0].customer_code">
							{{vm.model.invoice_detail[0].customer_code}}
						</span>
					</div>
				</div>
			</div>
			<div class="col-md-6">
				<div class="form-group">
					<div class="col-md-4">
						<span class="control-label">
							{{'Telephone' | translate}}
						</span>
					</div>
					<div class="col-md-8">
						{{vm.model.invoice_detail[0].customer_tel ? vm.model.invoice_detail[0].customer_tel : 'N/A' | tel}}
					</div>
				</div>
			</div>
			<div class="col-md-6">
				<div class="form-group">
					<div class="col-md-4">
						<span class="control-label">
							{{'Package' | translate}}
						</span>
					</div>
					<div class="col-md-8">
						<span data-ng-if="!vm.model.invoice_detail[0].detail || vm.model.invoice_detail[0].detail.length ===0">N/A</span>
						<span data-ng-repeat="x in vm.model.invoice_detail[0].detail">
							{{x.product_name}}
							<i data-ng-if="!$last">,</i>
						</span>
					</div>
				</div>
			</div>
			<div class="col-md-6">
				<div class="form-group">
					<div class="col-md-4">
						<span class="control-label">
							{{'ShootDate' | translate}}
						</span>
					</div>
					<div class="col-md-8">
						{{vm.model.invoice_detail[0].customer_shoot_date ? vm.service.dateFormat(vm.model.invoice_detail[0].customer_shoot_date) : "N/A"}}
					</div>
				</div>
			</div>
			<div class="col-md-6">
				<div class="form-group">
					<div class="col-md-4">
						<span class="control-label">
							{{'EventDate' | translate}}
						</span>
					</div>
					<div class="col-md-8">
						{{vm.model.invoice_detail[0].customer_event_date ? vm.service.dateFormat(vm.model.invoice_detail[0].customer_event_date) : 'N\A'}}
					</div>
				</div>
			</div>
			<div class="col-md-6">
				<div class="form-group">
					<div class="col-md-4">
						<span class="control-label">
							{{'LocationShoot' | translate}}
						</span>
					</div>
					<div class="col-md-8">
						{{vm.model.invoice_detail[0].customer_location_shoot ? vm.model.invoice_detail[0].customer_location_shoot: 'N/A'}}
					</div>
				</div>
			</div>
			<div class="col-md-6">
				<div class="form-group">
					<div class="col-md-4">
						<span class="control-label">
							{{'SubTotal' | translate}}
						</span>
					</div>
					<div class="col-md-8">
						{{vm.model.invoice_detail[0].sub_total ? (vm.model.invoice_detail[0].sub_total | currency) : 'N/A'}}
					</div>
				</div>
			</div>
			<div class="col-md-6">
				<div class="form-group">
					<div class="col-md-4">
						<span class="control-label">
							{{'Discount' | translate}}
						</span>
					</div>
					<div class="col-md-8">
						{{vm.model.invoice_detail[0].discount_percent > 0 ? vm.model.invoice_detail[0].discount_percent : (vm.invoice.discount_cash ? ( vm.invoice.discount_cash  | currency ): 'N/A' )  }}
					</div>
				</div>
			</div>
			<div class="col-md-6">
				<div class="form-group">
					<div class="col-md-4">
						<span class="control-label">
							{{'GrandTotal' | translate}}
						</span>
					</div>
					<div class="col-md-8">
						{{vm.model.invoice_detail[0].grand_total ? (vm.model.invoice_detail[0].grand_total | currency ): 'N/A'}}
					</div>
				</div>
			</div>
			<div class="col-md-6">
				<div class="form-group">
					<div class="col-md-4">
						<span class="control-label">
							{{'Deposit' | translate}}
						</span>
					</div>
					<div class="col-md-8">
						{{vm.model.invoice_detail[0].deposit > -1? (vm.model.invoice_detail[0].deposit | currency) : "N/A"}}
					</div>
				</div>
			</div>
			<div class="col-md-6">
				<div class="form-group">
					<div class="col-md-4">
						<span class="control-label">
							{{'Remain' | translate}}
						</span>
					</div>
					<div class="col-md-8">
						{{vm.model.invoice_detail[0].balance > -1 ? (vm.model.invoice_detail[0].balance | currency) : 'N/A'}}
					</div>
				</div>
			</div>
			<div class="clearfix"></div>
			<!-- Real Process -->
			<div class="modal-header head-margin-bottom">
				<h4 class="modal-title">
					{{'SaleFormInfo' | translate}}
				</h4>
			</div>
			<div class="col-md-6">
				<div class="col-md-12">
					<div class="form-group">
						<div class="col-md-4">
							<span class="control-label">
								{{'ConfirmationDate' | translate}}
							</span>
						</div>
						<div class="col-md-8">
							{{vm.service.dateFormat(vm.model.confirm_date)}}
						</div>
					</div>
				</div>
				<div class="col-md-12">
					<div class="form-group">
						<div class="col-md-4">
							<span class="control-label">
								{{'ConfirmLocationType' | translate}}
							</span>
						</div>
						<div class="col-md-8">
							{{vm.model.location_type_name}}
						</div>
					</div>
				</div>
				<div class="col-md-12">
					<div class="form-group">
						<div class="col-md-4">
							<span class="control-label">
								{{'ConfirmLocation' | translate}}
							</span>
						</div>
						<div class="col-md-8">
							{{vm.model.location_name}}
						</div>
					</div>
				</div>
				<div class="col-md-12">
					<div class="form-group">
						<div class="col-md-4">
							<span class="control-label">
								{{'SessionDate' | translate}}
							</span>
						</div>
						<div class="col-md-8">
							{{vm.service.dateFormat(vm.model.shoot_date)}}
						</div>
					</div>
				</div>
				<div class="col-md-12">
					<div class="form-group">
						<div class="col-md-4">
							<span class="control-label">
								{{'Time' | translate}}
							</span>
						</div>
						<div class="col-md-8">
							{{vm.service.dateConvert(vm.model.shoot_time) | date: 'h:mm: a'}}
						</div>
					</div>
				</div>
				<div class="col-md-12">
					<div class="form-group">
						<div class="col-md-4">
							<span class="control-label">
								{{'DressSelectDate' | translate}}
							</span>
						</div>
						<div class="col-md-8">
							{{vm.service.dateFormat(vm.model.dress_select_date)}}
						</div>
					</div>
				</div>
				<div class="col-md-12">
					<div class="form-group">
						<div class="col-md-4">
							<span class="control-label">
								{{'Description' | translate}}
							</span>
						</div>
						<div class="col-md-8">
							<span data-ng-bind-html="vm.model.description"></span>
						</div>
					</div>
				</div>
			</div>
			<div class="col-md-6">
				<table class="table table-bordered table-responsive table-striped">
					<thead>
						<tr>
							<th width="10%">#</th>
							<th width="80%">{{'Name' | translate}}</th>
						</tr>
					</thead>
					<tbody>
						<tr data-ng-repeat="x in vm.model.detail track by $index">
							<td>
								{{$index + 1}}
							</td>
							<td>
								{{x.option_name}}
								<span class="label label-primary">
									{{x.option_code ? x.option_code : 'N/A'}}
								</span>
							</td>
						</tr>
						<tr data-ng-if="!vm.model.detail || vm.model.detail.length ===0">
							<td colspan="3">
								<empty-data></empty-data>
							</td> 							
						</tr>
					</tbody>
				</table>
			</div>
			<!-- Mission Process -->
			<div class="modal-header head-margin-bottom col-md-12">
				<h4 class="modal-title">
					{{'MissionInfo' | translate}}
				</h4>
			</div>
			<div class="col-md-12">
				<table class="table table-bordered table-responsive table-striped">
					<thead>
						<tr>
							<th width="5%">#</th>
							<th width="30%">{{'Name' | translate}}</th>
							<th width="20%">{{'Date' | translate}}</th>
							<th width="35%">{{'Description' | translate}}</th>
						</tr>
					</thead>
					<tbody>
						<tr data-ng-repeat="x in vm.model.mission track by $index">
							<td>
								{{$index + 1}}
							</td>
							<td>
								{{x.staff_name}}
							</td>
							<td>
								{{vm.service.dateFormat(x.date)}}
							</td>
							<td>
								{{x.description}}
							</td>
						</tr>
						<tr data-ng-if="!vm.model.mission || vm.model.mission.length === 0">
							<td colspan="4">
								<empty-data></empty-data>
							</td> 				
						</tr>
					</tbody>
				</table>
				<div class="form-group">
					<div class="col-md-2">
						<span class="control-label">
							{{'Description' | translate}}
						</span>
					</div>
					<div class="col-md-10">
						{{vm.model.mission[0].note}}
					</div>
				</div>
			</div>
			<!-- Photo selection Process -->
			<div class="modal-header head-margin-bottom col-md-12">
				<h4 class="modal-title">
					{{'PhotoSelectInfo' | translate}}
				</h4>
			</div>
			<div class="col-md-6">
				<div class="form-group">
					<div class="col-md-4">
						<span class="control-label">
							{{'Date' | translate}}
						</span>
					</div>
					<div class="col-md-8">
						<div cambodia-date-picker date-format="y-MM-dd" class="input-group">
							<input type="text" class="form-control"
									data-ng-model="vm.entity.date"
									placeholder="{{'SessionDate' | translate}}"
									name="date" required />
							<span class="input-group-btn">
								<button class="btn btn-default" type="button">
									<i class="fa fa-calendar"></i>
								</button>
							</span>
						</div>
					</div>
				</div>
				<div class="form-group">
					<div class="col-md-4">
						<span class="control-label">
							{{'BookCover' | translate}}
						</span>
					</div>
					<div class="col-md-8">
						<input type="text" class="form-control" 
							placeholder="{{'BookCover' | translate}}" 
							data-ng-model="vm.entity.title"/>
					</div>
				</div>
				<div class="form-group">
					<div class="col-md-4">
						<span class="control-label">
							{{'SlideShow' | translate}}
						</span>
					</div>
					<div class="col-md-8">
						<switch id="enabled" 
							name="enabled" 
							size="small"
							ng-model="vm.slide_show" 
							class="blue "></switch>
						<input type="text" class="form-control"
							placeholder="{{'SlideShow' | translate}}"
							data-ng-if="vm.slide_show"
							ng-model="vm.entity.slide_show" />
					</div>
				</div>
				<div class="form-group">
					<div class="col-md-4">
						<span class="control-label">
							{{'PublishPermission' | translate}}
						</span>
					</div>
					<div class="col-md-8">
						<switch id="enabled" 
							name="enabled" 
							size="small"
							ng-model="vm.publish" 
							class="blue "></switch>
					</div>
				</div>
				<div class="form-group">
					<div class="col-md-4">
						<span class="control-label">
							{{'Note' | translate}}
						</span>
					</div>
					<div class="col-md-8">
						<textarea class="form-control" placeholder="{{'Note' | translate}}" data-ng-model="vm.entity.description"></textarea>
					</div>
				</div>
				
				<table class="table table-striped table-bordered">
					<thead>
						<tr>
							<th colspan="3">
								{{'PrintCode' | translate}}
							</th>
						</tr>
					</thead>
					<tbody>
						<tr data-ng-repeat="x in vm.entity.book_cover_json track by $index">
							<td>
								<input type="text" class="form-control" 
										placeholder="{{'Description' | translate}}" 
										data-ng-model="x.description"/>
							</td>
							<td>
								<input type="text" class="form-control" 
									placeholder="{{'Size' | translate}}" 
									data-ng-model="x.size"/>
							</td>
							<td>
								<a href="javascript:;" class="btn btn-danger btn-xs" data-ng-click="vm.deleteBookCover($index)">
									<i class="fa fa-trash"></i>
								</a>
							</td>
						</tr>
						<tr data-ng-if="!vm.entity.book_cover_json || vm.entity.book_cover_json.length === 0">
							<td colspan="3">
								<empty-data></empty-data>
							</td> 				
						</tr>
						<tr>
							<td colspan="3">
								<i class="fa fa-plus pointer" data-ng-click="vm.addBookCover()"></i>
							</td>
						</tr>
					</tbody>
				</table>
			</div>
			<div class="col-md-6">
				<div class="form-group">
					<div class="col-md-4">
						<span class="control-label">
							{{'Deadline' | translate}}
						</span>
					</div>
					<div class="col-md-8">
						<div cambodia-date-picker date-format="y-MM-dd" class="input-group">
							<input type="text" class="form-control"
									data-ng-model="vm.entity.deadline"
									placeholder="{{'Deadline' | translate}}"
									name="date" required />
							<span class="input-group-btn">
								<button class="btn btn-default" type="button">
									<i class="fa fa-calendar"></i>
								</button>
							</span>
						</div>
					</div>
				</div>
				<div class="table-responsive">
					<table class="table table-striped table-bordered">
						<thead>
							<tr>
								<th colspan="4">
									{{'NoOfPhoto' | translate}}
								</th>
							</tr>
						</thead>
						<tbody>
							<tr>
								<td>
									{{'Retouch' | translate}}
								</td>
								<td>
									<input type="number" class="form-control" min="0"
										placeholder="{{'Retouch' | translate}}" 
										data-ng-model="vm.entity.retouch"/>
								</td>
							</tr>
							<tr>
								<td>
									{{'Basic' | translate}}
								</td>
								<td>
									<input type="number" class="form-control" min="0"
										placeholder="{{'Basic' | translate}}" 
										data-ng-model="vm.entity.basic"/>
								</td>
							</tr>
							<tr>
								<td>
									{{'Additional' | translate}}
								</td>
								<td>
									<input type="number" class="form-control" min="0"
										placeholder="{{'Additional' | translate}}" 
										data-ng-model="vm.entity.additional"/>
								</td>
							</tr>
							<tr>
								<td>
									{{'Total' | translate}}
								</td>
								<td>
									{{vm.entity.retouch + vm.entity.basic + vm.entity.additional | number}}
								</td>
							</tr>
						</tbody>
					</table>
				</div>
				<!-- <div class="table-responsive">
					<table class="table table-striped table-bordered">
						<thead>
							<tr>
								<th colspan="4">
									{{'AddOnUpgrade' | translate}}
									<add-on-list-drop-down ng-model="vm.addOnObj"
										is-multi-obj="true"
										ng-change="vm.selectOption()"></add-on-drop-down>
								</th>
							</tr>
						</thead>
						<tbody>
							<tr data-ng-repeat="x in vm.entity.add_on_json track by $index">
								<td>
									{{x.add_on_name}}
								</td> 
								<td style="width: 100px">
									<input type="number" class="form-control" min="0"
										placeholder="{{'Qty' | translate}}" 
										data-ng-model="x.add_on_qty"/>
								</td>
								<td style="width: 100px">
									<input type="number" class="form-control" min="0"
										placeholder="{{'Price' | translate}}" 
										data-ng-model="x.add_on_price"/>
								</td>
								<td style="width: 10px">
									<a href="javascript:;" class="btn btn-danger btn-xs" data-ng-click="vm.deleteAddOn($index)">
										<i class="fa fa-trash pointer"></i>
									</a>
								</td>
							</tr>
							<tr data-ng-if="!vm.entity.add_on_json || vm.entity.add_on_json.length === 0">
								<td colspan="4">
									<empty-data></empty-data>
								</td>		
							</tr>
						</tbody>
					</table>
				</div> -->
			</div>
		</div>
		<div class="clearfix"></div>
		<div class="modal-footer">
			<a class="btn btn-default"
				data-dismiss="modal"
				ui-sref="sale_form.list"
				href="javascript:;">
				<i class="fa fa-close"></i>
				{{'Close' | translate}}
			</a>
			<button class="btn btn-primary"
				data-ng-disabled="vm.disable">
				<i class="fa fa-spinner fa-spin" data-ng-if="vm.disable"></i>
				<i class="fa fa-save" data-ng-if="!vm.disable"></i>
				{{'Save' | translate}}
			</div>
		</div>
	</form>
</div>


