<form class="form-horizontal" data-ng-submit="vm.save();" name="saleForm" novalidate>
	<div class="">
		<div class="panel panel-default">
			<div class="panel-heading">
				<i class="fa fa-industry"></i>
				{{'Sale' | translate}}
				<a class="btn no-padding pull-right ng-binding" onclick="history.go(-1)">
                    <i class="fa fa-step-backward"></i>
                    {{'Back' | translate}}
                </a>
			</div>
			<div class="panel-body">
				<div class="form-group">
					<div class="col-md-3">
						<div class="input-group">
							<input type="text"
								placeholder="{{'EnterProductCode' | translate}}"
								data-ng-model="vm.item_filter"
								data-ng-model-options="{ debounce: 550 }"
								data-ng-change="vm.filterProduct(vm.item_filter);"
								autofocus
								class="form-control"/>
							<span class="input-group-addon">
								<i class="fa fa-search"></i>
							</span>
						</div>						
					</div>
					<div class="col-md-3">
						<div class="input-group">
							<input type="text"
								placeholder="{{'EnterServiceCode' | translate}}"
								data-ng-model="vm.service_text"
								data-ng-model-options="{ debounce: 550 }"
								data-ng-change="vm.filterService();"
								autofocus
								class="form-control"/>
							<span class="input-group-addon">
								<i class="fa fa-search"></i>
							</span>
						</div>						
					</div>
					<div class="col-md-3">
						<product-list-drop-down
							product-model="vm.product_filter.selected"
							is-sale="1"
							on-change="vm.addToList();"></product-list-drop-down>
					</div>
					<div class="col-md-3">
						<service-list-drop-down
							ng-model="vm.product_filter.selected"
							is-sale="1"
							on-change="vm.addToList();"></service-list-drop-down>
					</div>
				</div>
				<div class="table-responsive">
					<table class="table table-bordered table-striped">
						<thead>
							<tr>
								<th width="5%">
									#
								</th>
								<th width="30%">
									{{'ItemName' | translate}}
								</th>
								<th width="8%">
									{{'Qty' | translate}}
								</th>
								<th width="16%">
									{{'UMType' | translate}}
								</th>
								<th width="8%">
									{{'Dis' | translate}} (%)
								</th>
								<th width="8%">
									{{'Dis' | translate}} ($)
								</th>
								<th width="10%">
									{{'Price' | translate}}
								</th>
								<th width="10%">
									{{'Total' | translate}}
								</th>
								<th width="5%">
									{{'Action' | translate}}
								</th>
							</tr>
						</thead>
						<tbody>
							<tr data-ng-repeat="list in vm.listData">
								<td>
									{{$index + 1}}
								</td>
								<td>
									<span data-ng-if="!list.edit">
										{{list.product_name}}
										<!-- <span class="label label-primary" data-ng-if="list.products_kind_of == 'item'">
											{{'Item' | translate}}
										</span>
										<span class="label label-default" data-ng-if="list.products_kind_of != 'item'">
											{{'Service' | translate}}
										</span>  -->
										<i class="pointer fa fa-edit" 
											uib-tooltip="{{'EditProductName' | translate}}"
											data-ng-click="list.edit = true"></i>
									</span>
									<span data-ng-if="list.edit">
										<input type="text" style="width: 200px;" data-ng-model="list.product_name" class="box-sell"/>
										<i class="pointer fa fa-close" data-ng-click="list.edit = false"
											uib-tooltip="{{'Close' | translate}}"></i>
									</span>	
								</td>
								<td>
									<input type="number"
										min="0"
										data-ng-change="vm.getTotal();"
										class="form-control box-sell"
										data-ng-model="list.qty"/>
								</td>
								<td>
									<!--<select class="form-control"
										style="padding: 1px;"
										ng-model="list.um_type_collection"
										data-ng-change="vm.updateModel(list)"
										data-ng-options="x as (x.name + ' (' + x.amount+')')  for x in vm.um_types track by x.id">
									</select>  -->
									<select class="form-control"
											style="padding: 0px;font-size: 12px;"
											data-ng-if="list.products_kind_of == 'item'"
											ng-model="list.type"
											data-ng-change="vm.updateModel(list)">
										<option value="whole_sale">
											{{'WholeSale' | translate}}
											<span data-ng-if="list.um_type_whole_sale_name">
												{{list.um_type_whole_sale_name}}
												({{list.um_type_whole_sale_amount}})
											</span>
										</option>
										<option value="retail_sale">
											{{'RetailSale' | translate}}
											<span data-ng-if="list.um_type_retail_name">
												{{list.um_type_retail_name}}
												({{list.um_type_retail_amount}})
											</span>
										</option>
									</select>
								</td>
								<td>
									<input type="number"
										min="0"
										data-ng-change="vm.getTotal();"
										class="form-control box-sell"
										data-ng-model="list.discount_percent"/>
								</td>
								<td>
									<input type="number"
										min="0"
										data-ng-change="vm.getTotal();"
										class="form-control box-sell"
										data-ng-model="list.discount_cash"/>
								</td>
								<td>
									{{list.unit_price + list.add_more_price | currency}}
									<i class="fa fa-plus-circle pointer" 
										data-ng-click="vm.addMorePrice(list, $index)"
										uib-tooltip="{{'AddMorePrice' | translate}}"></i>
								</td>
								<td>
									{{ list.total = ( (list.unit_price + list.add_more_price) * list.qty) - list.discount_cash - (( (list.unit_price + list.add_more_price) * list.qty) * list.discount_percent / 100) | currency}}
									<!--{{list.total}}-->
								</td>
								<td>
									<i class="fa fa-trash hover" data-ng-click="vm.remove($index);" style="font-size: 18px;"></i>
								</td>
							</tr>
						</tbody>
					</table>
					<div data-ng-if="vm.listData.length == 0">
						<empty-data></empty-data>
					</div>
				</div>
				<!-- information -->		
				<hr/>
				<fieldset class="col-md-6 col-sm-12 col-xs-12">
					<legend>{{'Information' | translate}}</legend>
					<div class="form-group"
						data-ng-class="{ 'has-error': saleForm.date.$error.required && saleForm.$submitted }">
						<div class="col-md-6 col-sm-6">
							<span class="">
								{{'Date' | translate}}
								<span class="required">*</span>
							</span>
						</div>
						<div class="col-md-6 col-sm-6">
							<div cambodia-date-picker date-format="y-MM-dd" class="input-group">
								<input type="text" class="form-control" data-ng-model="vm.model.stock_out_date" name="date" required/>
									<span class="input-group-btn">
										<button class="btn btn-default" type="button">
											<i class="fa fa-calendar"></i>
										</button>
									</span>
							</div>
							<div translate="ThisFieldRequire" class="has-error msg-error"
								data-ng-if="saleForm.date.$error.required && saleForm.$submitted"></div>
						</div>
					</div>
					<div class="form-group">
						<div class="col-md-6 col-sm-6">
							<span class="">
								{{'ExchangeRate' | translate}}
							</span>
						</div>
						<div class="col-md-6 col-sm-6">
							<b>{{vm.exchange_rate_out | currency: ''}}</b>
						</div>
					</div>
					<div class="form-group"
						data-ng-class="{ 'has-error': saleForm.customer.$error.required && saleForm.$submitted }">
						<div class="col-md-6 col-sm-6">
							<span class="">
								{{'CustomerName' | translate}}
								<span class="required">*</span>
							</span>
						</div>
						<div class="col-md-6 col-sm-6">
							<customer-list-drop-down ng-model="vm.customers"
													name="customer"
													required="required"></customer-list-drop-down>

							<div translate="ThisFieldRequire" class="has-error msg-error"
								data-ng-if="saleForm.customer.$error.required && saleForm.$submitted"></div>
						</div>
					</div>
					<div class="form-group" data-ng-if="vm.customers">
						<div class="col-md-6 col-sm-6">
							<span class="">
								{{'Gender' | translate}}
							</span>
						</div>
						<div class="col-md-6 col-sm-6">
							<b>{{vm.customers.customers_gender}}</b>
						</div>
					</div>
					<div class="form-group" data-ng-if="vm.customers">
						<div class="col-md-6 col-sm-6">
							<span class="">
								{{'Code' | translate}}
							</span>
						</div>
						<div class="col-md-6 col-sm-6">
							<b>{{vm.customers.customers_code}}</b>
						</div>
					</div>
					<div class="form-group" data-ng-if="vm.customers">
						<div class="col-md-6 col-sm-6">
							<span class="">
								{{'Telephone' | translate}}
							</span>
						</div>
						<div class="col-md-6 col-sm-6">
							<b>{{vm.customers.customers_telephone | tel}}</b>
						</div>
					</div>
					<div class="form-group" data-ng-class="{ 'has-error': saleForm.doctor.$error.required && saleForm.$submitted }">
						<div class="col-md-6 col-sm-6">
							<span class="">
								{{'CheckBy' | translate}}
								<i class="required">*</i>
							</span>
						</div>
						<div class="col-md-6 col-sm-6">
							<doctor-list-multiple-drop-down 
								doctor-model="vm.model.doctor_detail" 
                                name="doctor" 
								required="required"
                                is-active="true"></doctor-list-multiple-drop-down>
							<div translate="ThisFieldRequire" class="has-error msg-error"
								data-ng-if="saleForm.doctor.$error.required && saleForm.$submitted"></div>
							<!-- <a href="javascript:;" class="btn btn-xs"
								data-ng-click="vm.addMoreDoctor()"
								uib-tooltip="{{'AddMoreDoctor' | translate}}">
								<i class="fa fa-plus-circle"></i>
								{{'Add' | translate}}
							</a> -->
							<!-- <doctor-list-drop-down doctor-model="vm.doctor" 
                                        name="doctor" 
                                        is-active="true"
                                        required="required"></doctor-list-drop-down> -->
						</div>
					</div>
				</fieldset>
				<fieldset class="col-md-6 col-sm-12 col-xs-12">
					<legend class="scheduler-border">{{'PaymentInfo' | translate}}</legend>
					<div class="form-group">
						<div class="col-sm-7 col-md-6">
							<span class="">
								{{'SubTotal' | translate}}
							</span>
						</div>
						<div class="col-sm-5 col-md-6">
							<b data-ng-bind="vm.model.sub_total | currency"></b>
						</div>
					</div>
					<div class="form-group">
						<div class="col-sm-7 col-md-6">
							<span class="">
								{{'Discount' | translate}}
							</span>
						</div>
						<div class="col-sm-5 col-md-6">
							<div>
								<span class="radio3 radio-check radio-inline">
									<input type="radio"
										id="dollar"
										name="radio2"
										data-ng-change="vm.checkTypeDiscount();"
										data-ng-model="vm.model.discount_type"
										value="dollar" />
									<label for="dollar">
										<b>($)</b>
									</label>
								</span>
								<span class="radio3 radio-check radio-success radio-inline">
									<input type="radio"
										id="percent"
										name="radio2"
										data-ng-change="vm.checkTypeDiscount();"
										data-ng-model="vm.model.discount_type"
										value="percent" />
									<label for="percent">
										<b>(%)</b>
									</label>
								</span>
							</div>
						</div>
					</div>
					<div class="form-group" data-ng-if="vm.model.discount_type">
						<div class="col-sm-7 col-md-6">
							<span class=""></span>
						</div>
						<div class="col-sm-5 col-md-6">
							<input class="form-control"
								type="number"
								min="0"
								step="any"
								data-ng-change="vm.inputDiscount();"
								data-ng-model="vm.model.discount_amount "
								placeholder="{{'Discount' | translate}}" />
						</div>
					</div>
					<div class="form-group">
						<div class="col-sm-7 col-md-6">
							<span class="">
								{{'TotalDiscount' | translate}}
							</span>
						</div>
						<div class="col-sm-5 col-md-6">
							<b data-ng-bind="vm.model.discount_total_amount | currency"></b>
						</div>
					</div>
					<div class="form-group">
						<div class="col-sm-7 col-md-6">
							<span class="">
								{{'GrandTotal' | translate}}($)
							</span>
						</div>
						<div class="col-sm-5 col-md-6">
							<b data-ng-bind="vm.model.grand_total | currency"></b>
						</div>
					</div>
					<div class="form-group">
						<div class="col-sm-7 col-md-6">
							<span class="">
								{{'GrandTotal' | translate}}(៛)
							</span>
						</div>
						<div class="col-sm-5 col-md-6">
							<b data-ng-bind="vm.model.grand_total * vm.exchange_rate_out | currency:'(៛)'"></b>
						</div>
					</div>
					<div class="form-group">
						<div class="col-sm-7 col-md-6">
							<span class="">
								{{'PaymentMethod' | translate}}
							</span>
						</div>
						<div class="col-sm-5 col-md-6">
							<select
									class="form-control"
									data-ng-options="payment_method for payment_method in vm.banks"
									data-ng-init="payment_method == payment_method"
									data-ng-model="vm.model.payment_method"
							>
							</select>
							<!-- <div data-ng-show="vm.model.payment_method != 'Cash'">
								<br/>
								<input type="number"
									min="0"
									data-ng-model="vm.model.bank_charge"
									class="form-control"
									placeholder="{{'BankCharge' | translate}}"/>
							</div> -->
						</div>
					</div>
					<div class="form-group"
						data-ng-class="{ 'has-error': saleForm.payment.$error.required && saleForm.$submitted }">
						<div class="col-sm-7 col-md-6">
							<span class="">
								{{'Payment' | translate}}
								<span class="required">*</span>
							</span>
						</div>
						<div class="col-sm-5 col-md-6">
							<input class="form-control"
								type="number"
								placeholder="{{'Payment' | translate}}"
								data-ng-change="vm.inputPayment();"
								min="0"
								step="any"
								required
								name="payment"
								data-ng-model="vm.model.payment" />
							<div translate="ThisFieldRequire" class="has-error msg-error"
								data-ng-if="saleForm.payment.$error.required && saleForm.$submitted"></div>
						</div>
					</div>
					<div class="form-group">
						<div class="col-sm-7 col-md-6">
							<span class="">
								{{'Remaining' | translate}}($)
							</span>
						</div>
						<div class="col-sm-5 col-md-6">
							<b><span data-ng-bind="vm.model.remain | currency"></span></b>
						</div>
					</div>
					<div class="form-group">
						<div class="col-sm-7 col-md-6">
							<span class="">
								{{'Remaining' | translate}}(៛)
							</span>
						</div>
						<div class="col-sm-5 col-md-6">
							<b>
								{{
									(vm.model.remain < 0)
										?
									(vm.model.remain * vm.exchange_rate_in | currency:'(៛)')
										:
									(vm.model.remain * vm.exchange_rate_out | currency:'(៛)')
								}}
							</b>
						</div>
					</div>
				</div>
				
				<hr/>
				<div class="col-md-12">
					<a class="btn btn-default" ui-sref="stock_out.list">
						<i class="fa fa-step-backward"></i>
						{{'Back' | translate}}
					</a>
					<button class="btn btn-primary" data-ng-disabled="vm.disable">
						<i class="fa fa-save" data-ng-if="!vm.disable"></i>
						<i class="fa fa-spinner fa-spin" data-ng-if="vm.disable"></i>
						{{'Save' | translate}}
					</button>
				</div>
				<div class="clearfix"></div>
				<br/>
			</div>
		</div>
	</div>
</form>
<pop-up-invoice></pop-up-invoice>
<form data-ng-submit="vm.saveMorePrice();" name="formAdd" novalidate class="form-horizontal">
	<div
		class="modal fade"
		id="addMorePrice"
		data-keyboard="false"
		data-backdrop="static">
		<div class="modal-dialog modal-md">
			<div class="modal-content">
				<div class="modal-header">
					<span>{{"AddMorePrice" | translate}}</span>
				</div>
				<div class="modal-body">
					<div class="form-group"
						data-ng-class="{ 'has-error': formAdd.name.$error.required && formAdd.$submitted }">
					<div class="col-md-3">
						<span class="control-label">
							{{'AddPrice' | translate}}
							<span class="required">*</span>
						</span>
					</div>
					<div class="col-md-9">
						<input type="number"
								class="form-control"
								placeholder="{{'AddPrice' | translate}}"
								data-ng-model="vm.copyModel.add_more_price"
								name="name"
								required="required" />
						<div translate="ThisFieldRequire" class="has-error msg-error"
								data-ng-if="formAdd.name.$error.required && formAdd.$submitted"></div>
					</div>
				</div>
				<div class="form-group"
					data-ng-class="{ 'has-error': formAdd.remark.$error.required && formAdd.$submitted }">
					<div class="col-md-3">
						<span class="control-label">
							{{'Remark' | translate}}
							<span class="required">*</span>
						</span>
					</div>
					<div class="col-md-9">
						<textarea class="form-control" 
							name="remark"
							required
							data-ng-model="vm.copyModel.remark" 
							placeholder="{{'Remark' | translate}}"
							rows="5"/>
						<div translate="ThisFieldRequire" class="has-error msg-error"
							data-ng-if="formAdd.remark.$error.required && formAdd.$submitted"></div>
					</div>
				</div>
				</div>
				<div class="clearfix"></div>
				<div class="modal-footer">
					<button class="btn btn-default"
						data-dismiss="modal">
						<i class="fa fa-close"></i>
						{{'Close' | translate}}
					</button>
					<button class="btn btn-primary"
						data-ng-click="vm.saveMorePrice()">
						<i class="fa fa-save"></i>
						{{'Save' | translate}}
					</button>
				</div>
			</div>
		</div>
	</div>
</form>


<form novalidate class="form-horizontal">
	<div class="modal fade"
		id="addDoctor"
		data-keyboard="false"
		data-backdrop="static">
		<div class="modal-dialog modal-md">
			<div class="modal-content">
				<div class="modal-header">
					<span>{{"AddDoctor" | translate}}</span>
				</div>
				<div class="modal-body">
					<doctor-list-drop-down doctor-model="vm.doctor" 
                            name="doctor" 
                            is-active="true"
                            required="required"></doctor-list-drop-down>
					<table class="table table-bordered table-responsive table-striped">
						<thead>
							<th>
								{{"No" | translate}}
							</th>
							<th>
								{{Name}}
							</th>
							<th>
								{{Action}}
							</th>
						</thead>
						<tbody>
							<tr data-ng-repeat="i in vm.doctorList">
								<td>
									{{$index + 1}}
								</td>
								<td>
									{{i.name}}
								</td>
								<td>
									<button data-ng-click="vm.removeDoctor()" class="btn btn-xs btn-danger">
										<i class="fa fa-trash"></i>
									</button>
								</td>
							</tr>
						</tbody>
					</table>
				</div>
				<div class="clearfix"></div>
				<div class="modal-footer">
					<button class="btn btn-default"
						data-dismiss="modal">
						<i class="fa fa-close"></i>
						{{'Close' | translate}}
					</button>
					<button class="btn btn-primary"
						data-ng-click="vm.saveMorePrice()">
						<i class="fa fa-save"></i>
						{{'Save' | translate}}
					</button>
				</div>
			</div>
		</div>
	</div>
</form>