<div class="row">
    <div class="col-md-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                <i class="fa fa-industry"></i>
                {{'SaleDetail' | translate}}
                <a class="btn no-padding pull-right ng-binding" onclick="history.go(-1)">
                    <i class="fa fa-step-backward"></i>
                    {{'Back' | translate}}
                </a>
            </div>
            <div class="panel-body">
                <div class="scroll table-responsive">
                    <table class="table table-bordered table-striped">
                        <tr>
                            <th width="5%">
                                #
                            </th>
                            <th width="30%">
                                {{'ItemName' | translate}}
                            </th>
                            <th width="10%">
                                {{'Qty' | translate}}
                            </th>
                            <th width="10%">
                                {{'UMType' | translate}}
                            </th>
                            <th width="10%">
                                {{'Dis' | translate}} (%)
                            </th>
                            <th width="10%">
                                {{'Dis' | translate}} ($)
                            </th>
                            <th width="10%">
                                {{'Price' | translate}}
                            </th>
                            <th width="10%">
                                {{'Total' | translate}}
                            </th>
                        </tr>
                        <tr data-ng-repeat="list in vm.model.detail">
                            <td>
                                {{$index + 1}}
                            </td>
                            <td>
                                {{list.product_name}}
                                <span class="label label-primary">
                                    {{list.product_code}}
                                </span>
                            </td>
                            <td>
                                {{list.qty}}
                            </td>
                            <td>
                                <div data-ng-if="list.type=='whole_sale'">
                                    {{list.um_type_whole_sale_name}} ({{list.um_type_whole_sale_amount}})
                                </div>
                                <div data-ng-if="list.type=='retail_sale'">
                                    {{list.um_type_retail_name}} ({{list.um_type_retail_amount}})
                                </div>
                            </td>
                            <td>
                                {{list.discount_percent}}
                            </td>
                            <td>
                                {{list.discount_cash | currency}}
                            </td>
                            <td>
                                {{list.price | currency}}
                                <span class="pointer" 
                                    uib-tooltip="{{list.remark}}"
                                    data-ng-if="list.add_more_price > 0" >
                                    + {{list.add_more_price | currency}}
                                </span>
                            </td>
                            <td>
                                    {{ 
                                        ( 
                                            (list.unit_price + list.add_more_price) * list.qty
                                        )
                                            - 
                                        list.discount_cash 
                                            - 
                                        ( 
                                            (
                                                (list.unit_price + list.add_more_price) * list.qty
                                            ) 
                                                * 
                                            list.discount_percent / 100 
                                        ) | currency
                                    }}
                                <!-- {{list.total | currency}} -->
                            </td>
                        </tr>
                    </table>
                    <div data-ng-if="vm.listData.length == 0">
                        <empty-data></empty-data>
                    </div>
                </div>
                <form class="form-horizontal" name="saleForm" novalidate>
                    <fieldset class="row col-md-6 col-sm-12 col-xs-12">
                        <legend>{{'Information' | translate}}</legend>
                        <div class="form-group"
                            data-ng-class="{ 'has-error': saleForm.date.$error.required && saleForm.$submitted }">
                            <div class="col-md-4">
                                <span class="control-label">
                                    {{'InvoiceNo' | translate}}
                                </span>
                            </div>
                            <div class="col-md-8">
                                <b data-ng-bind="vm.model.stock_out_no"></b>
                            </div>
                        </div>
                        <div class="form-group"
                            data-ng-class="{ 'has-error': saleForm.date.$error.required && saleForm.$submitted }">
                            <div class="col-md-4">
                                <span class="control-label">
                                    {{'Date' | translate}}
                                </span>
                            </div>
                            <div class="col-md-8">
                                <b data-ng-bind="vm.service.dateFormat(vm.model.stock_out_date)"></b>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-4">
                                <span class="control-label">
                                    {{'ExchangeRate' | translate}}
                                </span>
                            </div>
                            <div class="col-md-8">
                                <b>{{vm.exchange_rate_out | currency: ''}}</b>
                            </div>
                        </div>
                        <div class="form-group"
                            data-ng-class="{ 'has-error': saleForm.customer.$error.required && saleForm.$submitted }">
                            <div class="col-md-4">
                                <span class="control-label">
                                    {{'CustomerName' | translate}}
                                </span>
                            </div>
                            <div class="col-md-8">
                                <b data-ng-bind="vm.model.customer_name"></b>
                            </div>
                        </div>
                        <div class="form-group"
                            data-ng-class="{ 'has-error': saleForm.customer.$error.required && saleForm.$submitted }">
                            <div class="col-md-4">
                                <span class="control-label">
                                    {{'Code' | translate}}
                                </span>
                            </div>
                            <div class="col-md-8">
                                <b data-ng-bind="vm.model.customer_code"></b>
                            </div>
                        </div>
                        <div class="form-group"
                            data-ng-class="{ 'has-error': saleForm.customer.$error.required && saleForm.$submitted }">
                            <div class="col-md-4">
                                <span class="control-label">
                                    {{'Telephone' | translate}}
                                </span>
                            </div>
                            <div class="col-md-8">
                                <b data-ng-bind="vm.model.customer_telephone | tel"></b>
                            </div>
                        </div>
                    </fieldset>
                    <fieldset class="row col-md-6 col-sm-12 col-xs-12">
                        <legend>{{'PaymentInfo' | translate}}</legend>
                        <div class="form-group">
                            <div class="col-md-4">
                                <span class="control-label">
                                    {{'SubTotal' | translate}}
                                </span>
                            </div>
                            <div class="col-md-8">
                                <b data-ng-bind="vm.model.sub_total | currency"></b>
                            </div>
                        </div>
                        <div class="form-group" ng-if="vm.model.discount_type == 'percent'">
                            <div class="col-md-4">
                                <span class="control-label">
                                    {{'Discount' | translate}}
                                </span>
                            </div>
                            <div class="col-md-8">
                                <b data-ng-bind="vm.model.discount_amount"></b>(%)
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-4">
                                <span class="control-label">
                                    {{'TotalDiscount' | translate}}
                                </span>
                            </div>
                            <div class="col-md-8">
                                <b data-ng-bind="vm.model.discount_total_amount | currency"></b>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-4">
                                <span class="control-label">
                                    {{'GrandTotal' | translate}}($)
                                </span>
                            </div>
                            <div class="col-md-8">
                                <b data-ng-bind="vm.model.grand_total | currency"></b>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-4">
                                <span class="control-label">
                                    {{'GrandTotal' | translate}}(៛)
                                </span>
                            </div>
                            <div class="col-md-8">
                                <b data-ng-bind="vm.model.grand_total * vm.exchange_rate_out | currency:'(៛)'"></b>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-4">
                                <span class="control-label">
                                    {{'PaymentMethod' | translate}}
                                </span>
                            </div>
                            <div class="col-md-8">
                                <b data-ng-bind="vm.model.payment_method"></b>
                                <div data-ng-if="vm.model.payment_method != 'Cash'">
                                    <b data-ng-bind="vm.model.bank_charge"></b>
                                </div>
                            </div>
                        </div>
                        <div class="form-group"
                            data-ng-class="{ 'has-error': saleForm.payment.$error.required && saleForm.$submitted }">
                            <div class="col-md-4">
                                <span class="control-label">
                                    {{'Payment' | translate}}
                                </span>
                            </div>
                            <div class="col-md-8">
                                <b data-ng-bind="vm.model.payment | currency"></b>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-4">
                                <span class="control-label">
                                    {{'Remaining' | translate}}($)
                                </span>
                            </div>
                            <div class="col-md-8">
                                <b><span data-ng-bind="vm.model.remain | currency"></span></b>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-4">
                                <span class="control-label">
                                    {{'Remaining' | translate}}(៛)
                                </span>
                            </div>
                            <div class="col-md-8">
                                <b>
                                    {{
                                        (vm.model.remain < 0)
                                            ?
                                        (vm.model.remain * vm.exchange_rate_in | currency:'(៛)')
                                            :
                                        (vm.model.remain * vm.exchange_rate_out | currency:'(៛)')
                                    }}
                                </b>
                            </div>
                        </div>
                    </fieldset>
                </form>
                <div class="form-group">
                    <div class="col-md-12">
                        <a class="btn btn-default" ui-sref="stock_out.list">
                            <i class="fa fa-step-backward"></i>
                            {{'Back' | translate}}
                        </a>
                        <button class="btn btn-success"
                                data-toggle="modal"
                                data-target="#invoice-popup">
                            <i class="fa fa-print"></i>
                            {{'Print' | translate}}
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<pop-up-invoice></pop-up-invoice>
<form name="formAdd" novalidate class="form-horizontal">
    <div class="modal fade"
        id="addMorePrice"
        data-keyboard="false"
        data-backdrop="static">
        <div class="modal-dialog modal-md">
            <div class="modal-content">
                <div class="modal-header">
                    <span>{{"AddMorePrice" | translate}}</span>
                </div>
                <div class="modal-body">
                    <div class="form-group"
                        data-ng-class="{ 'has-error': formAdd.name.$error.required && formAdd.$submitted }">
                    <div class="col-md-3">
                        <span class="control-label">
                            {{'AddPrice' | translate}}
                            <span class="required">*</span>
                        </span>
                    </div>
                    <div class="col-md-9">
                        <input type="number"
                                class="form-control"
                                placeholder="{{'AddPrice' | translate}}"
                                data-ng-model="vm.copyModel.add_more_price"
                                name="name"
                                readonly />
                        <div translate="ThisFieldRequire" class="has-error msg-error"
                                data-ng-if="formAdd.name.$error.required && formAdd.$submitted"></div>
                    </div>
                </div>
                <div class="form-group"
                    data-ng-class="{ 'has-error': formAdd.remark.$error.required && formAdd.$submitted }">
                    <div class="col-md-3">
                        <span class="control-label">
                            {{'Remark' | translate}}
                            <span class="required">*</span>
                        </span>
                    </div>
                    <div class="col-md-9">
                        <textarea class="form-control" 
                            name="remark"
                            readonly
                            data-ng-model="vm.copyModel.remark" 
                            placeholder="{{'Remark' | translate}}"
                            rows="5"/>
                        <div translate="ThisFieldRequire" class="has-error msg-error"
                            data-ng-if="formAdd.remark.$error.required && formAdd.$submitted"></div>
                    </div>
                </div>
                </div>
                <div class="clearfix"></div>
                <div class="modal-footer">
                    <button class="btn btn-default"
                        data-dismiss="modal">
                        <i class="fa fa-close"></i>
                        {{'Close' | translate}}
                    </button>
                </div>
            </div>
        </div>
    </div>
</form>