<div
    class="modal fade"
    id="invoice-popup"
    data-keyboard="false"
    data-backdrop="static"
>
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-body">
                <div class="tab-content" id="print">
                    <table width="100%">
                        <tr>
                            <td width="100%">
                                <span data-ng-bind-html="company.company_name"></span>
                                <span data-ng-bind-html="company.description"></span>
                            </td>
                        </tr>
                    </table>
                    <table width="100%" style="font-size:10px;">
                        <tr>
                            <td colspan="2" align="center">
                                <b>RECEIPT</b>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <b>Cashier:</b>
								<span style="text-transform: capitalize;">
									{{userName}}
								</span>
                            </td>
                            <td>
                                <b>Inv:</b>
                                {{vm.invoiceNo}}
                            </td>
                        </tr>
                        <tr>
                            <td width="35%">
                                <b>Date: </b> {{vm.today | date: "dd/MMM/yyyy"}}
                            </td>
                            <td width="35%">
                                <b>Time: </b> {{vm.today | date: "h:mm:ss a"}}
                            </td>
                        </tr>
                    </table>
                    <table style="font-size:10px; width: 100%;">
                        <tr>
                            <th width="61%">
                                Description
                            </th>
                            <th width="10%">
                                Qty
                            </th>
                            <th width="14%">
                                Price
                            </th>
                            <th width="17%">
                                Total
                            </th>
                        </tr>
                        <tr>
                            <td colspan="4"><hr></td>
                        </tr>
                        <tr data-ng-repeat="item in vm.printData.stock_detail" style="vertical-align: top;">
                            <td>
                                {{item.product_name}}
                            </td>
                            <td>
                                {{item.qty}}
                            </td>
                            <td>
                                {{item.unit_price | currency}}
                                <br/>
                                dis: {{item.discount}}
                            </td>
                            <td>
                                {{ (item.unit_price * item.qty) - ((item.unit_price * item.qty) * item.discount / 100)| currency }}
                            </td>
                        </tr>
                        <tr>
                            <td colspan="4"><hr></td>
                        </tr>
                        <tr valign="right">
                            <td align="right" colspan="3">
                                <b>Sub Total:</b>
                            </td>
                            <td>
								<span data-ng-bind="vm.printData.stock.sub_total | currency"></span>
                            </td>
                        </tr>
                        <tr valign="right">
                            <td align="right" colspan="3" valign="top">
                                <b>Dis. Type:</b>
                            </td>
                            <td>
                                {{vm.printData.stock.discount_type}}
                            </td>
                        </tr>
                        <tr valign="right">
                            <td align="right" colspan="3">
                                <b>Dis. Amount:</b>
                            </td>
                            <td>
                                <span data-ng-bind="vm.printData.stock.discount_amount"></span>
                            </td>
                        </tr>
                        <tr valign="right">
                            <td align="right" colspan="3">
                                <b>Total Dis Amount:</b>
                            </td>
                            <td>
                                <span data-ng-bind="vm.printData.stock.discount_total_amount | currency"></span>
                            </td>
                        </tr>
                        <tr valign="right">
                            <td align="right" colspan="3">
                                <b>Grand Total:</b>
                            </td>
                            <td>
								<span data-ng-bind="vm.printData.stock.grand_total | currency"></span>
                            </td>
                        </tr>
                        <!--<tr valign="right">-->
                        <!--<td align="right" colspan="2">-->
                        <!--<b>Payment Method : </b>-->
                        <!--</td>-->
                        <!--<td>-->
                        <!--{{printData.stock.payment_method}}-->
                        <!--</td>-->
                        <!--</tr>-->
                        <tr>
                            <td align="right" colspan="3">
                                <b>Payment: </b>
                            </td>
                            <td>
                                {{vm.printData.stock.payment | currency}}
                            </td>
                        </tr>
                        <tr>
                            <td align="right" colspan="3">
                                <b>Remaining:</b>
                            </td>
                            <td>
                                <span data-ng-bind="vm.printData.stock.remain | currency"></span>
                            </td>
                        </tr>
                    </table>

                    <div style="
							text-align: center;
							vertical-align: middle;
							text-transform: capitalize;
							font-size: 10px;
						"
                    >
                        Thank you for your shopping.
                        See you again.
                        <br/>
                        Power by SKWEB Solution. Tel: 070 955 102
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button class="btn btn-default"
                        data-dismiss="modal"
                >
                    <i class="fa fa-close"></i>
                    {{'Close' | translate}}
                </button>
                <button class="btn btn-primary"
                        onclick="PrintElem('#print')"
                >
                    <i class="fa fa-print"></i>
                    {{'Print' | translate}}
                </button>
            </div>
        </div>
    </div>
</div>