<form class="form-horizontal" data-ng-submit="vm.save();" name="saleForm" novalidate>
	<div class="">
		<div class="panel panel-default">
			<div class="panel-heading">
				<i class="fa fa-industry"></i>
				{{'Invoice' | translate}}
				<a class="btn no-padding pull-right ng-binding" onclick="history.go(-1)">
                    <i class="fa fa-step-backward"></i>
                    {{'Back' | translate}}
                </a>
			</div>
			<div class="panel-body">
				<div class="form-group">
					<!-- <div class="col-md-3">
						<div class="input-group">
							<input type="text"
								placeholder="{{'EnterProductCode' | translate}}"
								data-ng-model="vm.item_filter"
								data-ng-model-options="{ debounce: 550 }"
								data-ng-change="vm.filterProduct(vm.item_filter);"
								autofocus
								class="form-control"/>
							<span class="input-group-addon">
								<i class="fa fa-search"></i>
							</span>
						</div>						
					</div> -->
					<!-- <div class="col-md-3">
						<option-list-drop-down
							ng-model="vm.fromOption"
							is-multi-obj="true"
							ng-change="vm.addToList('option');"></option-list-drop-down>					
					</div> -->
					<div class="col-md-3">
						<add-on-list-drop-down
							ng-model="vm.fromAddOn"
							is-multi-obj="true"
							ng-change="vm.addToList('addon');"></add-on-list-drop-down>
					</div>
					<div class="col-md-3">
						<package-list-drop-down
							ng-model="vm.fromPackage"
							ng-change="vm.addToList('package');"></package-list-drop-down>
					</div>
				</div>
				<div class="table-responsive">
					<table class="table table-bordered table-striped">
						<thead>
							<tr>
								<th width="5%">
									#
								</th>
								<th width="30%">
									{{'ItemName' | translate}}
								</th>
								<th width="8%">
									{{'Qty' | translate}}
								</th>
								<th width="10%">
									{{'Price' | translate}}
								</th>
								<th width="8%">
									{{'Dis' | translate}} (%)
								</th>
								<th width="8%">
									{{'Dis' | translate}} ($)
								</th>
								<th width="10%">
									{{'Total' | translate}}
								</th>
								<th width="5%">
									{{'Action' | translate}}
								</th>
							</tr>
						</thead>
						<tbody>
							<tr data-ng-repeat="list in vm.listData">
								<td>
									{{$index + 1}}
								</td>
								<td>
									<div data-ng-if="!list.edit">
										{{list.product_name}}
										<!-- <span class="label label-primary" data-ng-if="list.products_kind_of == 'item'">
											{{'Item' | translate}}
										</span>
										<span class="label label-default" data-ng-if="list.products_kind_of != 'item'">
											{{'Service' | translate}}
										</span>  -->
										<!-- <i class="pointer fa fa-edit" 
											uib-tooltip="{{'EditProductName' | translate}}"
											data-ng-click="list.edit = true"></i> -->
									</div>
									<ul>
										<li data-ng-repeat="x in list.description track by $index">
											{{x}}
										</li>
									</ul>
									<!-- <span data-ng-if="list.edit">
										<input type="text" style="width: 200px;" data-ng-model="list.product_name" class="box-sell"/>
										<i class="pointer fa fa-close" data-ng-click="list.edit = false"
											uib-tooltip="{{'Close' | translate}}"></i>
									</span>	 -->
								</td>
								<td>
									<input type="number"
										min="0"
										data-ng-change="vm.getTotal();"
										class="form-control box-sell"
										data-ng-model="list.qty"/>
								</td>
								<td>
									{{list.unit_price + list.add_more_price | currency}}
									<!-- <i class="fa fa-plus-circle pointer" 
										data-ng-click="vm.addMorePrice(list, $index)"
										uib-tooltip="{{'AddMorePrice' | translate}}"></i> -->
								</td>
								<td>
									<input type="number"
										min="0"
										data-ng-change="vm.getTotal();"
										class="form-control box-sell"
										data-ng-model="list.discount_percent"/>
								</td>
								<td>
									<input type="number"
										min="0"
										data-ng-change="vm.getTotal();"
										class="form-control box-sell"
										data-ng-model="list.discount_cash"/>
								</td>
								<td>
									{{ list.total = ( (list.unit_price + list.add_more_price) * list.qty) - list.discount_cash - (( (list.unit_price + list.add_more_price) * list.qty) * list.discount_percent / 100) | currency}}
									<!--{{list.total}}-->
								</td>
								<td>
									<i class="fa fa-trash hover" data-ng-click="vm.remove($index);" style="font-size: 18px;"></i>
								</td>
							</tr>
						</tbody>
					</table>
					<div data-ng-if="vm.listData.length == 0">
						<empty-data></empty-data>
					</div>
				</div>
				<!-- information -->		
				<hr/>
				<fieldset class="col-md-6 col-sm-12 col-xs-12">
					<legend>{{'Information' | translate}}</legend>
					<div class="form-group"
						data-ng-class="{ 'has-error': saleForm.date.$error.required && saleForm.$submitted }">
						<div class="col-md-6 col-sm-6">
							<span class="">
								{{'Date' | translate}}
								<span class="required">*</span>
							</span>
						</div>
						<div class="col-md-6 col-sm-6">
							<div cambodia-date-picker date-format="y-MM-dd" class="input-group">
								<input type="text" 
									class="form-control" 
									data-ng-model="vm.model.invoice_date" 
									name="date" required/>
									<span class="input-group-btn">
										<button class="btn btn-default" type="button">
											<i class="fa fa-calendar"></i>
										</button>
									</span>
							</div>
							<div translate="ThisFieldRequire" class="has-error msg-error"
								data-ng-if="saleForm.date.$error.required && saleForm.$submitted"></div>
						</div>
					</div>
					<div class="form-group">
						<div class="col-md-6 col-sm-6">
							<span class="">
								{{'ExchangeRate' | translate}}
							</span>
						</div>
						<div class="col-md-6 col-sm-6">
							<b>{{vm.exchange_rate_out | currency: ''}}</b>
						</div>
					</div>
					<div class="form-group"
						data-ng-class="{ 'has-error': saleForm.customer.$error.required && saleForm.$submitted }">
						<div class="col-md-6 col-sm-6">
							<span class="">
								{{'CustomerName' | translate}}
								<span class="required">*</span>
							</span>
						</div>
						<div class="col-md-6 col-sm-6">
							<customer-list-drop-down ng-model="vm.customers"
													ng-change="vm.getCustomer();"
													name="customer"
													required="required"></customer-list-drop-down>

							<div translate="ThisFieldRequire" class="has-error msg-error"
								data-ng-if="saleForm.customer.$error.required && saleForm.$submitted"></div>
						</div>
					</div>
					<!-- <div class="form-group" data-ng-if="vm.customers">
						<div class="col-md-6 col-sm-6">
							<span class="">
								{{'Gender' | translate}}
							</span>
						</div>
						<div class="col-md-6 col-sm-6">
							{{vm.customers.customers_gender}}
						</div>
					</div> -->
					<div class="form-group" data-ng-if="vm.customers">
						<div class="col-md-6 col-sm-6">
							<span class="">
								{{'Code' | translate}}
							</span>
						</div>
						<div class="col-md-6 col-sm-6">
							{{vm.customers.customers_code}}
						</div>
					</div>
					<div class="form-group" data-ng-if="vm.customers">
						<div class="col-md-6 col-sm-6">
							<span class="">
								{{'Telephone' | translate}}
							</span>
						</div>
						<div class="col-md-6 col-sm-6">
							{{vm.customers.customers_telephone | tel}}
						</div>
					</div>
					<div class="form-group">
						<div class="col-md-6 col-sm-6">
							<span class="">
								{{'LocationType' | translate}}
							</span>
						</div>
						<div class="col-md-6 col-sm-6">
							<location-type-drop-down data-ng-model="vm.locationType"></location-ty-drop-down>
							<!-- <input type="text" class="form-control"
								data-ng-model="vm.customers.location_shoot"
								placeholder="{{'ChangeLocation' | translate}}"/> -->
						</div>
					</div>
					<div class="form-group">
							<div class="col-md-6 col-sm-6">
								<span class="">
									{{'Location' | translate}}
								</span>
							</div>
							<div class="col-md-6 col-sm-6">
								<location-list-drop-down data-ng-model="vm.locationList"></location-list-drop-down>
								<!-- <input type="text" class="form-control"
									data-ng-model="vm.customers.location_shoot"
									placeholder="{{'ChangeLocation' | translate}}"/> -->
							</div>
						</div>
					<div class="form-group">
						<div class="col-md-6 col-sm-6">
							<span class="">
								{{'ShootDate' | translate}}
							</span>
						</div>
						<div class="col-md-6 col-sm-6">
							<div cambodia-date-picker date-format="y-MM-dd" class="input-group">
								<input type="text" 
									class="form-control" 
									placeholder="{{'ShootDate' | translate}}"
									data-ng-model="vm.customers.shoot_date" 
									name="date" required/>
								<span class="input-group-btn">
									<button class="btn btn-default" type="button">
										<i class="fa fa-calendar"></i>
									</button>
								</span>
							</div>
						</div>
					</div>
					<div class="form-group">
						<div class="col-md-6 col-sm-6">
							<span class="">
								{{'EventDate' | translate}}
							</span>
						</div>
						<div class="col-md-6 col-sm-6">
							<div cambodia-date-picker date-format="y-MM-dd" class="input-group">
								<input type="text" 
									class="form-control" 
									placeholder="{{'EventDate' | translate}}"
									data-ng-model="vm.customers.event_date" 
									name="date" required/>
								<span class="input-group-btn">
									<button class="btn btn-default" type="button">
										<i class="fa fa-calendar"></i>
									</button>
								</span>
							</div>
						</div>
					</div>
					<div class="form-group" data-ng-if="vm.customers">
						<div class="col-md-6 col-sm-6">
							<span class="">
								{{'Responsible' | translate}}
							</span>
						</div>
						<div class="col-md-6 col-sm-6">
							<staff-list-drop-down ng-model="vm.customers.staff_responsible_detail[0]"></staff-list-drop-down>
						</div>
					</div>
					<div class="form-group">
						<div class="col-md-6 col-sm-6">
							<span class="">
								{{'Quotation' | translate}}
							</span>
						</div>
						<div class="col-md-6 col-sm-6">
							<quotation-list-drop-down ng-model="vm.quotation"></quotation-list-drop-down>
						</div>
					</div>
					<div class="form-group" data-ng-class="{ 'has-error': saleForm.term_condition.$error.required && saleForm.$submitted }">
						<div class="col-md-6 col-sm-6">
							<span class="control-label">
								{{'TermCondition' | translate}}
								<span class="required">*</span>
							</span>
						</div>
						<div class="col-md-6 col-sm-6">
							<select class="form-control" required name="term_condition"
									data-ng-options="x.description as x.title for x in vm.termConditions"
									data-ng-model="vm.model.term_condition">
									<option value="">{{'Select' | translate}}</option>
							</select>
						</div>
					</div>
					<div class="form-group">
						<textarea class="form-control" placeholder="{{'Note' | translate}}" data-ng-model="vm.model.description"></textarea>
					</div>
				</fieldset>
				<fieldset class="col-md-6 col-sm-12 col-xs-12">
					<legend class="scheduler-border">{{'PaymentInfo' | translate}}</legend>
					<div class="form-group">
						<div class="col-sm-7 col-md-6">
							<span class="">
								{{'SubTotal' | translate}}
							</span>
						</div>
						<div class="col-sm-5 col-md-6">
							<b data-ng-bind="vm.model.sub_total | currency"></b>
						</div>
					</div>
					<div class="form-group">
						<div class="col-sm-7 col-md-6">
							<span class="">
								{{'Discount' | translate}}
							</span>
						</div>
						<div class="col-sm-5 col-md-6">
							<div>
								<span class="radio3 radio-check radio-inline">
									<input type="radio"
										id="dollar"
										name="radio2"
										data-ng-change="vm.checkTypeDiscount();"
										data-ng-model="vm.model.discount_type"
										value="dollar" />
									<label for="dollar">
										<b>($)</b>
									</label>
								</span>
								<span class="radio3 radio-check radio-success radio-inline">
									<input type="radio"
										id="percent"
										name="radio2"
										data-ng-change="vm.checkTypeDiscount();"
										data-ng-model="vm.model.discount_type"
										value="percent" />
									<label for="percent">
										<b>(%)</b>
									</label>
								</span>
							</div>
						</div>
					</div>
					<div class="form-group" data-ng-if="vm.model.discount_type">
						<div class="col-sm-7 col-md-6">
							<span class=""></span>
						</div>
						<div class="col-sm-5 col-md-6">
							<input class="form-control"
									type="number"
									min="0"
									step="any"
									data-ng-change="vm.inputDiscount();"
									data-ng-model="vm.model.discount"
									placeholder="{{'Discount' | translate}}" />	
						</div>
					</div>
					<div class="form-group">
						<div class="col-sm-7 col-md-6">
							<span class="">
								{{'TotalDiscount' | translate}}
							</span>
						</div>
						<div class="col-sm-5 col-md-6">
							<b data-ng-bind="vm.model.total_discount | currency"></b>
						</div>
					</div>
					<div class="form-group">
						<div class="col-sm-7 col-md-6">
							<span class="">
								{{'GrandTotal' | translate}}($)
							</span>
						</div>
						<div class="col-sm-5 col-md-6">
							<b data-ng-bind="vm.model.grand_total | currency"></b>
						</div>
					</div>
					<div class="form-group">
						<div class="col-sm-7 col-md-6">
							<span class="">
								{{'GrandTotal' | translate}}(៛)
							</span>
						</div>
						<div class="col-sm-5 col-md-6">
							<b data-ng-bind="vm.model.grand_total * vm.exchange_rate_out | currency:'(៛)'"></b>
						</div>
					</div>
					<div class="form-group">
						<div class="col-sm-7 col-md-6">
							<span class="">
								{{'PaymentMethod' | translate}}
							</span>
						</div>
						<div class="col-sm-5 col-md-6">
							<select
									class="form-control"
									data-ng-options="payment_method for payment_method in vm.banks"
									data-ng-init="payment_method == payment_method"
									data-ng-model="vm.model.payment_method"
							>
							</select>
							<!-- <div data-ng-show="vm.model.payment_method != 'Cash'">
								<br/>
								<input type="number"
									min="0"
									data-ng-model="vm.model.bank_charge"
									class="form-control"
									placeholder="{{'BankCharge' | translate}}"/>
							</div> -->
						</div>
					</div>
					<div class="form-group"
						data-ng-class="{ 'has-error': saleForm.payment.$error.required && saleForm.$submitted }">
						<div class="col-sm-7 col-md-6">
							<span class="">
								{{'Payment' | translate}}
								<span class="required">*</span>
							</span>
						</div>
						<div class="col-sm-5 col-md-6">
							<input class="form-control"
								type="number"
								placeholder="{{'Payment' | translate}}"
								data-ng-change="vm.inputPayment();"
								min="0"
								step="any"
								required
								name="payment"
								data-ng-model="vm.model.deposit" />
							<div translate="ThisFieldRequire" class="has-error msg-error"
								data-ng-if="saleForm.payment.$error.required && saleForm.$submitted"></div>
						</div>
					</div>
					<div class="form-group">
						<div class="col-sm-7 col-md-6">
							<span class="">
								{{'Remaining' | translate}}($)
							</span>
						</div>
						<div class="col-sm-5 col-md-6">
							<b><span data-ng-bind="vm.model.balance | currency"></span></b>
						</div>
					</div>
					<div class="form-group">
						<div class="col-sm-7 col-md-6">
							<span class="">
								{{'Remaining' | translate}}(៛)
							</span>
						</div>
						<div class="col-sm-5 col-md-6">
							<b>
								{{
									(vm.model.balance < 0)
										?
									(vm.model.balance * vm.exchange_rate_in | currency:'(៛)')
										:
									(vm.model.balance * vm.exchange_rate_out | currency:'(៛)')
								}}
							</b>
						</div>
					</div>
				</div>
				
				<hr/>
				<div class="col-md-12">
					<a class="btn btn-default" ui-sref="invoice.list">
						<i class="fa fa-step-backward"></i>
						{{'Back' | translate}}
					</a>
					<button class="btn btn-primary" data-ng-disabled="vm.disable">
						<i class="fa fa-save" data-ng-if="!vm.disable"></i>
						<i class="fa fa-spinner fa-spin" data-ng-if="vm.disable"></i>
						{{'Save' | translate}}
					</button>
				</div>
				<div class="clearfix"></div>
				<br/>
			</div>
		</div>
	</div>
</form>
<invoice-print></invoice-print>
<form data-ng-submit="vm.saveMorePrice();" name="formAdd" novalidate class="form-horizontal">
	<div
		class="modal fade"
		id="addMorePrice"
		data-keyboard="false"
		data-backdrop="static">
		<div class="modal-dialog modal-md">
			<div class="modal-content">
				<div class="modal-header">
					<span>{{"AddMorePrice" | translate}}</span>
				</div>
				<div class="modal-body">
					<div class="form-group"
						data-ng-class="{ 'has-error': formAdd.name.$error.required && formAdd.$submitted }">
					<div class="col-md-3">
						<span class="control-label">
							{{'AddPrice' | translate}}
							<span class="required">*</span>
						</span>
					</div>
					<div class="col-md-9">
						<input type="number"
								class="form-control"
								placeholder="{{'AddPrice' | translate}}"
								data-ng-model="vm.copyModel.add_more_price"
								name="name"
								required="required" />
						<div translate="ThisFieldRequire" class="has-error msg-error"
								data-ng-if="formAdd.name.$error.required && formAdd.$submitted"></div>
					</div>
				</div>
				<div class="form-group"
					data-ng-class="{ 'has-error': formAdd.remark.$error.required && formAdd.$submitted }">
					<div class="col-md-3">
						<span class="control-label">
							{{'Remark' | translate}}
							<span class="required">*</span>
						</span>
					</div>
					<div class="col-md-9">
						<textarea class="form-control" 
							name="remark"
							required
							data-ng-model="vm.copyModel.remark" 
							placeholder="{{'Remark' | translate}}"
							rows="5"/>
						<div translate="ThisFieldRequire" class="has-error msg-error"
							data-ng-if="formAdd.remark.$error.required && formAdd.$submitted"></div>
					</div>
				</div>
				</div>
				<div class="clearfix"></div>
				<div class="modal-footer">
					<button class="btn btn-default"
						data-dismiss="modal">
						<i class="fa fa-close"></i>
						{{'Close' | translate}}
					</button>
					<button class="btn btn-primary"
						data-ng-click="vm.saveMorePrice()">
						<i class="fa fa-save"></i>
						{{'Save' | translate}}
					</button>
				</div>
			</div>
		</div>
	</div>
</form>


<form novalidate class="form-horizontal">
	<div class="modal fade"
		id="addDoctor"
		data-keyboard="false"
		data-backdrop="static">
		<div class="modal-dialog modal-md">
			<div class="modal-content">
				<div class="modal-header">
					<span>{{"AddDoctor" | translate}}</span>
				</div>
				<div class="modal-body">
					<doctor-list-drop-down doctor-model="vm.doctor" 
                            name="doctor" 
                            is-active="true"
                            required="required"></doctor-list-drop-down>
					<table class="table table-bordered table-responsive table-striped">
						<thead>
							<th>
								{{"No" | translate}}
							</th>
							<th>
								{{Name}}
							</th>
							<th>
								{{Action}}
							</th>
						</thead>
						<tbody>
							<tr data-ng-repeat="i in vm.doctorList">
								<td>
									{{$index + 1}}
								</td>
								<td>
									{{i.name}}
								</td>
								<td>
									<button data-ng-click="vm.removeDoctor()" class="btn btn-xs btn-danger">
										<i class="fa fa-trash"></i>
									</button>
								</td>
							</tr>
						</tbody>
					</table>
				</div>
				<div class="clearfix"></div>
				<div class="modal-footer">
					<button class="btn btn-default"
						data-dismiss="modal">
						<i class="fa fa-close"></i>
						{{'Close' | translate}}
					</button>
					<button class="btn btn-primary"
						data-ng-click="vm.saveMorePrice()">
						<i class="fa fa-save"></i>
						{{'Save' | translate}}
					</button>
				</div>
			</div>
		</div>
	</div>
</form>