<div class="row">
    <div class="col-md-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                <i class="fa fa-industry"></i>
                {{'Invoice' | translate}}
                <a class="btn no-padding pull-right ng-binding" onclick="history.go(-1)">
                    <i class="fa fa-step-backward"></i>
                    {{'Back' | translate}}
                </a>
            </div>
            <div class="panel-body">
                <div class="scroll table-responsive">
                    <table class="table table-bordered table-striped">
                        <tr>
                            <th width="5%">
                                #
                            </th>
                            <th width="30%">
                                {{'ItemName' | translate}}
                            </th>
                            <th width="10%">
                                {{'Qty' | translate}}
                            </th>
                            <th width="10%">
                                {{'Dis' | translate}} (%)
                            </th>
                            <th width="10%">
                                {{'Dis' | translate}} ($)
                            </th>
                            <th width="10%">
                                {{'Price' | translate}}
                            </th>
                            <th width="10%">
                                {{'Total' | translate}}
                            </th>
                        </tr>
                        <tr data-ng-repeat="list in vm.model.detail">
                            <td>
                                {{$index + 1}}
                            </td>
                            <td>
                                {{list.product_name}}
                                <ul>
                                    <li data-ng-repeat="x in list.description track by $index">
                                        {{x}}
                                    </li>
                                </ul>
                            </td>
                            <td>
                                {{list.qty}}
                            </td>
                            <td>
                                {{list.discount_percent}}
                            </td>
                            <td>
                                {{list.discount_cash | currency}}
                            </td>
                            <td>
                                {{list.unit_price | currency}}
                            </td>
                            <td>
                                <!-- {{ 
                                    ( 
                                        (list.unit_price) * list.qty
                                    )
                                        - 
                                    list.discount_cash 
                                        - 
                                    ( 
                                        (
                                            (list.unit_price) * list.qty
                                        ) 
                                            * 
                                        list.discount_percent / 100 
                                    ) | currency
                                }} -->
                                {{list.total | currency}}
                            </td>
                        </tr>
                    </table>
                    <div data-ng-if="vm.listData.length == 0">
                        <empty-data></empty-data>
                    </div>
                </div>
                <form class="form-horizontal" name="saleForm" novalidate>
                    <fieldset class="row col-md-6 col-sm-12 col-xs-12">
                        <legend>{{'Information' | translate}}</legend>
                        <div class="form-group">
                            <div class="col-md-4">
                                <span class="control-label">
                                    {{'InvoiceNo' | translate}}
                                </span>
                            </div>
                            <div class="col-md-8">
                                <span data-ng-bind="vm.model.invoice_no"></span>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-4">
                                <span class="control-label">
                                    {{'Date' | translate}}
                                </span>
                            </div>
                            <div class="col-md-8">
                                <span data-ng-bind="vm.service.dateFormat(vm.model.invoice_date)"></span>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-4">
                                <span class="control-label">
                                    {{'ExchangeRate' | translate}}
                                </span>
                            </div>
                            <div class="col-md-8">
                                <span>{{vm.exchange_rate_out | currency: ''}}</span>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-4">
                                <span class="control-label">
                                    {{'CustomerName' | translate}}
                                </span>
                            </div>
                            <div class="col-md-8">
                                <span data-ng-bind="vm.model.customer_name"></span>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-4">
                                <span class="">
                                    {{'Gender' | translate}}
                                </span>
                            </div>
                            <div class="col-md-8">
                                {{vm.model.customer_gender}}
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-4">
                                <span class="">
                                    {{'Code' | translate}}
                                </span>
                            </div>
                            <div class="col-md-8">
                                {{vm.model.customer_code}}
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-4">
                                <span class="">
                                    {{'Telephone' | translate}}
                                </span>
                            </div>
                            <div class="col-md-8">
                                {{vm.model.customer_tel | tel}}
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-4">
                                <span class="">
                                    {{'ShootDate' | translate}}
                                </span>
                            </div>
                            <div class="col-md-8">
                                {{vm.service.dateConvert(vm.model.customer_shoot_date) | date: 'dd-MM-yyyy'}}
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-4">
                                <span class="">
                                    {{'EventDate' | translate}}
                                </span>
                            </div>
                            <div class="col-md-8">
                                {{vm.service.dateConvert(vm.model.customer_event_date) | date: 'dd-MM-yyyy'}}
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-4">
                                <span class="">
                                    {{'LocationType' | translate}}
                                </span>
                            </div>
                            <div class="col-md-8">
                                {{vm.model.location_type_name}}
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-4">
                                <span class="">
                                    {{'Location' | translate}}
                                </span>
                            </div>
                            <div class="col-md-8">
                                {{vm.model.location_name}}
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-4">
                                <span class="">
                                    {{'Responsible' | translate}}
                                </span>
                            </div>
                            <div class="col-md-8">
                                {{vm.model.customer_staff_responsible}}
                            </div>
                        </div>
                    </fieldset>
                    <fieldset class="row col-md-6 col-sm-12 col-xs-12">
                        <legend>{{'PaymentInfo' | translate}}</legend>
                        <div class="form-group">
                            <div class="col-md-4">
                                <span class="control-label">
                                    {{'SubTotal' | translate}}
                                </span>
                            </div>
                            <div class="col-md-8">
                                <span data-ng-bind="vm.model.sub_total | currency"></span>
                            </div>
                        </div>
                        <div class="form-group" ng-if="vm.model.discount_type == 'percent'">
                            <div class="col-md-4">
                                <span class="control-label">
                                    {{'Discount' | translate}}
                                </span>
                            </div>
                            <div class="col-md-8">
                                <span data-ng-bind="vm.model.discount_amount"></span>(%)
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-4">
                                <span class="control-label">
                                    {{'TotalDiscount' | translate}}
                                </span>
                            </div>
                            <div class="col-md-8">
                                <span data-ng-bind="vm.model.discount_total_amount | currency"></span>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-4">
                                <span class="control-label">
                                    {{'GrandTotal' | translate}}($)
                                </span>
                            </div>
                            <div class="col-md-8">
                                <span data-ng-bind="vm.model.grand_total | currency"></span>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-4">
                                <span class="control-label">
                                    {{'GrandTotal' | translate}}(៛)
                                </span>
                            </div>
                            <div class="col-md-8">
                                <span data-ng-bind="vm.model.grand_total * vm.exchange_rate_out | currency:'(៛)'"></s>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-4">
                                <span class="control-label">
                                    {{'PaymentMethod' | translate}}
                                </span>
                            </div>
                            <div class="col-md-8">
                                <span data-ng-bind="vm.model.payment_method"></span>
                                <div data-ng-if="vm.model.payment_method != 'Cash'">
                                    <span data-ng-bind="vm.model.bank_charge"></span>
                                </div>
                            </div>
                        </div>
                        <div class="form-group"
                            data-ng-class="{ 'has-error': saleForm.payment.$error.required && saleForm.$submitted }">
                            <div class="col-md-4">
                                <span class="control-label">
                                    {{'Payment' | translate}}
                                </span>
                            </div>
                            <div class="col-md-8">
                                <span data-ng-bind="vm.model.deposit | currency"></span>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-4">
                                <span class="control-label">
                                    {{'Remaining' | translate}}($)
                                </span>
                            </div>
                            <div class="col-md-8">
                                <span data-ng-bind="vm.model.balance | currency"></span>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-4">
                                <span class="control-label">
                                    {{'Remaining' | translate}}(៛)
                                </span>
                            </div>
                            <div class="col-md-8">
                                <span>
                                    {{
                                        (vm.model.balance < 0)
                                            ?
                                        (vm.model.balance * vm.exchange_rate_in | currency:'(៛)')
                                            :
                                        (vm.model.balance * vm.exchange_rate_out | currency:'(៛)')
                                    }}
                                </span>
                            </div>
                        </div>
                    </fieldset>
                </form>
                <div class="form-group">
                    <div class="col-md-12">
                        <a class="btn btn-default" ui-sref="invoice.list">
                            <i class="fa fa-step-backward"></i>
                            {{'Back' | translate}}
                        </a>
                        <button class="btn btn-success"
                                data-toggle="modal"
                                data-target="#invoice-popup">
                            <i class="fa fa-print"></i>
                            {{'Print' | translate}}
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<invoice-print></invoice-print>
<form name="formAdd" novalidate class="form-horizontal">
    <div class="modal fade"
        id="addMorePrice"
        data-keyboard="false"
        data-backdrop="static">
        <div class="modal-dialog modal-md">
            <div class="modal-content">
                <div class="modal-header">
                    <span>{{"AddMorePrice" | translate}}</span>
                </div>
                <div class="modal-body">
                    <div class="form-group"
                        data-ng-class="{ 'has-error': formAdd.name.$error.required && formAdd.$submitted }">
                    <div class="col-md-3">
                        <span class="control-label">
                            {{'AddPrice' | translate}}
                            <span class="required">*</span>
                        </span>
                    </div>
                    <div class="col-md-9">
                        <input type="number"
                                class="form-control"
                                placeholder="{{'AddPrice' | translate}}"
                                data-ng-model="vm.copyModel.add_more_price"
                                name="name"
                                readonly />
                        <div translate="ThisFieldRequire" class="has-error msg-error"
                                data-ng-if="formAdd.name.$error.required && formAdd.$submitted"></div>
                    </div>
                </div>
                <div class="form-group"
                    data-ng-class="{ 'has-error': formAdd.remark.$error.required && formAdd.$submitted }">
                    <div class="col-md-3">
                        <span class="control-label">
                            {{'Remark' | translate}}
                            <span class="required">*</span>
                        </span>
                    </div>
                    <div class="col-md-9">
                        <textarea class="form-control" 
                            name="remark"
                            readonly
                            data-ng-model="vm.copyModel.remark" 
                            placeholder="{{'Remark' | translate}}"
                            rows="5"/>
                        <div translate="ThisFieldRequire" class="has-error msg-error"
                            data-ng-if="formAdd.remark.$error.required && formAdd.$submitted"></div>
                    </div>
                </div>
                </div>
                <div class="clearfix"></div>
                <div class="modal-footer">
                    <button class="btn btn-default"
                        data-dismiss="modal">
                        <i class="fa fa-close"></i>
                        {{'Close' | translate}}
                    </button>
                </div>
            </div>
        </div>
    </div>
</form>