<div class="panel panel-default">
	<div class="panel-heading">
		{{'ReceivePaymentReport' | translate}}
	</div>
	<div class="panel-body">
		<form class="row" name="report" novalidate>
			<div class="col-md-2 col-sm-6"
				 data-ng-class="{ 'has-error': report.from_date.$error.required && report.$submitted }">
				<div cambodia-date-picker date-format="y-MM-dd" class="input-group">
					<input type="text"
						   class="form-control"
						   data-ng-model="vm.from_date"						   
						   name="from_date"
						   placeholder="{{'FromDate' | translate}}"/>
					<span class="input-group-btn">
						<button class="btn btn-default" type="button">
							<i class="fa fa-calendar"></i>
						</button>
					</span>
				</div>
				<div translate="ThisFieldRequire" class="has-error msg-error msg-drop-down"
					 data-ng-if="report.from_date.$error.required && report.$submitted"></div>
			</div>
			<div class="col-md-2 col-sm-6"
				 data-ng-class="{ 'has-error': report.to_date.$error.required && report.$submitted }">
				<div cambodia-date-picker date-format="y-MM-dd" class="input-group">
					<input type="text"						   
						   name="to_date"
						   class="form-control"
						   data-ng-model="vm.to_date"
						   placeholder="{{'ToDate' | translate}}"/>
					<span class="input-group-btn">
						<button class="btn btn-default" type="button">
							<i class="fa fa-calendar"></i>
						</button>
					</span>
				</div>
				<div translate="ThisFieldRequire"
					 class="has-error msg-error msg-drop-down"
					 data-ng-if="report.to_date.$error.required && report.$submitted"></div>
			</div>
			<div class="col-md-3 col-sm-6">
				<customer-list-drop-down ng-model="vm.customer_list"></customer-list-drop-down>
			</div>
			<div class="col-md-5">
				<button class="btn btn-primary"
						data-ng-click="vm.from_date = ''; vm.to_date = '';vm.customer_list = undefined;"
						uib-tooltip="{{'ClearSelect' | translate}}">
					<i class="fa fa-refresh" aria-hidden="true"></i>
				</button>
				<button class="btn btn-success" data-ng-click="vm.init();">
					<i class="fa fa-hourglass-half"></i>
					{{'Filter' | translate}}
				</button>
				<button class="btn btn-default margin-top"
						onclick="PrintElem('#print')"
						data-ng-disabled="!vm.receivePayment.count">
					<i class="fa fa-print"></i>
					{{'Print' | translate}}
				</button>
				<span role-permission 
					 ng-if="featureRole"
					 permission="'Customer_Payment_Report_Export'" 
					 feature="featureRole">
					<button class="btn btn-info margin-top"
							ng-csv="vm.csv"
							data-ng-disabled="!vm.receivePayment.count"
							csv-header="vm.headers"
							add-bom="true"
							filename="customer_payment_report.csv">
						<i class="fa fa-file-excel-o"></i>
						{{'ExportCSV' | translate}}
					</button>
				</span>
			</div>
		</form>
		<div data-ng-if="vm.receivePayment.count" id="print" class="table-responsive">
			<table width="100%">
				<tr>
					<td align="center">
						<h3 ng-bind="company.company_name"></h3>
						<h4>
							{{'ReceivePaymentReport' | translate}}
						</h4>
						{{'FromDate' | translate}}: {{vm.from_date}}
						{{'ToDate' | translate}}: {{vm.to_date}}
					</td>
				</tr>
			</table>
			<br/><br/>
			<table class="table-print">
				<tr>
					<th>
						#
					</th>
					<th>
						{{'InvoiceNo' | translate}}
					</th>
					<th>
						{{'InvoiceDate' | translate}}
					</th>
					<th>
						{{'CustomerName' | translate}}
					</th>
					<th>
						{{'PaymentNo' | translate}}
					</th>
					<th>
						{{'PaymentDate' | translate}}
					</th>
					<th>
						{{'SubTotal' | translate}}
					</th>
					<th>
						{{'DiscountTotal' | translate}}
					</th>
					<th>
						{{'Deposit' | translate}}
					</th>					
					<th>
						{{'GrandTotal' | translate}}
					</th>			
					<th>
						{{'Adds' | translate}}
					</th>
					<th>
						{{'Balance' | translate}}
					</th>
					<th>
						{{'PaymentMethod' | translate}}
					</th>	
				</tr>
				<tr data-ng-repeat="rp in vm.receivePayment.elements">
					<td>
						{{$index +1}}
					</td>
					<td>
						<a ui-sref="report_sale({s_date: rp.detail[0].invoice_date, c_id: rp.customer_id, c_name: rp.customer_name })"
							class="link" target="_blank">
							{{rp.detail[0].invoice_no}}
						</a>
					</td>
					<td>
						{{vm.service.dateFormat(rp.detail[0].invoice_date)}}
					</td>
					<td>
						{{rp.customer_name}}
						<span class="label label-default">
							{{rp.customer_code}}
						</span>
					</td>
					<td>
						<a ui-sref="received_payment.detail({invoice_no: rp.receive_payment_no})"
							class="link" target="_blank">
							{{rp.receive_payment_no}}
						</a>
					</td>
					<td>
						{{vm.service.dateFormat(rp.receive_payment_date)}}
					</td>
					<td>
						{{rp.detail[0].sub_total | currency}}
					</td>
					<td>
						<span data-ng-if="rp.discount_type=='percent'">
							{{rp.discount_amount}} % =
						</span>
						<!-- <span data-ng-if="rp.discount_type=='dollar'">
							{{rp.discount_amount}} $ =
						</span> -->
						{{rp.discount_total_amount | currency}}
					</td>
					<td>
						{{rp.detail[0].deposit | currency}}
					</td>
					<td>
						{{rp.grand_total | currency}}
					</td>
					<td>
						{{rp.payment | currency}}
					</td>
					<td>
						{{rp.remain | currency}}
					</td>
					<td>
						{{rp.payment_method}}
					</td>
				</tr>
				<!-- <tr>
					<td colspan="12" align="right">
						<b>{{'TotalDiscountAmount' | translate}}</b>
					</td>
					<td>
						<b>{{vm.total_discount_amount | currency}}</b>
					</td>
				</tr>
				<tr>
					<td colspan="12" align="right">
						<b>{{'TotalCashAmount' | translate}}</b>
					</td>
					<td>
						<b>{{vm.total_cash_amount | currency}}</b>
					</td>
				</tr>
				<tr>
					<td colspan="12" align="right">
						<b>{{'TotalBankAmount' | translate}}</b>
					</td>
					<td>
						<b>{{vm.total_bank_amount | currency}}</b>
					</td>
				</tr> -->
				<tr>
					<td colspan="12" align="right">
						<b>{{'TotalPaymentAmount' | translate}}</b>
					</td>
					<td>
						<b>{{vm.total_payment_amount | currency}}</b>
					</td>
				</tr>
			</table>
		</div>
		<div
			data-ng-if="vm.receivePayment.count == 0"
		>
			<empty-data></empty-data>
		</div>
		<div
			data-ng-if="!vm.loading"
			class="align_center"
		>
			<i class="fa fa-refresh fa-spin" style="font-size: 100px;"></i>
		</div>
	</div>
</div>
