<div class="panel panel-default">
	<div class="panel-heading">
		{{'AppointmentReport' | translate}}
	</div>
	<div class="panel-body">
		<div class="row">
			<div class="col-md-2 col-sm-4">
				<div cambodia-date-picker date-format="y-MM-dd" class="input-group">
					<input type="text"
						   class="form-control"
						   data-ng-model="vm.from_date"
						   placeholder="{{'FromDate' | translate}}"/>
					<span class="input-group-btn">
						<button class="btn btn-default" type="button">
							<i class="fa fa-calendar"></i>
						</button>
					</span>
				</div>
			</div>
			<div class="col-md-2 col-sm-4">
				<div cambodia-date-picker date-format="y-MM-dd" class="input-group">
					<input type="text"
						   class="form-control"
						   data-ng-model="vm.to_date"
						   placeholder="{{'ToDate' | translate}}"/>
					<span class="input-group-btn">
						<button class="btn btn-default" type="button">
							<i class="fa fa-calendar"></i>
						</button>
					</span>
				</div>
			</div>
			<div class="col-md-3 col-sm-4">
				<customer-list-drop-down ng-model="vm.customers"
									name="customer"></customer-list-drop-down>
			</div>
			<div class="col-md-5 col-sm-12">
				<button class="btn btn-primary"
						data-ng-click="vm.from_date = ''; vm.to_date = ''; vm.customers = null;"
						uib-tooltip="{{'ClearSelect' | translate}}">
					<i class="fa fa-refresh" aria-hidden="true"></i>
				</button>
				<button class="btn btn-success" data-ng-click="vm.init();">
					<i class="fa fa-hourglass-half"></i>
					{{'Filter' | translate}}
				</button>
				<button class="btn btn-default margin-top"
						onclick="PrintElem('#print')"
						data-ng-disabled="!vm.totalItems">
					<i class="fa fa-print"></i>
					{{'Print' | translate}}
				</button>
				<span role-permission 
					 ng-if="featureRole"
					 permission="'Customer_Appointment_Report_Export'" 
					 feature="featureRole">
					<button class="btn btn-info margin-top"
							ng-csv="vm.csv"
							data-ng-disabled="!vm.totalItems"
							csv-header="vm.headers"
							add-bom="true"
							filename="appointment_list.csv">
						<i class="fa fa-file-excel-o"></i>
						{{'ExportCSV' | translate}}
					</button>
				</span>
			</div>
		</div>
		<div data-ng-if="vm.totalItems" id="print">
			<table width="100%">
				<tr>
					<td align="center">
						<h3 ng-bind="company.company_name"></h3>
						<h4>
							{{'AppointmentReport' | translate}}
						</h4>
						{{'TotalRecord' | translate}} {{vm.totalItems}}
					</td>
				</tr>
			</table>
			<div class="table-responsive">
				<table class="table-print">
					<tr>
						<th width="2%">
							#
						</th>
						<th width="15%">
							{{'CustomerName' | translate}}
						</th>
						<th width="8%">
							{{'Gender' | translate}}
						</th>
						<th width="10%">
							{{'DOB' | translate}}
						</th>
						<th width="15%">
							{{'Telephone' | translate}}
						</th>
						<th width="15%">
							{{'AppointmentDoctor' | translate}}
						</th>
						<th width="12%">
							{{'AppointmentDate' | translate}}
						</th>
						<th width="10%">
							{{'Time' | translate}}
						</th>
						<th width="20%">
							{{'Description' | translate}}
						</th>
						<th width="5%">
							{{'Status' | translate}}
						</th>
					</tr>
					<tr data-ng-repeat="c in vm.appointmentList track by c.id">
						<td>
							{{$index +1}}
						</td>
						<td>
							{{c.customer_detail[0].customers_name}}
							<small class="">
								({{c.customer_detail[0].customers_code}})
							</small>
						</td>
						<td>
							{{c.customer_detail[0].customers_gender}}
						</td>
						<td>
							{{vm.service.dateFormat(c.customer_detail[0].customers_dob)}}
						</td>
						<td>
							{{c.customer_detail[0].customers_telephone | tel}}
						</td>
						<td>
							{{c.doctor_detail[0].name}}
						</td>
						<td>
							{{vm.service.dateFormat(c.appointment_date)}}
						</td>
						<td>
							<span data-ng-bind="c.appointment_period | date: 'h:mm a'"></span>
						</td>
						<td>
							{{c.description}}
						</td>
						<td>
							<label class="label " data-ng-class="{'label-success': c.status == 2, 
							'label-primary': c.status == 1, 
							'label-warning': c.status == 0}">
								<span ng-bind="'CancelMet' | translate" ng-if="c.status == 0"></span>
								<span ng-bind="'AlreadyMet' | translate" ng-if="c.status == 2"></span>
								<span ng-bind="'Pending' | translate" ng-if="c.status == 1"></span>
							</label>
						</td>
					</tr>
				</table>
			</div>
		</div>
		<div
			data-ng-if="vm.totalItems == 0"
		>
			<empty-data></empty-data>
		</div>
		<div
			data-ng-if="!vm.loading"
			class="align_center"
		>
			<i class="fa fa-refresh fa-spin" style="font-size: 100px;"></i>
		</div>
	</div>
</div>
