<div class="panel panel-default">
    <div class="panel-heading">
        <b>{{'UMType' | translate}}</b>
    </div>
    <div class="panel-body">
        <span role-permission 
            ng-if="featureRole"
            permission="'UM_Type_Create'" 
            feature="featureRole">
            <a class="btn btn-default" 
                data-toggle="modal"
                data-target="#um-type-popup"
            >
                <span class="fa fa-plus-circle"></span>
                {{'AddNew' | translate}}
            </a>
        </span>
        {{'TotalRecord' | translate}}: {{vm.totalItems}}
        <br/><br/>
        <table class="table table-bordered table-striped">
            <thead>
                <th width="5%">
                    #
                </th>
                <th width="25%">
                    {{'Name' | translate}}
                </th>
                <th width="10%">
                    {{'Unit' | translate}}
                </th>
                <th width="40%">
                    {{'Description' | translate}}
                </th>
                <th width="10%">
                    {{'Action' | translate}}
                </th>
            </thead>
            <tr data-ng-repeat="row in vm.um_types.elements">
                <td>
                    <span data-ng-bind="$index + 1 + vm.pageSize"></span>
                </td>
                <td>
                    <span data-ng-bind="row.name"></span>
                </td>
                <td>
                    <span data-ng-bind="row.amount | number"></span>
                </td>
                <td>
                    <span data-ng-bind="row.description"></span>
                </td>
                <td>
                    <span role-permission 
                        ng-if="featureRole"
                        uib-tooltip="{{'Edit' | translate}}"
                        permission="'UM_Type_Edit'" 
                        feature="featureRole">
                        <button class="btn btn-default btn-xs" data-ng-click="vm.edit(row);">
                            <span class="fa fa-edit"></span>
                        </button>
                    </span>
                    <span role-permission 
                        ng-if="featureRole"
                        permission="'UM_Type_Disable'" 
                        feature="featureRole">
                        <button
                            class="btn btn-success btn-xs"
                            data-ng-click="vm.updateStatus(row);"
                            uib-tooltip="{{'Enable' | translate}}"
                            data-ng-if="row.status == 1"
                        >
                            <span class="fa fa-check-circle-o"></span>
                        </button>
                        <button
                            class="btn btn-warning btn-xs"
                            uib-tooltip="{{'Disable' | translate}}"
                            data-ng-if="row.status == 0"
                            data-ng-click="vm.updateStatus(row);"
                        >
                            <span class="fa fa-times-circle"></span>
                        </button>
                    </span>
                    <span role-permission 
                        uib-tooltip="{{'Delete' | translate}}"
                        ng-if="featureRole"
                        permission="'UM_Type_Delete'" 
                        feature="featureRole">
                        <button class="btn btn-danger btn-xs" data-ng-click="vm.delete(row);">
                            <span class="fa fa-trash"></span>
                        </button>
                    </span>
                </td>
            </tr>
        </table>
        <div data-ng-if="vm.um_types.elements == 0">
            <empty-data></empty-data>
        </div>
        <div data-ng-if="!vm.um_types" class="align_center">
            <i class="fa fa-refresh fa-spin" style="font-size: 100px;"></i>
        </div>
    </div>
</div>
<div class="panel-footer">
    <ul uib-pagination
        total-items="vm.totalItems"
        ng-model="vm.currentPage"
        ng-change="vm.pageChanged()"
        max-size="5"
        items-per-page="10"
        boundary-links="true"
    ></ul>
</div>

<form data-ng-submit="vm.save();" name="form" novalidate class="form form-horizontal">
    <div
        class="modal fade"
        id="um-type-popup"
        data-keyboard="false"
        data-backdrop="static"
    >
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <a
                        type="button"
                        class="close"
                        data-dismiss="modal"
                        data-ng-click="vm.clear();"
                    >
                        <span>&times;</span>
                    </a>
                    <h4>
                        <label>
                            {{'UMType' | translate}}
                        </label>
                    </h4>
                </div>
                <div class="modal-body">
                    <div class="form-group"
                        data-ng-class="{ 'has-error': form.name.$error.required && form.$submitted }">
                        <div class="col-md-3">
                            <span class="control-label">
                                {{'Name' | translate}}
                                <span class="required">*</span>
                            </span>
                        </div>
                        <div class="col-md-9">
                            <input type="text"
                                class="form-control"
                                data-ng-model="vm.model.name"
                                name="name"
                                required="required" />
                            <div translate="ThisFieldRequire" class="has-error msg-error"
                                data-ng-if="form.name.$error.required && form.$submitted"></div>
                        </div>
                    </div>
                     <div class="form-group"
                        data-ng-class="{ 'has-error': form.amount.$error.required && form.$submitted }">
                        <div class="col-md-3">
                            <span class="control-label">
                                {{'Unit' | translate}}
                                <span class="required">*</span>
                            </span>
                        </div>
                        <div class="col-md-9">
                            <input type="number"
                                class="form-control"
                                data-ng-model="vm.model.amount"
                                name="amount"
                                step="any"
                                min="0"
                                required="required" />
                            <div translate="ThisFieldRequire" class="has-error msg-error"
                                data-ng-if="form.amount.$error.required && form.$submitted"></div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-3">
                            <span class="control-label">
                                {{'Description' | translate}}
                            </span>
                        </div>
                        <div class="col-md-9">
                            <textarea class="form-control" data-ng-model="vm.model.description" rows="5"/>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <a
                        class="btn btn-default"
                        data-dismiss="modal"
                        data-ng-click="vm.clear();"
                    >
                        <i class="fa fa-close"></i>
                        {{'Close' | translate}}
                    </a>
                    <button
                        class="btn btn-primary"
                        data-ng-disabled="!vm.disable"
                    >
                        <i class="fa fa-save"></i>
                        {{'Save' | translate}}
                    </button>
                </div>
            </div>
        </div>
    </div>
</form>


