<div class="panel panel-default">
	<div class="panel-heading">
		{{'CustomerOverdueReport' | translate}}
	</div>
	<div class="panel-body">
		<form class="row" name="report" novalidate>
			<div class="col-md-3">
				<customer-list-drop-down ng-model="vm.customerObj"></customer-list-drop-down>
			</div>
			<div class="col-md-9">
				<button class="btn btn-primary"
						data-ng-click="vm.clear();"
						uib-tooltip="{{'ClearSelect' | translate}}">
					<i class="fa fa-refresh" aria-hidden="true"></i>
				</button>
				<button class="btn btn-success" data-ng-click="vm.init();">
					<i class="fa fa-hourglass-half"></i>
					{{'Filter' | translate}}
				</button>
				<button class="btn btn-default margin-top"
						onclick="PrintElem('#print')"
						data-ng-disabled="!vm.totalItems">
					<i class="fa fa-print"></i>
					{{'Print' | translate}}
				</button>
				<span role-permission 
					 ng-if="featureRole"
					 permission="'Customer_Balance_Report_Export'" 
					 feature="featureRole">
					<button class="btn btn-info margin-top"
							ng-csv="vm.csv"
							data-ng-disabled="!vm.totalItems"
							add-bom="true"
							csv-header="vm.headers"
							filename="customer_list.csv">
						<i class="fa fa-file-excel-o"></i>
						{{'ExportCSV' | translate}}
					</button>
				</span>
			</div>
		</form>
		<div data-ng-if="vm.invoice.count" id="print">
			<table width="100%">
				<tr>
					<td align="center">
						<h3 ng-bind="company.company_name"></h3>
						<h4>
							{{'CustomerOverdueReport' | translate}}
						</h4>
						{{'CustomerOverDueInfo' | translate}}
					</td>
				</tr>
			</table>
			<br/><br/>
			<table class="table-print">
				<tr>
					<th>
						#
					</th>
					<th>
						{{'InvoiceNo' | translate}}
					</th>
					<th>
						{{'InvoiceDate' | translate}}
					</th>
					<th>
						{{'CustomerName' | translate}}
					</th>
					<th>
						{{'Telephone' | translate}}
					</th>
					<th>
						{{'Balance' | translate}}
					</th>
				</tr>
				<tr data-ng-repeat="i in vm.invoice.elements">
					<td>
						{{$index +1}}
					</td>
					<td>
						<a ui-sref="report_sale({data: i})" class="link">
							{{i.stock_out_no}}
						</a>
					</td>
					<td>
						{{vm.service.dateFormat(i.stock_out_date)}}
					</td>
					<td>
						{{i.customer_name}}
						<span class="label label-primary">
							{{i.customer_code}}
						</span>
					</td>
					<td>
						{{i.customer_telephone | tel}}
					</td>
					<td>
						{{i.remain | currency}}
					</td>
				</tr>
				<tr>
					<td colspan="5" align="right">
						<b>Total Balance:</b>
					</td>
					<td>
						<b>{{vm.total_balance | currency}}</b>
					</td>
				</tr>
			</table>
		</div>
		<div data-ng-if="vm.invoice.count == 0">
			<empty-data></empty-data>
		</div>
		<div data-ng-if="vm.loading" class="align_center">
			<i class="fa fa-refresh fa-spin" style="font-size: 100px;"></i>
		</div>
	</div>
</div>
