<div class="panel panel-default">
	<div class="panel-heading">
		{{'CustomerReport' | translate}}
	</div>
	<div class="panel-body">
		<div class="row">
			<div class="col-md-3">
				<customer-list-drop-down ng-model="vm.customer_list.selected"></customer-list-drop-down>
			</div>
			<div class="col-md-3">
				<ui-select
					ng-model="vm.customer_type.selected"
					theme="select2"
					data-ng-disabled="disabled"
					reset-search-input="false"
					style="width: 100%;"
				>
					<ui-select-match placeholder="{{'SearchType' | translate}}">
						{{$select.selected.name}}
					</ui-select-match>
					<ui-select-choices
						repeat="customer_type in vm.customerType track by $index"
						refresh="vm.refreshCustomerTypeList($select.search)"
						refresh-delay="0"
					>
						<div data-ng-bind-html="customer_type.name | highlight: $select.search"></div>
					</ui-select-choices>
				</ui-select>
			</div>
			<div class="col-md-2">
				<select class="form-control" data-ng-model="vm.typeCode">
					<option value="">{{"Select" | translate}}</option>
					<option value="no code">{{"ClientLog" | translate}}</option>
					<option value="has code">{{"ClientRegister" | translate}}</option>
				</select>
			</div>
			<div class="col-md-4">
				<button class="btn btn-primary"
						data-ng-click="vm.clear();"
						uib-tooltip="{{'ClearSelect' | translate}}">
					<i class="fa fa-refresh" aria-hidden="true"></i>
				</button>
				<button class="btn btn-success" data-ng-click="vm.init();">
					<i class="fa fa-hourglass-half"></i>
					{{'Filter' | translate}}
				</button>
				<button class="btn btn-default margin-top"
						onclick="PrintElem('#print')"
						data-ng-disabled="!vm.totalItems">
					<i class="fa fa-print"></i>
					{{'Print' | translate}}
				</button>
				<span role-permission 
					 ng-if="featureRole"
					 permission="'Customer_Report_Export'" 
					 feature="featureRole">
					<button class="btn btn-info margin-top"
							ng-csv="vm.csv"
							add-bom="true"
							data-ng-disabled="!vm.totalItems"
							csv-header="vm.headers"
							filename="customer_list.csv">
						<i class="fa fa-file-excel-o"></i>
						{{'ExportCSV' | translate}}
					</button>
				</span>
			</div>
		</div>
		<hr />
		<div data-ng-if="vm.customers.count" id="print" class="table-responsive">
			<table width="100%">
				<tr>
					<td align="center">
						<h3 ng-bind="company.company_name"></h3>
						<h4 ng-bind="'CustomerReport' | translate"></h4>
						{{'TotalRecord' | translate}} {{vm.totalItems}}
					</td>
				</tr>
			</table>
			<table class="table-print" style="table-layout: fixed;
			width: 2000px;">
				<tr>
					<th width="2%">
						#
					</th>
					<th width="8%">
						{{'CustomerType' | translate}}
					</th>
					<th width="10%">
						{{'Name' | translate}}
					</th>
					<th width="8%">
						{{'DOB' | translate}}
					</th>
					<th width="10%">
						{{'Name' | translate}}
					</th>
					<th width="8%">
						{{'DOB' | translate}}
					</th>
					<th width="8%">
						{{'Occupation' | translate}}
					</th>
					<th width="8%">
						{{'Code' | translate}}
					</th>
					<th width="8%">
						{{'MemberCard' | translate}}
					</th>
					<th width="8%">
						{{'CheckFrom' | translate}}
					</th>
					<th width="8%">
						{{'InterestPackage' | translate}}
					</th>
					<th width="10%">
						{{'LocationType' | translate}}
					</th>
					<th width="10%">
						{{'Location' | translate}}
					</th>
					<th width="10%">
						{{'Email' | translate}}
					</th>
					<th width="10%">
						{{'Telephone' | translate}}
					</th>
					<th width="10%">
						{{'RelativeTelephone' | translate}}
					</th>
					<th width="10%">
						{{'Address' | translate}}
					</th>
					<th width="10%">
						{{'Description' | translate}}
					</th>
					<th width="8%">
						{{'Country' | translate}}
					</th>
				</tr>
				<tr data-ng-repeat="c in vm.customers.elements track by c.id">
					<td>
						{{vm.pageSize + $index +1}}
					</td>
					<td>
						{{c.customers_type_detail[0].name}}
					</td>
					<td>
						<span>
							{{c.title}}.
							{{c.customers_first_name}}
						</span>
					</td>
					<td>
						{{vm.service.dateFormat(c.customers_dob)}}
					</td>
					<td>
						<span>
							{{c.title1}}.
							{{c.customers_last_name}}
						</span>
					</td>
					<td>
						{{vm.service.dateFormat(c.customers_dob1)}}
					</td>
					<td>
						{{c.customers_occupation}}
					</td>
					<td>
						{{c.customers_code}}
					</td>
					<td>
						{{c.member_card}}
					</td>
					<td>
						{{c.check_from}}
					</td>
					<td>
						{{c.interest_package_type}}
					</td>
					<td>
						{{c.location_type_name}}
					</td>
					<td>
						{{c.location_name}}
					</td>
					<td>
						{{c.customers_email_address}}
					</td>
					<td>
						{{c.customers_telephone | tel}}
					</td>
					<td>
						{{c.customers_relative_contact | tel}}
					</td>
					<td>
						{{c.customers_address}}
					</td>
					<td>
						{{c.customers_description}}
					</td>
					<td>
						{{c.customers_country}}
					</td>
				</tr>
			</table>
		</span>
		<div
			class="panel-footer"
			data-ng-show="vm.totalItems > 100"
		>
			<ul uib-pagination
				total-items="vm.totalItems"
				ng-model="vm.currentPage"
				ng-change="vm.pageChanged()"
				max-size="5"
				items-per-page="100"
				boundary-links="true"
			></ul>
		</div>
		<div
			data-ng-if="vm.customers.count == 0"
		>
			<empty-data></empty-data>
		</div>
		<div
			data-ng-if="!vm.loading"
			class="align_center"
		>
			<i class="fa fa-refresh fa-spin" style="font-size: 100px;"></i>
		</div>
	</div>
</div>
