<div class="panel panel-default">
    <div class="panel-heading">
        <b>{{'VendorType' | translate}}</b>
    </div>
    <div class="panel-body">
        <span role-permission 
            ng-if="featureRole"
            permission="'Vendor_Type_Create'" 
            feature="featureRole">
            <a ui-sref="vendor_type.create"
                class="btn btn-default"
            >
                <span class="fa fa-plus-circle"></span>
                {{'AddNew' | translate}}
            </a>
        </span>
        {{'TotalRecord' | translate}}: {{vm.totalItems}}
        <form class="row">
            <div class="form-body">
                <div class="col-md-3">
                    <div class="input-group input-large">
                        <input type="text"
                               class="form-control"
                               data-ng-model="vm.search_name"
                               auto-focus
                               placeholder="{{'Search' | translate}}">

                        <span class="input-group-btn">
                            <button type="submit" class="btn blue" data-ng-click="vm.search()">
                                <i class="fa fa-search" data-ng-if="!vm.loading"></i>
                                <i class="fa fa-spinner fa-spin" data-ng-if="vm.loading"></i>
                            </button>
                        </span>
                    </div>
                </div>
            </div>
        </form>
        <table class="table table-bordered table-striped">
            <thead>
            <th>
                #
            </th>
            <th>
                {{'Name' | translate}}
            </th>
            <th>
                {{'Description' | translate}}
            </th>
            <th width="150px">
                {{'Action' | translate}}
            </th>
            </thead>
            <tr data-ng-repeat="vendor in vm.vendorType.elements">
                <td>
                    <span data-ng-bind="$index + 1"></span>
                </td>
                <td>
                    <span data-ng-bind="vendor.name"></span>
                </td>
                <td>
                    <span data-ng-bind="vendor.description"></span>
                </td>
                <td>
                    <span role-permission 
                        ng-if="featureRole"
                        permission="'Vendor_Type_Edit'" 
                        feature="featureRole">
                        <button class="btn btn-default btn-xs" ui-sref="vendor_type.edit({id: vendor.id})"
                            data-ng-disabled="vendor.status == 0">
                            <span class="fa fa-edit btn-xs"></span>
                        </button>
                    </span>
                    <span role-permission 
                        ng-if="featureRole"
                        permission="'Vendor_Type_Disable'" 
                        feature="featureRole">
                        <button uib-tooltip="{{'Disable' | translate}}"
                            class="btn btn-success btn-xs"
                            data-ng-click="vm.updateStatus(vendor);"
                            data-ng-if="vendor.status == 1"
                        >
                            <span class="fa fa-check-circle-o"></span>
                        </button>
                        <button uib-tooltip="{{'Enable' | translate}}"
                            class="btn btn-warning btn-xs"
                            data-ng-if="vendor.status == 0"
                            data-ng-click="vm.updateStatus(vendor);"
                        >
                            <span class="fa fa-times-circle"></span>
                        </button>
                    </span>
                </td>
            </tr>
        </table>
        <div
            data-ng-if="vm.vendorType.elements == 0"
        >
            <empty-data></empty-data>
        </div>
        <div
            data-ng-if="!vm.vendorType"
            class="align_center"
        >
            <i class="fa fa-refresh fa-spin" style="font-size: 100px;"></i>
        </div>
    </div>
    <div class="panel-footer">
        <ul uib-pagination
            total-items="vm.totalItems"
            ng-model="vm.currentPage"
            ng-change="vm.pageChanged()"
            max-size="5"
            items-per-page="10"
            boundary-links="true"
        ></ul>
    </div>
</div>