<div
    class="modal fade"
    id="invoice-popup-transfer"
    data-keyboard="false"
    data-backdrop="static"
>
    <div class="modal-dialog modal-md">
        <div class="modal-content">
            <div class="modal-body">
                <div class="tab-content" id="print">
                    <table width="100%">
                        <tr>
                            <td>
                                <img src="{{company.logo}}" style="width: 90px; position: absolute;"/>
                                <div style="text-align: center;">
                                    <h4 data-ng-bind-html="company.company_name"></h4>
                                    <p data-ng-bind-html="company.address"></p>
                                </div>
                            </td>
                        </tr>
                    </table>
                    <table width="100%">
                        <tr>
                            <td colspan="4" align="center">
                                <b>
                                    វិក័យប័ត្រនៃការផ្ទេរទំនិញ
                                    <br/>
                                    Invoice of Transfer Stock
                                </b>
                            </td>
                        </tr>
                        <tr> 
                            <td colspan="4" style="height: 10px;"></td>
                        </tr>
                        <tr>
                            <td>
                                <b>
                                    ផ្ទេរទៅសាខា/Transfer To:
                                    <span style="text-transform: capitalize;">
                                        {{vm.copy.transfer.transfer_branch_name}}
                                    </span>
                                </b>
                            </td>
                            <td>
                                
                            </td>
                            <td>
                                
                            </td>
                            <td align="right">
                                <b>
                                    N<sup>o</sup>: 
                                    {{vm.invoice}}
                                </b>
                            </td>
                        </tr>
                        <!--<tr>
                            <td width="35%">
                                <b>Date: </b> {{vm.today | date: "dd/MMM/yyyy"}}
                            </td>
                            <td width="35%">
                                <b>Time: </b> {{vm.today | date: "h:mm:ss a"}}
                            </td>
                        </tr>-->
                    </table>
                    <br/>
                    <table class="table-print">
                        <tr>
                            <th width="5%">
                                ល.រ<br/>
                                N<sup>o</sup>
                            </th>
                            <th width="50%">
                                ទំនិញ<br/>
                                Item
                            </th>
                            <!--<th width="17%">
                                តំលៃ<br/>
                                Cost
                            </th>-->
                            <th width="12%">
                                បរិមាណ<br/>
                                Qty
                            </th>
                            <!--<th width="17%">
                                សរុប
                                <br/>Total
                            </th>-->
                        </tr>
                        <tr data-ng-repeat="item in vm.copy.transfer_detail" style="vertical-align: top;">
                            <td>
                                {{$index + 1}}
                            </td>
                            <td>
                                {{item.product_name}}
                            </td>
                            <!--<td>
                                {{item.price_in | currency}}
                            </td>-->
                            <td>
                                {{item.qty}}
                                {{item.um_type_name}}
                            </td>
                            <!--<td>
                                {{ (item.price_in * item.qty) | currency }}
                            </td>-->
                        </tr>
                        <!-- <tr style="vertical-align: top;">
                            <td colspan="3">
                                <span data-ng-bind-html="company.description"></span>
                            </td> -->
                            <!--<td align="right" colspan="3">
                                <b>សរុប/Sub Total: {{vm.copy.transfer.total | currency}}</b>
                            </td>-->
                        <!-- </tr> -->
                    </table>
                    <br/>
                    <table style="width: 100%;text-align: center;">
                        <tr>
                            <td>
                                អ្នកទទួល
                            </td>
                            <td>
                                អ្នកប្រគល់
                            </td>
                        </tr>
                    </table>
                    <div style="
							text-align: center;
							vertical-align: middle;
							text-transform: capitalize;
							font-size: 10px;
                            margin-top: 70px;
						"
                    >
                        Thank you for your confidence.
                        See you again.
                        <br/>
                        Power by SKWEB Solution. Tel: 070 955 102
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button class="btn btn-default"
                        data-dismiss="modal"
                        data-ng-click="vm.invoiceNo = ''"
                >
                    <i class="fa fa-close"></i>
                    {{'Close' | translate}}
                </button>
                <button class="btn btn-primary"
                        onclick="PrintElem('#print')"
                >
                    <i class="fa fa-print"></i>
                    {{'Print' | translate}}
                </button>
            </div>
        </div>
    </div>
</div>