<div class="panel panel-default">
    <div class="panel-heading">
        <b>{{'MemberShip' | translate}}</b>
    </div>
    <div class="panel-body">
        <span role-permission 
            ng-if="featureRole"
            permission="'Member_Ship_Create'" 
            feature="featureRole">
            <button
                class="btn btn-default"
                data-toggle="modal"
                data-target="#member-ship-popup"
            >
                <span class="fa fa-plus-circle"></span>
                {{'AddNew' | translate}}
            </button>
        </span>
        {{'TotalRecord' | translate}}: {{vm.totalItems | number}}
        <br/><br/>
        <table class="table table-bordered table-striped">
            <thead>
                <th width="5%">
                    #
                </th>
                <th width="25%">
                    {{'Name' | translate}}
                </th>

                <th width="55%">
                    {{'Description' | translate}}
                </th>
                <th width="10%">
                    {{'Action' | translate}}
                </th>
            </thead>
            <tr data-ng-repeat="customer in vm.collection.elements">
                <td>
                    <span data-ng-bind="customer.id"></span>
                </td>
                <td>
                    <span data-ng-bind="customer.name"></span>
                </td>
                <td>
                    <span data-ng-bind="customer.description"></span>
                </td>
                <td>
                    <span role-permission 
                        ng-if="featureRole"
                        permission="'Member_Ship_Edit'" 
                        uib-tooltip="{{'Edit' | translate}}"
                        feature="featureRole">
                        <button class="btn btn-default btn-xs" data-ng-click="vm.edit(customer);">
                            <span class="fa fa-edit"></span>
                        </button>
                    </span>
                    <span role-permission 
                        ng-if="featureRole"
                        permission="'Member_Ship_Disable'" 
                        feature="featureRole">
                        <button
                            class="btn btn-success btn-xs"
                            data-ng-click="vm.updateStatus(customer);"
                            uib-tooltip="{{'Enable' | translate}}"
                            data-ng-if="customer.status == 1"
                        >
                            <span class="fa fa-check-square-o"></span>
                        </button>
                        <button
                            class="btn btn-warning btn-xs"
                            uib-tooltip="{{'Disable' | translate}}"
                            data-ng-if="customer.status == 0"
                            data-ng-click="vm.updateStatus(customer);"
                        >
                            <span class="fa fa-minus-square-o"></span>
                        </button>
                    </span>
                    <span role-permission 
                        ng-if="featureRole"
                        permission="'Member_Ship_Delete'" 
                        uib-tooltip="{{'Delete' | translate}}"
                        feature="featureRole">
                        <button class="btn btn-danger btn-xs" data-ng-click="vm.delete(customer);">
                            <span class="fa fa-trash"></span>
                        </button>
                    </span>
                </td>
            </tr>
        </table>
        <div
            data-ng-if="vm.collection.elements == 0"
        >
            <empty-data></empty-data>
        </div>
        <div
            data-ng-if="!vm.collection"
            class="align_center"
        >
            <i class="fa fa-refresh fa-spin" style="font-size: 100px;"></i>
        </div>
    </div>
</div>
<div class="panel-footer">
    <ul uib-pagination
        total-items="vm.totalItems"
        ng-model="vm.currentPage"
        ng-change="vm.pageChanged()"
        max-size="5"
        items-per-page="10"
        boundary-links="true"
    ></ul>
</div>

<form data-ng-submit="vm.save();" name="memberShipForm" novalidate class="form form-horizontal">
    <div
        class="modal fade"
        id="member-ship-popup"
        data-keyboard="false"
        data-backdrop="static"
    >
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <a
                        type="button"
                        class="close"
                        data-dismiss="modal"
                        data-ng-click="vm.clear();"
                    >
                        <span>&times;</span>
                    </a>
                    <h4>
                        <label>{{'MemberShip' | translate}}</label>
                    </h4>
                  </div>
                <div class="modal-body">
                    <div class="form-group"
                         data-ng-class="{ 'has-error': memberShipForm.name.$error.required && memberShipForm.$submitted }">
                        <div class="col-md-3">
                            <span class="control-label">
                                {{'Name' | translate}}
                                <span class="required">*</span>
                            </span>
                        </div>
                        <div class="col-md-9">
                            <input type="text"
                                   class="form-control"
                                   data-ng-model="vm.model.name"
                                   name="name"
                                   placeholder="{{'Name' | translate}}"
                                   required="required" />
                            <div translate="ThisFieldRequire" class="has-error msg-error"
                                 data-ng-if="memberShipForm.name.$error.required && memberShipForm.$submitted"></div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-3">
                            <span class="control-label">
                                {{'Description' | translate}}
                            </span>
                        </div>
                        <div class="col-md-9">
                            <textarea class="form-control" 
                                data-ng-model="vm.model.description" 
                                placeholder="{{'Description' | translate}}"
                                rows="5"/>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <a
                        class="btn btn-default"
                        data-dismiss="modal"
                        data-ng-click="vm.clear();"
                    >
                        <i class="fa fa-close"></i>
                        {{'Close' | translate}}
                    </a>
                    <button
                        class="btn btn-primary"
                        data-ng-disabled="!vm.disable"
                    >
                        <i class="fa fa-save"></i>
                        {{'Save' | translate}}
                    </button>
                </div>
            </div>
        </div>
    </div>
</form>

    
    