<form data-ng-submit="vm.save();" name="memberShipForm" novalidate class="form form-horizontal">
<div
	class="modal fade"
	id="member-ship-popup"
	data-keyboard="false"
	data-backdrop="static"
>
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<a
					type="button"
					class="close"
					data-dismiss="modal"
					data-ng-click="vm.clear();"
				>
					<span>&times;</span>
				</a>
				<h4>
					<label>{{'MemberShip' | translate}}</label>
				</h4>
	      	</div>
			<div class="modal-body">
				<div class="form-group"
					 data-ng-class="{ 'has-error': memberShipForm.name.$error.required && memberShipForm.$submitted }">
					<div class="col-md-3">
						<span class="control-label">
							{{'Name' | translate}}
							<span class="required">*</span>
						</span>
					</div>
					<div class="col-md-9">
						<input type="text"
							   class="form-control"
							   data-ng-model="vm.model.name"
							   name="name"
							   placeholder="{{'Name' | translate}}"
							   required="required" />
						<div translate="ThisFieldRequire" class="has-error msg-error"
							 data-ng-if="memberShipForm.name.$error.required && memberShipForm.$submitted"></div>
					</div>
				</div>
				<div class="form-group">
					<div class="col-md-3">
						<span class="control-label">
							{{'Description' | translate}}
						</span>
					</div>
					<div class="col-md-9">
						<textarea class="form-control" 
							data-ng-model="vm.model.description" 
							placeholder="{{'Description' | translate}}"
							rows="5"/>
					</div>
				</div>
			</div>
			<div class="modal-footer">
				<a
					class="btn btn-default"
					data-dismiss="modal"
					data-ng-click="vm.clear();"
				>
					<i class="fa fa-close"></i>
					{{'Close' | translate}}
				</a>
				<button
					class="btn btn-primary"
					data-ng-disabled="!vm.disable"
				>
					<i class="fa fa-save"></i>
					{{'Save' | translate}}
				</button>
			</div>
		</div>
	</div>
</div>
</form>


