<div class="panel panel-default">
    <div class="panel-heading">
        <b>{{'PackageType' | translate}}</b>
    </div>
    <div class="panel-body">
        <span role-permission 
            ng-if="featureRole"
            permission="'Package_Type_Create'" 
            feature="featureRole">
            <a class="btn btn-default"
            ui-sref="package_type.create"
            >
                <span class="fa fa-plus-circle"></span>
                {{'AddNew' | translate}}
            </a>
        </span>
        {{'TotalRecord' | translate}}: {{vm.totalItems}}
        <br/>
        <form class="row">
            <div class="form-body">
                <div class="col-md-3 col-sm-4">
                    <div class="input-group input-large">
                        <input type="text"
                               class="form-control"
                               data-ng-model="vm.filterText"
                               auto-focus
                               placeholder="{{'Search' | translate}}">

                        <span class="input-group-btn">
                            <button type="submit" class="btn blue" data-ng-click="vm.search()">
                                <i class="fa fa-search" data-ng-if="!vm.loading"></i>
                                <i class="fa fa-spin fa-spinner" data-ng-if="vm.loading"></i>
                            </button>
                        </span>
                    </div>
                </div>
            </div>
        </form>
        <div class="table-responsive">
            <table class="table table-bordered table-striped">
                <thead>
                <th width="2%">
                    #
                </th>
                <th width="15%">
                    {{'Name' | translate}}
                </th>
                <th width="10%">
                    {{'Description' | translate}}
                </th>
                <th width="10%">
                    {{'Action' | translate}}
                </th>
                </thead>
                <tr data-ng-repeat="x in vm.collections.elements">
                    <td>
                        <span data-ng-bind="vm.pageSize + $index + 1"></span>
                    </td>
                    <td>
                        <span data-ng-bind="x.name"></span>
                    </td>
                    <td>
                        {{x.description}}
                    </td>
                    <td>
                        <span role-permission 
                             ng-if="featureRole"
                             permission="'Package_Type_Edit'" 
                             feature="featureRole">
                            <a class="btn btn-default btn-xs"
                            uib-tooltip="{{'Edit' | translate}}"
                            ui-sref="package_type.edit({id: x.id})">
                                <span class="fa fa-edit"></span>
                            </a>
                        </span>
                        <span role-permission 
                             ng-if="featureRole"
                             permission="'Package_Type_Disable'" 
                             feature="featureRole">
                            <button
                                class="btn btn-success btn-xs"
                                uib-tooltip="{{'Disable' | translate}}"
                                data-ng-click="vm.updateStatus(x);"
                                data-ng-if="x.status == 1"
                            >
                                <span class="fa fa-check-square-o"></span>
                            </button>
                            <button
                                class="btn btn-warning btn-xs"
                                uib-tooltip="{{'Enable' | translate}}"
                                data-ng-if="x.status == 0"
                                data-ng-click="vm.updateStatus(x);"
                            >
                                <span class="fa fa-minus-square-o"></span>
                            </button>
                        </span>
                        <span role-permission 
							ng-if="featureRole"
							permission="'Package_Type_Delete'" 
							feature="featureRole">
							<a data-ng-click="vm.delete(x)"
							class="btn btn-danger btn-xs"
							uib-tooltip="{{'Delete' | translate}}"
							>
								<span class="fa fa-trash"></span>
							</a>
						</span>
                        <span role-permission 
							ng-if="featureRole"
							permission="'Package_View'" 
							feature="featureRole">
							<a ui-sref="package_type.detail({id: x.id})"
							class="btn btn-primary btn-xs"
							uib-tooltip="{{'Detail' | translate}}"
							>
								<span class="fa fa-eye"></span>
							</a>
						</span>
                    </td>
                </tr>
            </table>
        </div>
        <div data-ng-if="vm.collections.elements == 0">
            <empty-data></empty-data>
        </div>
        <div data-ng-if="!vm.collections"
            class="align_center">
            <i class="fa fa-refresh fa-spin" style="font-size: 100px;"></i>
        </div>
    </div>
    <div class="panel-footer">
        <ul uib-pagination
            total-items="vm.totalItems"
            ng-model="vm.currentPage"
            ng-change="vm.pageChanged()"
            max-size="5"
            items-per-page="10"
            boundary-links="true"
        ></ul>
    </div>
</div>
