<div class="panel panel-default" data-ng-init="vm.init();">
	<div class="panel-heading">
		{{'VendorBalanceReport' | translate}}
	</div>
	<div class="panel-body">
		<form class="row" name="report" novalidate data-ng-submit="vm.init();">
			<!--<div class="col-md-3">
				<div class="form-group"
					 data-ng-class="{ 'has-error': report.from_date.$error.required && report.$submitted }">
					<div class="">
						<div cambodia-date-picker date-format="y-MM-dd" class="input-group">
							<input type="text" class="form-control" required name="from_date"
								   data-ng-model="vm.from_date"  placeholder="{{'FromDate' | translate}}"/>
							<span class="input-group-btn">
								<button class="btn btn-default" type="button">
									<i class="fa fa-calendar"></i>
								</button>
							</span>
						</div>
					</div>
					<div translate="ThisFieldRequire" class="has-error msg-error msg-drop-down"
						 data-ng-if="report.from_date.$error.required && report.$submitted"></div>
				</div>
			</div>
			<div class="col-md-3">
				<div class="form-group"
					 data-ng-class="{ 'has-error': report.toDate.$error.required && report.$submitted }">
					<div class="">
						<div cambodia-date-picker date-format="y-MM-dd" class="input-group">
							<input type="text" class="form-control" data-ng-model="vm.to_date"
								   name="toDate" required placeholder="{{'ToDate' | translate}}"/>
								<span class="input-group-btn">
									<button class="btn btn-default" type="button">
										<i class="fa fa-calendar"></i>
									</button>
								</span>
						</div>
						<div translate="ThisFieldRequire" class="has-error msg-error msg-drop-down"
							 data-ng-if="report.toDate.$error.required && report.$submitted"></div>
					</div>
				</div>
			</div>-->
			<div class="col-md-3">
				<div class="form-group">
					<vendor-list-drop-down vendor-model="vm.vendor"></vendor-list-drop-down>
				</div>
			</div>
			<div class="col-md-9">
				<div class="form-group">
					<div class="">
						<button class="btn btn-primary"
								data-ng-click="vm.from_date = ''; vm.to_date = '';vm.vendor = '';"
								uib-tooltip="{{'ClearSelect' | translate}}">
							<i class="fa fa-refresh" aria-hidden="true"></i>
						</button>
						<button class="btn btn-success" data-ng-click="vm.init();">
							<i class="fa fa-hourglass-half"></i>
							{{'Filter' | translate}}
						</button>
						<button class="btn btn-default margin-top"
								onclick="PrintElem('#print')"
								data-ng-disabled="!vm.vendorBalance.count">
							<i class="fa fa-print"></i>
							{{'Print' | translate}}
						</button>
						<!--<button class="btn btn-info margin-top"-->
						<!--ng-csv="vm.csv"-->
						<!--data-ng-disabled="!vm.totalItems"-->
						<!--csv-header="vm.headers"-->
						<!--filename="stock_report.csv">-->
						<!--<i class="fa fa-file-excel-o"></i>-->
						<!--{{'ExportCSV' | translate}}-->
						<!--</button>-->
					</div>
				</div>
			</div>
		</form>
		<div data-ng-if="vm.vendorBalance.count" id="print">
			<table width="100%">
				<tr>
					<td align="center">
						<h3 ng-bind="company.company_name"></h3>
						<h4>
							{{'VendorBalanceReport' | translate}}
						</h4>
						<!--{{'FromDate' | translate}}: {{vm.from_date}}
						{{'ToDate' | translate}}: {{vm.to_date}}-->
					</td>
				</tr>
			</table>
			<br/><br/>
			<table class="table-print">
				<tr>
					<th>
						#
					</th>
					<th>
						{{'ReferenceNo' | translate}}
					</th>
					<th>
						{{'PurchaseDate' | translate}}
					</th>
					<th>
						{{'Vendor Name' | translate}}
					</th>
					<th>
						{{'Balance' | translate}}
					</th>
				</tr>
				<tr data-ng-repeat="i in vm.vendorBalance.elements">
					<td>
						{{$index +1}}
					</td>
					<td>
						{{i.reff_no}}
					</td>
					<td>
						{{vm.service.dateFormat(i.purchase_date)}}
					</td>
					<td>
						{{i.supplier_name}}
					</td>
					<td>
						{{i.remain | currency: ''}}
					</td>
				</tr>
				<tr>
					<td colspan="4" align="right">
						<b>{{'TotalBalance' | translate}}</b>
					</td>
					<td>
						<b>{{vm.total_balance | currency: ''}}</b>
					</td>
				</tr>
			</table>
		</div>
		<div
			data-ng-if="vm.vendorBalance.count == 0"
		>
			<empty-data></empty-data>
		</div>
		<div data-ng-if="!vm.loading" class="align_center">
			<i class="fa fa-refresh fa-spin" style="font-size: 100px;"></i>
		</div>
	</div>
</div>
