<div class="panel panel-default">
	<div class="panel-heading">
		{{'ExpenseReport' | translate}}
	</div>
	<div class="panel-body">
		<div class="row">
			<!-- <div class="col-md-3">
				<input type="text" class="form-control" 
					data-ng-model="vm.filterText" 
					placeholder="{{'Search' | translate}}"
					data-ng-model-options='{ debounce: 1000 }'/>
			</div> -->
			<div class="col-md-2 col-sm-6"
				 data-ng-class="{ 'has-error': report.from_date.$error.required && report.$submitted }">
				<div cambodia-date-picker date-format="y-MM-dd" class="input-group">
					<input type="text"
						   class="form-control"
						   data-ng-model="vm.from_date"
						   required
						   name="from_date"
						   placeholder="{{'FromDate' | translate}}"/>
					<span class="input-group-btn">
						<button class="btn btn-default" type="button">
							<i class="fa fa-calendar"></i>
						</button>
					</span>
				</div>
				<div translate="ThisFieldRequire" class="has-error msg-error msg-drop-down"
					 data-ng-if="report.from_date.$error.required && report.$submitted"></div>
			</div>
			<div class="col-md-2 col-sm-6"
				 data-ng-class="{ 'has-error': report.to_date.$error.required && report.$submitted }">
				<div cambodia-date-picker date-format="y-MM-dd" class="input-group">
					<input type="text"
						   required
						   name="to_date"
						   class="form-control"
						   data-ng-model="vm.to_date"
						   placeholder="{{'ToDate' | translate}}"/>
					<span class="input-group-btn">
						<button class="btn btn-default" type="button">
							<i class="fa fa-calendar"></i>
						</button>
					</span>
				</div>
				<div translate="ThisFieldRequire"
					 class="has-error msg-error msg-drop-down"
					 data-ng-if="report.to_date.$error.required && report.$submitted"></div>
			</div>
			<div class="col-md-3">
				<select class="form-control"
					name="expenseType"
					required
					ng-model="vm.expense_type_id"
					data-ng-options="x.id as x.name for x in vm.expenseList">
					<option value="">{{'Select' | translate}}</option>
				</select>
				<div translate="ThisFieldRequire"
						class="has-error msg-error"
						data-ng-if="form.expenseType.$error.required && form.$submitted"></div>
			</div>
			<div class="col-md-5">
				<button class="btn btn-primary"
						data-ng-click="vm.filterText = ''; vm.from_date=''; vm.to_date=''"
						uib-tooltip="{{'ClearSelect' | translate}}">
					<i class="fa fa-refresh" aria-hidden="true"></i>
				</button>
				<button class="btn btn-success" data-ng-click="vm.init();">
					<i class="fa fa-hourglass-half"></i>
					{{'Filter' | translate}}
				</button>
				<button class="btn btn-default margin-top"
						onclick="PrintElem('#print')"
						data-ng-disabled="!vm.totalItems">
					<i class="fa fa-print"></i>
					{{'Print' | translate}}
				</button>
				<span role-permission 
					 ng-if="featureRole"
					 permission="'Expense_Report_Export'" 
					 feature="featureRole">
					<button class="btn btn-info margin-top"
							ng-csv="vm.csv"
							data-ng-disabled="!vm.totalItems"
							csv-header="vm.headers"
							add-bom="true"
							filename="expense_list.csv">
						<i class="fa fa-file-excel-o"></i>
						{{'ExportCSV' | translate}}
					</button>
				</span>
			</div>
		</div>
		<div data-ng-if="vm.expenses.count" id="print">
			<table width="100%">
				<tr>
					<td align="center">
						<h3 ng-bind="company.company_name"></h3>
						<h4>
							{{'ExpenseReport' | translate}}
						</h4>
						{{'FromDate' | translate}}: {{vm.service.dateFormat(vm.from_date)}} 
						{{'ToDate' | translate}}: {{vm.service.dateFormat(vm.to_date)}}
						<br/>
						{{'TotalRecord' | translate}} {{vm.totalItems}}
						<br/>
					</td>
				</tr>
			</table>
			<table class="table-print">
				<tr>
					<th width="1%">
						#
					</th>
					<th width="15%">
						{{'ExpenseType' | translate}}
					</th>
					<th width="15%">
						{{'Title' | translate}}
					</th>
					<th width="12%">
						{{'ExpenseDate' | translate}}
					</th>
					<th width="50%">
						{{'Description' | translate}}
					</th>
					<th width="10%">
						{{'Amount' | translate}}
					</th>
				</tr>
				<tr data-ng-repeat="s in vm.expenses.elements">
					<td>
						{{$index +1}}
					</td>
					<td>
						{{s.expense_type_name}}
					</td>
					<td>
						{{s.name}}
					</td>
					<td>
						{{vm.service.dateFormat(s.expense_date)}}
					</td>
					<td>
						{{s.description}}
					</td>
					<td>
						{{s.amount | currency}}
					</td>
				</tr>
				<tr>
					<td colspan="5" align="right">
						<b>{{'SubTotal' | translate}}</b>
					</td>
					<td>
						<b>{{vm.subTotal | currency}}</b>
					</td>
				</tr>
			</table>
		</div>
		<div
			data-ng-if="vm.expenses.count == 0"
		>
			<empty-data></empty-data>
		</div>
		<div
			data-ng-if="!vm.loading"
			class="align_center"
		>
			<i class="fa fa-refresh fa-spin" style="font-size: 100px;"></i>
		</div>
	</div>
</div>
