﻿<ui-select theme="select2"
           style="width: 100%;"
           reset-search-input="false"
           data-ng-model="vm.localSelected"
           data-ng-change="ngChange()"
           name="{{name}}"
           required="{{required}}">
    <ui-select-match placeholder="{{ 'SearchCustomer' | translate}}">
        {{$select.selected.customers_name}}
    </ui-select-match>
    <ui-select-choices repeat="u as u in vm.customerLists"
                       refresh="vm.bindCustomerList($select.search)"
                       refresh-delay="0">
        <div data-ng-bind-html="u.customers_name | highlight: $select.search"></div>
        <div>
            <small>
                Code:
                <span data-ng-bind-html="u.customers_code | highlight: $select.search"></span>,
                Tel:
                <span data-ng-bind-html="u.customers_telephone | tel | highlight: $select.search"></span>
            </small>
        </div>
    </ui-select-choices>
</ui-select>
