<ui-select theme="select2"
           style="width: 100%;"
           reset-search-input="false"
           data-ng-model="vm.localSelected"
           name="{{name}}"
           required="{{required}}">
    <ui-select-match placeholder="{{ 'Search' | translate}}">
        {{$select.selected.name}}
    </ui-select-match>
    <ui-select-choices repeat="u as u in vm.doctorLists"
                       refresh="vm.bindDoctorList($select.search)"
                       refresh-delay="0">
        <div data-ng-bind-html="u.name | highlight: $select.search"></div>
        <div>
            <small>
                {{"Gender" | translate}}:
                <span data-ng-bind-html="u.sex | highlight: $select.search"></span>,
                {{"Telephone" | translate}}:
                <span data-ng-bind-html="u.phone | tel | highlight: $select.search"></span>
            </small>
        </div>
    </ui-select-choices>
</ui-select>
