<ui-select theme="select2"
           style="width: 100%;"
           reset-search-input="false"
           data-ng-change="onChange()"
           data-ng-model="vm.localSelected"
           name="{{name}}"
           required="{{required}}">
    <ui-select-match placeholder="{{ 'Search' | translate}}">
        {{$select.selected.receive_payment_no}}
    </ui-select-match>
    <ui-select-choices repeat="u as u in vm.invoiceReceiveLists"
                       refresh="vm.bindInvoiceReceiveList($select.search)"
                       refresh-delay="0">
        <div data-ng-bind-html="u.receive_payment_no | highlight: $select.search"></div>
        <div>
            <small>
                {{"CustomerName" | translate}}:
                <span data-ng-bind-html="u.customer_name | highlight: $select.search"></span>,
                {{"Telephone" | translate}}:
                <span data-ng-bind-html="u.customer_telephone | tel | highlight: $select.search"></span>
            </small>
        </div>
    </ui-select-choices>
</ui-select>
