﻿<form class="row" name="report" novalidate>
    <div class="col-md-3">
        <div class="form-group"
                data-ng-class="{ 'has-error': report.from_date.$error.required && report.$submitted }">
            <div class="">
                <div cambodia-date-picker date-format="y-MM-dd" class="input-group">
                    <input type="text" class="form-control" required name="from_date"
                            data-ng-model="vm.fromDate"  placeholder="{{'FromDate' | translate}}"/>
                    <span class="input-group-btn">
                        <button class="btn btn-default" type="button">
                            <i class="fa fa-calendar"></i>
                        </button>
                    </span>
                </div>
            </div>
            <div translate="ThisFieldRequire" class="has-error msg-error msg-drop-down"
                    data-ng-if="report.from_date.$error.required && report.$submitted"></div>
        </div>
    </div>
    <div class="col-md-3">
        <div class="form-group"
                data-ng-class="{ 'has-error': report.toDate.$error.required && report.$submitted }">
            <div class="">
                <div cambodia-date-picker date-format="y-MM-dd" class="input-group">
                    <input type="text" class="form-control" data-ng-model="vm.toDate"
                            name="toDate" required placeholder="{{'ToDate' | translate}}"/>
                        <span class="input-group-btn">
                            <button class="btn btn-default" type="button">
                                <i class="fa fa-calendar"></i>
                            </button>
                        </span>
                </div>
                <div translate="ThisFieldRequire" class="has-error msg-error msg-drop-down"
                        data-ng-if="report.toDate.$error.required && report.$submitted"></div>
            </div>
        </div>
    </div>
    <div class="col-md-6">
        <div class="form-group">
            <div class="">
                <button class="btn btn-primary"
                        data-ng-click="vm.fromDateModel = ''; vm.toDateModel = '';"
                        uib-tooltip="{{'ClearSelect' | translate}}">
                    <i class="fa fa-refresh" aria-hidden="true"></i>
                </button>
                <button class="btn btn-success" data-ng-click="onClick();">
                    <i class="fa fa-hourglass-half"></i>
                    {{'Filter' | translate}}
                </button>
                <button class="btn btn-default margin-top"
                        onclick="PrintElem('#print')"
                        data-ng-disabled="!vm.totalItems">
                    <i class="fa fa-print"></i>
                    {{'Print' | translate}}
                </button>
                <button class="btn btn-info margin-top"
                        ng-csv="vm.csv"
                        data-ng-disabled="!vm.totalItems"
                        csv-header="vm.headers"
                        filename="{{exportFileName}}.csv">
                    <i class="fa fa-file-excel-o"></i>
                    {{'ExportCSV' | translate}}
                </button>
            </div>
        </div>
    </div>
</form>
