<div class="panel panel-default">
    <div class="panel-heading">
        <span class="card-title">
            {{'ExchangeRate' | translate}}
        </span>
    </div>
    <div class="panel-body">
        <button
            class="btn btn-default"
            data-toggle="modal"
            data-target="#exchange-popup"
        >
            <span class="fa fa-plus-circle"></span>
            {{'AddNew' | translate}}
        </button>
         {{'TotalRecord' | translate}}: {{vm.totalItems}}
        <br/> <br/>
        <div class="table-responsive">
            <table class="table table-bordered table-striped">
                <thead>
                    <th width="5%">
                        #
                    </th>
                    <th width="25%">
                        {{'ExchangeRateIn' | translate}}
                    </th>
                    <th width="25%">
                        {{'ExchangeRateOut' | translate}}
                    </th>
                    <th width="15%">
                        {{'ExchangeType' | translate}}
                    </th>
                    <th width="10%">
                        {{'CreateBy' | translate}}
                    </th>
                    <th width="10%">
                        {{'CreateDate' | translate}}
                    </th>
                </thead>
                <tr data-ng-repeat="e in vm.exchangeRates.elements">
                    <td>
                        <span data-ng-bind="vm.pageSize + $index + 1"></span>
                    </td>
                    <td>
                        <span data-ng-bind="e.exchange_rate_in | currency: ''"></span>
                    </td>
                    <td>
                        <span data-ng-bind="e.exchange_rate_out | currency: ''"></span>
                    </td>
                    <td>
                        <span data-ng-bind="e.exchange_type"></span>
                    </td>
                    <td>
                        <span data-ng-bind="e.creator"></span>
                    </td>
                    <td>
                        <span data-ng-bind="vm.service.dateFormat(e.create_date)"></span>
                    </td>
                </tr>
            </table>
        </div>
        <div
            data-ng-if="vm.exchangeRates.elements == 0"
        >
            <empty-data></empty-data>
        </div>
        <div
            data-ng-if="!vm.exchangeRates"
            class="align_center"
        >
            <i class="fa fa-refresh fa-spin" style="font-size: 100px;"></i>
        </div>
    </div>
    <div class="panel-footer">
        <ul uib-pagination
            total-items="vm.totalItems"
            ng-model="vm.currentPage"
            ng-change="vm.pageChanged()"
            max-size="5"
            items-per-page="10"
            boundary-links="true"
        ></ul>
    </div>
</div>
<form data-ng-submit="vm.save();" name="myForm">
    <div
        class="modal fade"
        id="exchange-popup"
        data-keyboard="false"
        data-backdrop="static"
    >
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <a
                        type="button"
                        class="close"
                        data-dismiss="modal"
                        data-ng-click="vm.close();"
                    >
                        <span>&times;</span>
                    </a>
                    <h4>
                        <label>{{'ExchangeRate' | translate}}</label>
                    </h4>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <form class="form form-horizontal">
                            <div class=" col-md-12">
                                <div class="form-group">
                                    <div class="col-md-4">
                                        <span class="control-label">
                                            {{'ExchangeRateIn' | translate}}
                                        </span>
                                    </div>
                                    <div class="col-md-8">
                                        <input class="form-control"
                                               type="number"
                                               min="0"
                                               step="any"
                                               data-ng-model="vm.exchange_rate_in"
                                               required="required" />
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="form-group">
                                    <div class="col-md-4">
                                        <span class="control-label">
                                            {{'ExchangeRateOut' | translate}}
                                        </span>
                                    </div>
                                    <div class="col-md-8">
                                        <input class="form-control"
                                               type="number"
                                               min="0"
                                               step="any"
                                               data-ng-model="vm.exchange_rate_out"
                                               required="required" />
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="form-group">
                                    <div class="col-md-4">
                                        <span class="control-label">
                                            {{'ExchangeRateType' | translate}}
                                        </span>
                                    </div>
                                    <div class="col-md-8">
                                        <select class="form-control" data-ng-model="vm.exchange_type">
                                            <option value="Khmer">Khmer</option>
                                            <!--<option value="US">US</option>-->
                                        </select>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
                <div class="modal-footer">
                    <a
                        class="btn btn-default"
                        data-dismiss="modal"
                        data-ng-click="vm.close();"
                    >
                        <i class="fa fa-close"></i>
                        {{'Close' | translate}}
                    </a>
                    <button
                        class="btn btn-primary"
                        data-ng-disabled="!vm.disable"
                    >
                        <i class="fa fa-save"></i>
                        {{'Save' | translate}}
                    </button>
                </div>
            </div>
        </div>
    </div>
</form>


