<div class="panel panel-default">
	<div class="panel-heading">
		<b>{{'ComplaintDetail' | translate}}</b>
		<a
			class="btn no-padding pull-right"
			onclick="history.go(-1)"
		>
			<i class="fa fa-step-backward"></i>
			{{'Back' | translate}}
		</a>
	</div>
	<form data-ng-submit="vm.save();" name="doctorForm" class="form-horizontal" novalidate>
		<div class="panel-body">
			<div class="col-md-12">
				<div class="form-group">
					<div class="col-md-2">
						<span class="control-label">
							{{'Title' | translate}}
						</span>
					</div>
					<div class="col-md-4">
						{{vm.model.title}}
					</div>
				</div>
			</div>
			<div class="col-md-12">
				<div class="form-group"
					data-ng-class="{ 'has-error': form.complaint_date.$error.required && form.$submitted }">
					<div class="col-md-2">
						<span class="control-label">
							{{'ComplaintDate' | translate}}
						</span>
					</div>
					<div class="col-md-4">
						{{vm.service.dateFormat(vm.model.complaint_date)}}
					</div>
				</div>
			</div>
			<div class="col-md-12">
				<div class="form-group"
					data-ng-class="{ 'has-error': form.complaint_date.$error.required && form.$submitted }">
					<div class="col-md-2">
						<span class="control-label">
							{{'CustomerName' | translate}}
						</span>
					</div>
					<div class="col-md-4">
						{{vm.model.customer_name}}
					</div>
				</div>
			</div>
			<div class="col-md-12">
				<div class="form-group"
					data-ng-class="{ 'has-error': form.complaint_date.$error.required && form.$submitted }">
					<div class="col-md-2">
						<span class="control-label">
							{{'InvoiceNo' | translate}}
						</span>
					</div>
					<div class="col-md-4">
						{{vm.model.invoice_no}}
					</div>
				</div>
			</div>
			<div class="col-md-12">
				<div class="form-group">
					<div class="col-md-2">
						<span class="control-label">
							{{'Description' | translate}}
						</span>
					</div>
					<div class="col-md-4" data-ng-bind-html="vm.model.description">
					</div>
				</div>
			</div>
			<div class="col-md-12" data-ng-if="vm.model.resolve_by">
				<div class="form-group"
					data-ng-class="{ 'has-error': form.complaint_date.$error.required && form.$submitted }">
					<div class="col-md-2">
						<span class="control-label">
							{{'ResolveDate' | translate}}
						</span>
					</div>
					<div class="col-md-4">
						{{vm.service.dateFormat(vm.model.resolve_date)}}
					</div>
				</div>
			</div>
			<div class="col-md-12" data-ng-if="vm.model.resolve_by">
				<div class="form-group">
					<div class="col-md-2">
						<span class="control-label">
							{{'ResolveBy' | translate}}
						</span>
					</div>
					<div class="col-md-4" data-ng-bind-html="vm.model.resolve_by_name">
					</div>
				</div>
			</div>
			<div class="col-md-12" data-ng-if="vm.model.resolve_by">
				<div class="form-group">
					<div class="col-md-2">
						<span class="control-label">
							{{'ResolveDescription' | translate}}
						</span>
					</div>
					<div class="col-md-4" data-ng-bind-html="vm.model.resolve_text">
					</div>
				</div>
			</div>
			<div class="col-md-12" data-ng-if="vm.model.resolve_by">
				<div class="form-group">
					<div class="col-md-2">
						<span class="control-label">
							{{'UpdateBy' | translate}}
						</span>
					</div>
					<div class="col-md-4" data-ng-bind-html="vm.model.update_name">
					</div>
				</div>
			</div>
		</div>
		<div class="modal-footer">
			<a
				class="btn btn-default"
				data-dismiss="modal"
				ui-sref="complaint.list"
				href="javascript:;"
			>
				<i class="fa fa-close"></i>
				{{'Close' | translate}}
			</a>
		</div>
	</form>
</div>


