<div class="panel panel-default">
    <div class="panel-heading">
        <b>{{'Complaint' | translate}}</b>
    </div>
    <div class="panel-body">
        <span role-permission 
            ng-if="featureRole"
            permission="'Complaint_Create'" 
            feature="featureRole">
            <a class="btn btn-default"
                ui-sref="complaint.create">
                <span class="fa fa-plus-circle"></span>
                {{'AddNew' | translate}}
            </a>
        </span>
        
        {{'TotalRecord' | translate}} {{vm.totalItems}}
        <form class="row">
            <div class="form-body">
                <div class="col-md-3">
                    <div class="input-group input-large">
                        <input type="text"
                               class="form-control"
                               data-ng-model="vm.search_name"
                               auto-focus
                               placeholder="{{'Search' | translate}}">

                        <span class="input-group-btn">
                            <button type="submit" class="btn blue" data-ng-click="vm.search()">
                                <i class="fa fa-search" data-ng-if="!vm.loading"></i>
                                <i class="fa fa-spinner fa-spin" data-ng-if="vm.loading"></i>
                            </button>
                        </span>
                    </div>
                </div>
            </div>
        </form>
        <div class="table-responsive">
            <table class="table table-bordered table-striped">
                <thead>
                    <th width="5%">
                        #
                    </th>
                    <th width="10%">
                        {{'Title' | translate}}
                    </th>
                    <th width="10%">
                        {{'CustomerName' | translate}}
                    </th>
                    <th width="10%">
                        {{'Invoice' | translate}}
                    </th>
                    <th width="10%">
                        {{'CreateDate' | translate}}
                    </th>
                    <th width="10%">
                        {{'CreateBy' | translate}}
                    </th>
                    <th width="5%">
                        {{'Status' | translate}}
                    </th>
                    <th width="15%">
                        {{'Action' | translate}}
                    </th>
                </thead>
                <tr data-ng-repeat="row in vm.collection.elements">
                    <td>
                        <span data-ng-bind="vm.pageSize + $index + 1"></span>
                    </td>
                    <td>
                        <span data-ng-bind="row.title"></span>
                    </td>
                    <td>
                        <span data-ng-bind="row.customer_name"></span>
                    </td>
                    <td>
                        <span data-ng-bind="row.invoice_no"></span>
                    </td>
                    <td>
                        <span data-ng-bind="vm.service.dateFormat(row.complaint_date)"></span>
                    </td>
                    <td>
                        <span data-ng-bind="row.creator"></span>
                    </td>
                    <td>
                        <span data-ng-if="row.status === 1" class="label label-primary">
                            {{'Pending' | translate}}
                        </span>
                        <span data-ng-if="row.status === 2" class="label label-success">
                            {{'Resolve' | translate}}
                        </span>
                    </td>
                    <td>
                        <button class="btn btn-default btn-xs"
                            role-permission 
                            ng-if="featureRole"
                            permission="'Complaint_Edit'" 
                            feature="featureRole"
                            data-ng-disabled="row.status == 0"
                            ui-sref="complaint.edit({id: row.id})"
                            uib-tooltip="{{'Edit' | translate}}">
                            <span class="fa fa-edit"></span>
                        </button>
                        <button role-permission 
                            ng-if="featureRole"
                            permission="'Complaint_Delete'" 
                            feature="featureRole"
                            class="btn btn-danger btn-xs"
                            uib-tooltip="{{'Delete' | translate}}"
                            data-ng-click="vm.delete(row);">
                            <span class="fa fa-trash"></span>
                        </button>
                        <a class="btn btn-primary btn-xs"
                           ui-sref="complaint.detail({id: row.id})"
                           uib-tooltip="{{'Detail' | translate}}">
                            <span class="fa fa-eye"></span>
                        </a>
                        <a class="btn btn-success btn-xs"
                            role-permission 
                            ng-if="featureRole"
                            permission="'Complaint_Resolve'" 
                            feature="featureRole"
                            ui-sref="complaint.resolve({id: row.id})"
                            uib-tooltip="{{'ResolveComplaint' | translate}}">
                            <span class="fa fa-wpexplorer"></span>
                        </a>
                    </td>
                </tr>
            </table>
        </div>
        <div
            data-ng-if="vm.collection.elements == 0"
        >
            <empty-data></empty-data>
        </div>
        <div
            data-ng-if="!vm.collection"
            class="align_center"
        >
            <i class="fa fa-refresh fa-spin" style="font-size: 100px;"></i>
        </div>
    </div>
    <div class="panel-footer">
        <ul uib-pagination
            total-items="vm.totalItems"
            ng-model="vm.currentPage"
            ng-change="vm.pageChanged()"
            max-size="5"
            items-per-page="10"
            boundary-links="true"
        ></ul>
    </div>
</div>
