<div class="panel panel-default">
	<div class="panel-heading">
		{{'ResolveComplaint' | translate}}
		<a
			class="btn no-padding pull-right"
			onclick="history.go(-1)"
		>
			<i class="fa fa-step-backward"></i>
			{{'Back' | translate}}
		</a>
	</div>
	<form data-ng-submit="vm.save();" name="form" class="form-horizontal" novalidate>
		<div class="panel-body">
			<div class="col-md-12">
				<div class="form-group"
					 data-ng-class="{ 'has-error': form.title.$error.required && form.$submitted }">
					<div class="col-md-2">
						<span class="control-label">
							{{'Title' | translate}}
						</span>
					</div>
					<div class="col-md-4">
						{{vm.model.title}}
					</div>
				</div>
			</div>
			<div class="col-md-12">
				<div class="form-group"
					data-ng-class="{ 'has-error': form.complaint_date.$error.required && form.$submitted }">
					<div class="col-md-2">
						<span class="control-label">
							{{'ComplaintDate' | translate}}
						</span>
					</div>
					<div class="col-md-4">
						{{vm.service.dateFormat(vm.model.complaint_date)}}
					</div>
				</div>
			</div>
			<div class="col-md-12">
				<div class="form-group">
					<div class="col-md-2">
						<span class="control-label">
							{{'Description' | translate}}
						</span>
					</div>
					<div class="col-md-10">
						<span data-ng-bind-html="vm.model.description"></span>
					</div>
				</div>
			</div>
			<div class="col-md-12">
				<div class="form-group"
					data-ng-class="{ 'has-error': form.resolve_date.$error.required && form.$submitted }">
					<div class="col-md-2">
						<span class="control-label">
							{{'ResolveDate' | translate}}
						</span>
					</div>
					<div class="col-md-4">
						<div class="input-group input-large" cambodia-date-picker date-format="{{dateFormat}}">
							<input type="text"
								class="form-control"
								name="resolve_date"
								required
								data-ng-model="vm.model.resolve_date"
								placeholder="{{'ComplaintDate' | translate}}">
							<span class="input-group-btn">
								<a class="btn btn-default" href="javascript:;">
									<i class="fa fa-calendar"></i>
								</a>
							</span>
						</div>
					</div>
				</div>
			</div>
			<div class="col-md-12">
				<div class="form-group"
					 data-ng-class="{ 'has-error': form.resolve_by.$error.required && form.$submitted }">
					<div class="col-md-2">
						<span class="control-label">
							{{'ResolveBy' | translate}}
						</span>
					</div>
					<div class="col-md-4">
						{{appSession.user_name}}
					</div>
				</div>
			</div>

			<div class="col-md-12">
				<div class="form-group">
					<div class="col-md-2">
						<span class="control-label">
							{{'ResolveDescription' | translate}}
						</span>
					</div>
					<div class="col-md-10">
						<trix-editor data-ng-model="vm.model.resolve_text"
							angular-trix trix-initialize="trixInitialize(e, editor);"
							trix-change="trixChange(e, editor);"
							trix-selection-change="trixSelectionChange(e, editor);"
							trix-focus="trixFocus(e, editor);"
							trix-blur="trixBlur(e, editor);"
							trix-file-accept="trixFileAccept(e, editor);"
							trix-attachment-add="trixAttachmentAdd(e, editor);"
							trix-attachment-remove="trixAttachmentRemove(e, editor);"
							style="height: 300px;overflow: auto;"
							placeholder="{{'Description' | translate}}"
						></trix-editor>
					</div>
				</div>
			</div>
		</div>
		<div class="modal-footer">
			<a
				class="btn btn-default"
				data-dismiss="modal"
				ui-sref="complaint.list"
				href="javascript:;"
			>
				<i class="fa fa-close"></i>
				{{'Close' | translate}}
			</a>
			<button
				class="btn btn-primary"
				data-ng-disabled="!vm.disable"
			>
				<i class="fa fa-spinner fa-spin" data-ng-if="!vm.disable"></i>
				<i class="fa fa-save" data-ng-if="vm.disable"></i>
				{{'Save' | translate}}
			</button>
		</div>
	</form>
</div>


