<div class="panel panel-default">
	<div class="panel-heading">
		<b>{{'AllowanceDeductionDetail' | translate}}</b>
		<a
			class="btn no-padding pull-right"
			onclick="history.go(-1)"
		>
			<i class="fa fa-step-backward"></i>
			{{'Back' | translate}}
		</a>
	</div>
	<form data-ng-submit="vm.save();" name="vendorForm" class="form-horizontal" novalidate>
		<div class="panel-body">
			<div class="col-md-12">
				<div class="form-group">
					<div class="col-md-2">
						<span class="control-label">
							{{'Name' | translate}}
						</span>
					</div>
					<div class="col-md-4">
						{{vm.model.name}}
					</div>
				</div>
			</div>
			<div class="col-md-12">
				<div class="form-group">
					<div class="col-md-2">
						<span class="control-label">
							{{'Description' | translate}}
						</span>
					</div>
					<div class="col-md-4">
						{{vm.model.description}}
					</div>
				</div>
			</div>
		</div>
		<div class="modal-footer">
			<a class="btn btn-default"
			   ui-sref="allowance_deduction"
			   href="javascript:;"
			>
				<i class="fa fa-close"></i>
				{{'Close' | translate}}
			</a>
		</div>
	</form>
</div>


