<div class="row" ng-if="featureRole">
    <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12"
        role-permission permission="'Customer_Total_View'" feature="featureRole">
        <a ui-sref="customer_report">
            <div class="card red summary-inline">
                <div class="card-body">
                    <span class="fa fa-user fa-3x"></span>
                    <div class="content">
                        <div class="title">{{vm.index.customer_total | number}}</div>
                        <div class="sub-title" translate="TotalCustomer"></div>
                    </div>
                    <div class="clear-both"></div>
                </div>
            </div>
        </a>
    </div>
    <!-- <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12"
        role-permission permission="'Customer_Balance_View'" feature="featureRole">
        <a ui-sref="customer_balance">
            <div class="card yellow summary-inline">
                <div class="card-body">
                    <i class="fa fa-money fa-3x"></i>
                    <div class="content">
                        <div class="title">{{vm.index.customer_balance | currency}}</div>
                        <div class="sub-title" translate="TotalCustomerBalance"></div>
                    </div>
                    <div class="clear-both"></div>
                </div>
            </div>
        </a>
    </div> -->
    <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12" 
        role-permission permission="'Package_Total_View'" feature="featureRole">
        <a ui-sref="report_package">
            <div class="card green summary-inline">
                <div class="card-body">
                    <i class="icon fa fa-tags fa-3x"></i>
                    <div class="content">
                        <div class="title">{{vm.index.package_total | number}}</div>
                        <div class="sub-title" translate="TotalPackage"></div>
                    </div>
                    <div class="clear-both"></div>
                </div>
            </div>
        </a>
    </div>
    <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12" 
        role-permission permission="'Option_Total_View'" feature="featureRole">
        <a ui-sref="report_option">
            <div class="card purple-dash-board summary-inline">
                <div class="card-body">
                    <i class="icon fa fa-tags fa-3x"></i>
                    <div class="content">
                        <div class="title">{{vm.index.option_total | number}}</div>
                        <div class="sub-title" translate="TotalOption"></div>
                    </div>
                    <div class="clear-both"></div>
                </div>
            </div>
        </a>
    </div>
    <!-- <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12"
        role-permission permission="'Vendor_Balance_View'" feature="featureRole">
        <a ui-sref="vendor_balance">
            <div class="card blue summary-inline">
                <div class="card-body">
                    <i class="fa fa-money fa-3x"></i>
                    <div class="content">
                        <div class="title">{{vm.index.vendor_balance | currency}}</div>
                        <div class="sub-title" translate="TotalVendorBalance"></div>
                    </div>
                    <div class="clear-both"></div>
                </div>
            </div>
        </a>
    </div> -->
    <!-- <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12"
        role-permission permission="'Total_Supplier_View'" feature="featureRole">
        <a ui-sref="vendor_report">
            <div class="card green-dashboard summary-inline">
                <div class="card-body">
                    <i class="fa fa fa-male fa-3x"></i>
                    <div class="content">
                        <div class="title">{{vm.index.supplier_total | number}}</div>
                        <div class="sub-title" translate="TotalSupplier"></div>
                    </div>
                    <div class="clear-both"></div>
                </div>
            </div>
        </a>
    </div> -->
    <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12"
        role-permission permission="'Total_Staff_View'" 
        feature="featureRole">
        <a ui-sref="staff_report">
            <div class="card dashboard-stat-blue summary-inline">
                <div class="card-body">
                    <i class="fa fa fa-users fa-3x"></i>
                    <div class="content">
                        <div class="title">{{vm.index.staff_total | number}}</div>
                        <div class="sub-title" translate="TotalStaff"></div>
                    </div>
                    <div class="clear-both"></div>
                </div>
            </div>
        </a>
    </div>
    <div class="clearfix"></div>
    <!-- <div class="col-md-6"
        role-permission 
        permission="'Sale_Best_By_Item_Graph'" 
        feature="featureRole">
        <div class="panel panel-default">
            <div class="panel-heading">
                <div class="row">
                    <div class="col-md-4 col-xs-12">
                        {{"Top10SaleBestByItem" | translate}}
                    </div>
                    <div class="col-md-8 col-xs-12">
                        <div class="input-group pull-right">
                            <cambodia-date-picker date-format="yyyy-MM-dd" selector="form-control">
                                <input class="form-control" 
                                    data-ng-model="vm.saleBestByItemFromDate" 
                                    data-ng-change="vm.getSaleBestByItem()"
                                    require 
                                    placeholder="{{'FromDate' | translate}}"/>
                            </cambodia-date-picker>
                            <span class="input-group-addon pointer">-</span>
                            <cambodia-date-picker date-format="yyyy-MM-dd" selector="form-control">
                                <input class="form-control" 
                                    data-ng-model="vm.saleBestByItemToDate" 
                                    data-ng-change="vm.getSaleBestByItem()"
                                    require 
                                    placeholder="{{'ToDate' | translate}}"/>
                            </cambodia-date-picker>
                        </div>
                    </div>
                </div>
            </div>
            <div class="panel-body">
                <canvas id="bar" class="chart chart-bar"
                    chart-options="vm.options"
                    chart-data="vm.saleBestDataByItem" 
                    chart-labels="vm.saleBestLabelByItem">
                </canvas>
            </div>
        </div>       
    </div> -->
    <!-- sale best by service -->
    <!-- <div class="col-md-6"
        role-permission 
        permission="'Sale_Best_By_Service_Graph'" 
        feature="featureRole">
        <div class="panel panel-default">
            <div class="panel-heading">                   
                <div class="row">
                    <div class="col-md-4 col-xs-12">
                        {{"Top10SaleBestByService" | translate}}
                    </div>
                    <div class="col-md-8 col-xs-12">
                        <div class="input-group pull-right">
                            <cambodia-date-picker date-format="yyyy-MM-dd" selector="form-control">
                                <input class="form-control" 
                                    data-ng-model="vm.saleBestByServiceFromDate" 
                                    require 
                                    data-ng-change="vm.getSaleBestByService()"
                                    placeholder="{{'FromDate' | translate}}"/>
                            </cambodia-date-picker>
                            <span class="input-group-addon pointer">-</span>
                            <cambodia-date-picker date-format="yyyy-MM-dd" selector="form-control">
                                <input class="form-control" 
                                    data-ng-model="vm.saleBestByServiceToDate" 
                                    require 
                                    data-ng-change="vm.getSaleBestByService()"
                                    placeholder="{{'ToDate' | translate}}"/>
                            </cambodia-date-picker>
                        </div>
                    </div>
                </div>
            </div>
            <div class="panel-body">
                <canvas id="bar" class="chart chart-bar"
                    chart-options="vm.options"
                    chart-data="vm.saleBestDataByService" 
                    chart-labels="vm.saleBestLabelByService">
                </canvas>
            </div>
        </div>       
    </div> -->
    <!-- Top 10 Expense per month -->
    <!-- <div class="col-md-6"
        role-permission 
        permission="'Expense_Graph'" 
        feature="featureRole">
        <div class="panel panel-default">
            <div class="panel-heading">
                <div class="row">
                    <div class="col-md-4 col-xs-12">
                        {{"Top10Expense" | translate}}
                    </div>
                    <div class="col-md-8 col-xs-12">
                        <div class="input-group pull-right">
                            <cambodia-date-picker date-format="yyyy-MM-dd" selector="form-control">
                                <input class="form-control" 
                                    data-ng-model="vm.expenseFromDate" 
                                    require 
                                    data-ng-change="vm.getExpenseGrap()"
                                    placeholder="{{'FromDate' | translate}}"/>
                            </cambodia-date-picker>
                            <span class="input-group-addon pointer">-</span>
                            <cambodia-date-picker date-format="yyyy-MM-dd" selector="form-control">
                                <input class="form-control" 
                                    data-ng-model="vm.expenseToDate" 
                                    require 
                                    data-ng-change="vm.getExpenseGrap()"
                                    placeholder="{{'ToDate' | translate}}"/>
                            </cambodia-date-picker>
                        </div>
                    </div>
                </div>           
            </div>
            <div class="panel-body">
                <canvas id="pie" class="chart chart-pie"
                    chart-data="vm.expenseData" 
                    style="height: 200px;"
                    chart-options="vm.expenseChartOptions"
                    chart-labels="vm.expenseLabel">
                </canvas>
            </div>
        </div>       
    </div> -->
    <!-- income statement -->
    <!-- <div class="col-md-6"
        role-permission permission="'Income_Statement_Graph'" feature="featureRole">
        <div class="panel panel-default" data-ng-init="vm.incomeStatement()">
            <div class="panel-heading">
                {{'IncomeStatement' | translate}}
                <div class="input-group pull-right" style="width: 150px;margin-top: -8px;">
                    <span class="input-group-addon pointer" ng-click="vm.decrease();">-</span>
                    <input type="number"
                        class="form-control" ng-model="vm.year" 
                        ng-change="vm.incomeStatement();"
                        ng-model-options='{ debounce: 1000 }'>
                    <span class="input-group-addon pointer" ng-click="vm.increase();">+</span>
                </div>
            </div>
            <div class="panel-body">                
                <canvas id="bar" class="chart chart-bar"
                    chart-data="vm.data" 
                    style="height: 300px"
                    chart-options="vm.incomeChartOptions"
                    chart-labels="vm.labels" 
                    chart-series="vm.series">
                </canvas>
            </div>
        </div>
    </div> -->
</div>