<form data-ng-submit="vm.save();" name="transferForm" novalidate class="form-horizontal">
	<div
		class="modal fade"
		id="transfer-type-popup"
		data-keyboard="false"
		data-backdrop="static"
	>
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<a
						type="button"
						class="close"
						data-dismiss="modal"
						data-ng-click="vm.clear();"
					>
						<span>&times;</span>
					</a>
					<h4>
						<label>{{'TransferType' | translate}}</label>
					</h4>
				</div>
				<div class="modal-body">
					<div class="form-group"
						 data-ng-class="{ 'has-error': transferForm.name.$error.required && transferForm.$submitted }">
						<div class="col-md-3">
							<span class="control-label">
								{{'Name' | translate}}
								<span class="required">*</span>
							</span>
						</div>
						<div class="col-md-9">
							<input type="text"
								   class="form-control"
								   data-ng-model="vm.model.name"
								   name="name"
								   required="required" />
							<div translate="ThisFieldRequire" class="has-error msg-error"
								 data-ng-if="transferForm.name.$error.required && transferForm.$submitted"></div>
						</div>
					</div>
					<div class="form-group">
						<div class="col-md-3">
							<span class="control-label">
								{{'Description' | translate}}
							</span>
						</div>
						<div class="col-md-9">
							<textarea class="form-control" data-ng-model="vm.model.description" rows="5"/>
						</div>
					</div>
				</div>
				<div class="modal-footer">
					<a
						class="btn btn-default"
						data-dismiss="modal"
						data-ng-click="vm.clear();"
					>
						<i class="fa fa-close"></i>
						Close
					</a>
					<button
						class="btn btn-primary"
						data-ng-disabled="!vm.disable"
					>
						<i class="fa fa-save"></i>
						Save
					</button>
				</div>
			</div>
		</div>
	</div>
</form>


