<form data-ng-submit="vm.save();" name="form" class="form-horizontal row" novalidate>
	<div class="col-md-12">
		<div class="panel panel-default">
			<div class="panel-heading">
				<b>{{'TransferDetail' | translate}}</b>
				<a class="btn no-padding pull-right ng-binding" onclick="history.go(-1)">
                    <i class="fa fa-step-backward"></i>
                    {{'Back' | translate}}
                </a>
			</div>
			<div class="panel-body">
				<div class="col-md-12 row">
					<div class="form-group">
						<div class="col-md-3">
							<div class="input-group input-large">
								<input type="text" class="form-control"
										placeholder="{{'Search' | translate}}"
										data-ng-model="vm.product_barcode"
										data-ng-change="vm.filterProduct();"
										data-ng-model-options="{ debounce: 550 }" />
								<span class="input-group-btn">
									<button type="submit" class="btn blue" data-ng-click="vm.search()">
										<i class="fa fa-search ng-scope" data-ng-if="!vm.loading"></i>
									</button>
								</span>
							</div>
						</div>
						<div class="col-md-4">
							<product-list-drop-down product-model="vm.product_filter"
													filter-by-item="'item'"
													on-change="vm.getDefaultItem();"></product-list-drop-down>
						</div>
					</div>
				</div>
				<div class="scroll table-responsive">
					<table class="table table-bordered table-striped">
						<tr>
							<th width="5%">
								#
							</th>
							<th width="26%">
								{{'ItemName' | translate}}
							</th>
							<th width="14%">
								{{'QtyOnHand' | translate}}
							</th>
							<th width="12%">
								{{'TransferQty' | translate}}
							</th>
							<th width="10%">
								{{'UMType' | translate}}
							</th>
							<th width="10%">
								{{'BalanceQty' | translate}}
							</th>
							<!-- <th width="10%">
								{{'Cost' | translate}}
							</th>
							<th width="13%">
								{{'Total' | translate}}
							</th> -->
							<th width="5%">
							</th> 
						</tr>
						<tr data-ng-if="!vm.listData || vm.listData.length == 0">
							<td colspan="9">
								<empty-data></empty-data>
							</td>
						</tr>
						<tr data-ng-repeat="list in vm.listData">
							<td>
								{{$index + 1}}
							</td>
							<td>
								{{list.product_name}}
								<i class="label label-primary">
									<small>
										{{list.barcode}}
									</small>
								</i>
							</td>
							<td>
								{{list.qty_on_hand}}
								{{list.product_um_type_name}}
							</td>
							<td>
								<input type="number"
									   min="1"
									   data-ng-model="list.qty"
									   step="any"
									   class="form-control box-sell"
									   data-ng-change="vm.getTotal();"
								/>
							</td>		
							<td>
								<select class="form-control"
									style="padding: 1px;"
									ng-model="list.um_type_collection"
									data-ng-change="vm.updateModel(list)"
									data-ng-options="x as (x.name + ' (' + x.amount+')')  for x in vm.um_types track by x.id">
								</select>     
							</td>					
							<td>
								{{list.balance_qty = list.qty_on_hand - (list.qty * list.um_type_collection.amount / list.product_um_type_amount) | number}}
								{{list.product_um_type_name}}
							</td>
							<!-- <td>
								<input type="number"
									   min="0"
									   data-ng-model="list.unit_price"
									   step="any"
									   class="form-control box-sell"
									   data-ng-change="vm.getTotal();"
								/>
							</td> 
							<td>
								{{ list.total = (
									list.unit_price ? list.unit_price : 0) 
										* 
									(list.qty * list.um_type_collection.amount / list.product_um_type_amount)			
									| number: 4						
								}}
							</td> -->
							<td>
								<i class="fa fa-trash hover"
								   data-ng-click="vm.remove($index);"
								   style="font-size: 20px;"></i>
							</td>
						</tr>
					</table>
				</div>
				<hr/>
				<fieldset>
					<legend>{{'Information' | translate}}</legend>
					<div class="form-group"
						data-ng-class="{ 'has-error': form.transfer_id.$error.required && form.$submitted }">
						<div class="col-md-2">
							<span class="">
								{{'TransferToBranch' | translate}}
								<span class="required">*</span>
							</span>
						</div>
						<div class="col-md-3">
							<select class="form-control"
									data-ng-model="vm.selectBranch"
									data-ng-options="x as x.name for x in vm.branchs"
									name="transfer_id"
									required="required">
									<option value="">{{'Select' | translate}}</option>
							</select>
							<div translate="ThisFieldRequire"
								class="has-error msg-error"
								data-ng-if="form.transfer_id.$error.required && form.$submitted"></div>
						</div>
					</div>
					<div class="form-group"
						data-ng-class="{ 'has-error': form.transfer_type.$error.required && form.$submitted }">
						<div class="col-md-2">
							<span class="">
								{{'TransferType' | translate}}
								<span class="required">*</span>
							</span>
						</div>
						<div class="col-md-3">
							<select class="form-control"
									data-ng-model="vm.selectTransferType"
									data-ng-options="x as x.name for x in vm.transferType"
									name="transfer_type"
									required="required">
									<option value="">{{'Select' | translate}}</option>
							</select>
							<div translate="ThisFieldRequire"
								class="has-error msg-error"
								data-ng-if="form.transfer_type.$error.required && form.$submitted"></div>
						</div>
					</div>
					<div class="form-group"
						data-ng-class="{ 'has-error': form.transfer_date.$error.required && form.$submitted }">
						<div class="col-md-2">
							<span class="control-label">
								{{'TransferDate' | translate}}
								<span class="required">*</span>
							</span>
						</div>
						<div class="col-md-3">
							<div cambodia-date-picker date-format="y-MM-dd" class="input-group">
								<input type="text"
									class="form-control"
									placeholder="{{'transferDate' | translate}}"
									name="transfer_date"
									required
									data-ng-model="vm.model.transfer_date"/>
								<span class="input-group-btn">
									<button class="btn btn-default" type="button">
										<i class="fa fa-calendar"></i>
									</button>
								</span>
							</div>
							<div translate="ThisFieldRequire"
								class="has-error msg-error"
								data-ng-if="form.transfer_date.$error.required && form.$submitted"></div>
						</div>
					</div>
					<!--<div class="form-group"
						data-ng-class="{ 'has-error': form.vendor.$error.required && form.$submitted }">
						<div class="col-md-2">
							<span class="">
								{{'Vendor' | translate}}
								<span class="required">*</span>
							</span>
						</div>
						<div class="col-md-3">
							<vendor-list-drop-down vendor-model="vm.vendor.selected"
												name="vendor"
												required="required"></vendor-list-drop-down>
							<div translate="ThisFieldRequire"
								class="has-error msg-error"
								data-ng-if="form.vendor.$error.required && form.$submitted"></div>
						</div>
					</div>-->
					<div class="form-group">
						<div class="col-md-2">
							<span class="control-label">
								{{'Description' | translate}}
							</span>
						</div>
						<div class="col-md-3">
							<textarea class="form-control"
								data-ng-model="vm.model.description"
								placeholder="{{'Description' | translate}}"/>
						</div>
					</div>
					<!-- <div class="form-group">
						<div class="col-md-2">
							<span class="control-label">
								{{'SubTotal' | translate}}
							</span>
						</div>
						<div class="col-md-3">
							<b data-ng-bind="vm.model.total | number: 4"></b>
						</div>
					</div> -->
					<div class="form-group">
						<div class="col-md-12">
							<a class="btn btn-default" ui-sref="product_transfer.list" href="javascript:;">
								<i class="fa fa-close"></i>
								{{'Close' | translate}}
							</a>
							<button class="btn btn-primary" type="submit" data-ng-disabled="vm.loading">
								<i class="fa fa-save" data-ng-if="!vm.loading"></i>
								<i class="fa fa-spin fa-spinner" data-ng-if="vm.loading"></i>
								{{'Save' | translate}}
							</button>
						</div>
					</div>
				</fieldset>
			</div>
		</div>
	</div>
</form>
<pop-up-invoice-transfer></pop-up-invoice-transfer>