<div class="">
    <div class="panel panel-default">
        <div class="panel-heading">
            <b>{{'TransferDetail' | translate}}</b>
            <a class="btn no-padding pull-right ng-binding" onclick="history.go(-1)">
                <i class="fa fa-step-backward"></i>
                {{'Back' | translate}}
            </a>
        </div>
        <div class="panel-body">
            <div class="scroll table-responsive">
                <table class="table table-bordered table-striped">
                    <tr>
                        <th width="5%">
                            #
                        </th>
                        <th width="35%">
                            {{'ItemName' | translate}}
                        </th>
                        <th width="13%">
                            {{'QtyOnHand' | translate}}
                        </th>
                        <th width="13%">
                            {{'TransferQty' | translate}}
                        </th>
                        <th width="13%">
                            {{'BalanceQty' | translate}}
                        </th>
                       <!--  <th width="13%">
                            {{'Cost' | translate}}
                        </th> -->
                       <!--  <th width="13%">
                            {{'Total' | translate}}
                        </th> -->
                    </tr>
                    <tr data-ng-repeat="list in vm.model.transfer_detail">
                        <td>
                            {{$index + 1}}
                        </td>
                        <td>
                            {{list.product_name}}
                            <div class="label label-primary">
                                <small>
                                    {{list.product_barcode}}
                                </small>
                            </div>
                        </td>
                        <td>
                            {{list.qty_on_hand}}
                            {{list.product_um_type_name}}
                        </td>
                        <td>
                            {{list.qty}}
                            {{list.um_type_name}}
                        </td>
                        <td>
                            {{list.balance_qty}}
                            {{list.product_um_type_name}}
                        </td>
                      <!--   <td>
                            {{list.cost | currency}}
                        </td> -->
                       <!--  <td>
                            {{ list.total = (list.cost ? list.cost : 0) * list.qty | currency}}
                        </td> -->
                    </tr>
                </table>
            </div>
            <form class="form-horizontal" novalidate>
                <fieldset>
                    <legend>{{"information" | translate}}</legend>
                    <div class="">
                        <div class="form-group"
                            data-ng-class="{ 'has-error': purchase.referenceNo.$error.required && purchase.$submitted }">
                            <div class="col-md-2">
                                <span class="">
                                    {{'TransferNo' | translate}}
                                </span>
                            </div>
                            <div class="col-md-7">
                                <b>{{vm.model.transfer_no}}</b>
                            </div>
                        </div>
                        
                        <div class="form-group"
                            data-ng-class="{ 'has-error': purchase.referenceNo.$error.required && purchase.$submitted }">
                            <div class="col-md-2">
                                <span class="">
                                    {{'TransferToBranch' | translate}}
                                </span>
                            </div>
                            <div class="col-md-7">
                                <b>{{vm.model.transfer_branch_name}}</b>
                            </div>
                        </div>
                        <div class="form-group"
                            data-ng-class="{ 'has-error': purchase.referenceNo.$error.required && purchase.$submitted }">
                            <div class="col-md-2">
                                <span class="">
                                    {{'TransferType' | translate}}
                                </span>
                            </div>
                            <div class="col-md-7">
                                <b>{{vm.model.transfer_type_name}}</b>
                            </div>
                        </div>
                        <div class="form-group"
                            data-ng-class="{ 'has-error': purchase.date.$error.required && purchase.$submitted }">
                            <div class="col-md-2">
                                <span class="control-label">
                                    {{'TransferDate' | translate}}
                                </span>
                            </div>
                            <div class="col-md-7">
                                <b>{{vm.service.dateFormat(vm.model.transfer_date)}}</b>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-2">
                                <span class="control-label">
                                    {{'Description' | translate}}
                                </span>
                            </div>
                            <div class="col-md-7">
                                <b>{{vm.model.description}}</b>
                                <b data-ng-if="!vm.model.description">N/A</b>
                            </div>
                        </div>
                        <!-- <div class="form-group">
                            <div class="col-md-2">
                                <span class="control-label">
                                    {{'Total' | translate}}
                                </span>
                            </div>
                            <div class="col-md-7">
                                <b data-ng-bind="vm.model.total | currency"></b>
                            </div>
                        </div> -->
                    </div>
                    <br/>
                    <div class="form-group">
                        <div class="col-md-12">
                            <a class="btn btn-default" ui-sref="product_transfer.list" href="javascript:;">
                                <i class="fa fa-close"></i>
                                {{'Close' | translate}}
                            </a>
                            <a class="btn btn-primary" ng-click="vm.print();" href="javascript:;">
                                <i class="fa fa-print"></i>
                                {{'Print' | translate}}
                            </a>
                        </div>
                    </div>
                </fieldset>
            </form>
        </div>
    </div>
</div>
<pop-up-invoice-transfer></pop-up-invoice-transfer>