<div class="panel panel-default">
    <div class="panel-heading">
        <b>{{'Package' | translate}}</b>
        <a
            class="btn no-padding pull-right"
            onclick="history.go(-1)"
        >
            <i class="fa fa-step-backward"></i>
            {{'Back' | translate}}
        </a>
    </div>
    <form data-ng-submit="vm.save();" name="form" class="form-horizontal" novalidate>
        <div class="panel-body">
            <div class="col-md-12">
                <div class="form-group"
                    data-ng-class="{ 'has-error': form.type.$error.required && form.$submitted }">
                    <div class="col-md-2">
                        <span class="control-label">
                            {{'Type' | translate}}
                            <span class="required">*</span>
                        </span>
                    </div>
                    <div class="col-md-4">
                        <select class="form-control"
                            data-ng-model="vm.model.package_type_id"
                            required
                            name="type"
                            data-ng-options="x.id as x.name for x in vm.packageTypeList">
                            <option value="">{{'Select' | translate}}</option>
                        </select>
                        <div translate="ThisFieldRequire" class="has-error msg-error"
                            data-ng-if="form.type.$error.required && form.$submitted"></div>
                    </div>
                </div>
            </div>
            <div class="col-md-12">
                <div class="form-group"
                    data-ng-class="{ 'has-error': form.name.$error.required && form.$submitted }">
                    <div class="col-md-2">
                        <span class="control-label">
                            {{'Name' | translate}}
                            <span class="required">*</span>
                        </span>
                    </div>
                    <div class="col-md-4">
                        <input type="text"
                            class="form-control"
                            data-ng-model="vm.model.name"
                            name="name"
                            placeholder="{{'Name' | translate}}"
                            required="required" />
                        <div translate="ThisFieldRequire" class="has-error msg-error"
                            data-ng-if="form.name.$error.required && form.$submitted"></div>
                    </div>
                </div>
            </div>
            <div class="col-md-12">
                <div class="form-group"
                    data-ng-class="{ 'has-error': form.price.$error.required && form.$submitted }">
                    <div class="col-md-2">
                        <span class="control-label">
                            {{'Price' | translate}}
                            <span class="required">*</span>
                        </span>
                    </div>
                    <div class="col-md-4">
                        <input type="number"
                            class="form-control"
                            data-ng-model="vm.model.price"
                            name="price"
                            placeholder="{{'Price' | translate}}"
                            required="required" />
                        <div translate="ThisFieldRequire" class="has-error msg-error"
                            data-ng-if="form.price.$error.required && form.$submitted"></div>
                    </div>
                </div>
            </div>
            <div class="col-md-12">
                <div class="form-group">
                    <div class="col-md-2">
                        <span class="control-label">
                            {{'Description' | translate}}
                        </span>
                    </div>
                    <div class="col-md-8">
                        <table class="table table-responsive table-striped">
                            <thead>
                                <tr>
                                    <th width="5%">
                                        #
                                    </th>
                                    <th width="25%">
                                        {{'Name' | translate}}
                                    </th>
                                    <th width="45%">
                                        {{'Description' | translate}}
                                    </th>
                                    <th width="5%"></th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr data-ng-repeat="x in vm.model.option_detail">
                                    <td>{{$index+1}}</td>
                                    <td>
                                        <option-list-drop-down data-ng-model="x.option_id"></option-list-drop-down>
                                    </td>
                                    <td>
                                        <input type="text" class="form-control" 
                                            data-ng-model="x.description"
                                            placeholder="{{'Description' | translate}}"/>
                                    </td>
                                    <td>
                                        <span class="pointer fa fa-plus-circle" 
                                            data-ng-click="vm.addOption();"
                                            data-ng-if="vm.model.option_detail.length === $index+1"></span>
                                        <span class="pointer fa fa-trash-o" data-ng-click="vm.deleteOption($index);"></span>
                                    </td>
                                </tr>
                                <tr data-ng-if="vm.model.option_detail.length === 0">
                                    <td colspan="3">
                                        <empty-data></empty-data>
                                    </td>
                                    <td>
                                        <span class="pointer fa fa-plus-circle" data-ng-click="vm.addOption();"></span>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <div class="col-md-12">
                <div class="form-group">
                    <div class="col-md-2">
                        <span class="control-label">
                            {{'PossibleAddOn' | translate}}
                        </span>
                    </div>
                    <div class="col-md-8">
                        <table class="table table-responsive table-striped">
                            <thead>
                                <tr>
                                    <th width="5%">
                                        #
                                    </th>
                                    <th width="25%">
                                        {{'Name' | translate}}
                                    </th>
                                    <th width="45%">
                                        {{'Description' | translate}}
                                    </th>
                                    <th width="5%"></th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr data-ng-repeat="x in vm.model.add_on_detail">
                                    <td>{{$index+1}}</td>
                                    <td>
                                        <add-on-list-drop-down data-ng-model="x.add_on_id"></add-on-list-drop-down>
                                    </td>
                                    <td>
                                        <input type="text" class="form-control" 
                                            data-ng-model="x.description"
                                            placeholder="{{'Description' | translate}}"/>
                                    </td>
                                    <td>
                                        <span class="pointer fa fa-plus-circle" 
                                            data-ng-click="vm.addMoreAddOn();"
                                            data-ng-if="vm.model.add_on_detail.length === $index+1"></span>
                                        <span class="pointer fa fa-trash-o" data-ng-click="vm.deleteAddOn($index);"></span>
                                    </td>
                                </tr>
                                <tr data-ng-if="vm.model.add_on_detail.length === 0">
                                    <td colspan="3">
                                        <empty-data></empty-data>
                                    </td>
                                    <td>
                                        <span class="pointer fa fa-plus-circle" data-ng-click="vm.addMoreAddOn();"></span>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            
            <div class="col-md-12">
                <div class="form-group">
                    <div class="col-md-2">
                        <span class="control-label">
                            {{'Note' | translate}}
                        </span>
                    </div>
                    <div class="col-md-4">
                        <textarea class="form-control"
                            rows="5"
                            data-ng-model="vm.model.description"
                            placeholder="{{'Note' | translate}}"></textarea>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <a class="btn btn-default"
                data-dismiss="modal"
                ui-sref="package.list"
                href="javascript:;">
                <i class="fa fa-close"></i>
                {{'Close' | translate}}
            </a>
            <button class="btn btn-primary"
                data-ng-disabled="!vm.disable">
                <i class="fa fa-save"></i>
                {{'Save' | translate}}
            </button>
        </div>
    </form>
</div>
