<div class="panel panel-default">
    <div class="panel-heading">
        <b>{{'Package' | translate}}</b>
        <a
            class="btn no-padding pull-right"
            onclick="history.go(-1)"
        >
            <i class="fa fa-step-backward"></i>
            {{'Back' | translate}}
        </a>
    </div>
    <form data-ng-submit="vm.save();" name="productListCreate" class="form-horizontal" novalidate>
        <div class="panel-body">
            <div class="col-md-12">
                <div class="form-group"
                    data-ng-class="{ 'has-error': productListCreate.product_type.$error.required && productListCreate.$submitted }">
                    <div class="col-md-2">
                        <span class="control-label">
                            {{'Type' | translate}}
                        </span>
                    </div>
                    <div class="col-md-8">
                        {{vm.model.package_type[0].name}}
                    </div>
                </div>
            </div>
            <div class="col-md-12">
                <div class="form-group"
                    data-ng-class="{ 'has-error': productListCreate.product_type.$error.required && productListCreate.$submitted }">
                    <div class="col-md-2">
                        <span class="control-label">
                            {{'Name' | translate}}
                        </span>
                    </div>
                    <div class="col-md-8">
                        {{vm.model.name}}
                    </div>
                </div>
            </div>
            <div class="col-md-12">
                <div class="form-group"
                    data-ng-class="{ 'has-error': productListCreate.products_name.$error.required && productListCreate.$submitted }">
                    <div class="col-md-2">
                        <span class="control-label">
                            {{'Price' | translate}}
                        </span>
                    </div>
                    <div class="col-md-8">
                        {{vm.model.price | currency : ""}}
                    </div>
                </div>
            </div>
            <div class="col-md-12">
                    <div class="form-group">
                        <div class="col-md-2">
                            <span class="control-label">
                                {{'Description' | translate}}
                            </span>
                        </div>
                        <div class="col-md-8">
                            <table class="table table-responsive table-striped">
                                <thead>
                                    <tr>
                                        <th width="5%">
                                            #
                                        </th>
                                        <th width="25%">
                                            {{'Name' | translate}}
                                        </th>
                                        <th width="45%">
                                            {{'Description' | translate}}
                                        </th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr data-ng-repeat="x in vm.model.option_detail">
                                        <td>{{$index+1}}</td>
                                        <td>
                                            {{x.detail[0].name}}
                                        </td>
                                        <td>
                                            {{x.description}}
                                        </td>
                                    </tr>
                                    <tr data-ng-if="vm.model.option_detail.length === 0">
                                        <td colspan="3">
                                            <empty-data></empty-data>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                <div class="col-md-12">
                    <div class="form-group">
                        <div class="col-md-2">
                            <span class="control-label">
                                {{'PossibleAddOn' | translate}}
                            </span>
                        </div>
                        <div class="col-md-8">
                            <table class="table table-responsive table-striped">
                                <thead>
                                    <tr>
                                        <th width="5%">
                                            #
                                        </th>
                                        <th width="25%">
                                            {{'Name' | translate}}
                                        </th>
                                        <th width="45%">
                                            {{'Description' | translate}}
                                        </th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr data-ng-repeat="x in vm.model.add_on_detail">
                                        <td>{{$index+1}}</td>
                                        <td>
                                            {{x.detail[0].name}}
                                        </td>
                                        <td>
                                            {{x.description}}
                                        </td>
                                    </tr>
                                    <tr data-ng-if="vm.model.add_on_detail.length === 0">
                                        <td colspan="3">
                                            <empty-data></empty-data>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                
                <div class="col-md-12">
                    <div class="form-group">
                        <div class="col-md-2">
                            <span class="control-label">
                                {{'Note' | translate}}
                            </span>
                        </div>
                        <div class="col-md-4">
                            {{vm.model.description}}
                        </div>
                    </div>
                </div>      
        </div>
        <div class="modal-footer">
            <a
                class="btn btn-default"
                data-dismiss="modal"
                ui-sref="package.list"
                href="javascript:;"
            >
                <i class="fa fa-close"></i>
                {{'Close' | translate}}
            </a>
        </div>
    </form>
</div>