<div class="panel panel-default">
	<div class="panel-heading">
		<b data-ng-if="!vm.isEdit">{{'CreateFeedBack' | translate}}</b>
		<b data-ng-if="vm.isEdit">{{'EditFeedBack' | translate}}</b>
		<a
			class="btn no-padding pull-right"
			onclick="history.go(-1)"
		>
			<i class="fa fa-step-backward"></i>
			{{'Back' | translate}}
		</a>
	</div>
	<form data-ng-submit="vm.save();" name="form" class="form-horizontal" novalidate>
		<div class="panel-body">
			<div class="col-md-12">
				<div class="form-group"
					 data-ng-class="{ 'has-error': form.title.$error.required && form.$submitted }">
					<div class="col-md-2">
						<span class="control-label">
							{{'Title' | translate}}
							<span class="required">*</span>
						</span>
					</div>
					<div class="col-md-4">
						<input type="text" class="form-control" 
							data-ng-model="vm.model.title"
							name="title"
							placeholder="{{'Title' | translate}}"
							required/>
						<div translate="ThisFieldRequire"
							 class="has-error msg-error"
							 data-ng-if="form.title.$error.required && form.$submitted"></div>
					</div>
				</div>
			</div>
			<div class="col-md-12">
				<div class="form-group"
					data-ng-class="{ 'has-error': form.complaint_date.$error.required && form.$submitted }">
					<div class="col-md-2">
						<span class="control-label">
							{{'FeedBackDate' | translate}}
							<span class="required">*</span>
						</span>
					</div>
					<div class="col-md-4">
						<div class="input-group input-large" cambodia-date-picker date-format="{{dateFormat}}">
							<input type="text"
								class="form-control"
								required
								name="complaint_date"
								data-ng-model="vm.model.feed_back_date"
								placeholder="{{'FeeBackDate' | translate}}">
							<span class="input-group-btn">
								<a class="btn btn-default" href="javascript:;">
									<i class="fa fa-calendar"></i>
								</a>
							</span>
						</div>
					</div>
				</div>
			</div>
			<div class="col-md-12">
				<div class="form-group"
					data-ng-class="{ 'has-error': form.customer.$error.required && form.$submitted }">
					<div class="col-md-2">
						<span class="control-label">
							{{'CustomerName' | translate}}
							<span class="required">*</span>
						</span>
					</div>
					<div class="col-md-4">
						<customer-list-drop-down ng-model="vm.customer"  name="customer" required="required"></customer-list-drop-down>
					</div>
				</div>
			</div>
			<div class="col-md-12">
				<div class="form-group"
					data-ng-class="{ 'has-error': form.invoice.$error.required && form.$submitted }">
					<div class="col-md-2">
						<span class="control-label">
							{{'InvoiceNo' | translate}}
							<span class="required">*</span>
						</span>
					</div>
					<div class="col-md-4">
						<invoice-list-drop-down invoice-model="vm.invoice" name="invoice" required="required"></invoice-list-drop-down>
					</div>
				</div>
			</div>
			<div class="col-md-12">
				<div class="form-group">
					<div class="col-md-2">
						<span class="control-label">
							{{'Rate' | translate}}
						</span>
					</div>
					<div class="col-md-4">
						<span uib-rating data-ng-model="vm.model.rate" max="vm.max"
							on-hover="hoveringOver(value)" 
							on-leave="overStar = null" 
							titles="['one','two','three']" 
							aria-labelledby="default-rating"></span>
					</div>
				</div>
			</div>
			<div class="col-md-12">
				<div class="form-group">
					<div class="col-md-2">
						<span class="control-label">
							{{'Description' | translate}}
						</span>
					</div>
					<div class="col-md-10">
						<trix-editor data-ng-model="vm.model.description"
							angular-trix trix-initialize="trixInitialize(e, editor);"
							trix-change="trixChange(e, editor);"
							trix-selection-change="trixSelectionChange(e, editor);"
							trix-focus="trixFocus(e, editor);"
							trix-blur="trixBlur(e, editor);"
							trix-file-accept="trixFileAccept(e, editor);"
							trix-attachment-add="trixAttachmentAdd(e, editor);"
							trix-attachment-remove="trixAttachmentRemove(e, editor);"
							style="height: 300px;overflow: auto;"
							placeholder="{{'Description' | translate}}"
						></trix-editor>
					</div>
				</div>
			</div>
		</div>
		<div class="modal-footer">
			<a
				class="btn btn-default"
				data-dismiss="modal"
				ui-sref="feed_back.list"
				href="javascript:;"
			>
				<i class="fa fa-close"></i>
				{{'Close' | translate}}
			</a>
			<button
				class="btn btn-primary"
				data-ng-disabled="!vm.disable"
			>
				<i class="fa fa-spinner fa-spin" data-ng-if="!vm.disable"></i>
				<i class="fa fa-save" data-ng-if="vm.disable"></i>
				{{'Save' | translate}}
			</button>
		</div>
	</form>
</div>


