<div class="panel panel-default">
	<div class="panel-heading">
		<b>{{'FeedBackDetail' | translate}}</b>
		<a
			class="btn no-padding pull-right"
			onclick="history.go(-1)"
		>
			<i class="fa fa-step-backward"></i>
			{{'Back' | translate}}
		</a>
	</div>
	<form data-ng-submit="vm.save();" name="doctorForm" class="form-horizontal" novalidate>
		<div class="panel-body">
			<div class="col-md-12">
				<div class="form-group">
					<div class="col-md-2">
						<span class="control-label">
							{{'Title' | translate}}
						</span>
					</div>
					<div class="col-md-4">
						{{vm.model.title}}
					</div>
				</div>
			</div>
			<div class="col-md-12">
				<div class="form-group">
					<div class="col-md-2">
						<span class="control-label">
							{{'FeedBackDate' | translate}}
						</span>
					</div>
					<div class="col-md-4">
						{{vm.service.dateConvert(vm.model.feed_back_date) | date: 'dd-mm-yyyy'}}
					</div>
				</div>
			</div>
			<div class="col-md-12">
				<div class="form-group">
					<div class="col-md-2">
						<span class="control-label">
							{{'CustomerName' | translate}}
						</span>
					</div>
					<div class="col-md-4">
						{{vm.model.customer_name}}
					</div>
				</div>
			</div>
			<div class="col-md-12">
				<div class="form-group">
					<div class="col-md-2">
						<span class="control-label">
							{{'Invoice' | translate}}
						</span>
					</div>
					<div class="col-md-4">
						{{vm.model.invoice_no}}
					</div>
				</div>
			</div>
			<div class="col-md-12">
				<div class="form-group">
					<div class="col-md-2">
						<span class="control-label">
							{{'Rate' | translate}}
						</span>
					</div>
					<div class="col-md-4">
						<span uib-rating data-ng-model="vm.model.rate" max="vm.max" read-only="true" 
							on-hover="hoveringOver(value)" 
							on-leave="overStar = null" 
							titles="['one','two','three']" 
							aria-labelledby="default-rating"></span>
					</div>
				</div>
			</div>
			<div class="col-md-12">
				<div class="form-group">
					<div class="col-md-2">
						<span class="control-label">
							{{'Description' | translate}}
						</span>
					</div>
					<div class="col-md-4" data-ng-bind-html="vm.model.description">
					</div>
				</div>
			</div>
			<div class="col-md-12">
				<div class="form-group">
					<div class="col-md-2">
						<span class="control-label">
							{{'CreateDate' | translate}}
						</span>
					</div>
					<div class="col-md-4">
						{{vm.service.dateConvert(vm.model.create_date) | date: 'dd-mm-yyyy h:mm a'}}
					</div>
				</div>
			</div>
			<div class="col-md-12">
				<div class="form-group">
					<div class="col-md-2">
						<span class="control-label">
							{{'CreateBy' | translate}}
						</span>
					</div>
					<div class="col-md-4">
						{{vm.model.creator}}
					</div>
				</div>
			</div>
		</div>
		<div class="modal-footer">
			<a
				class="btn btn-default"
				data-dismiss="modal"
				ui-sref="feed_back.list"
				href="javascript:;"
			>
				<i class="fa fa-close"></i>
				{{'Close' | translate}}
			</a>
		</div>
	</form>
</div>


