<div class="panel panel-default">
    <div class="panel-heading">
        <b>{{'AddOnType' | translate}}</b>
    </div>
    <div class="panel-body">
        <span role-permission 
            ng-if="featureRole"
            permission="'Add_On_Type_Create'" 
            feature="featureRole">
            <a class="btn btn-default" 
                data-toggle="modal"
                data-target="#add-on-popup"
            >
                <span class="fa fa-plus-circle"></span>
                {{'AddNew' | translate}}
            </a>
        </span>
        {{'TotalRecord' | translate}}: {{vm.totalItems}}
        <form class="row">
            <div class="form-body">
                <div class="col-md-3">
                    <div class="input-group input-large">
                        <input type="text"
                               class="form-control"
                               data-ng-model="vm.search_name"
                               auto-focus
                               placeholder="{{'Search' | translate}}">
                        <span class="input-group-btn">
                            <button type="submit" class="btn blue" data-ng-click="vm.search()">
                                <i class="fa fa-search" data-ng-if="!vm.loading"></i>
                                <i class="fa fa-spinner fa-spin" data-ng-if="vm.loading"></i>
                            </button>
                        </span>
                    </div>
                </div>
            </div>
        </form>
        <table class="table table-bordered table-striped">
            <thead>
                <th width="5%">
                    #
                </th>
                <th width="25%">
                    {{'Name' | translate}}
                </th>
                <th width="40%">
                    {{'Description' | translate}}
                </th>
                <th width="13%">
                    {{'Action' | translate}}
                </th>
            </thead>
            <tr data-ng-repeat="row in vm.collections.elements">
                <td>
                    <span data-ng-bind="vm.pageSize + $index + 1"></span>
                </td>
                <td>
                    <span data-ng-bind="row.name"></span>
                </td>
                <td>
                    <span data-ng-bind="row.description"></span>
                </td>
                <td>
                    <span role-permission 
                        ng-if="featureRole"
                        permission="'Add_On_Type_Edit'" 
                        feature="featureRole">
                        <button class="btn btn-default btn-xs" data-ng-click="vm.edit(row);" uib-tooltip="{{'Edit' | translate}}">
                            <span class="fa fa-edit"></span>
                        </button>
                    </span>
                    <span role-permission 
                        ng-if="featureRole"
                        permission="'Add_On_Type_Disable'" 
                        feature="featureRole">
                        <button
                            class="btn btn-success btn-xs"
                            uib-tooltip="{{'Enable' | translate}}"
                            data-ng-click="vm.updateStatus(row);"
                            data-ng-if="row.status == 1"
                        >
                            <span class="fa fa-check-circle-o"></span>
                        </button>
                        <button
                            class="btn btn-warning btn-xs"
                            data-ng-if="row.status == 0"
                            uib-tooltip="{{'Disable' | translate}}"
                            data-ng-click="vm.updateStatus(row);"
                        >
                            <span class="fa fa-times-circle"></span>
                        </button>
                    </span>
                    <span role-permission 
                        data-ng-if="featureRole"
                        permission="'Add_On_Type_Delete'" 
                        feature="featureRole">
                        <button class="btn btn-danger btn-xs" 
                            data-ng-click="vm.delete(row);" 
                            uib-tooltip="{{'Delete' | translate}}">
                            <span class="fa fa-trash"></span>
                        </button>
                    </span>
                </td>
            </tr>
        </table>
        <div
            data-ng-if="vm.collections.elements == 0"
        >
            <empty-data></empty-data>
        </div>
        <div
            data-ng-if="!vm.collections"
            class="align_center"
        >
            <i class="fa fa-refresh fa-spin" style="font-size: 100px;"></i>
        </div>
    </div>
</div>
<div class="panel-footer">
    <ul uib-pagination
        total-items="vm.totalItems"
        ng-model="vm.currentPage"
        ng-change="vm.pageChanged()"
        max-size="5"
        items-per-page="10"
        boundary-links="true"
    ></ul>
</div>

<form data-ng-submit="vm.save();" name="addOnTypeForm" novalidate class="form form-horizontal">
    <div
        class="modal fade"
        id="add-on-popup"
        data-keyboard="false"
        data-backdrop="static"
    >
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <a
                        type="button"
                        class="close"
                        data-dismiss="modal"
                        data-ng-click="vm.clear();"
                    >
                        <span>&times;</span>
                    </a>
                    <h4>
                        <label>
                            {{'AddOnType' | translate}}
                        </label>
                    </h4>
                </div>
                <div class="modal-body">
                    <div class="form-group"
                        data-ng-class="{ 'has-error': addOnTypeForm.name.$error.required && addOnTypeForm.$submitted }">
                        <div class="col-md-3">
                            <span class="control-label">
                                {{'Name' | translate}}
                                <span class="required">*</span>
                            </span>
                        </div>
                        <div class="col-md-9">
                            <input type="text"
                                class="form-control"
                                data-ng-model="vm.model.name"
                                placeholder="{{'Name' | translate}}"
                                name="name"
                                required="required" />
                            <div translate="ThisFieldRequire" class="has-error msg-error"
                                data-ng-if="addOnTypeForm.name.$error.required && addOnTypeForm.$submitted"></div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-3">
                            <span class="control-label">
                                {{'Description' | translate}}
                            </span>
                        </div>
                        <div class="col-md-9">
                            <textarea class="form-control" 
                                data-ng-model="vm.model.description" 
                                placeholder="{{'Description' | translate}}"
                                rows="5"/>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <a
                        class="btn btn-default"
                        data-dismiss="modal"
                        data-ng-click="vm.clear();"
                    >
                        <i class="fa fa-close"></i>
                        {{'Close' | translate}}
                    </a>
                    <button
                        class="btn btn-primary"
                        data-ng-disabled="!vm.disable"
                    >
                        <i class="fa fa-save"></i>
                        {{'Save' | translate}}
                    </button>
                </div>
            </div>
        </div>
    </div>
</form>


