<div class="panel panel-default">
	<div class="panel-heading">
		{{'StaffPayslipReport' | translate}}
	</div>
	<div class="panel-body">
		<form novalidate name="form" class="form-horizontal">
			<div class="row">
				<div class="col-md-2 col-sm-6"
					data-ng-class="{ 'has-error': form.from_date.$error.required && form.$submitted }">
					<div cambodia-date-picker date-format="y-MM-dd" class="input-group">
						<input type="text"
							class="form-control"
							data-ng-model="vm.from_date"
							required
							name="from_date"
							placeholder="{{'FromDate' | translate}}"/>
						<span class="input-group-btn">
							<button class="btn btn-default" type="button">
								<i class="fa fa-calendar"></i>
							</button>
						</span>
					</div>
					<div translate="ThisFieldRequire" class="has-error msg-error msg-drop-down"
						data-ng-if="form.from_date.$error.required && form.$submitted"></div>
				</div>
				<div class="col-md-2 col-sm-6"
					data-ng-class="{ 'has-error': form.to_date.$error.required && form.$submitted }">
					<div cambodia-date-picker date-format="y-MM-dd" class="input-group">
						<input type="text"
							required
							name="to_date"
							class="form-control"
							data-ng-model="vm.to_date"
							placeholder="{{'ToDate' | translate}}"/>
						<span class="input-group-btn">
							<button class="btn btn-default" type="button">
								<i class="fa fa-calendar"></i>
							</button>
						</span>
					</div>
					<div translate="ThisFieldRequire"
						class="has-error msg-error msg-drop-down"
						data-ng-if="form.to_date.$error.required && form.$submitted"></div>
				</div>
				<div class="col-md-5">
					<button class="btn btn-primary"
							data-ng-click="vm.staff = null; vm.from_date=''; vm.to_date=''"
							uib-tooltip="{{'ClearSelect' | translate}}">
						<i class="fa fa-refresh" aria-hidden="true"></i>
					</button>
					<button class="btn btn-success" data-ng-click="vm.init();">
						<i class="fa fa-hourglass-half"></i>
						{{'Filter' | translate}}
					</button>
					<button class="btn btn-default margin-top"
							onclick="PrintElem('#print')"
							data-ng-disabled="!vm.totalItems">
						<i class="fa fa-print"></i>
						{{'Print' | translate}}
					</button>
				</div>
			</div>
		</form>
		<div data-ng-if="vm.doctor_payslips.count" id="print">
			<table width="100%">
				<tr>
					<td align="center">
						<h3 ng-bind="company.company_name"></h3>
						<h4>
							{{'StaffPayslipReport' | translate}}
						</h4>
						{{'FromDate' | translate}}: {{vm.service.dateFormat(vm.from_date)}} 
						{{'ToDate' | translate}}: {{vm.service.dateFormat(vm.to_date)}}
						<br/>
					</td>
				</tr>
			</table>
			<br/>
			<table width="100%">
				<tr>
					<td>
						{{"Name" | translate}}: {{vm.model.name}}
					</td>
					<td>
						{{"Gender" | translate}}: {{vm.model.sex}}
					</td>
					<td>
						{{"DOB" | translate}}: {{vm.service.dateFormat(vm.model.dob)}}
					</td>
				</tr>
				<tr>
					<td>
						{{"BasicSalary" | translate}}: {{vm.model.basic_salary | currency}}
					</td>
					<td>
						{{"Email" | translate}}: {{vm.model.email}}
					</td>
					<td>
						{{"Telephone" | translate}}: {{vm.model.phone | tel}}
					</td>
				</tr>
				<tr>
					<td colspan="3">
						{{"Address" | translate}}: {{vm.model.address}}
					</td>
				</tr>
			</table>
			<br/>
			<table class="table-print">
				<thead>
					<tr>
						<th width="20%">
							{{'Earning' | translate}}
						</th>
						<th width="80%">
							{{'Amount' | translate}}
						</th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td>
							{{'BasicSalary' | translate}}
						</td>
						<td>
							{{ vm.doctor_payslips.elements[0].basic_salary | currency}}
						</td>
					</tr>
					<tr>
						<td>
							{{'Income' | translate}}
						</td>
						<td>
							{{ (vm.doctor_payslips.elements[0].total_payment * vm.doctor_payslips.elements[0].tax_percentage / 100) | currency}}
						</td>
					</tr>
					<tr>
						<td>
							{{'Keep' | translate}}
						</td>
						<td>
							{{ ((vm.doctor_payslips.elements[0].basic_salary+ (vm.doctor_payslips.elements[0].total_payment * vm.doctor_payslips.elements[0].tax_percentage / 100) ) * vm.doctor_payslips.elements[0].deduct_basic_salary / 100) | currency}}
						</td>
					</tr>
					<!--<tr>
						<td>
							{{'DeductTotalGet' | translate}}
						</td>
						<td>
							{{ (vm.doctor_payslips.elements[0].total_payment * vm.doctor_payslips.elements[0].deduct_total_get / 100) | currency}}
						</td>
					</tr>-->
					<tr data-ng-repeat="row in vm.doctor_payslips.elements[0].detail">
						<td>
							{{row.allowance_name}}
						</td>
						<td>
							{{row.amount | currency}}
						</td>
					</tr>
					<tr>
						<td>
							<b>{{"TotalNetPay" | translate}}</b>
						</td>
						<td>
							<b>{{vm.doctor_payslips.elements[0].net_pay | currency}}</b>
						</td>
					</tr>
				</tbody>
			</table>
		</div>
		<div
			data-ng-if="vm.doctor_payslips.count == 0"
		>
			<empty-data></empty-data>
		</div>
		<div
			data-ng-if="!vm.loading"
			class="align_center"
		>
			<i class="fa fa-refresh fa-spin" style="font-size: 100px;"></i>
		</div>
	</div>
</div>
