<div class="row">
	<div class="col-md-4">
		<div class="panel panel-default">
			<div class="panel-heading">
				<i class="fa fa-info-circle"></i>
				{{'Information' | translate}}
			</div>
			<form class="panel-body form-horizontal" data-ng-submit="vm.save();" name="saleForm" novalidate>
				<div class="form-group"
					 data-ng-class="{ 'has-error': saleForm.date.$error.required && saleForm.$submitted }">
					<div class="col-md-4">
						<span class="control-label">
							{{'Date' | translate}}
							<span class="required">*</span>
						</span>
					</div>
					<div class="col-md-8">
						<div cambodia-date-picker date-format="y-MM-dd" class="input-group">
							<input type="text" class="form-control"
								   data-ng-model="vm.model.receive_payment_date"
								   name="date" required />
								<span class="input-group-btn">
									<button class="btn btn-default" type="button">
										<i class="fa fa-calendar"></i>
									</button>
								</span>
						</div>
						<div translate="ThisFieldRequire" class="has-error msg-error"
							 data-ng-if="saleForm.date.$error.required && saleForm.$submitted"></div>
					</div>
				</div>
				<div class="form-group">
					<div class="col-md-4">
						<span class="control-label">
							{{'ExchangeRate' | translate}}
						</span>
					</div>
					<div class="col-md-8">
						<b>{{vm.exchange_rate_out | currency: ''}}</b>
					</div>
				</div>
				<div class="form-group">
					<div class="col-md-4">
						<span class="control-label">
							{{'SubTotal' | translate}}
						</span>
					</div>
					<div class="col-md-8">
						<b data-ng-bind="vm.model.sub_total | currency"></b>
					</div>
				</div>
				<div class="form-group">
					<div class="col-md-4">
						<span class="control-label">
							{{'Discount' | translate}}
						</span>
					</div>
					<div class="col-md-8">
						<div>
							<span class="radio3 radio-check radio-inline">
								<input type="radio"
									   id="dollar"
									   name="radio2"
									   data-ng-change="vm.checkTypeDiscount();"
									   data-ng-model="vm.model.discount_type"
									   value="dollar" />
								<label for="dollar">
									<b>($)</b>
								</label>
							</span>
							<span class="radio3 radio-check radio-success radio-inline">
								<input type="radio"
									   id="percent"
									   name="radio2"
									   data-ng-change="vm.checkTypeDiscount();"
									   data-ng-model="vm.model.discount_type"
									   value="percent" />
								<label for="percent">
									<b>(%)</b>
								</label>
							</span>
						</div>
					</div>
				</div>
				<div class="form-group" data-ng-if="vm.model.discount_type">
					<div class="col-md-4">
						<span class="control-label"></span>
					</div>
					<div class="col-md-8">
						<input class="form-control"
							   type="number"
							   min="0"
							   step="any"
							   data-ng-change="vm.inputDiscount();"
							   data-ng-model="vm.model.discount_amount "
							   placeholder="{{'Discount' | translate}}" />
					</div>
				</div>
				<div class="form-group">
					<div class="col-md-4">
						<span class="control-label">
							{{'TotalDiscount' | translate}}
						</span>
					</div>
					<div class="col-md-8">
						<b data-ng-bind="vm.model.discount_total_amount | currency"></b>
					</div>
				</div>
				<div class="form-group">
					<div class="col-md-4">
						<span class="control-label">
							{{'GrandTotal' | translate}}($)
						</span>
					</div>
					<div class="col-md-8">
						<b data-ng-bind="vm.model.grand_total | currency"></b>
					</div>
				</div>
				<div class="form-group">
					<div class="col-md-4">
						<span class="control-label">
							{{'GrandTotal' | translate}}(៛)
						</span>
					</div>
					<div class="col-md-8">
						<b data-ng-bind="vm.model.grand_total * vm.exchange_rate_out | currency:'(៛)'"></b>
					</div>
				</div>
				<div class="form-group">
					<div class="col-md-4">
						<span class="control-label">
							{{'PaymentMethod' | translate}}
						</span>
					</div>
					<div class="col-md-8">
						<select
								class="form-control"
								data-ng-options="payment_method for payment_method in vm.banks"
								data-ng-init="payment_method == payment_method"
								data-ng-model="vm.model.payment_method"
						>
						</select>
					</div>
				</div>
				<div class="form-group" data-ng-class="{ 'has-error': saleForm.term_condition.$error.required && saleForm.$submitted }">
					<div class="col-md-4">
						<span class="control-label">
							{{'TermCondition' | translate}}
							<span class="required">*</span>
						</span>
					</div>
					<div class="col-md-8">
						<select class="form-control" required name="term_condition"
								data-ng-options="x.description as x.title for x in vm.termConditions"
								data-ng-model="vm.model.term_condition">
								<option value="">{{'Select' | translate}}</option>
						</select>
					</div>
				</div>
				<div class="form-group"
					 data-ng-class="{ 'has-error': saleForm.payment.$error.required && saleForm.$submitted }">
					<div class="col-md-4">
						<span class="control-label">
							{{'Payment' | translate}}
							<span class="required">*</span>
						</span>
					</div>
					<div class="col-md-8">
						<input class="form-control"
							   type="number"
							   placeholder="{{'Payment' | translate}}"
							   data-ng-change="vm.inputPayment();"
							   min="0"
							   step="any"
							   required
							   name="payment"
							   data-ng-model="vm.model.payment" />
						<div translate="ThisFieldRequire" class="has-error msg-error"
							 data-ng-if="saleForm.payment.$error.required && saleForm.$submitted"></div>
					</div>
				</div>
				<div class="form-group">
					<div class="col-md-4">
						<span class="control-label">
							{{'Remaining' | translate}}($)
						</span>
					</div>
					<div class="col-md-8">
						<b><span data-ng-bind="vm.model.remain | currency"></span></b>
					</div>
				</div>
				<div class="form-group">
					<div class="col-md-4">
						<span class="control-label">
							{{'Remaining' | translate}}(៛)
						</span>
					</div>
					<div class="col-md-8">
						<b>
							{{
								(vm.model.remain < 0)
									?
								(vm.model.remain * vm.exchange_rate_in | currency:'(៛)')
									:
								(vm.model.remain * vm.exchange_rate_out | currency:'(៛)')
							}}
						</b>
					</div>
				</div>
				<div class="form-group">
					<div class="col-md-4">
						<span class="control-label">
						</span>
					</div>
					<div class="col-md-8">
						<a class="btn btn-default" ui-sref="received_payment.search">
							<i class="fa fa-step-backward"></i>
							{{'Back' | translate}}
						</a>
						<button
							class="btn btn-success"
							data-ng-disabled="vm.loading"
						>
							<i class="fa fa-save" data-ng-if="!vm.loading"></i>
							<i class="fa fa-spinner fa-spin" data-ng-if="vm.loading"></i>
							{{'Save' | translate}}
						</button>
					</div>
				</div>
			</form>
		</div>
	</div>
	<div class="col-md-8">
		<div class="panel panel-default">
			<div class="panel-heading">
				<i class="fa fa-industry"></i>
				{{'PaymentDetail' | translate}}
			</div>
			<div class="panel-body">
				<div class="row">
					<div class="form-group">
						<div class="col-md-5">
							<form>
								<div class="input-group">
									<input type="text"
										   placeholder="{{'SearchInvoiceNo' | translate}}"
										   data-ng-model="vm.invoiceNo"
										   data-ng-model-options="{ debounce: 550 }"
										   autofocus
										   class="form-control"/>
									<span class="input-group-btn">
										<button class="btn btn-default" type="submit"
											data-ng-click="vm.filterInvoice();">
											<i class="fa fa-search"></i>
										</button>
									</span>
								</div>
							</form>
						</div>
						<div class="col-md-7">
							<div class="input-group">
								<customer-list-drop-down ng-model="vm.customerObj"
														name="customer"
														data-ng-change="vm.filterInvoice();"></customer-list-drop-down>
								<span class="input-group-btn">
									<button class="btn btn-default" 
											type="button"
											data-ng-click="vm.customerObj = null">
										<i class="fa fa-refresh"></i>
									</button>
								</span>
							</div>
						</div>
					</div>
				</div>
				<div class="scroll">
					<table class="table table-bordered table-striped">
						<tr>
							<th width="5%">
								#
							</th>
							<th width="30%">
								{{'InvoiceNo' | translate}}
							</th>
							<th width="15%">
								{{'Date' | translate}}
							</th>
							<th width="20%">
								{{'CustomerName' | translate}}
							</th>
							<th width="10%">
								{{'Balance' | translate}}
							</th>
							<th width="5%">
								{{'Action' | translate}}
							</th>
						</tr>
						<tr data-ng-repeat="list in vm.listData">
							<td>
								{{$index + 1}}
							</td>
							<td>
								{{list.invoice_no}}
							</td>
							<td>
								{{vm.service.dateFormat(list.invoice_date)}}
							</td>
							<td>
								{{list.customer_name}}
								<span class="label label-default">{{list.customer_code}}</span>
							</td>
							<td>
								{{list.balance | currency}}
							</td>
							<td>
								<i class="fa fa-trash hover" data-ng-click="vm.remove($index);" style="font-size: 18px;"></i>
								<i class="fa fa-eye hover" data-ng-click="vm.viewDeail(list);" style="font-size: 18px;"></i>
							</td>
						</tr>
					</table>
					<div data-ng-if="vm.listData.length == 0 && !vm.loading">
						<empty-data></empty-data>
					</div>
					<div
						data-ng-if="vm.loading"
						class="align_center"
					>
						<i class="fa fa-refresh fa-spin" style="font-size: 100px;"></i>
					</div>
				</div>
			</div>
		</div>
			
		<!-- view detail invoice-->
		<div class="panel panel-default" data-ng-if="vm.viewDetail.detail.length > 0">
				<div class="panel-heading">
					<i class="fa fa-industry"></i>
					{{'InvoiceDetail' | translate}}
				</div>
				<div class="panel-body">		
					<div class="scroll">
						<table class="table table-bordered table-striped">
							<thead>
								<tr>
									<th width="5%">
										#
									</th>
									<th width="30%">
										{{'Description' | translate}}
									</th>
									<th width="8%">
										{{'Qty' | translate}}
									</th>
									<th width="8%">
										{{'Dis' | translate}} (%)
									</th>
									<th width="8%">
										{{'Dis' | translate}} ($)
									</th>
									<th width="10%">
										{{'Price' | translate}}
									</th>
									<th width="10%">
										{{'Total' | translate}}
									</th>
								</tr>
							</thead>
							<tbody>
								<tr data-ng-repeat="list in vm.viewDetail.detail">
									<td>
										{{$index + 1}}
									</td>
									<td>
										{{list.product_name}}
										<ul>
											<li data-ng-repeat="x in list.description_decode track by $index">
												{{x}}
											</li>
										</ul>
									</td>
									<td>
										{{list.qty}}
									</td>
									<td>
										{{list.discount_percent}}
									</td>
									<td>
										{{list.discount_cash}}
									</td>
									<td>
										{{list.unit_price | currency}}
									</td>
									<td>
										{{list.total | currency}}
									</td>
								</tr>
								<tr>
									<td colspan="6" align="right">
										<strong>{{"SubTotal" | translate}}</strong>
									</td>
									<td>
										{{vm.viewDetail.sub_total | currency}}
									</td>
								</tr>
							</tbody>
						</table>
						<div data-ng-if="vm.viewDetail.length == 0">
							<empty-data></empty-data>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- End -->
	</div>
</div>
<receive-invoice-popup></receive-invoice-popup>