<div class="row">
	<div class="col-md-4">
		<div class="panel panel-default">
			<div class="panel-heading">
				<i class="fa fa-info-circle"></i>
				{{'Information' | translate}}
			</div>
			<form class="panel-body form-horizontal" data-ng-submit="vm.save();" name="saleForm" novalidate>
				<div class="form-group"
					 data-ng-class="{ 'has-error': saleForm.date.$error.required && saleForm.$submitted }">
					<div class="col-md-4">
						<span class="control-label">
							{{'Date' | translate}}
						</span>
					</div>
					<div class="col-md-8">
						<b>{{vm.service.dateFormat(vm.model.receive_payment_date)}}</b>
					</div>
				</div>
				<div class="form-group">
					<div class="col-md-4">
						<span class="control-label">
							{{'ExchangeRate' | translate}}
						</span>
					</div>
					<div class="col-md-8">
						<b>{{vm.exchange_rate_out | currency: ''}}</b>
					</div>
				</div>
				<div class="form-group">
					<div class="col-md-4">
						<span class="control-label">
							{{'SubTotal' | translate}}
						</span>
					</div>
					<div class="col-md-8">
						<b data-ng-bind="vm.model.sub_total | currency"></b>
					</div>
				</div>
				<div class="form-group">
					<div class="col-md-4">
						<span class="control-label">
							{{'Discount' | translate}}
						</span>
					</div>
					<div class="col-md-8">
						<b>
							{{vm.model.discount_amount}}
							<span ng-if="vm.model.discount_type == 'percent'">(%)</span>
							<span ng-if="vm.model.discount_type == 'dollar'">($)</span>
						</b>
					</div>
				</div>
				<div class="form-group">
					<div class="col-md-4">
						<span class="control-label">
							{{'TotalDiscount' | translate}}
						</span>
					</div>
					<div class="col-md-8">
						<b data-ng-bind="vm.model.discount_total_amount | currency"></b>
					</div>
				</div>
				<div class="form-group">
					<div class="col-md-4">
						<span class="control-label">
							{{'GrandTotal' | translate}}($)
						</span>
					</div>
					<div class="col-md-8">
						<b data-ng-bind="vm.model.grand_total | currency"></b>
					</div>
				</div>
				<div class="form-group">
					<div class="col-md-4">
						<span class="control-label">
							{{'GrandTotal' | translate}}(៛)
						</span>
					</div>
					<div class="col-md-8">
						<b data-ng-bind="vm.model.grand_total * vm.exchange_rate_out | currency:'(៛)'"></b>
					</div>
				</div>
				<div class="form-group">
					<div class="col-md-4">
						<span class="control-label">
							{{'PaymentMethod' | translate}}
						</span>
					</div>
					<div class="col-md-8">
						<b>{{vm.model.payment_method}}</b>
						<div data-ng-show="vm.model.payment_method != 'Cash'">
							<br/>
							{{vm.model.bank_charge}}
						</div>
					</div>
				</div>
				<div class="form-group"
					 data-ng-class="{ 'has-error': saleForm.payment.$error.required && saleForm.$submitted }">
					<div class="col-md-4">
						<span class="control-label">
							{{'Payment' | translate}}
						</span>
					</div>
					<div class="col-md-8">
						<b>{{vm.model.payment | currency}}</b>
					</div>
				</div>
				<div class="form-group">
					<div class="col-md-4">
						<span class="control-label">
							{{'Remaining' | translate}}($)
						</span>
					</div>
					<div class="col-md-8">
						<b><span data-ng-bind="vm.model.remain | currency"></span></b>
					</div>
				</div>
				<div class="form-group">
					<div class="col-md-4">
						<span class="control-label">
							{{'Remaining' | translate}}(៛)
						</span>
					</div>
					<div class="col-md-8">
						<b>
							{{
								(vm.model.remain < 0)
									?
								(vm.model.remain * vm.exchange_rate_in | currency:'(៛)')
									:
								(vm.model.remain * vm.exchange_rate_out | currency:'(៛)')
							}}
						</b>
					</div>
				</div>
				<div class="form-group">
					<div class="col-md-4">
						<span class="control-label">
							{{'CreateBy' | translate}}
						</span>
					</div>
					<div class="col-md-8">						
						<strong data-ng-bind="vm.model.creator"></strong>
					</div>
				</div>
				<div class="form-group">
					<div class="col-md-4">
						<span class="control-label">
							{{'CreateDate' | translate}}
						</span>
					</div>
					<div class="col-md-8">
						<b data-ng-bind="vm.service.dateConvert(vm.model.create_date) | date: 'dd-MM-yyyy h:mm a'"></b>
					</div>
				</div>
				<!-- <div class="form-group">
					<div class="col-md-4">
						<span class="control-label">
							{{'UpdateBy' | translate}}
						</span>
					</div>
					<div class="col-md-8">						
						<strong data-ng-bind="vm.model.update_name"></strong>
					</div>
				</div>
				<div class="form-group">
					<div class="col-md-4">
						<span class="control-label">
							{{'UpdateDate' | translate}}
						</span>
					</div>
					<div class="col-md-8">
						<b data-ng-bind="vm.service.dateConvert(vm.model.update_date) | date: 'dd-MM-yyyy h:mm a'"></b>
					</div>
				</div> -->
				<div class="form-group">
					<div class="col-md-4">
						<span class="control-label">
						</span>
					</div>
					<div class="col-md-8">
						<a class="btn btn-default" ui-sref="received_payment.search">
							<i class="fa fa-step-backward"></i>
							{{'Back' | translate}}
						</a>
						<button class="btn btn-success"
								data-toggle="modal"
                                data-target="#invoice-popup">
							<i class="fa fa-print"></i>
							{{'Print' | translate}}
						</button>
					</div>
				</div>
			</form>
		</div>
	</div>
	<div class="col-md-8">
		<div class="panel panel-default">
			<div class="panel-heading">
				<i class="fa fa-industry"></i>
				{{'PaymentDetail' | translate}}
			</div>
			<div class="panel-body">
				<div class="scroll">
					<table class="table table-bordered table-striped">
						<tr>
							<th width="5%">
								#
							</th>
							<th width="30%">
								{{'InvoiceNo' | translate}}
							</th>
							<th width="15%">
								{{'Date' | translate}}
							</th>
							<th width="20%">
								{{'CustomerName' | translate}}
							</th>
							<th width="10%">
								{{'Balance' | translate}}
							</th>
							<th width="2%"></th>
						</tr>
						<tr data-ng-repeat="list in vm.model.detail">
							<td>
								{{$index + 1}}
							</td>
							<td>
								{{list.invoice_no}}
							</td>
							<td>
								{{vm.service.dateFormat(list.invoice_date)}}
							</td>
							<td>
								{{list.customer_name}}
								<label class="label label-default">
									{{list.customer_code}}
								</label>
							</td>
							<td>
								{{list.balance | currency: ''}}
							</td>
							<td>
								<i class="fa fa-eye hover" data-ng-click="vm.viewDeail(list);" style="font-size: 18px;"></i>
							</td>
						</tr>
					</table>
					<div data-ng-if="vm.model.detail.length == 0 && !vm.loading">
						<empty-data></empty-data>
					</div>
					<div data-ng-if="vm.loading"
						class="align_center">
						<i class="fa fa-refresh fa-spin" style="font-size: 100px;"></i>
					</div>
				</div>
			</div>
		</div>

			
		<!-- view detail invoice-->
		<div class="panel panel-default" data-ng-if="vm.viewDetail.detail.length > 0">
				<div class="panel-heading">
					<i class="fa fa-industry"></i>
					{{'InvoiceDetail' | translate}}
				</div>
				<div class="panel-body">		
					<div class="scroll">
						<table class="table table-bordered table-striped">
							<thead>
								<tr>
									<th width="5%">
										#
									</th>
									<th width="30%">
										{{'Description' | translate}}
									</th>
									<th width="8%">
										{{'Qty' | translate}}
									</th>
									<th width="8%">
										{{'Dis' | translate}} (%)
									</th>
									<th width="8%">
										{{'Dis' | translate}} ($)
									</th>
									<th width="10%">
										{{'Price' | translate}}
									</th>
									<th width="10%">
										{{'Total' | translate}}
									</th>
								</tr>
							</thead>
							<tbody>
								<tr data-ng-repeat="list in vm.viewDetail.detail">
									<td>
										{{$index + 1}}
									</td>
									<td>
										{{list.product_name}}
										<ul>
											<li data-ng-repeat="x in list.description_decode track by $index">
												{{x}}
											</li>
										</ul>
									</td>
									<td>
										{{list.qty}}
									</td>
									<td>
										{{list.discount_percent}}
									</td>
									<td>
										{{list.discount_cash}}
									</td>
									<td>
										{{list.unit_price | currency}}
									</td>
									<td>
										{{list.total | currency}}
									</td>
								</tr>
								<tr>
									<td colspan="6" align="right">
										<strong>{{"SubTotal" | translate}}</strong>
									</td>
									<td>
										{{vm.viewDetail.sub_total | currency}}
									</td>
								</tr>
							</tbody>
						</table>
						<div data-ng-if="vm.viewDetail.length == 0">
							<empty-data></empty-data>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- End -->
	</div>
</div>
<receive-invoice-popup></receive-invoice-popup>
