<div class="panel panel-default">
    <div class="panel-heading">
        <b>{{'CustomerPayment' | translate}}</b>
    </div>
    <div class="panel-body">
        <span role-permission 
            ng-if="featureRole"
            permission="'Receive_Payment_Create'" 
            feature="featureRole">
            <a
                class="btn btn-default"
                ui-sref="received_payment.create"
            >
                <span class="fa fa-plus-circle"></span>
                {{'AddNew' | translate}}
            </a>
        </span>
        <a class="btn btn-sm btn-default pull-right" 
			role-permission 
            ng-if="featureRole"
            permission="'Receive_Payment_Term_View'" 
			feature="featureRole"
			ui-sref="received_payment_term">
			<i class="fa fa-cog"></i>
		</a>
        {{'TotalRecord' | translate}}: {{vm.totalItems}}
        <br/>
        <form>
            <div class="row">
                <div class="form-body">
                    <div class="col-md-3">
                        <div class="input-group input-large">
                            <input type="text"
                                   class="form-control"
                                   data-ng-model="vm.filter"
                                   auto-focus
                                   placeholder="{{'SearchMulti' | translate}}">
                        <span class="input-group-btn">
                            <button type="submit" class="btn blue" data-ng-click="vm.search()">
                                <i class="fa fa-search" data-ng-if="!vm.loading"></i>
                                <i class="fa fa-spinner fa-spin" data-ng-if="vm.loading"></i>
                            </button>
                        </span>
                        </div>
                    </div>
                </div>
            </div>
        </form>
        <div class="table-responsive">
            <table class="table table-bordered table-striped">
                <thead>
                    <th width="5%">
                        #
                    </th>
                    <th width="15%">
                        {{'ReceivePaymentNo' | translate}}
                    </th>
                    <th width="10%">
                        {{'PaymentDate' | translate}}
                    </th>
                    <th width="15%">
                        {{'CustomerName' | translate}}
                    </th>
                    <th width="10%">
                        {{'TotalPayment' | translate}}
                    </th>
                    <th width="10%">
                        {{'TotalBalance' | translate}}
                    </th>
                    <th width="10%">
                        {{'CreateBy' | translate}}
                    </th>
                    <th width="10%">
                        {{'Status' | translate}}
                    </th>
                    <th width="10%">
                        {{'Action' | translate}}
                    </th>
                </thead>
                <tr data-ng-repeat="row in vm.receivedPayments.elements">
                    <td>
                        {{vm.pageSize + $index + 1}}
                    </td>
                    <td>
                        <span data-ng-bind="row.receive_payment_no"></span>
                    </td>
                    <td>
                        <span data-ng-bind="vm.service.dateFormat(row.receive_payment_date)"></span>
                    </td>
                    <td>
                        <span data-ng-bind="row.customer_name"></span>
                        <span class="label label-default">
                            {{row.customer_code}}
                        </span>
                    </td>
                    <td>
                        <span data-ng-bind="row.payment"></span>
                    </td>
                    <td>
                        <span data-ng-bind="row.remain"></span>
                    </td>
                    <td>
                        <span data-ng-bind="row.creator"></span>
                    </td>
                    <td>
                        <label class="label " data-ng-class="{'label-success': row.status == 1, 'label-warning': row.status == 0}">
                            {{row.status == 1 ? ('Record' | translate) : ('Void' | translate) }}
                        </label>
                    </td>
                    <td>
                        <span role-permission 
                            ng-if="featureRole"
                            permission="'Receive_Payment_Disable'" 
                            feature="featureRole">
                            <button uib-tooltip="{{'Void' | translate}}"
                                class="btn btn-success btn-xs"
                                data-ng-click="vm.updateStatus(row);"
                                data-ng-if="row.status == 1"
                            >
                                <span class="fa fa-check-circle-o"></span>
                            </button>
                            <button uib-tooltip="{{'Enable' | translate}}"
                                class="btn btn-warning btn-xs"
                                data-ng-if="row.status == 0"
                                data-ng-disabled="true"
                                data-ng-click="vm.updateStatus(row);"
                            >
                                <span class="fa fa-times-circle"></span>
                            </button>
                        </span>
                        <a ui-sref="received_payment.detail({id: row.id})"
                            class="btn btn-primary btn-xs"
                            uib-tooltip="{{'Detail' | translate}}"
                        >
                            <span class="fa fa-eye"></span>
                        </a>
                        <button role-permission 
                            permission="'Receive_Payment_Delete'" 
                            feature="featureRole"
                            class="btn btn-danger btn-xs"
                            data-ng-click="vm.delete(row);"
                            uib-tooltip="{{'Delete' | translate}}"
                        >
                            <span class="fa fa-trash-o"></span>
                        </button>
                    </td>
                </tr>
            </table>
        </div>
        <div
            data-ng-if="vm.receivedPayments.elements == 0"
        >
            <empty-data></empty-data>
        </div>
        <div
            data-ng-if="!vm.receivedPayments"
            class="align_center"
        >
            <i class="fa fa-refresh fa-spin" style="font-size: 100px;"></i>
        </div>
    </div>
    <div class="panel-footer">
        <ul uib-pagination
            total-items="vm.totalItems"
            ng-model="vm.currentPage"
            ng-change="vm.pageChanged()"
            max-size="5"
            items-per-page="10"
            boundary-links="true"
        ></ul>
    </div>
</div>