<div
    class="modal fade"
    id="invoice-popup"
    data-keyboard="false"
    data-backdrop="static"
>
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-body">
                <div class="" id="print" style="font-size: 11px;">
                    <div class="float-right">
                        Printed By: <span data-ng-bind="userFullName"></span>
                    </div>
                    <br/>
                    <div class="float-right">
                        {{vm.service.getDate() | date: 'dd/MM/yyyy h:mm a' }}
                    </div>
                    <h3 class="border-bootom">{{'Receipt' | translate}}</h3>
                    <table width="100%">
                        <tr>
                            <td valign="top">
                                <h4 data-ng-bind-html="company.company_name"></h4>
                                <p data-ng-bind-html="company.address"></p>
                            </td>
                            <td valign="top">
                                <div>
                                    {{'RefNo' | translate}}: {{vm.printData.stock.receive_payment_no}}
                                </div>
                                <div>
                                    {{'IssueDate' | translate}}: {{vm.service.dateFormat(vm.printData.stock.receive_payment_date)}}
                                </div>
                                <div>
                                    {{'CustomerID' | translate}}: {{vm.printData.stock.customer_code}}
                                </div>
                                <div>
                                    {{'Client' | translate}}: {{vm.printData.stock.customer_name}}
                                </div>
                                <div>
                                    {{'Contact' | translate}}: {{vm.printData.stock.customer_telephone | tel}}
                                </div>
                                <div>
                                    {{'ShootDate' | translate}}: {{vm.service.dateFormat(vm.printData.stock.customer_shoot_date)}}
                                </div>
                                <div>
                                    {{'EventDate' | translate}}: {{vm.service.dateFormat(vm.printData.stock.customer_event_date)}}
                                </div>
                            </td>
                        </tr>
                    </table>
                    <div class="border-bootom"></div>
                    <br/>
                    <table class="table-print">
                        <tr>
                            <th width="5%">
                                {{'No' | translate}}
                            </th>
                            <th width="50%">
                                {{'Description' | translate}}
                            </th>
                            <th width="17%">
                                {{'UnitPrice' | translate}}
                            </th>
                            <!-- <th width="12%">
                                {{'Discount' | translate}}
                            </th> -->
                            <th width="17%">
                                {{'Amount' | translate}}
                            </th>
                        </tr>
                        <tr data-ng-repeat="item in vm.printData.stock_detail" style="vertical-align: top;">
                            <td>
                                {{$index + 1}}
                            </td>
                            <td>
                                <div>{{item.product_name}}</div>
                                <ul>
                                    <li data-ng-repeat="x in item.description_decode track by $index">
                                        {{x}}
                                    </li>
                                </ul>
                            </td>
                            <td>
                                {{item.unit_price | currency}}
                                x
                                {{item.qty}}
                                <div data-ng-if="item.discount_percent">
                                    {{'Dis' | translate}}
                                    {{item.discount_percent | number}}%
                                </div>
                                <div data-ng-if="item.discount_cash">
                                        {{'Dis' | translate}}
                                        {{item.discount_cash | currency}}
                                </div>
                            </td>
                            <td>
                                {{item.total | currency}}
                            </td>
                        </tr>
                        <tr style="vertical-align: top;">
                            <td rowspan="6" colspan="2">
                                
                            </td>
                            <td align="right" colspan="3">
                                <b>
                                    {{'SubTotal' | translate}} : 
                                    {{vm.printData.stock.sub_total | currency}}
                                </b>
                                <div data-ng-if="vm.printData.stock.discount_before">
                                    <i>
                                        <small>
                                            {{'DiscountBefore' | translate}}:
                                            {{vm.printData.stock.discount_before | currency}}
                                        </small>
                                    </i>
                                </div>
                            </td>
                        </tr>
                        <tr valign="right">
                            <td align="right" colspan="3">
                                <b>
                                    {{'Discount' | translate}}:
                                    <span ng-if="vm.printData.stock.discount_amount > 0 && vm.printData.stock.discount_type == 'percent'">
                                        {{vm.printData.stock.discount_amount}}% =
                                    </span>
                                    <span data-ng-bind="vm.printData.stock.discount_total_amount | currency"></span>
                                </b>
                            </td>
                        </tr>
                        <tr valign="right">
                            <td align="right" colspan="3">
                                <b>
                                    {{'GrandTotal'|translate}}:
                                    <span data-ng-bind="vm.printData.stock.grand_total - vm.printData.stock.discount_total_amount | currency"></span>
                                </b>
                            </td>
                        </tr>
                        <tr>
                            <td align="right" colspan="3">
                                <b>
                                    {{'Deposit'|translate}}: 
                                    {{vm.printData.stock.deposit | currency}}
                                </b>
                            </td>
                        </tr>
                        <tr>
                            <td align="right" colspan="3">
                                <b>
                                    {{'Adds' | translate}}:
                                    {{vm.printData.stock.adds | currency}}
                                </b>
                            </td>
                        </tr> 
                        <tr>
                            <td align="right" colspan="3">
                                <b>
                                    {{'Balance'| translate}}:
                                    <span data-ng-bind="vm.printData.stock.remain | currency"></span>
                                </b>
                            </td>
                        </tr>
                    </table>
                    <br/>
                    <table style="width: 100%;text-align: center;">
                        <tr>
                            <td valign="top" width="60%">
                                <div style="    
                                    text-align: justify;
                                    font-weight: 600;
                                    margin-bottom: 10px;">
                                    {{'TermsAndConditions' | translate}}
                                </div>
                                <div data-ng-bind-html="vm.printData.stock.term_condition" style="text-align: justify;"></div>
                            </td>
                            <td valign="top" width="20%">
                                <b>{{'ClientSignature' | translate}}</b>
                                <div class="create-by"></div>
                                <div>
                                    {{'Date' | translate}}: 
                                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; / 
                                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; /
                                </div>
                            </td>
                            <td valign="top" width="20%">
                                <b>{{'CreateBy' | translate}}</b>
                                <div class="create-by">
                                    {{userName}}
                                </div>
                            </td>
                        </tr>
                    </table>
                    <div style="
							text-align: center;
							vertical-align: middle;
							text-transform: capitalize;
							font-size: 10px;
                            margin-top: 70px;
                    ">
                        We are looking forwarding to see you again soon. Thank you for choosing g-rise.
                        <br/>
                        Power by SKWEB Solution. Tel: 070 955 102
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button class="btn btn-default"
                        data-dismiss="modal"
                        data-ng-click="vm.invoiceNo = ''"
                >
                    <i class="fa fa-close"></i>
                    {{'Close' | translate}}
                </button>
                <button class="btn btn-primary"
                        onclick="PrintElem('#print')"
                >
                    <i class="fa fa-print"></i>
                    {{'Print' | translate}}
                </button>
            </div>
        </div>
    </div>
</div>