<div class="panel panel-default">
	<div class="panel-heading">
		<b>{{'AppointmentInfo' | translate}}</b>
		<a
				class="btn no-padding pull-right"
				onclick="history.go(-1)"
		>
			<i class="fa fa-step-backward"></i>
			{{'Back' | translate}}
		</a>
	</div>
	<form data-ng-submit="vm.save();" name="appointmentCreate" class="form-horizontal" novalidate>
		<div class="panel-body">
			<div class="col-md-12">
				<div class="form-group"
					 data-ng-class="{ 'has-error': appointmentCreate.customer.$error.required && appointmentCreate.$submitted }">
					<div class="col-md-2">
						<span class="control-label">
							{{'CustomerName' | translate}}
							<span class="required">*</span>
						</span>
					</div>
					<div class="col-md-4">
						<customer-list-drop-down ng-model="vm.customerObj"
												 name="customer"
												 required="required"></customer-list-drop-down>
						<div translate="ThisFieldRequire" class="has-error msg-error msg-drop-down"
							 data-ng-if="appointmentCreate.customer.$error.required && appointmentCreate.$submitted"></div>
					</div>
				</div>
			</div>
			<div class="col-md-12" data-ng-if="vm.customerObj.customers_gender">
				<div class="form-group"
					 data-ng-class="{ 'has-error': appointmentCreate.gender.$error.required && appointmentCreate.$submitted }">
					<div class="col-md-2">
							<span class="control-label">
								{{'Gender' | translate}}
							</span>
					</div>
					<div class="col-md-4">
						<input class="form-control"
							   data-ng-model="vm.customerObj.customers_gender"
							   placeholder="{{'Gender' | translate}}"
							   disabled/>
					</div>
				</div>
			</div>
			<div class="col-md-12" data-ng-if="vm.customerObj.customers_code">
				<div class="form-group">
					<div class="col-md-2">
						<span class="control-label">
							{{'Code' | translate}}
						</span>
					</div>
					<div class="col-md-4">
						<input type="text"
							   class="form-control"
							   data-ng-model="vm.customerObj.customers_code"
							   name="code"
							   disabled
							   placeholder="{{'Code' | translate}}" />
					</div>
				</div>
			</div>
			<div class="col-md-12" data-ng-if="vm.customerObj.customers_email_address">
				<div class="form-group"
					 data-ng-class="{ 'has-error': appointmentCreate.email.$invalid && appointmentCreate.$submitted }">
					<div class="col-md-2">
						<span class="control-label">
							{{'Email' | translate}}
						</span>
					</div>
					<div class="col-md-4">
						<input type="email"
							   class="form-control"
							   data-ng-model="vm.customerObj.customers_email_address"
							   name="email"
							   disabled
							   placeholder="{{'Email' | translate}}" />
						<div translate="InvalidInput" class="has-error msg-error"
							 data-ng-if="appointmentCreate.email.$error.email && appointmentCreate.$submitted"></div>
					</div>
				</div>
			</div>
			<div class="col-md-12" data-ng-if="vm.customerObj.customers_telephone">
				<div class="form-group">
					<div class="col-md-2">
						<span class="control-label">
							{{'Telephone' | translate}}
						</span>
					</div>
					<div class="col-md-4">
						<input type="text"
							   class="form-control"
							   disabled
							   phone-input
							   data-ng-model="vm.customerObj.customers_telephone"
							   name="telephone"
							   placeholder="{{'Telephone' | translate}}"/>
					</div>
				</div>
			</div>
			<div class="col-md-12" data-ng-if="vm.customerObj.customers_address">
				<div class="form-group">
					<div class="col-md-2">
						<span class="control-label">
							{{'Address' | translate}}
						</span>
					</div>
					<div class="col-md-4">
						<textarea type="text" rows="5"
							   class="form-control"
							   disabled
							   data-ng-model="vm.customerObj.customers_address"
							   name="telephone"
							   placeholder="{{'Address' | translate}}"/>
					</div>
				</div>
			</div>
			<div class="col-md-12"
				data-ng-class="{ 'has-error': appointmentCreate.doctor.$error.required && appointmentCreate.$submitted }">
				<div class="form-group">
					<div class="col-md-2">
						<span class="control-label">
							{{'AppointmentDoctor' | translate}}
							<span class="required">*</span>
						</span>
					</div>
					<div class="col-md-4">
						<doctor-list-drop-down doctor-model="vm.doctorObj"
								name="doctor"
								use-filter="1"
								required="required" ></doctor-list-drop-down>
						<div translate="ThisFieldRequire" class="has-error msg-error msg-drop-down"
							 data-ng-if="appointmentCreate.doctor.$error.required && appointmentCreate.$submitted"></div>
					</div>
				</div>
			</div>
			<div class="col-md-12"
				data-ng-class="{ 'has-error': appointmentCreate.appointmentDate.$error.required && appointmentCreate.$submitted }">
				<div class="form-group">
					<div class="col-md-2">
						<span class="control-label">
							{{'AppointmentDate' | translate}}
							<span class="required">*</span>
						</span>
					</div>
					<div class="col-md-4">
						<div class="input-group input-large" cambodia-date-picker date-format="{{dateFormat}}">
							<input type="text"
								   class="form-control"
								   name="appointmentDate"
								   required="required" 
								   data-ng-model="vm.appointment.appointment_date"
								   auto-focus
								   placeholder="{{'AppointmentDate' | translate}}">
							<span class="input-group-btn">
								<button class="btn blue">
									<i class="fa fa-calendar"></i>
								</button>
							</span>
						</div>
						<div translate="ThisFieldRequire" class="has-error msg-error msg-drop-down"
							 data-ng-if="appointmentCreate.appointmentDate.$error.required && appointmentCreate.$submitted"></div>
					</div>
				</div>
			</div>
			<div class="col-md-12">
				<div class="form-group">
					<div class="col-md-2">
						<span class="control-label">
							{{'Time' | translate}}
						</span>
						<span class="required">*</span>
					</div>
					<div class="col-md-4">
						<div uib-timepicker 
							ng-model="vm.appointment.appointment_period" 
							hour-step="vm.hstep" 
							minute-step="vm.mstep" 
							show-meridian="vm.ismeridian"></div>
					</div>
				</div>
			</div>
			
			<div class="col-md-12">
				<div class="form-group">
					<div class="col-md-2">
						<span class="control-label">
							{{'Description' | translate}}
						</span>
					</div>
					<div class="col-md-4">
						<textarea type="text" rows="5"
							   class="form-control"
							   data-ng-model="vm.appointment.description"
							   placeholder="{{'Description' | translate}}"/>
					</div>
				</div>
			</div>
		</div>
		<div class="modal-footer">
			<a
				class="btn btn-default"
				data-dismiss="modal"
				ui-sref="appointment.list"
				href="javascript:;"
			>
				<i class="fa fa-close"></i>
				{{'Close' | translate}}
			</a>
			<button
				class="btn btn-primary"
				data-ng-disabled="!vm.disable"
			>
				<i class="fa fa-save" data-ng-if="vm.disable"></i>
				<i class="fa fa-spin fa-spinner" data-ng-if="!vm.disable"></i>
				{{'Save' | translate}}
			</button>
		</div>
	</form>
</div>


