<div class="panel panel-default">
    <div class="panel-heading">
        <b>{{'Appointment' | translate}}</b>
    </div>
    <div class="panel-body">
        <span role-permission 
            ng-if="featureRole"
            permission="'Appointment_Create'" 
            feature="featureRole">
            <a
                class="btn btn-default"
                ui-sref="appointment.create"
            >
                <span class="fa fa-plus-circle"></span>
                {{'AddNew' | translate}}
            </a>
        </span>
        {{'TotalRecord' | translate}}: {{vm.totalItems}}
        <br/>
        <form>
            <div class="row">
                <div class="form-body">
                    <div class="col-md-3">
                        <div class="input-group input-large">
                            <input type="text"
                                   class="form-control"
                                   data-ng-model="vm.customer_name"
                                   auto-focus
                                   placeholder="{{'SearchMulti' | translate}}">

                        <span class="input-group-btn">
                            <button type="submit" class="btn blue" data-ng-click="vm.search()">
                                <i class="fa fa-search" data-ng-if="!vm.loading"></i>
                                <i class="fa fa-spinner fa-spin" data-ng-if="vm.loading"></i>
                            </button>
                        </span>
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-6">
                        <div cambodia-date-picker date-format="y-MM-dd" class="input-group">
                            <input type="text"
                                   class="form-control"
                                   data-ng-model="vm.from_date"
                                   placeholder="{{'FromDate' | translate}}"/>
                            <span class="input-group-btn">
                                <button class="btn btn-default" type="button">
                                    <i class="fa fa-calendar"></i>
                                </button>
                            </span>
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-6">
                        <div cambodia-date-picker date-format="y-MM-dd" class="input-group">
                            <input type="text"
                                   class="form-control"
                                   data-ng-model="vm.to_date"
                                   placeholder="{{'ToDate' | translate}}"/>
                            <span class="input-group-btn">
                                <button class="btn btn-default" type="button">
                                    <i class="fa fa-calendar"></i>
                                </button>
                            </span>
                        </div>
                    </div>
                </div>
            </div>
        </form>
        <div class="table-responsive">
            <table class="table table-bordered table-striped">
                <thead>
                    <th width="5%">
                        #
                    </th>
                    <th width="17%">
                        {{'CustomerName' | translate}}
                    </th>
                    <th width="15%">
                        {{'AppointmentDoctor' | translate}}
                    </th>
                    <th width="11%">
                        {{'AppointmentDate' | translate}}
                    </th>
                    <th width="8%">
                        {{'Time' | translate}}
                    </th>
                    <th width="25%">
                        {{'Description' | translate}}
                    </th>
                    <th width="7%">
                        {{'Status' | translate}}
                    </th>
                    <th width="15%">
                        {{'Action' | translate}}
                    </th>
                </thead>
                <tr data-ng-repeat="appointment in vm.appointments">
                    <td>
                        {{vm.pageSize + $index + 1}}
                    </td>
                    <td>
                        <span data-ng-bind="appointment.customer_detail[0].customers_name"></span>
                        <span data-ng-bind="appointment.customer_detail[0].customers_code" class="label label-sm label-primary"></span>
                    </td>
                    <td>
                        <span data-ng-bind="appointment.doctor_detail[0].name"></span>
                    </td>
                    <td>
                        <span data-ng-bind="vm.service.dateFormat(appointment.appointment_date)"></span>
                    </td>
                    <td>
                        <span data-ng-bind="appointment.appointment_period | date: 'h:mm a'"></span>
                        <!-- <span data-ng-bind="vm.service.convertDateToUTC(appointment.appointment_period) | date: 'h:mm a'"></span> -->
                    </td>
                    <td>
                        <span data-ng-bind-html="appointment.description"></span>
                    </td>
                    <td>
                        <label class="label " data-ng-class="{'label-success': appointment.status == 2, 
                        'label-primary': appointment.status == 1, 
                        'label-warning': appointment.status == 0}">
                            <span ng-bind="'CancelMet' | translate" ng-if="appointment.status == 0"></span>
                            <span ng-bind="'AlreadyMet' | translate" ng-if="appointment.status == 2"></span>
                            <span ng-bind="'Pending' | translate" ng-if="appointment.status == 1"></span>
                        </label>
                    </td>
                    <td>
                        <span role-permission 
                            ng-if="featureRole"
                            permission="'Appointment_Edit'" 
                            feature="featureRole">
                            <a class="btn btn-default btn-xs" ui-sref="appointment.edit({id: appointment.id})" uib-tooltip="{{'Edit' | translate}}">
                                <i class="fa fa-edit"></i>
                            </a>
                        </span>
                        <span role-permission 
                            ng-if="featureRole"
                            permission="'Appointment_Disable'" 
                            feature="featureRole">
                            <a  href="" class="btn btn-warning btn-xs"
                                uib-tooltip="{{'CancelMet' | translate}}"
                                data-ng-click="vm.updateStatus(appointment, 0);"
                            >
                                <i class="fa fa-times-circle-o"></i>
                            </a>
                                <a href="" class="btn btn-success btn-xs"
                                uib-tooltip="{{'AlreadyMet' | translate}}"
                                data-ng-click="vm.updateStatus(appointment, 2);"
                            > 
                                <i class="fa fa-times-circle-o"></i>
                            </a>
                        </span>
                    </td>
                </tr>
            </table>
        </div>
        <div data-ng-if="!vm.appointments.length || vm.appointments.length == 0">
            <empty-data></empty-data>
        </div>
        <div data-ng-if="!vm.appointments" class="align_center">
            <i class="fa fa-refresh fa-spin" style="font-size: 100px;"></i>
        </div>
    </div>
    <div class="panel-footer">
        <ul uib-pagination
            total-items="vm.totalItems"
            ng-model="vm.currentPage"
            ng-change="vm.pageChanged()"
            max-size="5"
            items-per-page="10"
            boundary-links="true"
        ></ul>
    </div>
</div>