<div class="panel panel-default">
	<div class="panel-heading">
		{{'SaleSummaryReport' | translate}}
	</div>
	<div class="panel-body">
		<form class="row" name="report" novalidate>
			<div class="col-md-2 col-sm-6"
				 data-ng-class="{ 'has-error': report.from_date.$error.required && report.$submitted }">
				<div cambodia-date-picker date-format="y-MM-dd" class="input-group">
					<input type="text"
						   class="form-control"
						   data-ng-model="vm.from_date"						   
						   name="from_date"
						   placeholder="{{'FromDate' | translate}}"/>
					<span class="input-group-btn">
						<button class="btn btn-default" type="button">
							<i class="fa fa-calendar"></i>
						</button>
					</span>
				</div>
				<div translate="ThisFieldRequire" class="has-error msg-error msg-drop-down"
					 data-ng-if="report.from_date.$error.required && report.$submitted"></div>
			</div>
			<div class="col-md-2 col-sm-6"
				 data-ng-class="{ 'has-error': report.to_date.$error.required && report.$submitted }">
				<div cambodia-date-picker date-format="y-MM-dd" class="input-group">
					<input type="text"						   
						   name="to_date"
						   class="form-control"
						   data-ng-model="vm.to_date"
						   placeholder="{{'ToDate' | translate}}"/>
					<span class="input-group-btn">
						<button class="btn btn-default" type="button">
							<i class="fa fa-calendar"></i>
						</button>
					</span>
				</div>
				<div translate="ThisFieldRequire"
					 class="has-error msg-error msg-drop-down"
					 data-ng-if="report.to_date.$error.required && report.$submitted"></div>
			</div>
			<div class="col-md-3">
				<customer-list-drop-down ng-model="vm.customer"></customer-list-drop-down>
			</div>
			<div class="col-md-5">
				<button class="btn btn-primary"
						data-ng-click="vm.from_date = ''; vm.to_date = '';vm.customer=null"
						uib-tooltip="{{'ClearSelect' | translate}}">
					<i class="fa fa-refresh" aria-hidden="true"></i>
				</button>
				<button class="btn btn-success" data-ng-click="vm.init();">
					<i class="fa fa-hourglass-half"></i>
					{{'Filter' | translate}}
				</button>
				<button class="btn btn-default margin-top"
						onclick="PrintElem('#print')"
						data-ng-disabled="!vm.stockOut.count">
					<i class="fa fa-print"></i>
					{{'Print' | translate}}
				</button>
				<span role-permission 
					 ng-if="featureRole"
					 permission="'Sell_Summary_Report_Export'" 
					 feature="featureRole">
					<button class="btn btn-info margin-top"
							ng-csv="vm.csv"
							data-ng-disabled="!vm.stockOut.count"
							add-bom="true"
							csv-header="vm.headers"
							filename="sale_summary_report.csv">
						<i class="fa fa-file-excel-o"></i>
						{{'ExportCSV' | translate}}
					</button>
				</span>
			</div>
		</form>

		<div data-ng-if="vm.stockOut.count" id="print" class="table-responsive">
			<table width="100%">
				<tr>
					<td align="center">
						<h3 ng-bind="company.company_name"></h3>
						<h4>
							{{'SaleSummaryReport' | translate}}
						</h4>
						{{'FromDate' | translate}} {{vm.from_date}}
						{{'ToDate' | translate}} {{vm.to_date}}
					</td>
				</tr>
			</table>
			<br/>
			<table class="table-print">
				<tr>
					<th>
						#
					</th>
					<th>
						{{'InvoiceNo' | translate}}
					</th>
					<th>
						{{'InvoiceDate'| translate}}
					</th>
					<th>
						{{'CustomerName'| translate}}
					</th>
					<th>
						{{'CheckBy'| translate}}
					</th>
					<th>
						{{'Discount' | translate}}
					</th>
					<th>
						{{'TotalDiscountAmount' | translate}}
					</th>
					<th>
						{{'SubTotal' | translate}}
					</th>
				</tr>
				<tr data-ng-repeat="item in vm.stockOut.elements">
					<td>
						{{$index + 1}}
					</td>
					<td>
						<a ui-sref="report_sale({data: item})" class="link">
							{{item.stock_out_no}}
						</a>
					</td>
					<td>
						{{vm.service.dateFormat(item.stock_out_date)}}
					</td>
					<td>
						{{item.customer_name}}
						<span class="label label-primary">
							{{item.customer_code}}
						</span>
						<small>
							({{item.customer_telephone | tel}})
						</small>
					</td>
					<td>
						<span data-ng-repeat="i in item.doctor_detail">
                            {{i.doctor_name}}
                            <span data-ng-if="!$last"> + </span>
                        </span>
					</td>
					<td>
						{{item.discount_amount}}
						<span data-ng-if="item.discount_type=='percent'">
							%
						</span>
						<span data-ng-if="item.discount_type=='dollar'">
							$
						</span>
					</td>
					<td>
						{{item.discount_total_amount | currency}}
					</td>
					<td>
						{{item.grand_total | currency}}
					</td>
				</tr>
				<tr>
					<td colspan="7" align="right">
						<b translate="TotalDiscount"></b>
					</td>
					<td>
						<b>{{vm.discount_total_amount | currency}}</b>
					</td>
				</tr>
				<tr>
					<td colspan="7" align="right">
						<b translate="GrandTotal"></b>
					</td>
					<td>
						<b>{{vm.grand_total | currency: ''}}</b>
					</td>
				</tr>
			</table>
		</div>
		<div
			data-ng-if="vm.stockOut.count == 0"
		>
			<empty-data></empty-data>
		</div>
		<div
			data-ng-if="!vm.loading"
			class="align_center"
		>
			<i class="fa fa-refresh fa-spin" style="font-size: 100px;"></i>
		</div>
	</div>
</div>
