<div class="panel panel-default">
	<div class="panel-heading">
		{{'CashFlowReport' | translate}}
	</div>
	<div class="panel-body">
		<form class="row" name="report" novalidate>
			<div class="col-md-2 col-sm-6"
				 data-ng-class="{ 'has-error': report.from_date.$error.required && report.$submitted }">
				<div cambodia-date-picker date-format="y-MM-dd" class="input-group">
					<input type="text"
						   class="form-control"
						   data-ng-model="vm.from_date"
						   required
						   name="from_date"
						   placeholder="{{'FromDate' | translate}}"/>
					<span class="input-group-btn">
						<button class="btn btn-default" type="button">
							<i class="fa fa-calendar"></i>
						</button>
					</span>
				</div>
				<div translate="ThisFieldRequire" class="has-error msg-error msg-drop-down"
					 data-ng-if="report.from_date.$error.required && report.$submitted"></div>
			</div>
			<div class="col-md-2 col-sm-6"
				 data-ng-class="{ 'has-error': report.to_date.$error.required && report.$submitted }">
				<div cambodia-date-picker date-format="y-MM-dd" class="input-group">
					<input type="text"
						   required
						   name="to_date"
						   class="form-control"
						   data-ng-model="vm.to_date"
						   placeholder="{{'ToDate' | translate}}"/>
					<span class="input-group-btn">
						<button class="btn btn-default" type="button">
							<i class="fa fa-calendar"></i>
						</button>
					</span>
				</div>
				<div translate="ThisFieldRequire"
					 class="has-error msg-error msg-drop-down"
					 data-ng-if="report.to_date.$error.required && report.$submitted"></div>
			</div>
			<div class="col-md-5">
				<button class="btn btn-primary"
						data-ng-click="vm.from_date = ''; vm.to_date = '';vm.vendor = null;"
						uib-tooltip="{{'ClearSelect' | translate}}">
					<i class="fa fa-refresh" aria-hidden="true"></i>
				</button>
				<button class="btn btn-success" data-ng-click="vm.init();">
					<i class="fa fa-hourglass-half"></i>
					{{'Filter' | translate}}
				</button>
				<button class="btn btn-default margin-top"
						onclick="PrintElem('#print')"
						data-ng-disabled="!vm.count">
					<i class="fa fa-print"></i>
					{{'Print' | translate}}
				</button>
				<span role-permission 
					 ng-if="featureRole"
					 permission="'Daily_Case_Report_Export'" 
					 feature="featureRole">
					<button class="btn btn-info margin-top"
							ng-csv="vm.csv"
							data-ng-disabled="!vm.count"
							add-bom="true"
							feature="featureRole"
							filename="dialy_cash_flow_report.csv">
						<i class="fa fa-file-excel-o"></i>
						{{'ExportCSV' | translate}}
					</button>
				</span>
			</div>
		</form>
		<div data-ng-if="vm.caseFlow" id="print">
			<table width="100%">
				<tr>
					<td align="center">
						<h3>{{company.name}}</h3>
						<h4>
							{{'CashFlowReport' | translate}}
						</h4>
						{{'FromDate' | translate}}: {{vm.from_date}} 
						-
						{{'ToDate' | translate}}: {{vm.to_date}}
					</td>
				</tr>
			</table>
			<br/>
			<table class="table-print">
				<tr>
					<th>
						#
					</th>
					<th>
						{{'InvoiceNo' | translate}}
					</th>
					<th>
						{{'InvoiceDate' | translate}}
					</th>
					<th>
						{{'PaymentMethod' | translate}}
					</th>
					<th>
						{{'Total' | translate}}
					</th>
				</tr>
				<tr data-ng-repeat="i in vm.caseFlow.elements">
					<td>
						{{$index +1}}
					</td>
					<td>
						<span data-ng-bind="i.invoice_no"></span>
					</td>
					<td>
						<span data-ng-bind="vm.service.dateFormat(i.invoice_date)"></span>
					</td>
					<td>
						<span data-ng-bind="i.payment_method"></span>
					</td>
					<td>
						<span data-ng-bind="i.payment | currency"></span>
					</td>
				</tr>
				<tr>
					<td colspan="4" align="right">
						<b>{{'SubTotal' | translate}}</b>
					</td>
					<td>
						<b>{{vm.total_payment_amount | currency}}</b>
					</td>
				</tr>
			</table>
			<div data-ng-if="vm.caseFlow.count == 0">
				<empty-data></empty-data>
			</div>
			<br/><br/>
		</div>
		<div
			data-ng-if="!vm.loading"
			class="align_center">
			<i class="fa fa-refresh fa-spin" style="font-size: 100px;"></i>
		</div>
	</div>
</div>
