<!-- List Of Purchase -->
<div class="panel panel-default">
	<div class="panel-heading">
		<b>{{'ProductReceive' | translate}}</b>
	</div>
	<div class="panel-body">
		<a class="btn btn-default" ui-sref="product_receive.create">
			<i class="fa fa-plus"></i>
			{{'AddNew' | translate}}
		</a>
		{{'TotalRecord' | translate}}: {{vm.totalItems}}
        <br/>
		<form class="row">
			<div class="form-body">
				<div class="col-md-3">
					<div class="input-group input-large">
						<input type="text"
							   class="form-control"
							   data-ng-model="vm.reference_no"
							   auto-focus
							   placeholder="{{'Search' | translate}}">

                        <span class="input-group-btn">
                            <button type="submit" class="btn blue" data-ng-click="vm.search()">
								<i class="fa fa-search" data-ng-if="!vm.loading"></i>
								<i class="fa fa-spinner fa-spin" data-ng-if="vm.loading"></i>
							</button>
                        </span>
					</div>
				</div>
			</div>
		</form>
		<div class="table-responsive">
			<table class="table table-bordered table-striped">
				<thead>
					<tr>
						<th width="5%">
							#
						</th>
						<th width="20%">
							{{'ReceiveNo' | translate}}
						</th>
						<th width="20%">
							{{'ReceiveFromBranch' | translate}}
						</th>
						<th width="12%">
							{{'ReceiveDate' | translate}}
						</th>
						<th width="20%">
							{{'Description' | translate}}
						</th>
						<th width="10%">
							{{'Status' | translate}}
						</th>
						<th width="13%">
							{{'Action' | translate}}
						</th>
					</tr>
				</thead>
				<tr data-ng-repeat="p in vm.model.elements">
					<td>
						{{vm.pageSize + $index + 1}}
					</td>
					<td>
						{{p.receive_product_no}}
					</td>
					<td>
						{{p.receive_product_branch_name}}
					</td>
					<td>
						{{vm.service.dateFormat(p.receive_product_date)}}
					</td>
					<td>
						{{p.description}}
					</td>
					<td>
						<label class="label " data-ng-class="{'label-success': p.status == 1, 
                        'label-warning': p.status == 0}">
                            <span ng-bind="'Disable' | translate" ng-if="p.status == 0"></span>
                            <span ng-bind="'Enable' | translate" ng-if="p.status == 1"></span>
                        </label>
					</td>		
					<td>
						<!--<a ui-sref="purchase.edit({id: p.id})"-->
						   <!--uib-tooltip="{{'Edit' | translate}}"-->
						   <!--class="btn btn-default"-->
						<!--&gt;-->
							<!--<span class="fa fa-edit"></span>-->
						<!--</a>-->
						<button uib-tooltip="{{'Void' | translate}}"
							class="btn btn-success btn-xs"
							data-ng-click="vm.updateStatus(p);"
							data-ng-if="p.status == 1"
						>
							<span class="fa fa-check-circle-o"></span>
						</button>
						<button uib-tooltip="{{'Enable' | translate}}"
							class="btn btn-warning btn-xs"
							data-ng-if="p.status == 0"
							data-ng-disabled="true"
							data-ng-click="vm.updateStatus(p);"
						>
							<span class="fa fa-times-circle"></span>
						</button>
						<a ui-sref="product_receive.detail({id: p.id})"
						   class="btn btn-primary btn-xs"
						   uib-tooltip="{{'Detail' | translate}}"
						>
							<span class="fa fa-eye"></span>
						</a>
					</td>
				</tr>
			</table>
		</div>
		<div
			data-ng-if="!vm.model || vm.model.count == 0"
		>
			<empty-data></empty-data>
		</div>
		<div
				data-ng-if="!vm.model"
				class="align_center"
		>
			<i class="fa fa-refresh fa-spin" style="font-size: 100px;"></i>
		</div>
		<div class="panel-footer">
			<ul uib-pagination
				total-items="vm.totalItems"
				ng-model="vm.currentPage"
				ng-change="vm.pageChanged()"
				max-size="10"
				items-per-page="10"
				boundary-links="true"
			></ul>
		</div>
	</div>
</div>
