<div class="panel panel-default">
    <div class="panel-heading">
        <b>{{'Calendar' | translate}}</b>
    </div>
    <div class="panel-body">
        <div class="row">
            <div class="col-md-6">
              <div class="btn-group">
                <div class="btn-group" role="group">
                  <button type="button" class="btn btn-default" 
                    mwl-date-modifier
                    date="vm.viewDate"
                    decrement="vm.calendarView"
                    ng-click="vm.cellIsOpen = false; vm.init();">
                    Previous
                  </button>
                </div>
                <div class="btn-group" role="group">
                  <button type="button" class="btn btn-default" mwl-date-modifier
                    date="vm.viewDate"
                    set-to-today
                    ng-click="vm.cellIsOpen = false; vm.init();">
                    Today
                </button>
                </div>
                <div class="btn-group" role="group">
                  <button type="button" class="btn btn-default" mwl-date-modifier
                    date="vm.viewDate"
                    increment="vm.calendarView"
                    ng-click="vm.cellIsOpen = false; vm.init();">
                    Next
                  </button>
                </div>
              </div>
            </div>
        {{vm.viewDate | date: 'dd/MM/yyyy h:mm: a'}}=>{{vm.calendarView}}
            <br class="visible-xs visible-sm">
        
            <div class="col-md-6 text-right">
              <div class="btn-group">
                <label class="btn btn-primary" ng-model="vm.calendarView" uib-btn-radio="'year'" ng-click="vm.cellIsOpen = false">Year</label>
                <label class="btn btn-primary" ng-model="vm.calendarView" uib-btn-radio="'month'" ng-click="vm.cellIsOpen = false">Month</label>
                <label class="btn btn-primary" ng-model="vm.calendarView" uib-btn-radio="'week'" ng-click="vm.cellIsOpen = false">Week</label>
                <label class="btn btn-primary" ng-model="vm.calendarView" uib-btn-radio="'day'" ng-click="vm.cellIsOpen = false">Day</label>
              </div>
            </div>
        
          </div>
        
          <br>
        
          <mwl-calendar
            events="vm.events"
            view="vm.calendarView"
            view-title="vm.calendarTitle"
            view-date="vm.viewDate"
            on-event-click="vm.eventClicked(calendarEvent)"
            on-event-times-changed="vm.eventTimesChanged(calendarEvent); calendarEvent.startsAt = calendarNewEventStart; calendarEvent.endsAt = calendarNewEventEnd"
            cell-is-open="vm.cellIsOpen"
            day-view-start="06:00"
            day-view-end="22:59"
            day-view-split="30"
            cell-modifier="vm.modifyCell(calendarCell)"
            cell-auto-open-disabled="true"
            on-timespan-click="vm.timespanClicked(calendarDate, calendarCell)">
          </mwl-calendar>
        
          <br><br><br>
        
          <h3 id="event-editor">
            Edit events
            <button
              class="btn btn-primary pull-right"
              ng-click="vm.addEvent()">
              Add new
            </button>
            <div class="clearfix"></div>
          </h3>
        
          <table class="table table-bordered">
        
            <thead>
              <tr>
                <th>Title</th>
                <th>Primary color</th>
                <th>Secondary color</th>
                <th>Starts at</th>
                <th>Ends at</th>
                <th>Remove</th>
              </tr>
            </thead>
        
            <tbody>
              <tr ng-repeat="event in vm.events track by $index">
                <td>
                  <input
                    type="text"
                    class="form-control"
                    ng-model="event.title">
                </td>
                <td>
                  <input class="form-control" colorpicker type="text" ng-model="event.color.primary">
                </td>
                <td>
                  <input class="form-control" colorpicker type="text" ng-model="event.color.secondary">
                </td>
                <td>
                  <p class="input-group" style="max-width: 250px">
                    <input
                      type="text"
                      class="form-control"
                      readonly
                      uib-datepicker-popup="dd MMMM yyyy"
                      ng-model="event.startsAt"
                      is-open="event.startOpen"
                      close-text="Close" >
                    <span class="input-group-btn">
                      <button
                        type="button"
                        class="btn btn-default"
                        ng-click="vm.toggle($event, 'startOpen', event)">
                        <i class="glyphicon glyphicon-calendar"></i>
                      </button>
                    </span>
                  </p>
                  <div
                    uib-timepicker
                    ng-model="event.startsAt"
                    hour-step="1"
                    minute-step="15"
                    show-meridian="true">
                  </div>
                </td>
                <td>
                  <p class="input-group" style="max-width: 250px">
                    <input
                      type="text"
                      class="form-control"
                      readonly
                      uib-datepicker-popup="dd MMMM yyyy"
                      ng-model="event.endsAt"
                      is-open="event.endOpen"
                      close-text="Close">
                    <span class="input-group-btn">
                      <button
                        type="button"
                        class="btn btn-default"
                        ng-click="vm.toggle($event, 'endOpen', event)">
                        <i class="glyphicon glyphicon-calendar"></i>
                      </button>
                    </span>
                  </p>
                  <div
                    uib-timepicker
                    ng-model="event.endsAt"
                    hour-step="1"
                    minute-step="15"
                    show-meridian="true">
                  </div>
                </td>
                <td>
                  <button
                    class="btn btn-danger"
                    ng-click="vm.events.splice($index, 1)">
                    Delete
                  </button>
                </td>
              </tr>
            </tbody>
        
          </table>
    </div>
</div>