<div class="panel panel-default">
	<div class="panel-heading">
		{{'StockAdjustmentReport' | translate}}
	</div>
	<div class="panel-body">
		<div class="row">
			<div class="col-md-2">
				<div class="form-group">
					<div class="">
						<div cambodia-date-picker date-format="y-MM-dd" class="input-group">
							<input type="text" class="form-control" data-ng-model="vm.from_date"  placeholder="{{'FromDate' | translate}}"/>
						<span class="input-group-btn">
				        	<button class="btn btn-default" type="button">
								<i class="fa fa-calendar"></i>
							</button>
						</span>
						</div>
					</div>
				</div>
			</div>
			<div class="col-md-2">
				<div class="form-group">
					<div class="">
						<div cambodia-date-picker date-format="y-MM-dd" class="input-group">
							<input type="text" class="form-control" data-ng-model="vm.to_date" placeholder="{{'ToDate' | translate}}"/>
							<span class="input-group-btn">
								<button class="btn btn-default" type="button">
									<i class="fa fa-calendar"></i>
								</button>
							</span>
						</div>
					</div>
				</div>
			</div>
			<div class="col-md-2">
				<div class="form-group">
					<form data-ng-submit="vm.init()">
						<div class="input-group">
							<input type="text" class="form-control" 
								data-ng-model="vm.filters" 
								placeholder="{{'Search' | translate}}"/>
							<span class="input-group-btn">
								<button class="btn btn-default" type="submit">
									<i class="fa fa-search"></i>
								</button>
							</span>
						</div>
					</form>
				</div>
			</div>
			<div class="col-md-6">
				<div class="form-group">
					<div class="">
						<button class="btn btn-primary"
								data-ng-click="vm.from_date = ''; vm.to_date = ''; vm.filters = '';"
								uib-tooltip="{{'ClearSelect' | translate}}">
							<i class="fa fa-refresh" aria-hidden="true"></i>
						</button>
						<button class="btn btn-success" data-ng-click="vm.init();">
							<i class="fa fa-hourglass-half"></i>
							{{'Filter' | translate}}
						</button>
						<button class="btn btn-default margin-top"
								onclick="PrintElem('#print')"
								data-ng-disabled="!vm.totalItems">
							<i class="fa fa-print"></i>
							{{'Print' | translate}}
						</button>
						<span role-permission 
							ng-if="featureRole"
							permission="'Product_Transfer_Report_Export'" 
							feature="featureRole">
							<button class="btn btn-info margin-top"
									ng-csv="vm.csv"
									data-ng-disabled="!vm.totalItems"
									csv-header="vm.headers"
									add-bom="true"
									filename="adjust_stock_report.csv">
								<i class="fa fa-file-excel-o"></i>
								{{'ExportCSV' | translate}}
							</button>
						</span>
					</div>
				</div>
			</div>
		</div>
		<div data-ng-if="vm.adjustStocks" id="print">
			<table width="100%">
				<tr>
					<td align="center">
						<h3 ng-bind="company.company_name"></h3>
						<h4>
							{{'StockAdjustmentReport' | translate}}
						</h4>
						{{'TotalRecord' | translate}} {{vm.totalItems}}
					</td>
				</tr>
			</table>
			<table class="table-print" data-ng-if="vm.totalItems">
				<tr style="background-color: #F7F7F7;">
					<th width="3%">
						#
					</th>
					<th width="13%">
						{{'AdjustmentNo' | translate}}
					</th>
					<th width="15%">
						{{'Title' | translate}}
					</th>
					<th width="10%">
						{{'AdjustmentDate' | translate}}
					</th>
					<th width="25%">
						{{'Reason' | translate}}
					</th>
					<th width="25%">
						{{'Remark' | translate}}
					</th>
					<th width="15%">
						{{'SubTotal' | translate}}
					</th>
				</tr>
				<tr data-ng-repeat="item in vm.adjustStocks.elements">
					<td>
						{{$index +1}}
					</td>
					<td>
						{{item.adjustment_no}}
					</td>
					<td>
						{{item.title}}
					</td>
					<td>
						{{vm.service.dateFormat(item.adjustment_date)}}
					</td>
					<td>
						{{item.reason}}
					</td>
					<td>
						{{item.remark}}
					</td>
					<td>
						{{item.total_adjustment | number}}
					</td>
				</tr>
				<tr>
					<td colspan="6" align="right">
						<b>{{'TotalAmount' | translate}}</b>
					</td>
					<td>
						<b>{{vm.total_amount | currency}}</b>
					</td>
				</tr>
			</table>
		</div>
		<div
			data-ng-if="vm.adjustStocks.count == 0"
		>
			<empty-data></empty-data>
		</div>
		<div
			data-ng-if="!vm.loading"
			class="align_center"
		>
			<i class="fa fa-refresh fa-spin" style="font-size: 100px;"></i>
		</div>
	</div>
</div>