<div class="panel panel-default">
	<div class="panel-heading">
		{{'AppointmentReport' | translate}}
	</div>
	<div class="panel-body">
		<div class="row">
			<div class="col-md-3 col-sm-6">
				<div cambodia-date-picker date-format="y-MM-dd" class="input-group">
					<input type="text"
						   class="form-control"
						   data-ng-model="vm.from_date"
						   placeholder="{{'FromDate' | translate}}"/>
					<span class="input-group-btn">
						<button class="btn btn-default" type="button">
							<i class="fa fa-calendar"></i>
						</button>
					</span>
				</div>
			</div>
			<div class="col-md-3 col-sm-6">
				<div cambodia-date-picker date-format="y-MM-dd" class="input-group">
					<input type="text"
						   class="form-control"
						   data-ng-model="vm.to_date"
						   placeholder="{{'ToDate' | translate}}"/>
					<span class="input-group-btn">
						<button class="btn btn-default" type="button">
							<i class="fa fa-calendar"></i>
						</button>
					</span>
				</div>
			</div>
			<div class="col-md-6">
				<button class="btn btn-primary"
						data-ng-click="vm.from_date = ''; vm.to_date = '';"
						uib-tooltip="{{'ClearSelect' | translate}}">
					<i class="fa fa-refresh" aria-hidden="true"></i>
				</button>
				<button class="btn btn-success" data-ng-click="vm.init();">
					<i class="fa fa-hourglass-half"></i>
					{{'Filter' | translate}}
				</button>
				<button class="btn btn-default margin-top"
						onclick="PrintElem('#print')"
						data-ng-disabled="!vm.totalItems">
					<i class="fa fa-print"></i>
					{{'Print' | translate}}
				</button>
			</div>
		</div>		
		<div data-ng-if="vm.error">
			<empty-data></empty-data>
		</div>
		<div data-ng-if="vm.appointmentList.count" id="print">
			<table width="100%">
				<tr>
					<td align="center">
						<h3 ng-bind="company.company_name"></h3>
						<h4>
							{{'AppointmentReport' | translate}}
						</h4>
						{{'TotalRecord' | translate}} {{vm.totalItems}}
					</td>
				</tr>
			</table>
			<div class="table-responsive">
				<table class="table-print">
					<tr>
						<th width="2%">
							#
						</th>
						<th width="15%">
							{{'CustomerName' | translate}}
						</th>
						<th width="8%">
							{{'Gender' | translate}}
						</th>
						<th width="12%">
							{{'AppointmentDate' | translate}}
						</th>
						<th width="10%">
							{{'Time' | translate}}
						</th>
						<th width="20%">
							{{'Description' | translate}}
						</th>
					</tr>
					<tr data-ng-repeat="c in vm.appointmentList track by c.id">
						<td>
							{{$index +1}}
						</td>
						<td>
							{{c.customer_detail[0].customers_name}}
						</td>
						<td>
							{{c.customer_detail[0].customers_gender}}
						</td>
						<td>
							{{vm.service.dateFormat(c.appointment_date)}}
						</td>
						<td>
							<span data-ng-bind="c.appointment_period | date: 'h:mm a'"></span>
						</td>
						<td>
							{{c.description}}
						</td>
					</tr>
				</table>
			</div>
		</div>
		<div
			data-ng-if="vm.appointmentList.count == 0"
		>
			<empty-data></empty-data>
		</div>
		<div
			data-ng-if="!vm.loading"
			class="align_center"
		>
			<i class="fa fa-refresh fa-spin" style="font-size: 100px;"></i>
		</div>
	</div>
</div>
