<div class="panel panel-default">
	<div class="panel-heading">
		{{'IncomeStatementReport' | translate}}
	</div>
	<div class="panel-body">
		<form class="row" name="report" novalidate>
			<div class="col-md-3 col-sm-6"
				 data-ng-class="{ 'has-error': report.from_date.$error.required && report.$submitted }">
				<div cambodia-date-picker date-format="y-MM-dd" class="input-group">
					<input type="text"
						   class="form-control"
						   data-ng-model="vm.from_date"
						   required
						   name="from_date"
						   placeholder="{{'FromDate' | translate}}"/>
					<span class="input-group-btn">
						<button class="btn btn-default" type="button">
							<i class="fa fa-calendar"></i>
						</button>
					</span>
				</div>
				<div translate="ThisFieldRequire" class="has-error msg-error msg-drop-down"
					 data-ng-if="report.from_date.$error.required && report.$submitted"></div>
			</div>
			<div class="col-md-3 col-sm-6"
				 data-ng-class="{ 'has-error': report.to_date.$error.required && report.$submitted }">
				<div cambodia-date-picker date-format="y-MM-dd" class="input-group">
					<input type="text"
						   required
						   name="to_date"
						   class="form-control"
						   data-ng-model="vm.to_date"
						   placeholder="{{'ToDate' | translate}}"/>
					<span class="input-group-btn">
						<button class="btn btn-default" type="button">
							<i class="fa fa-calendar"></i>
						</button>
					</span>
				</div>
				<div translate="ThisFieldRequire"
					 class="has-error msg-error msg-drop-down"
					 data-ng-if="report.to_date.$error.required && report.$submitted"></div>
			</div>
			<div class="col-md-6">
				<button class="btn btn-primary"
						data-ng-click="vm.from_date = ''; vm.to_date = '';vm.vendor = null;"
						uib-tooltip="{{'ClearSelect' | translate}}">
					<i class="fa fa-refresh" aria-hidden="true"></i>
				</button>
				<button class="btn btn-success" data-ng-click="vm.init();">
					<i class="fa fa-hourglass-half"></i>
					{{'Filter' | translate}}
				</button>
				<button class="btn btn-default margin-top"
						onclick="PrintElem('#print')"
						data-ng-disabled="!vm.model">
					<i class="fa fa-print"></i>
					{{'Print' | translate}}
				</button>
			</div>
		</form>
		<div data-ng-if="vm.model" id="print">
			<table width="100%">
				<tr>
					<td align="center">
						<h3 ng-bind="company.company_name"></h3>
						<h4>
							{{'IncomeStatementReport' | translate}}
						</h4>
						{{'FromDate' | translate}}: {{vm.from_date}}
						{{'ToDate' | translate}}: {{vm.to_date}}
					</td>
				</tr>
			</table>
			<br/><br/>
			<!-- start of revenues lists-->
			<b>
				{{'Revenues' | translate}}
			</b>
			<table width="100%">
				<tr>
					<td width="5%"></td>
					<td width="70%">
						{{'ItemSale' | translate}}
					</td>
					<td width="25%">
						{{vm.model.total_income_item | currency}}
					</td>
				</tr>
				<tr>
					<td width="5%"></td>
					<td width="70%">
						{{'ServiceSale' | translate}}
					</td>
					<td width="25%">
						<span style="border-bottom: 2px solid #000;">
							{{vm.model.total_income_service | currency}}
						</span>
					</td>
				</tr>
				<tr>
					<td width="5%"></td>
					<td width="70%">
						<b>{{'TotalRevenues' | translate}}</b>
					</td>
					<td colspan="2" width="25%" align="right">
						{{vm.totalRevenues | currency}}
					</td>
				</tr>
			</table>
			<!-- start for list of expense-->
			<b>
				{{'Expenses' | translate}}
			</b>
			<table width="100%">
				<tr>
					<td width="5%"></td>
					<td width="70%">
						{{'CostOfGoodsSold' | translate}}
					</td>
					<td width="25%">
						{{vm.model.total_cost_expense | currency}}
					</td>
				</tr>
				<tr>
					<td width="5%"></td>
					<td width="70%">
						{{'Purchase' | translate}}
					</td>
					<td width="25%">
						{{vm.model.total_purchase | currency}}
					</td>
				</tr>
				<!-- other expense--> 
				<tr data-ng-repeat="row in vm.model.other_expense">
					<td width="5%"></td>
					<td width="70%">
						{{row.name}}
					</td>
					<td width="25%">
						{{row.amount | currency}}
					</td>
				</tr>
				<tr>
					<td width="5%"></td>
					<td width="70%">
						{{'Salaries' | translate}}
					</td>
					<td width="25%">
						<span style="border-bottom: 2px solid #000;">
							{{vm.model.total_payslip | currency}}
						</span>
					</td>
				</tr>
				<tr>
					<td width="5%"></td>
					<td width="70%">
						<b>{{'TotalExpenses' | translate}}</b>
					</td>
					<td colspan="2" width="25%" align="right">
						<b style="border-bottom: 2px solid #000;">{{vm.totalExpenses | currency}}</b>
					</td>
				</tr>
			</table>
			<table width="100%">
				<tr>
					<td width="70%">
						<b>{{'NetIncome' | translate}}</b>
					</td>
					<td width="30%" align="right">
						<b>{{vm.netIncome | currency}}</b>
					</td>
				</tr>
			</table>
		</div>
		<div data-ng-if="!vm.model || vm.model.count == 0">
			<empty-data></empty-data>
		</div>
		<div
			data-ng-if="vm.loading"
			class="align_center"
		>
			<i class="fa fa-refresh fa-spin" style="font-size: 100px;"></i>
		</div>
	</div>
</div>
