<div class="panel panel-default">
	<div class="panel-heading">
		{{'SaleFormReport' | translate}}
	</div>
	<div class="panel-body">
		<form class="row" name="report" novalidate>
			<div class="col-md-2 col-sm-6"
				 data-ng-class="{ 'has-error': report.from_date.$error.required && report.$submitted }">
				<div cambodia-date-picker date-format="y-MM-dd" class="input-group">
					<input type="text"
						   class="form-control"
						   data-ng-model="vm.from_date"						   
						   name="from_date"
						   placeholder="{{'FromDate' | translate}}"/>
					<span class="input-group-btn">
						<button class="btn btn-default" type="button">
							<i class="fa fa-calendar"></i>
						</button>
					</span>
				</div>
				<div translate="ThisFieldRequire" class="has-error msg-error msg-drop-down"
					 data-ng-if="report.from_date.$error.required && report.$submitted"></div>
			</div>
			<div class="col-md-2 col-sm-6"
				 data-ng-class="{ 'has-error': report.to_date.$error.required && report.$submitted }">
				<div cambodia-date-picker date-format="y-MM-dd" class="input-group">
					<input type="text"
						   name="to_date"
						   class="form-control"
						   data-ng-model="vm.to_date"
						   placeholder="{{'ToDate' | translate}}"/>
					<span class="input-group-btn">
						<button class="btn btn-default" type="button">
							<i class="fa fa-calendar"></i>
						</button>
					</span>
				</div>
				<div translate="ThisFieldRequire"
					 class="has-error msg-error msg-drop-down"
					 data-ng-if="report.to_date.$error.required && report.$submitted"></div>
			</div>
			<div class="col-md-2">
				<customer-list-drop-down ng-model="vm.customer"></customer-list-drop-down>
			</div>
			<div class="col-md-2">
				<staff-list-drop-down ng-model="vm.staff"></staff-list-drop-down>
			</div>
			<div class="col-md-3">
				<button class="btn btn-primary"
						data-ng-click="vm.from_date = ''; vm.to_date = '';vm.customer=null;"
						uib-tooltip="{{'ClearSelect' | translate}}">
					<i class="fa fa-refresh" aria-hidden="true"></i>
				</button>
				<button class="btn btn-success" data-ng-click="vm.init();">
					<i class="fa fa-hourglass-half"></i>
					{{'Filter' | translate}}
				</button>
				<button class="btn btn-default margin-top"
						onclick="PrintElem('#print')"
						data-ng-disabled="!vm.model.count">
					<i class="fa fa-print"></i>
					{{'Print' | translate}}
				</button>
				<!-- <span role-permission 
					 ng-if="featureRole"
					 permission="'Sell_Detail_Report_Export'" 
					 feature="featureRole">
					<button class="btn btn-info margin-top"
							ng-csv="vm.csv"
							data-ng-disabled="!vm.stockOut.count"
							csv-header="vm.headers"
							add-bom="true"
							filename="sale_summary_report.csv">
						<i class="fa fa-file-excel-o"></i>
						{{'ExportCSV' | translate}}
					</button>
				</span> -->
			</div>
		</form>

		<div data-ng-if="vm.model.elements.length > 0" id="print" class="table-responsive">
			<table data-ng-style="{'width': vm.totalTableWidth+'px','table-layout': 'fixed'}">
				<tr>
					<td align="center">
						<h3 ng-bind="company.company_name"></h3>
						<h4>
							{{'SaleFormReport' | translate}}
						</h4>
						{{'FromDate' | translate}} {{vm.from_date}}
						{{'ToDate' | translate}} {{vm.to_date}}
					</td>
				</tr>
			</table>
			<table data-ng-style="{'width': vm.totalTableWidth+'px','table-layout': 'fixed'}" class="table-print">
				<thead>
					<tr>
						<th rowspan="2" width="{{vm.no}}px">
							#
						</th>
						<th rowspan="2" width="{{vm.refNo}}px">
							{{'RefNo' | translate}}
						</th>
						<th rowspan="2" width="{{vm.clientName}}px">
							{{'ClientID' | translate}}
						</th>
						<th rowspan="2" width="{{vm.contactNumber}}px">
							{{'ContactNumber' | translate}}
						</th>
						<!-- <th rowspan="2" width="{{vm.emailFB}}px">
							{{'EmailFBName' | translate}}
						</th> -->
						<th colspan="4" width="{{vm.shooting}}px" class="text-center">
							{{'ShootingInfo' | translate}}
						</th>
						<th colspan="2" width="{{vm.payment}}px" class="text-center">
							{{'Payment' | translate}}
						</th>
						<th colspan="11" width="{{vm.postProduction}}px" class="text-center">
							{{'PostProduction' | translate}}
						</th>
					</tr>
					<tr>
						<th>
							{{'PhotoShootDate' | translate}}
						</th>
						<th>
							{{'PhotographerName' | translate}}
						</th>
						<th>
							{{'LocationShooting' | translate}}
						</th>
						<th>
							{{'Package' | translate}}
						</th>
						<th>
							{{'Deposit' | translate}}
						</th>
						<th>
							{{'FullPayment' | translate}}
						</th>
						<th>
							{{'EventDate' | translate}}
						</th>
						<th>
							{{'PhotoSelectiondate' | translate}}
						</th>
						<th>
							{{'NoOfPhoto' | translate}}
						</th>
						<th>
							{{'BookCover' | translate}}
						</th>
						<th>
							{{'AddOnUpgrade' | translate}}
						</th>
						<th>
							{{'SlideShowSong' | translate}}
						</th>
						<th>
							{{'EditorName' | translate}}
						</th>
						<th>
							{{'FinishDate' | translate}}
						</th>
						<th>
							{{'AlbumOrderDate' | translate}}
						</th>
						<th>
							{{'AlbumDeliveryDate' | translate}}
						</th>
						<th>
							{{'DeliveryBy' | translate}}
						</th>
					</tr>
				</thead>
				<tbody>
					<tr data-ng-repeat="row in vm.model.elements">
						<td>
							{{$index + 1}}
						</td>
						<td>
							<a ui-sref="sale_form.detail({id: row.id, params: row})">
								{{row.invoice_no}}
							</a>
						</td>
						<td>
							{{row.invoice_detail[0].customer_name}}
							<div class="label label-default">
								{{row.invoice_detail[0].customer_code}}
							</div>
						</td>
						<td>
							{{row.invoice_detail[0].customer_tel | tel}}
						</td>
						<!-- <td>
							{{row.invoice_detail[0].customer_name}}
						</td> -->
						<td>
							{{vm.service.dateFormat(row.shoot_date) | date: 'dd/MM/yyyy'}}
							{{vm.service.dateConvert(row.shoot_time) |  date: "h:mma"}}
						</td>
						<td>
							<ol>
								<li data-ng-repeat="sub in row.mission">
									{{sub.staff_name}}
									<!-- <i ng-if="!$last">,</i> -->
								</li>
							</ol>
						</td>
						<td>
							{{row.location_name}}
						</td>
						<td>
							<span data-ng-repeat="sub in row.invoice_detail[0].detail">
								{{sub.product_name}}
								<i ng-if="!$last">,</i>
							</span>
						</td>
						<td>
							{{row.invoice_detail[0].deposit | currency:''}}
						</td>
						<td>
							<div data-ng-if="row.invoice_detail[0].balance > 0" class="label label-warning">No</div>
							<div data-ng-if="row.invoice_detail[0].balance <= 0" class="label label-success">Yes</div>
						</td>
						<td>
							{{vm.service.dateFormat(row.invoice_detail[0].customer_event_date) | date: 'dd/MM/yyyy'}}
						</td>
						<td>
							{{vm.service.dateFormat(row.photo_select[0].date) | date: 'dd/MM/yyyy'}}
						</td>
						<td>
							{{row.photo_select[0].basic + row.photo_select[0].retouch + row.photo_select[0].additional}}
						</td>
						<td>
							{{row.photo_select[0].title}}
							<!-- <ol>
								<li data-ng-repeat="sub in row.photo_select[0].book_cover">
									{{sub.description}} => {{sub.size}} 
								</li>
							</ol> -->
						</td>
						<td>
							<ol>
								<li data-ng-repeat="sub in row.photo_select[0].add_on">
									{{sub.add_on_name}}
									<!-- <i ng-if="!$last">,</i> -->
								</li>
							</ul>
						</td>
						<td>
							{{row.photo_select[0].slide_show}}
						</td>
						<td>
							{{row.photo_process[0].photo_editor}}
						</td>
						<td>
							{{vm.service.dateFormat(row.photo_process[0].photo_complete_date) | date: 'dd/MM/yyyy'}}
							{{vm.service.dateConvert(row.photo_process[0].photo_complete_time) | date: 'h:mm: a'}}
						</td>
						<td>
							{{vm.service.dateFormat(row.photo_process[0].album_date) | date: 'dd/MM/yyyy'}}
						</td>
						<td>
							{{vm.service.dateFormat(row.delevery[0].delevery_date) | date: 'dd/MM/yyyy'}}
						</td>
						<td>
							{{row.delevery[0].delevery_by}}
						</td>
					</tr>
				</tbody>
			</table>
		</div>
		<div data-ng-if="vm.model.count == 0">
			<empty-data></empty-data>
		</div>
		<div data-ng-if="vm.loading" class="align_center">
			<i class="fa fa-refresh fa-spin" style="font-size: 100px;"></i>
		</div>
	</div>
</div>
