<div class="row">
	<div class="col-md-4">
		<div class="panel panel-default">
			<div class="panel-heading">
				<i class="fa fa-info-circle"></i>
				{{'Information' | translate}}
			</div>
			<form class="panel-body form-horizontal" data-ng-submit="vm.save();" name="form" novalidate>
				<div class="form-group"
					 data-ng-class="{ 'has-error': form.date.$error.required && form.$submitted }">
					<div class="col-md-4">
						<span class="control-label">
							{{'Date' | translate}}
							<span class="required">*</span>
						</span>
					</div>
					<div class="col-md-8">
						<div cambodia-date-picker date-format="y-MM-dd" class="input-group">
							<input type="text" class="form-control"
								   data-ng-model="vm.model.payment_date"
								   name="date" required />
							<span class="input-group-btn">
								<button class="btn btn-default" type="button">
									<i class="fa fa-calendar"></i>
								</button>
							</span>
						</div>
						<div translate="ThisFieldRequire" class="has-error msg-error"
							 data-ng-if="form.date.$error.required && form.$submitted"></div>
					</div>
				</div>
				<div class="form-group">
					<div class="col-md-4">
						<span class="control-label">
							{{'SubTotal' | translate}}
						</span>
					</div>
					<div class="col-md-8">
						<b data-ng-bind="vm.model.sub_total | currency"></b>
					</div>
				</div>
				<div class="form-group">
					<div class="col-md-4">
						<span class="control-label">
							{{'Discount' | translate}}
						</span>
					</div>
					<div class="col-md-8">
						<div>
							<span class="radio3 radio-check radio-inline">
								<input type="radio"
									   id="dollar"
									   name="radio2"
									   data-ng-change="vm.checkTypeDiscount();"
									   data-ng-model="vm.model.discount_type"
									   value="dollar" />
								<label for="dollar">
									<b>($)</b>
								</label>
							</span>
							<spasn class="radio3 radio-check radio-success radio-inline">
								<input type="radio"
									   id="percent"
									   name="radio2"
									   data-ng-change="vm.checkTypeDiscount();"
									   data-ng-model="vm.model.discount_type"
									   value="percent" />
								<label for="percent">
									<b>(%)</b>
								</label>
							</spasn>
						</div>
					</div>
				</div>
				<div class="form-group" data-ng-if="vm.model.discount_type">
					<div class="col-md-4">
						<span class="control-label"></span>
					</div>
					<div class="col-md-8">
						<input class="form-control"
							   type="number"
							   min="0"
							   step="any"
							   data-ng-change="vm.inputDiscount();"
							   data-ng-model="vm.model.discount_amount "
							   placeholder="{{'Discount' | translate}}" />
					</div>
				</div>
				<div class="form-group">
					<div class="col-md-4">
						<span class="control-label">
							{{'TotalDiscount' | translate}}
						</span>
					</div>
					<div class="col-md-8">
						<b data-ng-bind="vm.model.discount_total_amount | currency"></b>
					</div>
				</div>
				<div class="form-group">
					<div class="col-md-4">
						<span class="control-label">
							{{'GrandTotal' | translate}}
						</span>
					</div>
					<div class="col-md-8">
						<b data-ng-bind="vm.model.grand_total | currency"></b>
					</div>
				</div>
				<div class="form-group">
					<div class="col-md-4">
						<span class="control-label">
							{{'PaymentMethod' | translate}}
						</span>
					</div>
					<div class="col-md-8">
						<select
								class="form-control"
								data-ng-options="payment_method for payment_method in vm.banks"
								data-ng-init="payment_method == payment_method"
								data-ng-model="vm.model.payment_method"
						>
						</select>
						<div data-ng-show="vm.model.payment_method != 'Cash'">
							<br/>
							<input type="number"
								   min="0"
								   data-ng-model="vm.model.bank_charge"
								   class="form-control"
								   placeholder="{{'BankCharge' | translate}}"/>
						</div>
					</div>
				</div>
				<div class="form-group"
					 data-ng-class="{ 'has-error': form.payment.$error.required && form.$submitted }">
					<div class="col-md-4">
						<span class="control-label">
							{{'Payment' | translate}}
							<span class="required">*</span>
						</span>
					</div>
					<div class="col-md-8">
						<input class="form-control"
							   type="number"
							   placeholder="{{'Payment' | translate}}"
							   data-ng-change="vm.inputPayment();"
							   min="0"
							   step="any"
							   required
							   name="payment"
							   data-ng-model="vm.model.payment" />
						<div translate="ThisFieldRequire" class="has-error msg-error"
							 data-ng-if="form.payment.$error.required && form.$submitted"></div>
					</div>
				</div>
				<div class="form-group">
					<div class="col-md-4">
						<span class="control-label">
							{{'Remaining' | translate}}
						</span>
					</div>
					<div class="col-md-8">
						<b><span data-ng-bind="vm.model.remain | currency"></span></b>
					</div>
				</div>
				<div class="form-group">
					<div class="col-md-4">
						<span class="control-label">
						</span>
					</div>
					<div class="col-md-8">
						<a class="btn btn-default" ui-sref="pay_bill.list">
							<i class="fa fa-step-backward"></i>
							{{'Back' | translate}}
						</a>
						<button
								class="btn btn-success"
								data-ng-disabled="disable"
						>
							<i class="fa fa-save" data-ng-if="!vm.loading"></i>
							<i class="fa fa-spinner fa-spin" data-ng-if="vm.loading"></i>
							{{'Save' | translate}}
						</button>
					</div>
				</div>
			</form>
		</div>
	</div>
	<div class="col-md-8">
		<div class="panel panel-default">
			<div class="panel-heading">
				<i class="fa fa-industry"></i>
				{{'PaymentDetail' | translate}}
			</div>
			<div class="panel-body">
				<div class="row">
					<div class="form-group">
						<div class="col-md-5">
							<form>
								<div class="input-group">
									<input type="text"
										   placeholder="{{'SearchPurchaseNo' | translate}}"
										   data-ng-model="vm.purchaseNo"
										   data-ng-model-options="{ debounce: 550 }"
										   autofocus
										   class="form-control"/>
									<span class="input-group-btn">
										<button class="btn btn-default" type="submit"
											data-ng-click="vm.getVendorBalance();">
											<i class="fa fa-search"></i>
										</button>
									</span>
								</div>
							</form>
						</div>
						<div class="col-md-7">
							<div class="input-group">
								<vendor-list-drop-down vendor-model="vm.vendor"
													on-change="vm.getVendorBalance();"></vendor-list-drop-down>
								<span class="input-group-btn">
									<button class="btn btn-default" 
											type="button"
											data-ng-click="vm.vendor = null">
										<i class="fa fa-refresh"></i>
									</button>
								</span>
							</div>
						</div>
					</div>
				</div>
				<div class="scroll" style="height: 400px;">
					<table class="table table-bordered table-striped">
						<tr>
							<th width="5%">
								#
							</th>
							<th width="30%">
								{{'PurchaseNo' | translate}}
							</th>
							<th width="15%">
								{{'Date' | translate}}
							</th>
							<th width="20%">
								{{'VendorName' | translate}}
							</th>
							<th width="20%">
								{{'Balance' | translate}}
							</th>
							<th width="5%">
								{{'Action' | translate}}
							</th>
						</tr>
						<tr data-ng-repeat="list in vm.listData">
							<td>
								{{$index + 1}}
							</td>
							<td>
								{{list.purchase_no}}
							</td>
							<td>
								{{vm.service.dateFormat(list.purchase_date)}}
							</td>
							<td>
								{{list.vendor_name}}
							</td>
							<td>
								{{list.balance | currency: ''}}
							</td>
							<td>
								<i class="fa fa-trash hover" data-ng-click="vm.remove($index);" style="font-size: 18px;"></i>
							</td>
						</tr>
					</table>
					<div data-ng-if="vm.listData.length == 0 && !vm.loadingList">
						<empty-data></empty-data>
					</div>
					<div
						data-ng-if="vm.loadingList"
						class="align_center"
					>
						<i class="fa fa-refresh fa-spin" style="font-size: 60px;"></i>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<pop-up-invoice></pop-up-invoice>
