<div class="row">
	<div class="col-md-4">
		<div class="panel panel-default">
			<div class="panel-heading">
				<i class="fa fa-info-circle"></i>
				{{'Information' | translate}}
			</div>
			<form class="panel-body form-horizontal" data-ng-submit="vm.save();" name="form" novalidate>
				<div class="form-group"
					 data-ng-class="{ 'has-error': form.date.$error.required && form.$submitted }">
					<div class="col-md-4">
						<span class="control-label">
							{{'Date' | translate}}
						</span>
					</div>
					<div class="col-md-8">
						{{vm.service.dateFormat(vm.model.payment_date)}}
					</div>
				</div>
				<div class="form-group">
					<div class="col-md-4">
						<span class="control-label">
							{{'SubTotal' | translate}}
						</span>
					</div>
					<div class="col-md-8">
						<b data-ng-bind="vm.model.sub_total | currency"></b>
					</div>
				</div>
				<div class="form-group">
					<div class="col-md-4">
						<span class="control-label">
							{{'Discount' | translate}}
						</span>
					</div>
					<div class="col-md-8">
						<div>
							<span class="radio3 radio-check radio-inline">
								<input type="radio"
									   id="dollar"
									   name="radio2"
									   disabled
									   data-ng-change="vm.checkTypeDiscount();"
									   data-ng-model="vm.model.discount_type"
									   value="dollar" />
								<label for="dollar">
									<b>($)</b>
								</label>
							</span>
							<spasn class="radio3 radio-check radio-success radio-inline">
								<input type="radio"
									   id="percent"
									   name="radio2"
									   disabled
									   data-ng-change="vm.checkTypeDiscount();"
									   data-ng-model="vm.model.discount_type"
									   value="percent" />
								<label for="percent">
									<b>(%)</b>
								</label>
							</spasn>
						</div>
					</div>
				</div>
				<div class="form-group" data-ng-if="vm.model.discount_type">
					<div class="col-md-4">
						<span class="control-label"></span>
					</div>
					<div class="col-md-8">
						<b>{{vm.model.discount_amount}}</b>
					</div>
				</div>
				<div class="form-group">
					<div class="col-md-4">
						<span class="control-label">
							{{'TotalDiscount' | translate}}
						</span>
					</div>
					<div class="col-md-8">
						<b data-ng-bind="vm.model.discount_total_amount | currency"></b>
					</div>
				</div>
				<div class="form-group">
					<div class="col-md-4">
						<span class="control-label">
							{{'GrandTotal' | translate}}
						</span>
					</div>
					<div class="col-md-8">
						<b data-ng-bind="vm.model.grand_total | currency"></b>
					</div>
				</div>
				<div class="form-group">
					<div class="col-md-4">
						<span class="control-label">
							{{'PaymentMethod' | translate}}
						</span>
					</div>
					<div class="col-md-8">
						<b>{{vm.model.payment_method}}</b>
						<div data-ng-show="vm.model.payment_method != 'Cash'">
							<br/>
							<b>
								{{'BankCharge' | translate}}
								{{vm.model.bank_charge}}
							</b>
						</div>
					</div>
				</div>
				<div class="form-group"
					 data-ng-class="{ 'has-error': form.payment.$error.required && form.$submitted }">
					<div class="col-md-4">
						<span class="control-label">
							{{'Payment' | translate}}
							<span class="required">*</span>
						</span>
					</div>
					<div class="col-md-8">
						<b>{{vm.model.payment}}</b>
					</div>
				</div>
				<div class="form-group">
					<div class="col-md-4">
						<span class="control-label">
							{{'Remaining' | translate}}
						</span>
					</div>
					<div class="col-md-8">
						<b><span data-ng-bind="vm.model.remain | currency"></span></b>
					</div>
				</div>
				<div class="form-group">
					<div class="col-md-4">
						<span class="control-label">
						</span>
					</div>
					<div class="col-md-8">
						<a class="btn btn-default" ui-sref="pay_bill.list">
							<i class="fa fa-step-backward"></i>
							{{'Back' | translate}}
						</a>
					</div>
				</div>
			</form>
		</div>
	</div>
	<div class="col-md-8">
		<div class="panel panel-default">
			<div class="panel-heading">
				<i class="fa fa-industry"></i>
				{{'PaymentDetail' | translate}}
			</div>
			<div class="panel-body">
				<div class="scroll" style="height: 338px;">
					<table class="table table-bordered table-striped">
						<tr>
							<th width="5%">
								#
							</th>
							<th width="30%">
								{{'PurchaseNo' | translate}}
							</th>
							<th width="15%">
								{{'Date' | translate}}
							</th>
							<th width="20%">
								{{'VendorName' | translate}}
							</th>
							<th width="20%">
								{{'Balance' | translate}}
							</th>
						</tr>
						<tr data-ng-repeat="list in vm.model.detail">
							<td>
								{{$index + 1}}
							</td>
							<td>
								{{list.purchase_no}}
							</td>
							<td>
								{{vm.service.dateFormat(list.purchase_date)}}
							</td>
							<td>
								{{list.vendor_name}}
							</td>
							<td>
								{{list.balance | currency: ''}}
							</td>
						</tr>
					</table>
					<div data-ng-if="vm.listData.length == 0 && !vm.loadingList">
						<empty-data></empty-data>
					</div>
					<div
						data-ng-if="vm.loadingList"
						class="align_center"
					>
						<i class="fa fa-refresh fa-spin" style="font-size: 60px;"></i>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<pop-up-invoice></pop-up-invoice>
