<!-- List Of Purchase -->
<div class="panel panel-default">
	<div class="panel-heading">
		<b>{{'VendorPayment' | translate}}</b>
	</div>
	<div class="panel-body">
		<span role-permission 
			ng-if="featureRole"
			permission="'Vendor_Payment_Create'" 
			feature="featureRole">
			<a class="btn btn-default" ui-sref="pay_bill.create">
				<i class="fa fa-plus"></i>
				{{'AddNew' | translate}}
			</a>
		</span>
		{{'TotalRecord' | translate}}: {{vm.totalItems}}
        <br/>
		<form class="row">
			<div class="form-body">
				<div class="col-md-3">
					<div class="input-group input-large">
						<input type="text"
							   class="form-control"
							   data-ng-model="vm.payment_no"
							   auto-focus
							   placeholder="{{'Search' | translate}}">

                        <span class="input-group-btn">
                            <button type="submit" class="btn blue" data-ng-click="vm.search()">
								<i class="fa fa-search" data-ng-if="!vm.loading"></i>
								<i class="fa fa-spinner fa-spin" data-ng-if="vm.loading"></i>
							</button>
                        </span>
					</div>
				</div>
			</div>
		</form>
		<div class="table-responsive">
			<table class="table table-bordered table-striped">
				<thead>
					<tr>
						<th width="5%">
							#
						</th>
						<th width="20%">
							{{'PaymentNo' | translate}}
						</th>
						<th width="10%">
							{{'PaymentDate' | translate}}
						</th>
						<th width="25%">
							{{'VendorName' | translate}}
						</th>
						<th width="15%">
							{{'TotalPayment' | translate}}
						</th>
						<th width="15%">
							{{'Remaining' | translate}}
						</th>
						<th width="10%">
							{{'Action' | translate}}
						</th>
					</tr>
				</thead>
				<tr data-ng-repeat="p in vm.paymentList.elements">
					<td>
						{{vm.pageSize + $index + 1}}
					</td>
					<td>
						{{p.payment_no}}
					</td>
					<td>
						{{vm.service.dateFormat(p.payment_date)}}
					</td>
					<td>
						{{p.vendor_name}}
					</td>
					<td>
						{{p.payment | currency}}
					</td>
					<td>
						{{p.remain | currency}}
					</td>
					<td>
						<!--<a ui-sref="purchase.edit({id: p.id})"-->
						   <!--uib-tooltip="{{'Edit' | translate}}"-->
						   <!--class="btn btn-default"-->
						<!--&gt;-->
							<!--<span class="fa fa-edit"></span>-->
						<!--</a>-->
						<span role-permission 
							ng-if="featureRole"
							permission="'Vendor_Payment_Disable'" 
							feature="featureRole">
							<button uib-tooltip="{{'Void' | translate}}"
								class="btn btn-success btn-xs"
								data-ng-click="vm.updateStatus(p);"
								data-ng-if="p.status == 1"
							>
								<span class="fa fa-check-circle-o"></span>
							</button>
							<button uib-tooltip="{{'Enable' | translate}}"
								class="btn btn-warning btn-xs"
								data-ng-if="p.status == 0"
								data-ng-disabled="true"
								data-ng-click="vm.updateStatus(p);"
							>
								<span class="fa fa-times-circle"></span>
							</button>
						</span>
						<span role-permission 
							ng-if="featureRole"
							permission="'Vendor_Payment_View'" 
							feature="featureRole">
							<a ui-sref="pay_bill.detail({id: p.id})"
							class="btn btn-primary btn-xs"
							uib-tooltip="{{'Detail' | translate}}"
							>
								<span class="fa fa-eye"></span>
							</a>
						</span>
					</td>
				</tr>
			</table>
		</div>
		<div
			data-ng-if="vm.paymentList.count == 0"
		>
			<empty-data></empty-data>
		</div>
		<div
				data-ng-if="!vm.paymentList"
				class="align_center"
		>
			<i class="fa fa-refresh fa-spin" style="font-size: 100px;"></i>
		</div>
		<div class="panel-footer">
			<ul uib-pagination
				total-items="vm.totalItems"
				ng-model="vm.currentPage"
				ng-change="vm.pageChanged()"
				max-size="10"
				items-per-page="10"
				boundary-links="true"
			></ul>
		</div>
	</div>
</div>
