<div class="panel panel-default">
	<div class="panel-heading">
		<b data-ng-if="!vm.isEdit">{{'CreateExpense' | translate}}</b>
		<b data-ng-if="vm.isEdit">{{'EditExpense' | translate}}</b>
		<a
			class="btn no-padding pull-right"
			onclick="history.go(-1)"
		>
			<i class="fa fa-step-backward"></i>
			{{'Back' | translate}}
		</a>
	</div>
	<form data-ng-submit="vm.save();" name="form" class="form-horizontal" novalidate>
		<div class="panel-body">
			<div class="col-md-12">
				<div class="form-group"
					 data-ng-class="{ 'has-error': form.expenseType.$error.required && form.$submitted }">
					<div class="col-md-2">
						<span class="control-label">
							{{'ExpenseType' | translate}}
							<span class="required">*</span>
						</span>
					</div>
					<div class="col-md-4">
						<select class="form-control"
							name="expenseType"
							required
							ng-model="vm.model.expense_type_id"
							data-ng-options="x.id as x.name for x in vm.expenseList">
							<option value="">{{'Select' | translate}}</option>
						</select>
						<div translate="ThisFieldRequire"
							 class="has-error msg-error"
							 data-ng-if="form.expenseType.$error.required && form.$submitted"></div>
					</div>
				</div>
			</div>
			<div class="col-md-12">
				<div class="form-group"
					 data-ng-class="{ 'has-error': form.title.$error.required && form.$submitted }">
					<div class="col-md-2">
						<span class="control-label">
							{{'Title' | translate}}
							<span class="required">*</span>
						</span>
					</div>
					<div class="col-md-4">
						<input type="text" class="form-control" 
							data-ng-model="vm.model.name"
							name="title"
							placeholder="{{'Title' | translate}}"
							required/>
						<div translate="ThisFieldRequire"
							 class="has-error msg-error"
							 data-ng-if="form.title.$error.required && form.$submitted"></div>
					</div>
				</div>
			</div>
			<div class="col-md-12">
				<div class="form-group"
					 data-ng-class="{ 'has-error': form.expense_date.$error.required && form.$submitted }">
					<div class="col-md-2">
						<span class="control-label">
							{{'ExpenseDate' | translate}}
							<span class="required">*</span>
						</span>
					</div>
					<div class="col-md-4">
						<div class="input-group input-large" cambodia-date-picker date-format="{{dateFormat}}">
							<input type="text"
								class="form-control"
								name="expense_date"
								required
								data-ng-model="vm.model.expense_date"
								auto-focus
								placeholder="{{'ExpenseDate' | translate}}">
							<span class="input-group-btn">
								<a class="btn btn-default" href="javascript:;">
									<i class="fa fa-calendar"></i>
								</a>
							</span>
						</div>
						<div translate="ThisFieldRequire"
							 class="has-error msg-error"
							 data-ng-if="form.expense_date.$error.required && form.$submitted"></div>
					</div>
				</div>
			</div>
			<div class="col-md-12">
				<div class="form-group"
					 data-ng-class="{ 'has-error': form.amount.$invalid && form.$submitted }">
					<div class="col-md-2">
						<span class="control-label">
							{{'Amount' | translate}}
							<span class="required">*</span>
						</span>
					</div>
					<div class="col-md-4">
						<input class="form-control"
							   type="number"
							   name="amount"
							   required
							   data-ng-model="vm.model.amount"
							   placeholder="{{'Amount' | translate}}"/>
						<div translate="InvalidInput" class="has-error msg-error"
							 data-ng-if="form.amount.$error.required && form.$submitted"></div>
					</div>
				</div>
			</div>
			<div class="col-md-12">
				<div class="form-group">
					<div class="col-md-2">
						<span class="control-label">
							{{'Description' | translate}}
						</span>
					</div>
					<div class="col-md-4">
						<textarea class="form-control"
								  rows="5"
								  placeholder="{{'Description' | translate}}"
								  data-ng-model="vm.model.description"></textarea>
					</div>
				</div>
			</div>
		</div>
		<div class="modal-footer">
			<a
				class="btn btn-default"
				data-dismiss="modal"
				ui-sref="expense.list"
				href="javascript:;"
			>
				<i class="fa fa-close"></i>
				{{'Close' | translate}}
			</a>
			<button
				class="btn btn-primary"
				data-ng-disabled="!vm.disable"
			>
				<i class="fa fa-spinner fa-spin" data-ng-if="!vm.disable"></i>
				<i class="fa fa-save" data-ng-if="vm.disable"></i>
				{{'Save' | translate}}
			</button>
		</div>
	</form>
</div>


