<div class="panel panel-default">
    <div class="panel-heading">
        <b>{{'ExpenseList' | translate}}</b>
    </div>
    <div class="panel-body">
        <a
            class="btn btn-default"
            ui-sref="expense.create"
        >
            <span class="fa fa-plus-circle"></span>
            {{'AddNew' | translate}}
        </a>
        {{'TotalRecord' | translate}} {{vm.totalItems}}
        <form class="row">
            <div class="form-body">
                <div class="col-md-3">
                    <div class="input-group input-large">
                        <input type="text"
                               class="form-control"
                               data-ng-model="vm.search_name"
                               auto-focus
                               placeholder="{{'Search' | translate}}">

                        <span class="input-group-btn">
                            <button type="submit" class="btn blue" data-ng-click="vm.search()">
                                <i class="fa fa-search" data-ng-if="!vm.loading"></i>
                                <i class="fa fa-spinner fa-spin" data-ng-if="vm.loading"></i>
                            </button>
                        </span>
                    </div>
                </div>
            </div>
        </form>
        <div class="table-responsive">
            <table class="table table-bordered table-striped">
                <thead>
                    <th width="5%">
                        #
                    </th>
                    <th width="14%">
                        {{'ExpenseType' | translate}}
                    </th>
                    <th width="15%">
                        {{'Name' | translate}}
                    </th>
                    <th width="13%">
                        {{'ExpenseDate' | translate}}
                    </th>
                    <th width="10%">
                        {{'Amount' | translate}}
                    </th>
                    <th width="20%">
                        {{'Description' | translate}}
                    </th>
                    <th width="10%">
                        {{'Status' | translate}}
                    </th>
                    <th width="18%">
                        {{'Action' | translate}}
                    </th>
                </thead>
                <tr data-ng-repeat="row in vm.expenseList.elements">
                    <td>
                        <span data-ng-bind="vm.pageSize + $index + 1"></span>
                    </td>
                    <td>
                        <span data-ng-bind="row.expense_type_name"></span>
                    </td>
                    <td>
                        <span data-ng-bind="row.name"></span>
                    </td>
                    <td>
                        <span data-ng-bind="vm.service.dateFormat(row.expense_date)"></span>
                    </td>
                    <td>
                        <span data-ng-bind="row.amount | currency"></span>
                    </td>
                    <td>
                        <span data-ng-bind="row.description"></span>
                    </td>
                    <td>
                        <label class="label " data-ng-class="{'label-success': row.status == 1, 'label-warning': row.status == 0}">
                            {{row.status == 1 ? ('Enable' | translate) : ('Disable' | translate)}}
                        </label>
                    </td>
                    <td>
                        <button class="btn btn-default btn-xs"
                           data-ng-disabled="row.status == 0"
                           ui-sref="expense.edit({id: row.id})"
                           uib-tooltip="{{'Edit' | translate}}">
                            <span class="fa fa-edit"></span>
                        </button>
                        <button
                            class="btn btn-success btn-xs"
                            uib-tooltip="{{'Disable' | translate}}"
                            data-ng-click="vm.updateStatus(row);"
                            data-ng-if="row.status == 1"
                        >
                            <span class="fa fa-check-circle-o"></span>
                        </button>
                        <button
                            class="btn btn-warning btn-xs"
                            uib-tooltip="{{'Enable' | translate}}"
                            data-ng-if="row.status == 0"
                            data-ng-click="vm.updateStatus(row);"
                        >
                            <span class="fa fa-times-circle-o"></span>
                        </button>
                        <a class="btn btn-primary btn-xs"
                           ui-sref="expense.detail({id: row.id})"
                           uib-tooltip="{{'Detail' | translate}}">
                            <span class="fa fa-eye"></span>
                        </a>
                    </td>
                </tr>
            </table>
        </div>
        <div
            data-ng-if="vm.expenseList.elements == 0"
        >
            <empty-data></empty-data>
        </div>
        <div
            data-ng-if="!vm.expenseList"
            class="align_center"
        >
            <i class="fa fa-refresh fa-spin" style="font-size: 100px;"></i>
        </div>
    </div>
    <div class="panel-footer">
        <ul uib-pagination
            total-items="vm.totalItems"
            ng-model="vm.currentPage"
            ng-change="vm.pageChanged()"
            max-size="5"
            items-per-page="10"
            boundary-links="true"
        ></ul>
    </div>
</div>
