<div class="panel panel-default">
	<div class="panel-heading">
		<b>{{'StaffList' | translate}}</b>
		<a
			class="btn no-padding pull-right"
			onclick="history.go(-1)"
		>
			<i class="fa fa-step-backward"></i>
			{{'Back' | translate}}
		</a>
	</div>
	<form data-ng-submit="vm.save();" name="doctorForm" class="form-horizontal" novalidate>
		<div class="panel-body">
			<div class="col-md-12">
				<div class="form-group"
					 data-ng-class="{ 'has-error': doctorForm.doctorType.$error.required && doctorForm.$submitted }">
					<div class="col-md-2">
						<span class="control-label">
							{{'StaffType' | translate}}
						</span>
					</div>
					<div class="col-md-4">
						<select data-ng-model="vm.model.doctor_type_id"
								data-ng-options="doctor_type.id as doctor_type.name for doctor_type in vm.doctorType.elements"
								class="form-control"
								name="doctorType"
								required
						>
							<option value="">{{'Select' | translate}}</option>
						</select>
						<div translate="ThisFieldRequire"
							 class="has-error msg-error"
							 data-ng-if="doctorForm.doctorType.$error.required && doctorForm.$submitted"></div>
					</div>
				</div>
			</div>
			<div class="col-md-12">
				<div class="form-group"
					 data-ng-class="{ 'has-error': doctorForm.customers_name.$error.required && doctorForm.$submitted }">
					<div class="col-md-2">
							<span class="control-label">
								{{'Name' | translate}}
								<span class="required">*</span>
							</span>
					</div>
					<div class="col-md-4">
						<input type="text"
							   class="form-control"
							   data-ng-model="vm.model.name"
							   name="customers_name"
							   placeholder="{{'Name' | translate}}"
							   required="required" />
						<div translate="ThisFieldRequire"
							 class="has-error msg-error"
							 data-ng-if="doctorForm.customers_name.$error.required && doctorForm.$submitted"></div>
					</div>
				</div>
			</div>
			<div class="col-md-12">
				<div class="form-group">
					<div class="col-md-2">
						<span class="control-label">
							{{'Gender' | translate}}
							<span class="required">*</span>
						</span>
					</div>
					<div class="col-md-4">
						<select class="form-control"
								data-ng-model="vm.model.sex"
								data-ng-options="gender for gender in ['Male', 'Female']"></select>
					</div>
				</div>
			</div>
			<div class="col-md-12">
				<div class="form-group">
					<div class="col-md-2">
						<span class="control-label">
							{{'DOB' | translate}}
						</span>
					</div>
					<div class="col-md-4">
						<div class="input-group input-large" cambodia-date-picker date-format="{{dateFormat}}">
							<input type="text"
								class="form-control"
								name="dob"
								data-ng-model="vm.model.dob"
								auto-focus
								placeholder="{{'DOB' | translate}}">
							<span class="input-group-btn">
								<a class="btn btn-default" href="javascript:;">
									<i class="fa fa-calendar"></i>
								</a>
							</span>
						</div>
					</div>
				</div>
			</div>
			<div class="col-md-12">
				<div class="form-group"
					 data-ng-class="{ 'has-error': doctorForm.salary.$invalid && doctorForm.$submitted }">
					<div class="col-md-2">
						<span class="control-label">
							{{'BasicSalary' | translate}}
							<span class="required">*</span>
						</span>
					</div>
					<div class="col-md-4">
						<input class="form-control"
							   type="number"
							   name="salary"
							   required
							   data-ng-model="vm.model.basic_salary"
							   placeholder="{{'BasicSalary' | translate}}"/>
						<div translate="InvalidInput" class="has-error msg-error"
							 data-ng-if="doctorForm.salary.$error.required && doctorForm.$submitted"></div>
					</div>
				</div>
			</div>
			<div class="col-md-12">
				<div class="form-group"
					 data-ng-class="{ 'has-error': doctorForm.email.$invalid && doctorForm.$submitted }">
					<div class="col-md-2">
						<span class="control-label">
							{{'Email' | translate}}
						</span>
					</div>
					<div class="col-md-4">
						<input class="form-control"
							   type="email"
							   name="email"
							   data-ng-model="vm.model.email"
							   placeholder="{{'Email' | translate}}"/>
						<div translate="InvalidInput" class="has-error msg-error"
							 data-ng-if="doctorForm.email.$error.email && doctorForm.$submitted"></div>
					</div>
				</div>
			</div>
			<div class="col-md-12">
				<div class="form-group"
					data-ng-class="{ 'has-error': doctorForm.phone.$error.required && doctorForm.$submitted }">
					<div class="col-md-2">
						<span class="control-label">
							{{'Telephone' | translate}}
							<span class="required">*</span>
						</span>
					</div>
					<div class="col-md-4">
						<input class="form-control" 
							data-ng-model="vm.model.phone" 
							phone-input
							placeholder="{{'Telephone' | translate}}"
							name="phone" required/>
						<div translate="InvalidInput" class="has-error msg-error"
							 data-ng-if="doctorForm.phone.$error.required && doctorForm.$submitted"></div>
					</div>
				</div>
			</div>
			<div class="col-md-12">
				<div class="form-group">
					<div class="col-md-2">
							<span class="control-label">
								{{'Address' | translate}}
							</span>
					</div>
					<div class="col-md-4">
						<textarea class="form-control"
								  placeholder="{{'Address' | translate}}"
								  data-ng-model="vm.model.address"></textarea>
					</div>
				</div>
			</div>			
		</div>
		<div class="modal-footer">
			<a
				class="btn btn-default"
				data-dismiss="modal"
				ui-sref="staff_list.list"
				href="javascript:;"
			>
				<i class="fa fa-close"></i>
				{{'Close' | translate}}
			</a>
			<button
				class="btn btn-primary"
				data-ng-disabled="!vm.disable"
			>
				<i class="fa fa-spinner fa-spin" data-ng-if="!vm.disable"></i>
				<i class="fa fa-save" data-ng-if="vm.disable"></i>
				{{'Save' | translate}}
			</button>
		</div>
	</form>
</div>


