<div class="panel panel-default">
	<div class="panel-heading">
		<b>{{'StaffDetail' | translate}}</b>
		<a
			class="btn no-padding pull-right"
			onclick="history.go(-1)"
		>
			<i class="fa fa-step-backward"></i>
			{{'Back' | translate}}
		</a>
	</div>
	<form data-ng-submit="vm.save();" name="doctorForm" class="form-horizontal" novalidate>
		<div class="panel-body">
			<div class="col-md-12">
				<div class="form-group">
					<div class="col-md-2">
						<span class="control-label">
							{{'StaffType' | translate}}
						</span>
					</div>
					<div class="col-md-4">
						{{vm.model.doctor_type[0].name}}
					</div>
				</div>
			</div>
			<div class="col-md-12">
				<div class="form-group">
					<div class="col-md-2">
						<span class="control-label">
							{{'Name' | translate}}
						</span>
					</div>
					<div class="col-md-4">
						{{vm.model.name}}
					</div>
				</div>
			</div>
			<div class="col-md-12">
				<div class="form-group">
					<div class="col-md-2">
						<span class="control-label">
							{{'Gender' | translate}}
						</span>
					</div>
					<div class="col-md-4">
						{{vm.model.sex}}
					</div>
				</div>
			</div>
			<div class="col-md-12">
				<div class="form-group"
					 data-ng-class="{ 'has-error': doctorForm.email.$invalid && doctorForm.$submitted }">
					<div class="col-md-2">
						<span class="control-label">
							{{'DOB' | translate}}
						</span>
					</div>
					<div class="col-md-4">
						{{vm.service.dateFormat(vm.model.dob)}}
					</div>
				</div>
			</div>
			<div class="col-md-12">
				<div class="form-group">
					<div class="col-md-2">
						<span class="control-label">
							{{'BasicSalary' | translate}}
						</span>
					</div>
					<div class="col-md-4">
						{{vm.model.basic_salary | currency}}
					</div>
				</div>
			</div>
			<div class="col-md-12">
				<div class="form-group"
					 data-ng-class="{ 'has-error': doctorForm.email.$invalid && doctorForm.$submitted }">
					<div class="col-md-2">
						<span class="control-label">
							{{'Email' | translate}}
						</span>
					</div>
					<div class="col-md-4">
						{{vm.model.email}}
					</div>
				</div>
			</div>			
			<div class="col-md-12">
				<div class="form-group">
					<div class="col-md-2">
						<span class="control-label">
							{{'Telephone' | translate}}
						</span>
					</div>
					<div class="col-md-4">
						{{vm.model.phone | tel}}
					</div>
				</div>
			</div>
			<div class="col-md-12">
				<div class="form-group">
					<div class="col-md-2">
						<span class="control-label">
							{{'Address' | translate}}
						</span>
					</div>
					<div class="col-md-4">
						{{vm.model.address}}
					</div>
				</div>
			</div>
		</div>
		<div class="modal-footer">
			<a
				class="btn btn-default"
				data-dismiss="modal"
				ui-sref="doctor_list.list"
				href="javascript:;"
			>
				<i class="fa fa-close"></i>
				{{'Close' | translate}}
			</a>
		</div>
	</form>
</div>


