<div class="panel panel-default">
    <div class="panel-heading">
        <b>{{'StaffList' | translate}}</b>
    </div>
    <div class="panel-body">
        <span role-permission 
            ng-if="featureRole"
            permission="'Staff_List_Create'" 
            feature="featureRole">
            <a
                class="btn btn-default"
                ui-sref="staff_list.create"
            >
                <span class="fa fa-plus-circle"></span>
                {{'AddNew' | translate}}
            </a>
        </span>
        {{'TotalRecord' | translate}} {{vm.totalItems}}
        <form class="row">
            <div class="form-body">
                <div class="col-md-3">
                    <div class="input-group input-large">
                        <input type="text"
                               class="form-control"
                               data-ng-model="vm.search_name"
                               auto-focus
                               placeholder="{{'Search' | translate}}">

                        <span class="input-group-btn">
                            <button type="submit" class="btn blue" data-ng-click="vm.search()">
                                <i class="fa fa-search" data-ng-if="!vm.loading"></i>
                                <i class="fa fa-spinner fa-spin" data-ng-if="vm.loading"></i>
                            </button>
                        </span>
                    </div>
                </div>
            </div>
        </form>
        <div class="table-responsive">
            <table class="table table-bordered table-striped">
                <thead>
                <th width="3%">
                    #
                </th>
                <th width="18%">
                    {{'Name' | translate}}
                </th>
                <th width="10%">
                    {{'Type' | translate}}
                </th>
                <th width="5%">
                    {{'Gender' | translate}}
                </th>
                <th width="10%">
                    {{'Email' | translate}}
                </th>
                <th width="15%">
                    {{'Telephone' | translate}}
                </th>
                <th width="15%">
                    {{'Address' | translate}}
                </th>
                <th width="12%">
                    {{'Action' | translate}}
                </th>
                </thead>
                <tr data-ng-repeat="doctor in vm.doctorList.elements">
                    <td>
                        <span data-ng-bind="vm.pageSize + $index + 1"></span>
                    </td>
                    <td>
                        <span data-ng-bind="doctor.name"></span>
                        <span class="label label-info" 
                            data-ng-bind="doctor.basic_salary | currency"></span>
                    </td>
                    <td>
                        <span data-ng-bind="doctor.doctor_type[0].name"></span>
                    </td>
                    <td>
                        <span data-ng-bind="doctor.sex"></span>
                    </td>
                    <td>
                        <span data-ng-bind="doctor.email"></span>
                    </td>
                    <td>
                        <span data-ng-bind="doctor.phone | tel"></span>
                    </td>
                    <td>
                        <span data-ng-bind="doctor.address"></span>
                    </td>
                    <td>
                        <span role-permission 
                            ng-if="featureRole"
                            permission="'Staff_List_Edit'" 
                            feature="featureRole">
                            <button class="btn btn-default btn-xs"
                                data-ng-disabled="doctor.status == 0"
                                ui-sref="staff_list.edit({id: doctor.id})"
                                uib-tooltip="{{'Edit' | translate}}">
                                <span class="fa fa-edit"></span>
                            </button>
                        </span>
                        <span role-permission 
                            ng-if="featureRole"
                            permission="'Staff_List_Disable'" 
                            feature="featureRole">
                            <button
                                class="btn btn-success btn-xs"
                                uib-tooltip="{{'Disable' | translate}}"
                                data-ng-click="vm.updateStatus(doctor);"
                                data-ng-if="doctor.status == 1"
                            >
                                <span class="fa fa-check-circle-o"></span>
                            </button>
                            <button
                                class="btn btn-warning btn-xs"
                                uib-tooltip="{{'Enable' | translate}}"
                                data-ng-if="doctor.status == 0"
                                data-ng-click="vm.updateStatus(doctor);"
                            >
                                <span class="fa fa-times-circle-o"></span>
                            </button>
                        </span>
                        <span role-permission 
                            ng-if="featureRole"
                            permission="'Staff_List_View'" 
                            feature="featureRole">
                            <a class="btn btn-primary btn-xs"
                            ui-sref="staff_list.detail({id: doctor.id})"
                            uib-tooltip="{{'Detail' | translate}}">
                                <span class="fa fa-eye"></span>
                            </a>
                        </span>
                        <span role-permission 
                            ng-if="featureRole"
                            permission="'Staff_List_Delete'" 
                            feature="featureRole">
                            <button class="btn btn-danger btn-xs"
                                uib-tooltip="{{'Delete' | translate}}"
                                data-ng-click="vm.delete(doctor);">
                                <span class="fa fa-trash"></span>
                            </button>
                        </span>
                    </td>
                </tr>
            </table>
        </div>
        <div
            data-ng-if="vm.doctorList.elements == 0"
        >
            <empty-data></empty-data>
        </div>
        <div
            data-ng-if="!vm.doctorList"
            class="align_center"
        >
            <i class="fa fa-refresh fa-spin" style="font-size: 100px;"></i>
        </div>
    </div>
    <div class="panel-footer">
        <ul uib-pagination
            total-items="vm.totalItems"
            ng-model="vm.currentPage"
            ng-change="vm.pageChanged()"
            max-size="5"
            items-per-page="10"
            boundary-links="true"
        ></ul>
    </div>
</div>
