<div class="panel panel-default">
	<div class="panel-heading">
		{{'QuotationReport' | translate}}
	</div>
	<div class="panel-body">
		<form class="row" name="report" novalidate>
			<div class="col-md-2 col-sm-6"
				 data-ng-class="{ 'has-error': report.from_date.$error.required && report.$submitted }">
				<div cambodia-date-picker date-format="y-MM-dd" class="input-group">
					<input type="text"
						   class="form-control"
						   data-ng-model="vm.from_date"						   
						   name="from_date"
						   placeholder="{{'FromDate' | translate}}"/>
					<span class="input-group-btn">
						<button class="btn btn-default" type="button">
							<i class="fa fa-calendar"></i>
						</button>
					</span>
				</div>
				<div translate="ThisFieldRequire" class="has-error msg-error msg-drop-down"
					 data-ng-if="report.from_date.$error.required && report.$submitted"></div>
			</div>
			<div class="col-md-2 col-sm-6"
				 data-ng-class="{ 'has-error': report.to_date.$error.required && report.$submitted }">
				<div cambodia-date-picker date-format="y-MM-dd" class="input-group">
					<input type="text"
						   name="to_date"
						   class="form-control"
						   data-ng-model="vm.to_date"
						   placeholder="{{'ToDate' | translate}}"/>
					<span class="input-group-btn">
						<button class="btn btn-default" type="button">
							<i class="fa fa-calendar"></i>
						</button>
					</span>
				</div>
				<div translate="ThisFieldRequire"
					 class="has-error msg-error msg-drop-down"
					 data-ng-if="report.to_date.$error.required && report.$submitted"></div>
			</div>
			<div class="col-md-3">
				<customer-list-drop-down ng-model="vm.customer"></customer-list-drop-down>
			</div>
			<div class="col-md-5">
				<button class="btn btn-primary"
						data-ng-click="vm.from_date = ''; vm.to_date = '';vm.customer=null;"
						uib-tooltip="{{'ClearSelect' | translate}}">
					<i class="fa fa-refresh" aria-hidden="true"></i>
				</button>
				<button class="btn btn-success" data-ng-click="vm.init();">
					<i class="fa fa-hourglass-half"></i>
					{{'Filter' | translate}}
				</button>
				<button class="btn btn-default margin-top"
						onclick="PrintElem('#print')"
						data-ng-disabled="!vm.invoices.count">
					<i class="fa fa-print"></i>
					{{'Print' | translate}}
				</button>
				<!-- <span role-permission 
					 ng-if="featureRole"
					 permission="'Sell_Detail_Report_Export'" 
					 feature="featureRole">
					<button class="btn btn-info margin-top"
							ng-csv="vm.csv"
							data-ng-disabled="!vm.stockOut.count"
							csv-header="vm.headers"
							add-bom="true"
							filename="sale_summary_report.csv">
						<i class="fa fa-file-excel-o"></i>
						{{'ExportCSV' | translate}}
					</button>
				</span> -->
			</div>
		</form>

		<div data-ng-if="vm.invoices.elements.length > 0" id="print" class="table-responsive">
			<table width="100%">
				<tr>
					<td align="center">
						<h3 ng-bind="company.company_name"></h3>
						<h4>
							{{'QuotationReport' | translate}}
						</h4>
						{{'FromDate' | translate}} {{vm.from_date}}
						{{'ToDate' | translate}} {{vm.to_date}}
					</td>
				</tr>
			</table>
			<table width="100%">
				<tr data-ng-repeat="p in vm.invoices.elements">
					<td>
						<table class="table-print">
							<tr rowspan="2">
								<td class="color-header-report-table">									
									<b>
										{{$index + 1}}.
										{{'InvoiceNo' | translate}}:
										<span data-ng-bind="p.invoice_no"></span>,
										{{'InvoiceDate' | translate}}:
										<span data-ng-bind="vm.service.dateFormat(p.invoice_date)"></span>,
										{{'CustomerName' | translate}}:
										<span data-ng-bind="p.customer_name"></span>, 
										{{'Code' | translate}}:
										<span data-ng-bind="p.customer_code"></span>,
										{{'Telephone' | translate}}:
										<span data-ng-bind="p.customer_tel | tel"></span>
									</b>
								</td>
							</tr>
							<tr>
								<td colspan="2" style="padding: 0px;">
									<table class="table-print">
										<tr style="background-color: #F7F7F7;">
											<th width="5%">
												#
											</th>
											<th width="30%">
												{{'Item' | translate}}
											</th>
											<th width="15%">
												{{'Qty' | translate}}
											</th>
											<th width="15%">
												{{'Dis' | translate}}
											</th>
											<th width="15%">
												{{'Price' | translate}}
											</th>
											<th width="15%">
												{{'Total' | translate}}
											</th>
										</tr>
										<tr data-ng-repeat="item in p.detail">
											<td>
												{{$index +1}}
											</td>
											<td>
												{{item.product_name}}
												<ul>
													<li data-ng-repeat="x in item.description_decode track by $index">
														{{x}}
													</li>
												</ul>
											</td>
											<td>
												{{item.qty}}
											</td>
											<td>
												<span data-ng-if="item.discount_percent > 0">
													{{item.discount_percent}} (%)
												</span>
												<span data-ng-if="item.discount_percent == 0">
													{{item.discount_cash | currency}}
												</span>
											</td>
											<td>
												{{item.unit_price | currency}}
											</td>
											<td>
												{{item.total | currency}}
											</td>
										</tr>
										<tr>
											<td colspan="5" align="right">
												<b>{{'SubTotal' | translate}}</b>
											</td>
											<td>
												<b>{{p.sub_total | currency}}</b>
											</td>
										</tr>
										<tr>
											<td colspan="5" align="right">
												<b>{{'TotalDiscountAmount' | translate}}</b>
											</td>
											<td>
												<b>{{p.total_discount | currency}}</b>
											</td>
										</tr>
										<tr>
											<td colspan="5" align="right">
												<b>{{'GrandTotal' | translate}}</b>
											</td>
											<td>
												<b>{{p.grand_total | currency}}</b>
											</td>
										</tr>
										<tr>
											<td colspan="5" align="right">
												<b>{{'Payment' | translate}}</b>
											</td>
											<td>
												<b>{{p.deposit | currency}}</b>
											</td>
										</tr>
										<tr>
											<td colspan="5" align="right">
												<b>{{'PaymentMethod' | translate}}</b>
											</td>
											<td>
												<b>{{p.payment_method}}</b>
											</td>
										</tr>
										<tr>
											<td colspan="5" align="right">
												<b>{{'Balance' | translate}}</b>
											</td>
											<td>
												<b>{{p.balance | currency}}</b>
											</td>
										</tr>
										
									</table>
								</td>
							</tr>
						</table>
					</td>
				</tr>
			</table>
		</div>
		<div data-ng-if="vm.invoices.count == 0">
			<empty-data></empty-data>
		</div>
		<div data-ng-if="vm.loading" class="align_center">
			<i class="fa fa-refresh fa-spin" style="font-size: 100px;"></i>
		</div>
	</div>
</div>
