<div class="col-md-4">
    <div class="panel panel-default">
        <div class="panel-heading">
            <b>{{'StaffExpense' | translate}}</b>            
        </div>
        <form name="form" class="form-horizontal" novalidate>
            <div class="panel-body">
                <div class="col-md-12">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group"
                                data-ng-class="{ 'has-error': form.invoice.$error.required && form.$submitted }">
                                <div class="col-md-3">
                                    <span class="control-label">
                                        {{'InvoiceNo' | translate}}
                                        <span class="required">*</span>
                                    </span>
                                </div>
                                <div class="col-md-9">
                                    <span class="radio3 radio-check radio-inline">
                                        <input type="radio"
                                            id="IssueInvoice"
                                            name="radio2"
                                            data-ng-model="vm.invoice_type"
                                            value="IssueInvoice" />
                                        <label for="IssueInvoice">
                                            <b>{{'IssueInvoice' | translate}}</b>
                                        </label>
                                    </span>
                                    <span class="radio3 radio-check radio-success radio-inline">
                                        <input type="radio"
                                            id="ReceiveInvoice"
                                            name="radio2"
                                            data-ng-model="vm.invoice_type"
                                            value="ReceiveInvoice" />
                                        <label for="ReceiveInvoice">
                                            <b>{{'ReceiveInvoice' | translate}}</b>
                                        </label>
                                    </span>
                                    <invoice-list-drop-down invoice-model="vm.invoice"
                                        data-ng-if="vm.invoice_type == 'IssueInvoice'" 
                                        on-change="vm.getInvoiceDetail()"
                                        name="invoice" 
                                        required="required"></invoice-list-drop-down>
                                    <invoice-receive-list-drop-down invoice-model="vm.invoice" 
                                        on-change="vm.getInvoiceDetail()"
                                        data-ng-if="vm.invoice_type == 'ReceiveInvoice'"
                                        name="invoice" 
                                        required="required"></invoice-receive-list-drop-down>
                                    <div translate="ThisFieldRequire"
                                        class="has-error msg-error"
                                        data-ng-if="form.invoice.$error.required && form.$submitted"></div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-12" data-ng-if="vm.invoice.customer_name">
                            <div class="form-group"
                                data-ng-class="{ 'has-error': form.customers_name.$error.required && form.$submitted }">
                                <div class="col-md-3">
                                    <span class="control-label">
                                        {{'CustomerName' | translate}}
                                        <span class="required">*</span>
                                    </span>
                                </div>
                                <div class="col-md-9">
                                    {{vm.invoice.customer_name}}
                                </div>
                            </div>
                        </div>
                        <div class="col-md-12" data-ng-if="vm.invoice.customer_telephone">
                            <div class="form-group">
                                <div class="col-md-3">
                                    <span class="control-label">
                                        {{'Telephone' | translate}}
                                    </span>
                                </div>
                                <div class="col-md-9">
                                    {{vm.invoice.customer_telephone | tel}}
                                </div>
                            </div>
                        </div>
                         <div class="col-md-12" data-ng-if="vm.invoice.doctor_detail.length > 0">
                            <div class="form-group">
                                <div class="col-md-3">
                                    <span class="control-label">
                                        {{'CheckBy' | translate}}
                                    </span>
                                </div>
                                <div class="col-md-9">
                                    <span data-ng-repeat="i in vm.invoice.doctor_detail">
                                        {{i.doctor_name}}
                                        <span data-ng-if="!$last"> + </span>
                                    </span>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="form-group"
                                data-ng-class="{ 'has-error': form.doctor.$invalid && form.$submitted }">
                                <div class="col-md-3">
                                    <span class="control-label">
                                        {{'StaffName' | translate}}
                                        <span class="required">*</span>
                                    </span>
                                </div>
                                <div class="col-md-9">
                                    <doctor-list-drop-down doctor-model="vm.doctor" 
                                        name="doctor" 
                                        is-active="true"
                                        required="required"></doctor-list-drop-down>
                                    <div translate="ThisFieldRequire"
                                        class="has-error msg-error"
                                        data-ng-if="form.doctor.$error.required && form.$submitted"></div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="form-group"
                                data-ng-class="{ 'has-error': form.date.$invalid && form.$submitted }">
                                <div class="col-md-3">
                                    <span class="control-label">
                                        {{'ExpenseDate' | translate}}
                                         <span class="required">*</span>
                                    </span>
                                </div>
                                <div class="col-md-9">
                                    <div cambodia-date-picker date-format="y-MM-dd" class="input-group">
                                        <input type="text" class="form-control" 
                                            data-ng-model="vm.model.expense_date"
                                            placeholder="{{'Date' | translate}}"
                                            name="date"
                                            required/>
                                        <span class="input-group-btn">
                                            <button class="btn btn-default" type="button">
                                                <i class="fa fa-calendar"></i>
                                            </button>
                                        </span>
                                    </div>
                                    <div translate="ThisFieldRequire"
                                        class="has-error msg-error"
                                        data-ng-if="form.date.$error.required && form.$submitted"></div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="form-group">
                                <div class="col-md-3">
                                    <span class="control-label">
                                        {{'Note' | translate}}
                                    </span>
                                </div>
                                <div class="col-md-9">
                                    <textarea class="form-control" rows="3"
                                            placeholder="{{'Note' | translate}}"
                                            data-ng-model="vm.model.note"></textarea>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="form-group"
                                data-ng-class="{ 'has-error': form.payment.$invalid && form.$submitted }">
                                <div class="col-md-3">
                                    <span class="control-label">
                                        {{'Total' | translate}}
                                        <span class="required">*</span>
                                    </span>
                                </div>
                                <div class="col-md-9">
                                    <input type="text" readonly ng-model="vm.model.total" class="form-control"/>
                                    <span class="radio3 radio-check radio-inline">
                                        <input type="radio"
                                            id="dollar"
                                            name="radio1"
                                            data-ng-change="vm.checkTypeDiscount();"
                                            data-ng-model="vm.model.payment_type"
                                            value="dollar" />
                                        <label for="dollar">
                                            <b>($)</b>
                                        </label>
                                    </span>
                                    <span class="radio3 radio-check radio-success radio-inline">
                                        <input type="radio"
                                            id="percent"
                                            name="radio1"
                                            data-ng-change="vm.checkTypeDiscount();"
                                            data-ng-model="vm.model.payment_type"
                                            value="percent" />
                                        <label for="percent">
                                            <b>(%)</b>
                                        </label>
                                    </span>
                                    <input class="form-control" type="number"
                                        data-ng-model="vm.model.payment"
                                        data-ng-change="vm.checkTypeDiscount();"
                                        name="payment" 
                                        required
                                        placeholder="{{'Payment' | translate}}"/>	
                                    <div translate="ThisFieldRequire"
                                        class="has-error msg-error"
                                        data-ng-if="form.payment.$error.required && form.$submitted"></div>					
                                </div>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="form-group">
                                <div class="col-md-3">
                                    <span class="control-label">
                                        {{'GrandTotal' | translate}}
                                    </span>
                                </div>
                                <div class="col-md-9">
                                    <input type="text" class="form-control" readonly ng-model="vm.model.grand_total"/>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <a
                    class="btn btn-default"
                    data-dismiss="modal"
                    ui-sref="doctor_expense.list"
                    href="javascript:;"
                >
                    <i class="fa fa-close"></i>
                    {{'Close' | translate}}
                </a>
                <!-- <button
                    class="btn btn-primary"
                    data-ng-disabled="!vm.disable"
                    ng-click="vm.save(false);"
                >
                    <i class="fa fa-spinner fa-spin" data-ng-if="!vm.disable"></i>
                    <i class="fa fa-save" data-ng-if="vm.disable"></i>
                    {{'Save' | translate}}
                </button> -->
                <button
                    class="btn btn-primary"
                    data-ng-disabled="!vm.disable"
                    ng-click="vm.save(true);"
                >
                    <i class="fa fa-spinner fa-spin" data-ng-if="!vm.disable"></i>
                    <i class="fa fa-save" data-ng-if="vm.disable"></i>
                    {{'Save' | translate}}
                </button>
            </div>
        </form>
    </div>
</div>
<div class="col-md-8">
    <div class="panel panel-default">
        <div class="panel-heading">
            <b>{{'Information' | translate}}</b>
            <a
                class="btn no-padding pull-right"
                onclick="history.go(-1)"
            >
                <i class="fa fa-step-backward"></i>
                {{'Back' | translate}}
            </a>
        </div>        
        <div class="panel-body">
            <div class="">
                <div class="scroll" style="height: 673px;">
                    <table class="table table-bordered table-striped">
                        <thead>
                            <tr>
                                <th width="5%">
                                    #
                                </th>
                                <th width="40%">
                                    {{'ItemName' | translate}}
                                </th>
                                <th width="10%">
                                    {{'Qty' | translate}}
                                </th>
                                <th width="10%">
                                    {{'Dis' | translate}}(%)
                                </th>
                                <th width="10%">
                                    {{'Dis' | translate}}($)
                                </th>
                                <th width="15%">
                                    {{'Price' | translate}}
                                </th>
                                <th width="15%">
                                    {{'Total' | translate}}
                                </th>
                            </tr>
                        </thead>
                        <tr data-ng-repeat="row in vm.items">
                            <td>
                                <input type="checkbox" ng-model="row.selected"
                                    ng-change="vm.calculateTotalPayment();"
                                    ng-true-value="1" 
                                    ng-false-value="0"/>
                            </td>
                            <td>
                                {{row.product_name}}
                            </td>
                            <td>
                                {{row.qty}}
                            </td>
                            <td>
                                {{row.discount_percent}}
                            </td>
                            <td>
                                {{row.discount_cash}}
                            </td>
                            <td>
                                {{row.price | currency}}
                            </td>
                            <td>
                                {{row.total | currency}}
                            </td>
                        </tr>
                        <tr ng-if="vm.items.length > 0">
                            <td colspan="6" align="right">
                                <strong>{{'SubTotal' | translate}}</strong>
                            </td>
                            <td>
                                <strong>{{vm.invoice.sub_total | currency}}</strong>
                            </td>
                        </tr>
                        <tr ng-if="vm.items.length > 0">
                            <td colspan="6" align="right">
                                <strong>{{'TotalDiscount' | translate}}</strong>
                            </td>
                            <td>
                                <strong>{{vm.invoice.discount_total_amount | currency}}</strong>
                            </td>
                        </tr>
                        <tr ng-if="vm.items.length > 0">
                            <td colspan="6" align="right">
                                <strong>{{'GrandTotal' | translate}}</strong>
                            </td>
                            <td>
                                <strong>{{vm.invoice.grand_total | currency}}</strong>
                            </td>
                        </tr>
                        <tr ng-if="vm.items.length > 0">
                            <td colspan="6" align="right">
                                <b>{{'CustomerPayment' | translate}}</b>
                            </td>
                            <td>
                                <b>{{vm.invoice.payment | currency}}</b>
                            </td>
                        </tr>
                        <tr ng-if="vm.items.length > 0">
                            <td colspan="6" align="right">
                                <b>{{'Remaining' | translate}}</b>
                            </td>
                            <td>
                                <b>{{vm.invoice.remain | currency}}</b>
                            </td>
                        </tr>
                        <tr ng-if="!vm.items || vm.items.length == 0">
                            <td colspan="7">
                                <empty-data></empty-data>
                            </td>
                        </tr>
                    </table>
                </div>
            </div>
            <div class="clear-fix"></div>
        </div>
    </div>
</div>

