<div class="col-md-6"> 
    <div class="panel panel-default">
        <div class="panel-heading">
            <b>{{'Information' | translate}}</b>
        </div>
        <form name="form" class="form-horizontal" novalidate>
            <div class="panel-body">
                <div class="col-md-12">
                    <div class="">
                        <div class="col-md-12">
                            <div class="form-group"
                                data-ng-class="{ 'has-error': form.invoice.$error.required && form.$submitted }">
                                <div class="col-md-3">
                                    <span class="control-label">
                                        {{'InvoiceNo' | translate}}
                                    </span>
                                </div>
                                <div class="col-md-9">
                                    {{vm.model.invoice_no}}
                                </div>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="form-group"
                                data-ng-class="{ 'has-error': form.customers_name.$error.required && form.$submitted }">
                                <div class="col-md-3">
                                    <span class="control-label">
                                        {{'CustomerName' | translate}}
                                    </span>
                                </div>
                                <div class="col-md-9">
                                    {{vm.model.customer_name}}
                                </div>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="form-group"
                                data-ng-class="{ 'has-error': form.doctor.$invalid && form.$submitted }">
                                <div class="col-md-3">
                                    <span class="control-label">
                                        {{'DoctorName' | translate}}
                                    </span>
                                </div>
                                <div class="col-md-9">
                                    {{vm.model.doctor_name}}
                                </div>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="form-group"
                                data-ng-class="{ 'has-error': form.date.$invalid && form.$submitted }">
                                <div class="col-md-3">
                                    <span class="control-label">
                                        {{'ExpenseDate' | translate}}
                                    </span>
                                </div>
                                <div class="col-md-9">
                                    {{vm.service.dateFormat(vm.model.expense_date)}}
                                </div>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="form-group">
                                <div class="col-md-3">
                                    <span class="control-label">
                                        {{'Note' | translate}}
                                    </span>
                                </div>
                                <div class="col-md-9">
                                    {{vm.model.note}}
                                </div>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="form-group"
                                data-ng-class="{ 'has-error': form.payment.$invalid && form.$submitted }">
                                <div class="col-md-3">
                                    <span class="control-label">
                                        {{'Total' | translate}}
                                    </span>
                                </div>
                                <div class="col-md-9">
                                    {{vm.model.total | currency}}			
                                </div>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="form-group">
                                <div class="col-md-3">
                                    <span class="control-label">
                                        {{'PaymentType' | translate}}
                                    </span>
                                </div>
                                <div class="col-md-9">              
                                    {{vm.model.payment}} {{vm.display}}
                                </div>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="form-group">
                                <div class="col-md-3">
                                    <span class="control-label">
                                        {{'GrandTotal' | translate}}
                                    </span>
                                </div>
                                <div class="col-md-9">
                                    {{vm.model.grand_total | currency}}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <a
                    class="btn btn-default"
                    data-dismiss="modal"
                    ui-sref="doctor_expense.list"
                    href="javascript:;"
                >
                    <i class="fa fa-close"></i>
                    {{'Close' | translate}}
                </a>
            </div>
        </form>
    </div>
</div>
<div class="col-md-6">
    <div class="panel panel-default">
        <div class="panel-heading">
            <b>{{'DoctorExpense' | translate}}</b>
            <a
                class="btn no-padding pull-right"
                onclick="history.go(-1)"
            >
                <i class="fa fa-step-backward"></i>
                {{'Back' | translate}}
            </a>
        </div>
        <div class="panel-body">
            <div class="">
                <div class="scroll" style="height: 338px;">
                    <table class="table table-bordered table-striped">
                        <thead>
                            <tr>
                                <th width="5%">
                                    #
                                </th>
                                <th width="45%">
                                    {{'ItemName' | translate}}
                                </th>
                                <th width="10%">
                                    {{'Qty' | translate}}
                                </th>
                                <th width="10%">
                                    {{'Dis' | translate}}(%)
                                </th>
                                <th width="10%">
                                    {{'Dis' | translate}}($)
                                </th>
                                <th width="15%">
                                    {{'Price' | translate}}
                                </th>
                                <th width="15%">
                                    {{'Total' | translate}}
                                </th>
                            </tr>
                        </thead>
                        <tr data-ng-repeat="row in vm.model.doctor_detail">
                            <td>
                                <input type="checkbox" ng-model="row.selected"
                                    ng-change="vm.calculateTotalPayment();"
                                    disabled
                                    ng-true-value="1" 
                                    ng-false-value="0"/>
                            </td>   
                            <td>
                                {{row.product_name}}
                            </td>
                            <td>
                                {{row.qty}}
                            </td>
                            <td>
                                {{row.discount_percent}}
                            </td>
                            <td>
                                {{row.discount_cash}}
                            </td>
                            <td>
                                {{row.price | currency}}
                            </td>
                                <td>
                                {{row.total | currency}}
                            </td>
                        </tr>
                        <tr ng-if="vm.model.doctor_detail.length > 0">
                            <td colspan="6" align="right">
                                <b>{{'CustomerPayment' | translate}}</b>
                            </td>
                            <td>
                                <b>{{vm.model.customer_payment | currency}}</b>
                            </td>
                        </tr>
                        <tr ng-if="vm.model.doctor_detail.length > 0">
                            <td colspan="6" align="right">
                                <b>{{'Remaining' | translate}}</b>
                            </td>
                            <td>
                                <b>{{vm.model.customer_remain | currency}}</b>
                            </td>
                        </tr>
                        <tr ng-if="!vm.model.doctor_detail || vm.model.doctor_detail.length == 0">
                            <td colspan="7">
                                <empty-data></empty-data>
                            </td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>