<div class="panel panel-default">
	<div class="panel-heading">
		<b>{{'StaffExpense' | translate}}</b>
	</div>
	<div class="panel-body">
		<span role-permission 
			ng-if="featureRole"
			permission="'Doctor_Expense_Create'" 
			feature="featureRole">
			<a class="btn btn-default" ui-sref="doctor_expense.create">
				<i class="fa fa-plus"></i>
				{{'AddNew' | translate}}
			</a>
		</span>
		{{'TotalRecord' | translate}}: {{vm.totalItems}}
		<form class="row">
			<div class="form-body">
				<div class="col-md-3">
					<div class="input-group input-large">
						<input type="text"
							   class="form-control"
							   data-ng-model="vm.filter"
							   auto-focus
							   placeholder="{{'Search' | translate}}">

                        <span class="input-group-btn">
                            <button type="submit" class="btn blue" data-ng-click="vm.search()">
								<i class="fa fa-search" data-ng-if="!vm.loading"></i>
								<i class="fa fa-spinner fa-spin" data-ng-if="vm.loading"></i>
							</button>
                        </span>
					</div>
				</div>
			</div>
		</form>
		<div class="table-responsive">
			<table class="table table-bordered table-striped">
				<thead>
					<tr>
						<th width="5%">
							#
						</th>
						<th width="15%">
							{{'InvoiceNo' | translate}}
						</th>
						<th width="10%">
							{{'ExpenseDate' | translate}}
						</th>
						<th width="15%">
							{{'StaffName' | translate}}
						</th>
						<th width="15%">
							{{'CustomerName' | translate}}
						</th>
						<th width="15%">
							{{'Payment' | translate}}
						</th>
						<th width="5%">
							{{'Status' | translate}}
						</th>
						<th width="10%">
							{{'Action' | translate}}
						</th>
					</tr>
				</thead>
				<tr data-ng-repeat="p in vm.expenseList.elements">
					<td>
						{{vm.pageSize + $index + 1}}
					</td>
					<td>
						{{p.invoice_no}}
					</td>
					<td>
						{{vm.service.dateFormat(p.expense_date)}}
					</td>
					<td>
						{{p.doctor_name}}
					</td>
					<td>
						{{p.customer_name}}
					</td>
					<td>
						{{p.grand_total | currency}}
					</td>
                    <td>
                        <label class="label " data-ng-class="{'label-success': p.status == 1, 'label-warning': p.status == 0}">
                            {{p.status == 1 ? ('Record' | translate) : ('Void' | translate) }}
                        </label>
                    </td>
					<td>
						<span role-permission 
                            ng-if="featureRole"
                            permission="'Doctor_Expense_Disable'" 
                            feature="featureRole">
							<button uib-tooltip="{{'Void' | translate}}"
								class="btn btn-success btn-xs"
								data-ng-click="vm.updateStatus(p);"
								data-ng-if="p.status == 1"
							>
								<span class="fa fa-check-square-o"></span>
							</button>
							<button uib-tooltip="{{'Enable' | translate}}"
								class="btn btn-warning btn-xs"
								data-ng-if="p.status == 0"
								data-ng-disabled="true"
								data-ng-click="vm.updateStatus(p);"
							>
								<span class="fa fa-close"></span>
							</button>
						</span>
						<span role-permission 
                            ng-if="featureRole"
                            permission="'Doctor_Expense_View'" 
                            feature="featureRole">
							<a ui-sref="doctor_expense.detail({id: p.id})"
							class="btn btn-primary btn-xs"
							uib-tooltip="{{'Detail' | translate}}"
							>
								<span class="fa fa-eye"></span>
							</a>
						</span>
					</td>
				</tr>
			</table>
		</div>
		<div data-ng-if="vm.expenseList.count == 0">
			<empty-data></empty-data>
		</div>
		<div
            data-ng-if="!vm.expenseList"
            class="align_center"
		>
			<i class="fa fa-refresh fa-spin" style="font-size: 100px;"></i>
		</div>
		<div class="panel-footer">
			<ul uib-pagination
				total-items="vm.totalItems"
				ng-model="vm.currentPage"
				ng-change="vm.pageChanged()"
				max-size="10"
				items-per-page="10"
				boundary-links="true"
			></ul>
		</div>
	</div>
</div>
