<div class="panel panel-default">
    <div class="panel-heading">
        <b>{{'ServiceList' | translate}}</b>
        <a
            class="btn no-padding pull-right"
            onclick="history.go(-1)"
        >
            <i class="fa fa-step-backward"></i>
            {{'Back' | translate}}
        </a>
    </div>
    <form data-ng-submit="vm.save();" name="productListCreate" class="form-horizontal" novalidate>
        <div class="panel-body">
            <div class="col-lg-6">
                <div class="col-md-12">
                    <div class="form-group"
                        data-ng-class="{ 'has-error': productListCreate.product_type.$error.required && productListCreate.$submitted }">
                        <div class="col-md-4">
                            <span class="control-label">
                                {{'Type' | translate}}
                                <span class="required">*</span>
                            </span>
                        </div>
                        <div class="col-md-8">
                            <select class="form-control"
                                    data-ng-model="vm.model.type_id"
                                    data-ng-options="cu.id as cu.name for cu in vm.ProductType.elements"
                                    name="product_type"
                                    required="required">
                                <option value="">{{'Select' | translate}}</option>
                            </select>
                            <div translate="ThisFieldRequire" class="has-error msg-error"
                                data-ng-if="productListCreate.product_type.$error.required && productListCreate.$submitted"></div>
                        </div>
                    </div>
                </div>
                <div class="col-md-12">
                    <div class="form-group"
                        data-ng-class="{ 'has-error': productListCreate.products_name.$error.required && productListCreate.$submitted }">
                        <div class="col-md-4">
                            <span class="control-label">
                                {{'Name' | translate}}
                                <span class="required">*</span>
                            </span>
                        </div>
                        <div class="col-md-8">
                            <input type="text"
                                class="form-control"
                                data-ng-model="vm.model.name"
                                name="products_name"
                                placeholder="{{'Name' | translate}}"
                                required="required" />
                            <div translate="ThisFieldRequire" class="has-error msg-error"
                                data-ng-if="productListCreate.products_name.$error.required && productListCreate.$submitted"></div>
                        </div>
                    </div>
                </div>
                <div class="col-md-12">
                    <div class="form-group"
                        data-ng-class="{ 'has-error': productListCreate.barcode.$error.required && productListCreate.$submitted }">
                        <div class="col-md-4">
                            <span class="control-label">
                                {{'Code' | translate}}
                                <span class="required">*</span>
                            </span>
                        </div>
                        <div class="col-md-8">
                            <input type="text"
                                class="form-control"
                                data-ng-model="vm.model.code"
                                name="barcode"
                                placeholder="{{'Code' | translate}}"
                                required="required" />
                            <div translate="ThisFieldRequire" class="has-error msg-error"
                                data-ng-if="productListCreate.barcode.$error.required && productListCreate.$submitted"></div>
                        </div>
                    </div>
                </div>
                <div class="col-md-12" data-ng-class="{ 'has-error': productListCreate.price.$error.required && productListCreate.$submitted }">
                    <div class="form-group">
                        <div class="col-md-4">
                            <span class="control-label">
                                {{'Price' | translate}}
                            </span>
                            <span class="required">*</span>
                        </div>
                        <div class="col-md-8">
                            <input type="number"
                                name="price"
                                required
                                class="form-control"
                                min="0"
                                data-ng-model="vm.model.price"
                                placeholder="{{'Price' | translate}}" />
                            <div translate="ThisFieldRequire" class="has-error msg-error"
                                data-ng-if="productListCreate.price.$error.required && productListCreate.$submitted"></div>
                        </div>
                    </div>
                </div>
                <div class="col-md-12">
                    <div class="form-group">
                        <div class="col-md-4">
                            <span class="control-label">
                                {{'Description' | translate}}
                            </span>
                        </div>
                        <div class="col-md-8">
                            <textarea class="form-control"
                                    data-ng-model="vm.model.detail"
                                    name="Description"
                                    rows="5"
                                    placeholder="{{'Description' | translate}}"></textarea>
                        </div>
                    </div>
                </div>
                <div class="col-md-12">
                    <div class="form-group">
                        <div class="col-md-4">
                            <span class="control-label">
                                {{'IsSale' | translate}}
                            </span>
                        </div>
                        <div class="col-md-8">
                            <switch id="enabled" 
                                name="enabled"  
                                size="small"
                                ng-model="vm.model.is_sale" 
                                class="blue"></switch>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
				<div class="row text-center">
					<img ng-src="{{vm.model.image}}"
							class="img-thumbnail"
							width="250px"/>
					<br /><br />
					<div>
						<a class="btn btn-success" href="javascript:;" ng-click="vm.showSnapPhoto();">
							<i class="fa fa-camera"></i>
							{{'SnapAPhoto' | translate}}
						</a>
						<span> {{'Or' | translate}} </span>
						<a class="btn btn-primary" ng-click="vm.showUploadPhoto();" href="javascript:;">
							<i class="fa fa-cloud-upload"></i> 
							{{'UploadAnImage' | translate}}
						</a>
					</div>
				</div>
			</div>
        </div>
        <div class="modal-footer">
            <a
                class="btn btn-default"
                data-dismiss="modal"
                ui-sref="service_list.list"
                href="javascript:;"
            >
                <i class="fa fa-close"></i>
                {{'Close' | translate}}
            </a>
            <button
                class="btn btn-primary"
                data-ng-disabled="!vm.disable"
            >
                <i class="fa fa-save"></i>
                {{'Save' | translate}}
            </button>
        </div>
    </form>
</div>
<crop-image-modal result-image="vm.resultImage" image-path="vm.model.image"></crop-image-modal>
<snap-photo-modal result-image="vm.resultImage" is-hide="vm.hide" image-path="vm.model.image"></snap-photo-modal>
