<div class="panel panel-default">
	<div class="panel-heading">
		<b>{{'StaffType' | translate}}</b>
		<a
			class="btn no-padding pull-right"
			onclick="history.go(-1)"
		>
			<i class="fa fa-step-backward"></i>
			{{'Back' | translate}}
		</a>
	</div>
	<form data-ng-submit="vm.save();" name="doctorForm" class="form-horizontal" novalidate>
		<div class="panel-body">
			<div class="col-md-12">
				<div class="form-group"
					 data-ng-class="{ 'has-error': doctorForm.customers_name.$error.required && doctorForm.$submitted }">
					<div class="col-md-2">
							<span class="control-label">
								{{'Name' | translate}}
								<span class="required">*</span>
							</span>
					</div>
					<div class="col-md-4">
						<input type="text"
							   class="form-control"
							   data-ng-model="vm.model.name"
							   name="customers_name"
							   placeholder="{{'Name' | translate}}"
							   required="required" />
						<div translate="ThisFieldRequire"
							 class="has-error msg-error"
							 data-ng-if="doctorForm.customers_name.$error.required && doctorForm.$submitted"></div>
					</div>
				</div>
			</div>
			<div class="col-md-12">
				<div class="form-group">
					<div class="col-md-2">
						<span class="control-label">
							{{'Description' | translate}}
						</span>
					</div>
					<div class="col-md-4">
						<textarea class="form-control"
								  data-ng-model="vm.model.detail"
								  name="telephone"
								  rows="5"
								  placeholder="{{'Description' | translate}}"></textarea>
					</div>
				</div>
			</div>
		</div>
		<div class="modal-footer">
			<a
				class="btn btn-default"
				data-dismiss="modal"
				ui-sref="staff_type"
				href="javascript:;"
			>
				<i class="fa fa-close"></i>
				{{'Close' | translate}}
			</a>
			<button
				class="btn btn-primary"
				data-ng-disabled="!vm.disable"
			>
				<i class="fa fa-spinner fa-spin" data-ng-if="!vm.disable"></i>
				<i class="fa fa-save" data-ng-if="vm.disable"></i>
				{{'Save' | translate}}
			</button>
		</div>
	</form>
</div>


