<div class="panel panel-default">
    <div class="panel-heading">
        <b>{{'StaffType' | translate}}</b>
    </div>
    <div class="panel-body">
        <span role-permission 
            ng-if="featureRole"
            permission="'Staff_Type_Create'" 
            feature="featureRole">
            <a ui-sref="staff_type.create"
                class="btn btn-default"
                data-toggle="modal"
                data-target="#doctor-type-popup"
            >
                <span class="fa fa-plus-circle"></span>
                {{'AddNew' | translate}}
            </a>
        </span>
        {{'TotalRecord' | translate}} {{vm.totalItems | number}}
        <form class="row">
            <div class="form-body">
                <div class="col-md-3">
                    <div class="input-group input-large">
                        <input type="text"
                               class="form-control"
                               data-ng-model="vm.search_name"
                               auto-focus
                               placeholder="{{'Search' | translate}}">

                        <span class="input-group-btn">
                            <button type="submit" class="btn blue" data-ng-click="vm.search()">
                                <i class="fa fa-search" data-ng-if="!vm.loading"></i>
                                <i class="fa fa-spinner fa-spin" data-ng-if="vm.loading"></i>
                            </button>
                        </span>
                    </div>
                </div>
            </div>
        </form>
        <table class="table table-bordered table-striped">
            <thead>
                <th width="5%">
                    #
                </th>
                <th width="35%%">
                    {{'Name' | translate}}
                </th>
                <th width="40%">
                    {{'Description' | translate}}
                </th>
                <th width="10%">
                    {{'Status' | translate}}
                </th>
                <th width="10%">
                    {{'Action' | translate}}
                </th>
            </thead>
            <tr data-ng-repeat="doctor in vm.doctorType.elements">
                <td>
                    <span data-ng-bind="vm.pageSize + $index + 1"></span>
                </td>
                <td>
                    <span data-ng-bind="doctor.name"></span>
                </td>
                <td>
                    <span data-ng-bind="doctor.detail"></span>
                </td>
                <td>
                    <label class="label " data-ng-class="{'label-success': doctor.status == 1, 'label-warning': doctor.status == 0}">
                        {{doctor.status == 1 ? ('Enable' | translate) : 'Disable' | translate}}
                    </label>
                </td>
                <td>
                    <span role-permission 
                        ng-if="featureRole"
                        permission="'Staff_Type_Edit'" 
                        feature="featureRole">
                        <button ui-sref="staff_type.edit({id: doctor.id})"
                            class="btn btn-default btn-xs"
                            data-ng-disabled="doctor.status == 0"
                            uib-tooltip="{{'Edit' | translate}}"
                            data-ng-click="vm.edit(doctor);">
                            <span class="fa fa-edit"></span>
                        </button>
                    </span>
                    <span role-permission 
                        ng-if="featureRole"
                        permission="'Staff_Type_Disable'" 
                        feature="featureRole">
                        <button uib-tooltip="{{'Disable' | translate}}"
                            class="btn btn-success btn-xs"
                            data-ng-click="vm.updateStatus(doctor);"
                            data-ng-if="doctor.status == 1"
                        >
                            <span class="fa fa-check-square-o"></span>
                        </button>
                        <button uib-tooltip="{{'Enable' | translate}}"
                            class="btn btn-warning btn-xs"
                            data-ng-if="doctor.status == 0"
                            data-ng-click="vm.updateStatus(doctor);"
                        >
                            <span class="fa fa-minus-square-o"></span>
                        </button>
                    </span>
                    <span role-permission 
                        ng-if="featureRole"
                        permission="'Staff_Type_Delete'" 
                        feature="featureRole">
                        <button class="btn btn-danger btn-xs"
                            uib-tooltip="{{'Delete' | translate}}"
                            data-ng-click="vm.delete(doctor);">
                            <span class="fa fa-trash"></span>
                        </button>
                    </span>
                </td>
            </tr>
        </table>
        <div
            data-ng-if="vm.doctorType.elements == 0"
        >
            <empty-data></empty-data>
        </div>
        <div
            data-ng-if="!vm.doctorType"
            class="align_center"
        >
            <i class="fa fa-refresh fa-spin" style="font-size: 100px;"></i>
        </div>
    </div>

    <div class="panel-footer">
        <ul uib-pagination
            total-items="vm.totalItems"
            ng-model="vm.currentPage"
            ng-change="vm.pageChanged()"
            max-size="5"
            items-per-page="10"
            boundary-links="true"
        ></ul>
    </div>
</div>