<div class="card">
    <div class="card-header">
        <span class="card-title">
            <span class="title">{{'CompanyProfile' | translate}}</span>
        </span>
    </div>

    <div class="card-body">
        <form class="form form-horizontal">
            <div class="section">
                <div class="section-body">
                    <div class="form-group">
                        <div class="col-md-2">
                            <span translate="CompanyName"></span>
                        </div>
                        <div class="col-md-9">
                            {{company.company_name}}
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-2">
                            <span translate="InvoiceNo"></span>
                        </div>
                        <div class="col-md-10">
                            <span data-ng-bind-html="company.inv"></span>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-2">
                            <span translate="ReceiptNo"></span>
                        </div>
                        <div class="col-md-10">
                            <span data-ng-bind-html="company.receipt_no"></span>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-2">
                            <span translate="QuotationNo"></span>
                        </div>
                        <div class="col-md-10">
                            <span data-ng-bind-html="company.quotation_no"></span>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-2">
                            <span translate="CustomerID"></span>
                        </div>
                        <div class="col-md-10">
                            <span data-ng-bind-html="company.customer_code"></span>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-2">
                            <span translate="MinPayment"></span>
                        </div>
                        <div class="col-md-10">
                            <span data-ng-bind="company.min_payment | currency: ''"></span>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-2">
                            <span translate="Address"></span>
                        </div>
                        <div class="col-md-9">
                            <span data-ng-bind-html="company.address"></span>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-2">
                            <span translate="Telephone"></span>
                        </div>
                        <div class="col-md-9">
                            {{company.telephone}}
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-2">
                            <span translate="Description"></span>
                        </div>
                        <div class="col-md-10">
                            <span data-ng-bind-html="company.description"></span>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-2">
                            <span translate="Logo"></span>
                        </div>
                        <div class="col-md-10">
                            <img ng-src="{{company.logo}}" ng-if="company.logo" width="150px">
                            <img ng-src="images/pos.png" ng-if="!company.logo" width="150px">
                        </div>
                    </div>
                </div>
            </div>
            <div class="form-footer"
                role-permission 
                ng-if="featureRole"
                permission="'Company_Profile_Edit'" 
                feature="featureRole">
                <div class="form-group">
                    <div class="col-md-10 col-md-offset-2">
                        <button type="submit"
                                class="btn btn-primary"
                                data-ng-click="vm.edit(company);">
                            <i class="fa fa-edit"></i>
                            <span translate="Edit"></span>
                        </button>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>
<setting:popup></setting:popup>