<form data-ng-submit="vm.save();" novalidate name="setting">
<div
	class="modal fade"
	id="setting-popup"
	data-keyboard="false"
	data-backdrop="static"
>
	<div class="modal-dialog modal-lg">
		<div class="modal-content">
			<div class="modal-header">
				<a
					type="button"
					class="close"
					data-dismiss="modal"
					data-ng-click="clear();"
				>
					<span>&times;</span>
				</a>
				<h4>
					<label data-translate="CompanyProfile"></label>
				</h4>
	      	</div>
			<div class="modal-body">
				<div class="tab-content row">
					<div class="form-group"
						 data-ng-class="{ 'has-error': setting.companyName.$error.required && setting.$submitted }">
						<div class="col-md-2">
							<label translate="CompanyName"></label>
						</div>
						<div class="col-md-10">
							<input
								type="text"
								name="companyName"
								class="form-control"
								data-ng-model="vm.editCompany.company_name"
								required="required"
							/>
							<div translate="ThisFieldRequire" class="has-error msg-error"
								  data-ng-if="setting.companyName.$error.required && setting.$submitted"></div>
						</div>
					</div>
					<div class="form-group">
						<div class="col-md-2">
							<label translate="InvoiceNo"></label>
						</div>
						<div class="col-md-10">
							<input type="text"
								class="form-control"
								data-ng-model="vm.editCompany.inv"
							/>
						</div>
					</div>
					<div class="form-group">
						<div class="col-md-2">
							<label translate="ReceiptNo"></label>
						</div>
						<div class="col-md-10">
							<input type="text"
								class="form-control"
								data-ng-model="vm.editCompany.receipt_no"
							/>
						</div>
					</div>
					<div class="form-group">
						<div class="col-md-2">
							<label translate="QuotationNo"></label>
						</div>
						<div class="col-md-10">
							<input type="text"
								class="form-control"
								data-ng-model="vm.editCompany.quotation_no"
							/>
						</div>
					</div>
					<div class="form-group">
						<div class="col-md-2">
							<label translate="CustomerID"></label>
						</div>
						<div class="col-md-10">
							<input type="text"
								class="form-control"
								data-ng-model="vm.editCompany.customer_code"
							/>
						</div>
					</div>
					<div class="form-group">
						<div class="col-md-2">
							<label translate="MinPayment"></label>
						</div>
						<div class="col-md-10">
							<input type="number"
								class="form-control"
								data-ng-model="vm.editCompany.min_payment"
							/>
						</div>
					</div>
					<div class="form-group">
						<div class="col-md-2">
							<label translate="Address"></label>
						</div>
						<div class="col-md-10">
							<trix-editor data-ng-model="vm.editCompany.address"
								angular-trix trix-initialize="trixInitialize(e, editor);"
								trix-change="trixChange(e, editor);"
								trix-selection-change="trixSelectionChange(e, editor);"
								trix-focus="trixFocus(e, editor);"
								trix-blur="trixBlur(e, editor);"
								trix-file-accept="trixFileAccept(e, editor);"
								trix-attachment-add="trixAttachmentAdd(e, editor);"
								trix-attachment-remove="trixAttachmentRemove(e, editor);"
								style="height: 100px;overflow: auto;"
							>
							</trix-editor>
							<!-- <textarea
								type="text"
								class="form-control"
								data-ng-model="vm.editCompany.address"
							></textarea> -->
						</div>
					</div>
					<div class="form-group">
						<div class="col-md-2">
							<label translate="Telephone"></label>
						</div>
						<div class="col-md-10">
							<input
								type="text"
								class="form-control"
								data-ng-model="vm.editCompany.telephone"
							/>
						</div>
					</div>
					<div class="form-group">
						<div class="col-md-2">
							<label translate="Description"></label>
						</div>
						<div class="col-md-10">
							<trix-editor data-ng-model="vm.editCompany.description"
										 angular-trix trix-initialize="trixInitialize(e, editor);"
										 trix-change="trixChange(e, editor);"
										 trix-selection-change="trixSelectionChange(e, editor);"
										 trix-focus="trixFocus(e, editor);"
										 trix-blur="trixBlur(e, editor);"
										 trix-file-accept="trixFileAccept(e, editor);"
										 trix-attachment-add="trixAttachmentAdd(e, editor);"
										 trix-attachment-remove="trixAttachmentRemove(e, editor);"
										 style="height: 100px;overflow: auto;"
							>
							</trix-editor>
						</div>
					</div>
					<div class="form-group col-md-12">
						<div class="col-md-2">
							<label translate="Logo"></label>
						</div>
						<div class="col-md-10">
							<input
								type="file"
								ng-model="vm.picFile"
								name="file"
								accept="image/*"
								ngf-max-size="2MB"
								ngf-model-invalid="vm.errorFiles"
								ngf-select="vm.uploadPic(vm.picFile)"
								class="form-control">
							<i ng-show="setting.file.$error.maxSize" class="error">
								File too large {{vm.errorFiles[0].size / 1000000|number:1}}MB: max 2M
							</i>
							<div>
								<img ng-src="{{vm.editCompany.logo}}" ng-if="vm.editCompany.logo" width="150px">
								<img ng-src="images/pos.png" ng-if="!vm.editCompany.logo" width="150px">
								<span class="progress" ng-show="vm.picFile.progress >= 0">
										<div data-ng-style="{'width':picFile.progress + '%'}" ng-bind="vm.picFile.progress + '%'">
										</div>
									</span>
								<span ng-show="vm.picFile.result">Upload Successful</span>
								<span class="err" ng-show="vm.errorMsg">{{vm.errorMsg}}</span>
							</div>
						</div>
					</div>
				</div>
				<div class="clearfix"></div>
			</div>
			<div class="modal-footer">
				<a
					class="btn btn-default"
					data-dismiss="modal"
					data-ng-click="clear();"
				>
					<i class="fa fa-close"></i>
					<span translate="Close"></span>
				</a>
				<button
					class="btn btn-primary"
					data-ng-disabled="!vm.disable"
				>
					<i class="fa fa-save"></i>
					<span translate="Save"></span>
				</button>
			</div>
		</div>
	</div>
</div>
</form>


